[2019-05-27 13:36] jeremydmiller commented on #1270
@ehouarn-perret Multiple calls to the database and batching when you get this big. Memory usage too I'd imagine. You could probably mess with the batch size to improve the performance if these are little documents.

More importantly though, the bulk insert functionality is far more appropriate here anyway, so if you could just try to use the tool idiomatically, I think you're going to be just fine

[2019-05-27 13:36] #1270 closed

[2019-05-29 08:09] f1nzer opened #1274 "Linq Select DateTime returns local time"
[code]
Query: `session.Query<Data>().ToList()` returns data with DateTime in UTC format.
Query: `session.Query<Data>().Select(x => new { x.DateTime }).ToList()` returns data in local format.

DateTime is indexed via duplicated field and `DuplicatedFieldUseTimestampWithoutTimeZoneForDateTime = false`

[2019-05-30 18:15] gregoryyoung commented on #1194
I got tagged into this. I believe the specific things being discussed are things like our correlation/causation id graphs

![image](https://user-images.githubusercontent.com/381274/58654051-10a6cf80-82e5-11e9-9f0c-94224e727513.png)

Which are pretty cool. This stuff can be implemented on top. Its more defining the required fields for it ($id, $correlationid, $causationid in our case). In general t

[2019-05-30 18:35] oskardudycz commented on #1194
@gregoryyoung thank you for the input. I was thinking about something that would be "swagger like" tool, for the first iteration basic (like querying, maybe some diagnostic). For sure not such sophisticated and cool as it is on EventStore right now ;)

I love the idea of collaboration on this topic or finding some common ground that both solutions could benefit. Do you have some suggestions or exa

[2019-05-30 18:57] gregoryyoung commented on #1194
The protocol could even be plugable!

In terms of common protocols providing that the goal is primarily *reading streams* I would actually suggest taking a lead from ES and supporting ATOM. This is also a valuable integration point for many other things + a reasonably well standardized/known protocol. If you look at the ES implementation long polling is also reasonably easy to add. One nice bit he

[2019-05-30 19:08] oskardudycz commented on #1194
That sound reasonable, I've step few times on this idea (maybe even in your writing/presentations ;) ).

This is something that I'd need to analyse a bit, as I haven't ATOM programmatically. I'll try to check this concept. If you have something to share that could be useful, then it'd be also great 👍

@jeremydmiller @mysticmind @jokokko your thoughts?

[2019-05-30 19:12] gregoryyoung commented on #1194
re something to share I can give you a promo code to see videos on it.

Can you dm me on twitter or email me? gregoryyoung1 at google email

[2019-05-30 19:39] oskardudycz commented on #1194
I just sent an email. On Twitter you have blocked DM (probably for persons that you're not following :) )

[2019-05-30 19:47] gregoryyoung commented on #1194
no email (its gmail) will be heading out for a bit this evening ...

[2019-05-30 19:53] oskardudycz commented on #1194
Yeah, I noticed that, but I ate `1`... ;) I hope that now you got it.

[2019-06-03 12:15] tetious opened #1276 "NodaTime Instant can't be used in a select projection"
On current master, it looks like there is a problem when using an Instant in a select. If you specify an instant in your type like this (where CreatedOn is the Instant):

[code]

It builds the query like this:
[code]

The problem with casting to timestamp is that this omits the Z at the end, breaking NodaTime's Instant parser.

[code]

Possibly the correct thing to do would be to leave it as a str

[2019-06-04 23:44] softwareguy74 opened #1277 "Query("type name from string") rather than Query<T>?"
We have a need to pull records with Query using a type name from a string, such as  `Query("App.Models.User")` rather than passing in the type because we are generating classes at run-time with Roslyn and storing those with Marten.  Going in works because you can simply pass in an instantiated object with `Store()`, but getting back out with Query requires a `<T>,` which we don't have.

Is this a

[2019-06-05 11:35] jokokko commented on #1277
@softwareguy74 possible with reflection at least. Btw. if you don't mind me asking, can you elaborate on the use case?

Not overly elegant, but a quick sample: https://gist.github.com/jokokko/775279e5361f7978aa21b8f096fc9ab8.

[2019-06-05 16:05] oskardudycz commented on #1194
Here's summary of offline discussion with @gregoryyoung about the collaboration.

The main idea is to expose the ATOM feeds from Marten in the format that's currently designed and implemented in EventStore. Having that it'd be possible to have same protocol exposed and used through clients. Then besides benefit of having standarised approach it would give the better chances for further collaborati

[2019-06-05 21:38] gregoryyoung commented on #1194
if people want to know how to play with ES to check out atom feeds ...

Download from https://eventstore.org/downloads/
Run EventStore.ClusterNode.exe It defaults to port 2113 on localhost for http

You should now have your node up and running.

Start here (the description document for varying ways to read) https://eventstore.org/docs/http-api/description-document/index.html?tabs=tabid-1

There ar

[2019-06-05 21:40] oskardudycz commented on #1194
@gregoryyoung Thank you a lot for the reference links!

[2019-06-05 21:43] gregoryyoung commented on #1194
I should **ADD** when playing with the feeds ... ***look at the cache-ability of what you are getting out*** ;-) You will note that all responses that are ***NOT HEAD*** are infinitely cacheable.

[2019-06-06 09:27] mysticmind commented on #1194
@gregoryyoung Thanks for all the details and the links!

[2019-06-06 19:35] oskardudycz commented on #1276
@tetious I'll doublecheck that. But imho after my fixes it should work fine in version `3.6.0` that will be finally publish in next few days.

[2019-06-06 22:20] natalie-o-perret opened #1283 "F#: Discriminated Unions are not supported for aggregates"
it seems that F# discriminated unions are not supported for aggregation / projection, example of code that does not work:

[code]

Long story short:
- At the end, `account` is equal to `null`
- The method `Apply(accountEvent: AccountEvent)` is never called.

However if I am doing something more classic like:

[code]
`account` is properly loaded

What did I change between the two?
I basically remov

[2019-06-06 23:23] ehouarn-perret commented on #1283
Side note about types:
In the code I previously posted:
[code]

`serialized` is equal to:
[code]

However it seems that when using discriminated unions, in the `mt_events` table I have:

[code]
I am not sure the issue could be related to that but in the `mt_dotnet_type`:
- `Program+AccountEvent+AccountCreated`
- `Program+AccountEvent+AccountCredited`
- `Program+AccountEvent+AccountCreated`

I am n

[2019-06-07 00:01] ehouarn-perret commented on #1283
Source code that I probably need to go through:

- https://github.com/JasperFx/marten/blob/master/src/Marten/Events/EventGraph.cs
- https://github.com/JasperFx/marten/blob/master/src/Marten/Events/Projections/AggregatorLookup.cs
- https://github.com/JasperFx/marten/blob/master/src/Marten/Events/Projections/Aggregator.cs

[2019-06-07 01:02] jeremydmiller commented on #1283
@ehouarn-perret You know that you don't have to use the built in aggregator, right? You can use your own projection and/or aggregator if you just implement the interfaces. That might be easier than trying to force fit the F#isms into C#-centric reflection

[2019-06-07 01:33] ehouarn-perret commented on #1283
Yea hence my comment about which source files to go through in order to know how to properly implement those interfaces and maybe provide a generic type / helper for discrimimated unions

[2019-06-07 08:56] oskardudycz commented on #1277
Imho this can be wrapped with the method in the code using Marten. I don't see high benefit of that, as in Marten we would need to do exactly the same - so use reflection.

[2019-06-07 14:26] barclayadam opened #1284 "Statement tracking"
I've been looking at hooking up Application Insights. I've come to the point of integrating dependency tracking and our use of Marten / Postgres.

My first thought was to use a similar pattern to `MiniProfiler` and to wrap the connection passed to Marten. Marten expects an instance of `NpgsqlConnection` though, so cannot wrap and that class is sealed so cannot extend.

The information you can get

[2019-06-07 14:34] ehouarn-perret commented on #1283
Out of curiosity I translated the C# version [`Aggregator<T>`](https://github.com/JasperFx/marten/blob/master/src/Marten/Events/Projections/Aggregator.cs) to F#:

[code]

[2019-06-07 14:58] ehouarn-perret commented on #1283
If I am using the aggregator defined above:

[code]

I bumped into an exception there:
[code]
Reminder, this is the F# translation of:
[code]
more specifically in
[code]
[code]

[2019-06-08 11:07] oskardudycz commented on #1284
@barclayadam this topic was brought many time both on gitter and GH issues. I see huge value in providing that. Some people also suggested extending `IManagedConnection`, although I have some recollection that @jeremydmiller wasn't super keen on that.

Is it possible that you provide simple PoC (might be without test cases and all edge cases handled)? It might be easier to imagine potential impact

[2019-06-08 11:11] oskardudycz commented on #780
I was also thinking about adding Metadata, for sure I'd see there something like `correlationId`\`traceId`\`requestId` plus possibility to inject some other custom data.
I don't have specific design yet, but the first guess would be to add it as new column simmilar to `data` as it's for current json. I'd need to check how EventStore or other simmilar systems are handling that for some inspiration.

[2019-06-08 12:06] barclayadam commented on #1284
@oskardudycz I looked at this some more yesterday to try and get a feel of what would be possible with a small amount of change.

I experimented with wrapping `IDocumentSession` to track .Load(Many) calls and to use reflection to override the `IManagedConnection` the session was using. That got me part of the way, but would only get single/many loads (although not the actual SQL) plus queries usin

[2019-06-08 19:00] ehouarn-perret commented on #1283
Update with a partial solution:

[code]

However there is an issue about `Event<TDiscriminatedUnion>`

[2019-06-09 11:56] oskardudycz commented on #1283
@ehouarn-perret I’ll try to check what we can do on that.

[2019-06-10 14:15] ehouarn-perret commented on #1283
Newtonsoft has this class, might worth to have a look at it: https://github.com/JamesNK/Newtonsoft.Json/blob/master/Src/Newtonsoft.Json/Converters/DiscriminatedUnionConverter.cs

[2019-06-10 14:23] oskardudycz commented on #1283
Thanks for sharing this finding 👍

[2019-06-13 04:31] ehouarn-perret commented on #1283
A workaround is to create a wrapper type that embeds the DU type.

[2019-06-13 07:11] bklooste commented on #780
This is what we are using  Time and NodeId are time event was created and node where it was created which can be different to the time its inserted in the DB especially if you have multiple DBs

    public class MetaData
    {
        public Guid PartitionId { get; set;}
        public Guid NodeId { get; set;}

        [JsonProperty("$correlationId")]
        public Guid? CorrelationId { get; set;

[2019-06-13 07:16] jokokko commented on #1283
Depending on how well this can be addressed in Marten, think it (workarounds) could at least be documented e.g. under scenarios (https://jasperfx.github.io/marten/documentation/scenarios/), mentioning any possible caveats. Though no F# code in Marten.sln, so documenting them with unit tests (as opposed to just MD) would introduce new build requirements :(

[2019-06-13 07:33] oskardudycz commented on #1283
I have a plan to add new sample projects to our solution: one written with C# and other with F#, based on what @ehouarn-perret provided. It would be easier to check and verify if it's working also for F# and might be good starting point for our users. Thoughts?
@jokokko I like the idea of updating also scenarios 👍

[2019-06-13 07:43] jokokko commented on #1283
@oskardudycz I absolutely prefer having the docs as code (so our docs won't go stale). Just a new build prerequisite (F#) for anybody wanting to build Marten. Unless they are not made part of the default build or build is otherwise tweaked.

[2019-06-13 10:59] ehouarn-perret commented on #1283
Might need a review, if @wastaz could have a look at it 👍

[2019-06-13 11:09] oskardudycz commented on #1283
For sure I'll add you and @wastaz as reviewers. I have plan to work on that during the weekend or at worst in the next week if my non-marten life won't mess with that ;)

I'll have also some learning curve, as I wasn't coding in F# much.

[2019-06-18 06:34] jokokko commented on #1254
Closing since #1285.

[2019-06-18 06:34] #1254 closed

[2019-06-18 09:25] #1276 closed

[2019-06-18 09:27] oskardudycz commented on #1276
Closed by: https://github.com/JasperFx/marten/pull/1290
Added InstantJsonConverter to properly deserialize Instants when db won't return data in TZ format.
The need come up with #1276.
This is workaround for NodaTime issues nodatime/nodatime#154 and nodatime/nodatime#1237.

Revisit this when NodaTime 3.0.0 will be officialy released - then this class might be not needed anymore.

[2019-06-21 11:46] ezTravis opened #1296 "custom listener not working for .Update but works for .Store"
we have a custom listener setup like in this article: https://visualstudiomagazine.com/articles/2017/03/01/marten-monitor-respond-aspnet.aspx

the listener looks like this:
[code]
elsewhere, when we want to save changes to an updated document we have code like this:

[code]

and the save works fine, but in the listener, the firmUpdates collection is empty.

if we simply change:

- FROM: dbSession.

[2019-06-22 19:04] bchavez opened #1297 "UniqueIndex on Id is missing in multitenant configuration"
[1]:https://gitter.im/JasperFx/marten?at=5d0db46fd16b28559f65f410

Hello,

@oskardudycz suggested in [Gitter chat][1] the following issue was a bug. Basically, if you have a `.ForeignKey()` reference to another document when `.AllDocumentsAreMultiTenanted()` is enabled, PostgreSQL will throw the following error:

* When `.AllDocumentsAreMultiTenanted()` is **disabled**, and no multitenant configur

[2019-06-25 16:05] #1296 closed

[2019-06-26 09:42] CSharpBender opened #1300 "Exception when extracting Dictionary<,> property from Document"
Hello,
In my project I'm using Marten 2.10 with PostgreSQL 10.8.
One of the documents contains a property of type Dictionary<int, T> which gets serialized as an object instead of array, which causes errors when querying the document. I've updated to the latest Marten version (3.6) but it's the same.

This is the class definition:
[code]

This is how the object gets serialized
[code]

Using both Ma

[2019-06-26 12:39] jokokko commented on #1300
Thanks for the report. Another day, another LINQ-related bug (at least some field location issues in this case methinks }:] ). We'll investigate.

Meanwhile, if you really need to, you can materialize the query e.g. before the `SelectMany` (`var props = _session.Query<Program>().Where(p => p.Id == 1).ToList().SelectMany(p => p.LocalProperties);`).

[2019-06-26 12:45] CSharpBender commented on #1300
Thanks for the workaround but this is how it's done right now. I was trying to extract only the part that I need, because the document is big.

[2019-06-27 18:06] sturatcliffe opened #1302 "ProjectView / DeleteEvent not run when rebuilding projections"
When using ProjectView to configure a DeleteEvent as documented here:

http://jasperfx.github.io/marten/documentation/events/projections/custom/

My projected document is deleted as expected. However, when rebuilding projections as documented here:

http://jasperfx.github.io/marten/documentation/events/projections/#sec3

My projected document appears again. It seems that ProjectView is not run whe

[2019-06-29 11:23] oskardudycz commented on #1277
@softwareguy74 I'm closing it with the above explanation. Feel free to send the feedback if you disagree :)

[2019-06-29 11:23] #1277 closed

[2019-06-29 11:30] oskardudycz commented on #1274
@f1nzer could you check https://www.npgsql.org/doc/types/datetime.html? It seems to be that it looks like default Npgsql behaviour. See also more in: https://github.com/JasperFx/marten/pull/1179

[2019-06-29 14:14] oskardudycz commented on #1260
@yumei closing as for now because lack of activity in this thread.
Please send feedback if upgrade to 3 didn't help and you're still facing the performance issues. If that happens, then it would be good to get more details (the best some sample project or sample data).

[2019-06-29 14:14] #1260 closed

[2019-06-29 14:16] oskardudycz commented on #1206
@richardoliver-umusic sorry for late answer, if you'd like to provide PR for that then we'll be more than happy to take it.

[2019-07-01 16:16] #1266 closed

[2019-07-01 17:00] #1249 closed

[2019-07-02 14:18] karelg opened #1305 "Full-text search over specific document fields"
Currently Marten supports full-text searches only over document scoped indices. It would be very handy, if we could define multiple indices for different document fields and also perform full-text searches on these fields.

[2019-07-02 14:27] oskardudycz commented on #1305
@karelg could you provide more details? It should be possible to define and perform Full-Text search for set of the fields. Have you checked http://jasperfx.github.io/marten/documentation/documents/customizing/full_text/?
There are also quite a lot of acceptance tests checking that and showing potential usecases: https://github.com/JasperFx/marten/blob/master/src/Marten.Testing/Acceptance/full_tex

[2019-07-03 07:58] karelg commented on #1305
I'm sorry for not being clear enough. What I meant was, we can not query by specific full-text indexed fields. Would be awesome, if we could do something like this for example:
`session.Query<Post>.Where(p => p.Search(x  => x.Title, "title text"))`

[2019-07-03 09:38] lucax88x opened #1306 "An item with the same key has already been added. Key: patch_doc"
Ciao!

So, using Marten 3.3.0, I have this problem that happens pretty rarely, but which softlock my web app and I cannot use it until I restart the cluster.

you can see there:

![image](https://user-images.githubusercontent.com/6294464/60580926-33b21c80-9d86-11e9-8026-84bd04bcff10.png)

I've registered everything as SingleInstance.

I have handlers that are registered InstancePerRequest which ar

[2019-07-07 08:19] jacobpovar commented on #780
@oskardudycz I created a POC implementation of metadata column no so long ago - https://github.com/JasperFx/marten/compare/master...jacobpovar:metadataColumn?expand=1. Not completely finished, but might be worth to take a look at.

[2019-07-07 22:07] jeremydmiller commented on #780
@jacobpovar @oskardudycz Just a couple thoughts on the POC code:

* It'd be relatively expensive at performance time. `JsonConvert.SerializeObject()` isn't a very efficient way to do the serialization
* I think I'd maybe vote to make the deserialization on Event<T> be lazy 'cause you don't know when it's necessary or not
* I think we need to do a big rethink on the projection support soon where pr

[2019-07-07 22:41] jeremydmiller opened #1307 "ARCHIVED -- Event Store Improvements for v4"
# THIS ISSUE HAS BEEN REPLACED BY #1608.

**WIP: I just got back from a vacation and got to thinking about the event store after getting enough rest for once**
## Big Existing Issues

* [Event Metadata](https://github.com/JasperFx/marten/issues/780) -- There's a POC floating around and I just added quite a few thoughts there
* [Partitioning Support](https://github.com/JasperFx/marten/issues/770) -

[2019-07-08 00:22] bklooste commented on #780
Other options around serialization.  Could also leave it at byte[] and leave it up to the consumer , some people may just put a guid in there.

Note a huge / key difference is metadata is normally the same fixed type for all events vs different types for the event.   This allows more optimal custom serialization / deserialization.  2 optional Factory Funcs  could help people here.

Agree should be

[2019-07-08 00:44] jeremydmiller commented on #770
My thoughts:

## Just use what Postgresql 11 can do

* Partitioning by tenant id should work with native Postgresql support, but I'd rather have someone test that before claiming so
* Allow users to identify streams by long numbers backed by a sequence and then allow native Postgresql to do its thing?
* See if Postgresql "range" partitioning can work by sequential UUIDs?
* Allow users to partition

[2019-07-08 00:49] jeremydmiller commented on #969
I'd still like to come back and have some out of the box solutions for this. One possible approach would be to use postgresql advisory locks to take control of one view type at a time. Then the "cold" nodes would keep polling to try to take over the async daemon later.

[2019-07-08 01:21] jeremydmiller commented on #596
I see two big options:

1. New operations where you can override the tenant id. Change the projections (all the projections) to be aware of this
1. Have the async daemon "split" the flow of events coming in by tenant and use a separate document session for the matching tenant so that nothing but the async daemon has to deal w/ the tenancy.

I think I vote number 2, but it's a big change to the asy

[2019-07-08 01:24] jeremydmiller commented on #780
@bklooste Thanks for the input. The "mights" and "shoulds" above are questions about *how* to pull it off, and not necessarily about features.

The custom factory Funcs are interesting, but i'm not sure about the usability. I'm also trying to think about how the metadata is going to be consumed from both straight up SQL querying and C# code. Making it a byte[] renders the data almost useful w/o th

[2019-07-08 03:39] bklooste commented on #780
Basically   AddMetaData<T> ( Func<T, byte[]) metadataCreator = null  , Func<T, byte[]) metadataWriter = null ) params on setup where T is the metadata type ..
If null just use Json as above  but at least the consumer can do this

AddMetaData<Guid> ( val => val.ToByteArray()  ,val => new Guid( val));

 or add custom json serializer,  convert to new metadata type or anything else.

[2019-07-09 05:53] oskardudycz commented on #596
I'd vote for 2nd option, imho that'd make it cleaner.

Using ReactiveExtensions is imho good idea, this give a lot of possibilities, observability, etc.

My only concern is how soon could we tackle that and if we have right not the capacity.

[2019-07-09 07:30] oskardudycz commented on #1307
@jeremydmiller Thank's for this write-up! Here are my thoughts and other ideas that I was thinking on:

### **Async Daemon**
Internals of it's implementation are still enigmatic for me, so to give more detailed answers. So at first I'd propose to provide good documentation and samples for that (as we still lack it, afaik it's still only your blog post about that).

* **Multi-Tenancy** - For sure i

[2019-07-09 12:27] jeremydmiller commented on #596
@oskardudycz Heh, I wrote this up in the wrong issue. And I agree w/ the 2nd option.

[2019-07-09 12:40] oskardudycz commented on #596
👍

[2019-07-10 05:22] kinl99 commented on #1215
@mysticmind Thanks for the explanation, we made the same mistake as @dapalmi. But we'd still like to use the repository pattern. Could you please give some advice on how to implement a repository where the lib of the repository is the only lib that holds a reference to marten but without sacrificing the generic query methods?

[2019-07-10 09:11] kasparkallas commented on #1305
@oskardudycz Full text indexes can be defined per property BUT they can't be searched per property.

[2019-07-10 09:42] oskardudycz commented on #1305
@karelg @kasparkallas in fact if you define the full text index for the limited number of fields then during the Search call it's trying to find the index for that document and selected language configuration. If it finds it then it's using it, if not then it's using whole document.

So if you define the full text index for `Title` property then this property will be used during search.

That shou

[2019-07-10 15:49] CodingGorilla opened #1308 "ExternalForeignKeyDefinition returns null for ReferenceDocumentType causing an exception"
Since an `ExternalForeignKeyDefinition` returns `null` for the `ReferenceDocumentType` the `DocumentMapping.DependentTypes()` will return a `null` causing an `ArgumentNullException` in `Tenant.ensureStorageExists()`.

[2019-07-10 16:14] mysticmind commented on #1215
@kinl99 please take a look at https://github.com/oskardudycz/GoldenEye/tree/master/src/Core/Backend.Core.Marten, this is part of GoldenEye library, possibly you can use the same.

[2019-07-11 07:33] kinl99 commented on #1215
Thanks @mysticmind!!!
Using dependency injection consequently, like in the example provided, not only resolved the problem but also removed quite some usings from the data layer.

[2019-07-11 08:22] oskardudycz commented on #1308
Fixed by https://github.com/JasperFx/marten/pull/1309

[2019-07-11 08:22] #1308 closed

[2019-07-12 09:16] karelg commented on #1305
@oskardudycz What if we could specify index name in search? Like so:
`session.Query<Post>.Where(p => p.Search(index: "my-title-index", text: "title text")`
Then it should be clear to the user, that this index must be defined, for this search to work.

[2019-07-12 09:21] oskardudycz commented on #1305
@karelg to be true I don't see huge benefit of specifying such event name, especially that not always it's defined by user, usually it's the autogenerated name. I personally would prefer to log warning if the index was not found.
We could think about extending the api to allow to specify the where statement properties list, although I'm not sure how soon (as imho currently it's possible to achieve

[2019-07-12 16:20] oskardudycz commented on #1215
@mysticmind thank you for the recommending GoldenEye 👍 😄
@kinl99 here you can find wrappers for the Marten https://github.com/oskardudycz/GoldenEye/tree/master/src/Core/Backend.Core.Marten/Context, they're called `DataContexts` but they're in fact following repository pattern.
I'd personally recommend to not do manual disposal of the DocumentSession but let the Dependency Injection container let m

[2019-07-13 01:40] softwareguy74 opened #1311 "Unable to create a self referencing foreign key"
Doing the following results in a StackOverflowException:

    public class Tenant
    {
        public Guid Id { get; set; }
        [ForeignKey(typeof(Tenant))]
        public Guid? Parent { get; set; }
        public string Name { get; set; }
    }

Why can't we do this?

[2019-07-13 01:48] softwareguy74 opened #1312 "How to prevent a foreign key field from being saved in the json field?"
Using the following:

    public class Tenant
    {
        public Guid Id { get; set; }
        [ForeignKey(typeof(User))]
        public Guid? CreatedBy { get; set; }
        public string Name { get; set; }
    }

how can I prevent the CreatedBy field from also showing up in the json field, and only getting stored as a column?  This would be much more efficient.  The CreatedBy field would of co

[2019-07-13 09:07] oskardudycz commented on #1311
Looks like a bug. I'll try to check that. Could you also provide information about the version of Marten that you're using?

[2019-07-13 11:33] softwareguy74 commented on #1311
Latest version just pulled from nuget.

[2019-07-13 11:33] oskardudycz commented on #1311
Thank you. I'll try to check that asap.

[2019-07-14 17:16] ehouarn-perret commented on #1283
A workcolleague showed me something the other day, some food for thoughts: https://github.com/Dzoukr/CosmoStore

[2019-07-15 06:12] oskardudycz commented on #1302
@sturatcliffe just giving you heads up - I'm working on it, I hope that I'll come up with something this weak.

[2019-07-15 06:12] oskardudycz commented on #1283
Thank you @ehouarn-perret.

I'm just finishing [Domain Modeling Made Functional](https://pragprog.com/book/swdddf/domain-modeling-made-functional) by @swlaschin, last pages left - so I think that now I have the good basis to tackle this issue and make Marten more F# friendly.

After I finish my work on https://github.com/JasperFx/marten/issues/1302 I'll try to tackle that.

[2019-07-15 11:39] adamralph opened #1313 "Resolve or suppress all compiler warnings"
Currently, there is a sea of compiler warnings when building the solution.

As a contributor, this makes it difficult, if not impossible, to detect whether a change I have made has introduced a warning.

[2019-07-15 11:43] oskardudycz commented on #1313
@adamralph you're fully right. We'll try to tackle that asap we find some spare time.

[2019-07-15 13:06] kinl99 opened #1314 "Select returns object from db instead of instanciated one when using same type"
Hi,

I wanted to query objects from the db and create copies of them, with just a few properties set. The goal is to reduce the data serialized.
Please consider the following classes:

[code]

The query below I expected to yield a list of objects with only A1 and A2 set

[code]
But it yielded the original objects stored in the db with all properties set.

Once I change the query to:

[code]

it's

[2019-07-15 14:02] cocowalla commented on #1314
Could you ease include the code for `GetDocuments`, as it's impossible to know exactly what your code is doing otherwise? (You can use a gist if it's too much code for a GitHub comment)

[2019-07-15 14:26] kinl99 commented on #1314
sure, sry

[code]

_session is a lightweight session

[2019-07-16 06:25] kinl99 opened #1315 "Patch Method truncates long Id"
When trying to patch an object with a long Id, the Id in the json data gets truncated:

(Postgres 11.1, PLV8 2.3.9, Docker, Marten 3.4.0 and 3.6.1)

Code to reproduce:

[code]

![grafik](https://user-images.githubusercontent.com/1822735/61270703-baadbe80-a7a2-11e9-8dba-9a1df392e972.png)

[2019-07-16 07:26] mysticmind commented on #1315
@kinl99 Patch uses PLV8 so it is possibly something to do with PLV8/Javascript handling of long values in JSON. We will take a look at it and confirm.

[2019-07-16 07:48] mysticmind commented on #1312
@softwareguy74 Remember that Marten is a document store/event store and the primary unit of storage is JSON and a well-defined Postgres table structure. To enable Foreign Keys which is more of a RDBMS construct, Marten enables the mechanism to create a duplicate field (Postgres Column) of the `CreatedBy` from the JSON.

I understand you reasoning around efficiency of not storing the same data twic

[2019-07-16 07:48] #1312 closed

[2019-07-16 07:53] mysticmind commented on #1306
@lucax88x Quick question, Is `DocumentStore` a Singleton? Also, it would help if you could provide us a repro use case/code for us to take a look.

[2019-07-16 08:13] lucax88x commented on #1306
Yes, you can see it in the screenshot it's registered as SingleInstance, which is Singleton.

Even if I was able to make a repro case, I think it's pretty hard to reproduce as it's pretty random.

[2019-07-16 08:24] oskardudycz commented on #1312
I'd need to doublecheck if that's not possible via duplicate field settings with current implementation.

[2019-07-16 13:38] BolkoSchreiber opened #1317 "ForeignKey to non Marten table generates wrong DDL sql"
` _.Schema.For<Issue>().ForeignKey(i => i.BugId, "bugtracker", "bugs", "id");`
will result in the follwoing SQL:
`[...] REFERENCES bugs.id (bugtracker);`

schema, tablename and columnname are all mixed up.

src/Marten/MartenRegistry.cs line 299
`alter = m => m.ForeignKey(expression, schemaName, tableName, columnName, foreignKeyConfiguration);`
should be:
`alter = m => m.ForeignKey(expression, tabl

[2019-07-17 09:59] mysticmind commented on #1315
If I run a test using this SQL statement `select public.mt_transform_patch_doc('{"Id": 2089063581810168873, "Text": "bar"}', '{"type":"set","value":"bar","path":"Text"}')`, it returns `{"Id": 2089063581810168800, "Text": "bar"}`. In summary, `mt_patching.js` script looks to be messing up with the long value.

@kinl99 As an idiomatic usage, you shouldn't be updating the `Id` value in the JSON since

[2019-07-17 10:55] oskardudycz commented on #1315
Yes, in general Javascript doesn't support long properly. It needs to be handled as text to allow proper values. If JavaScript get the value that's bigger than max value then it just truncates what's over. Maybe some serializer options would solve it, or extension to our custom contract resolver.

Although that will be breaking change, as the serialized type will change.

[2019-07-17 11:00] oskardudycz commented on #1306
@lucax88x if you're using `IRepository` as singleton that has `IDocumentSession` injected then it won't work, as it's needs to be Scoped (eg. per request lifetime) or Transient (but that might end up with too many connections being open and also random failures).

If the DocumentSession is used as Singleton then it will leave until it gets maximum connection lifetime timeout. So at first it will w

[2019-07-17 13:09] cocowalla commented on #1315
Not sure if this helps right now, but v8 now supports BigInt, and Plv8 3.x has [added support(https://github.com/plv8/plv8/issues/304#issuecomment-488710950) for BigInt (though there may still be serialisation issues)

[2019-07-17 13:54] mysticmind commented on #1317
Fixed via #1316

[2019-07-17 13:54] #1317 closed

[2019-07-17 14:49] mysticmind commented on #1314
@kinl99 Marten currently does not support fetching a subset/projected data using `Select` on the Queryable object but for the whole document. We would possibly look at this use case in 4.x timeframe.

[2019-07-17 15:44] kinl99 commented on #1315
@cocowalla a build of a new docker image with 11.4 and v8 2.3.13 is currently running. I'll retest once it's ready.

[2019-07-17 16:06] lucax88x commented on #1306
@oskardudycz I don't confirm.

What I've registered as Singleton are:

- DocumentStore
- Repository
- SessionFactory

then, every method of the repository, creates a session on the fly, by using the SessionFactory, so the DocumentSessions are scoped for each request, example:

![image](https://user-images.githubusercontent.com/6294464/61391699-8f6bc200-a8bd-11e9-8b43-a34b856768bd.png)

[2019-07-17 16:10] lucax88x commented on #1306
try to focus on this statement:

"It's possible that the DocumentStore failed for some reason the very first time (maybe DB was still booting up) and then when it tries to recreate the instance it reuses the SAME StoreOptions which already has some shit in memory and it explodes."

better version:
1) Autofac creates StoreOptions as Singleton.
2) Autofac creates DocumentStore as Singleton, it uses

[2019-07-17 16:41] cocowalla commented on #1315
@kinl99 you're going to need a build of Plv8 3.0 alpha too, which is unlikely to be fun to build :smile:

As an aside, is your Dockerfile public? I'd be interested in a Docker image with Postgres 11.4 and plv8 2 3.12/2.3.13 :smile:

[2019-07-17 16:43] oskardudycz commented on #1315
Just too give you heads up - I’m also not sure if Npgsql supports that properly, that might be another case that’s needed to be confirmed 😉

[2019-07-17 16:52] cocowalla commented on #1315
@oskardudycz I'm using a 64-bit integer property in one of my Marten document types, and it works (although I recall it was a bit fiddly for some reason - I'll try to remember to check on that and report back). I don't use the patch API with it though.

[2019-07-17 16:53] oskardudycz commented on #1315
@cocowalla thank you for the feedback 👍

[2019-07-17 17:12] smaktacular commented on #1315
right, should've read your post more carefully :)

sure, plesase see: [https://github.com/clkao/docker-postgres-plv8/pull/35/commits/6d121f25cc02c5bd89c3e86e7df42e0e6c6c297c]

just change 11.2 to 11.4 in the from directive

[2019-07-18 19:36] CodingGorilla opened #1319 "The DocumentMappingExpression<T>.ForeignKey() overload used for external table foreign keys maps the parameters all wrong"
The parameters passed to the function are used improperly when adding the `DocumentMapping<T>.ForeignKey()` call.

[2019-07-18 20:25] CodingGorilla commented on #1319
Looks like this was address by #1316

[2019-07-18 20:25] #1319 closed

[2019-07-19 18:14] bradyclifford commented on #796
We finally have been able to convince our DB team to allow us to have `AutoCreate.CreateOrUpdate` in production turned on.

However Marten complains when this is on that the constraints don't exist, when they do explained above.

Can this issue be revisited and a fix applied to `master` but also tag `v2.8.0`?

[2019-07-20 12:42] mysticmind commented on #1306
@lucax88x I was able to reproduce the issue and fixed the same. Fix will be available in the next release.

Following is the code to reproduce the issue:
[code]

[2019-07-20 13:58] lucax88x commented on #1306
Great! Thanks.

[2019-07-21 13:28] #1313 closed

[2019-07-21 13:40] #1306 closed

[2019-07-24 05:53] michael-wolfenden opened #1324 "ApplyAllConfiguredChangesToDatabase confusion"
Given a brand new database, running the following throws a `SchemaValidationException` as expected

[code]

<details>
<summary>SchemaValidationException details</summary>
Configuration to Schema Validation Failed! These changes detected:

CREATE OR REPLACE FUNCTION public.mt_immutable_timestamp(value text) RETURNS timestamp without time zone LANGUAGE sql IMMUTABLE AS $function$
    select value::t

[2019-07-24 08:28] oskardudycz commented on #1324
@michael-wolfenden that might be resolved by https://github.com/JasperFx/marten/pull/1321, but I'll double check that.

[2019-07-24 15:37] jeremydmiller commented on #1307
@oskardudycz I say we just convert to long ids for 4.0. Will have to explicitly test for the migration scripts, but that was coming regardless.

[2019-07-24 17:28] oskardudycz commented on #1307
@jeremydmiller great 👍

[2019-07-24 17:48] jeremydmiller commented on #1307
## More on the async daemon

* For rebuilds of any kind of aggregated document, we could hugely optimize perf by doing lookaheads for which projections should be deleted and hence, not rebuilt at all
* Rebuilds of per-stream aggregates could be very heavily optimized by fetching stream by stream
* as much as possible, we want projections to expose exactly which events they consume because that hea

[2019-07-26 06:51] oskardudycz commented on #1324
@michael-wolfenden I initially misread your issue. After investigation I think that current mechanism is working as designed.

`ApplyAllConfiguredChangesToDatabase` method applies the changes based on your autocreate configuration. So if you setup:
- `All` it will do full drop/create etc.
- `CreateOrUpdate` will not drop any existing objects
- `Create` won't drop and not update any existing object

[2019-07-26 10:15] oskardudycz commented on #770
@jeremydmiller I think that maybe we could start with Native partitioning by stream type? Imho this could be the easiest way to start investigation around that topic. I could try to work on PoC. (eg. by adding new Tenancy "ByStreamType").

If we have the paritioning by stream type then we could try to extend that with the next levels like by date, stream id etc.

I agree that duplicate field would

[2019-07-26 10:22] michael-wolfenden commented on #1324
@oskardudycz If I set `AutoCreateSchemaObjects` to anything other than `None` then doesn't marten automatically apply the changes (i.e. calling `ApplyAllConfiguredChangesToDatabase` is redundant at that point).

If that is the case, then the only time I would want to call `ApplyAllConfiguredChangesToDatabase` is if `AutoCreateSchemaObjects` is set to `None`. I'm telling marten, don't automatically

[2019-07-26 10:37] oskardudycz commented on #1324
As I wrote above ` ApplyAllConfiguredChangesToDatabase` applies the changes based on the `AutoCreate` option that you've chosen. If you use `None` then it won't apply any changes.

Currently ou can use `ToDDL` method to generate the differential script and then run it manually - eg. through `NpgsqlConnection`.

[2019-07-26 10:43] michael-wolfenden commented on #1324
But aren't your changes applied based on you `AutoCreate` option anyway *without* you needing to call `ApplyAllConfiguredChangesToDatabase`

[2019-07-29 01:26] michael-wolfenden opened #1325 "Any with a Contains subquery fails with CamelCase serialization"
When running the following on a brand new database, I get back a single results as expected

[code]

If I do the same but set the serialization to use camel case naming, I do not get any results

[code]

Looking at the postgres statement that is executed

[code]

It appears to query the `Names` field rather than the camel case version `names`

[2019-07-29 16:04] ericgreenmix commented on #1302
@oskardudycz Any update on your work on this? I hit this issue today.

[2019-07-29 20:07] oskardudycz commented on #1302
@ericgreenmix I was working on that, but it ended up with the refactoring. It's visible on draft PR https://github.com/JasperFx/marten/pull/1322. Although after discussion with @jeremydmiller we will probably go deeper with refactoring. See more here: https://github.com/JasperFx/marten/issues/1307 (you can put there also your comments about your thoughts/ideas).

If this is blocking you I can try

[2019-07-29 20:09] oskardudycz commented on #1324
Yes, they will be applied even if you didn't call `ApplyAllConfiguredChangesToDatabase` but only on demand (so eg. when you try to add document of exact type). `ApplyAllConfiguredChangesToDatabase` does that in advance so no further changes will be applied during the application lifetime.

[2019-07-29 20:58] michael-wolfenden commented on #1324
Ahhh.. now I understand. Thanks for clarifying @oskardudycz. I'll close this issue out now.

[2019-07-29 20:58] #1324 closed

[2019-07-29 21:02] oskardudycz commented on #1324
Cool - I'm happy that I was able to help 😃 👍

[2019-07-30 01:09] ericgreenmix commented on #1302
Cool. We are not majorly impacted by this at-the-moment. We only have one projection has the
[code]
format. I think we can actually convert it to a `ViewProjection`, not using `AggregateStreamsWith` and get around this issue.

I have been reading through #1307 and will post some thoughts when I get time tomorrow.

[2019-07-30 06:16] oskardudycz commented on #1312
I checked that, and I second what @mysticmind wrote.

[2019-07-30 19:23] tonykaralis opened #1327 "Text search on document not returning any results, when desired value is an enum and required parameter is not exact match(Case Insensitive)"
@oskardudycz as promised.
When running text search against documents, exact and partial words will return results but only when in string properties. Enums must be an exact match, although the case does not matter.

I would have thought that when searching a document the enums would be treated as strings and therefore partial words would be enough to return a result.

Example
* Property value in d

[2019-07-30 19:37] tonykaralis commented on #1273
@uglybugger I am currently using NewtonSoft to do the serialisation and also working with lots of interfaces children etc. Here is my serializer that works nicely, have not had any issues with no results due to the id field existing in the data.

**Custom serialization**
[code]

**Custom binder** Allows serializing/deserializing interfaces without knwoing the concrete type until runtime.

[code]

[2019-07-31 06:31] oskardudycz commented on #1311
@softwareguy74 should be fixed by https://github.com/JasperFx/marten/pull/1329

[2019-07-31 07:49] #1311 closed

[2019-07-31 08:02] mysticmind commented on #1324
Relooking at the above, I think the requirement to run `ApplyAllConfiguredChangesToDatabase()` independent of the `StoreOptions.AutoCreateSchemaObjects` is valid.

If `StoreOptions.AutoCreateSchemaObjects` is anything other than `AutoCreate.None` then the `DocumentStore` will auto-create schema objects accordingly on first run. In this case, running `ApplyAllConfiguredChangesToDatabase()` manually

[2019-07-31 08:07] oskardudycz commented on #1324
@mysticmind the only thing that we should be aware is that user might want to apply changes based on the different criteria. I can imagine that user might want to apply changes with `create or update` manner.
I agree that we should find smart way to untie those two things.

[2019-07-31 08:18] mysticmind commented on #1324
@oskardudycz I have thought through it already, `ApplyAllConfiguredChangesToDatabase(AutoCreate withCreateSchemaObjects = AutoCreate.CreateOrUpdate)` will be this...

[2019-07-31 08:25] oskardudycz commented on #1324
That make sense - by default it could use settings from the AutoCreate.

[2019-07-31 08:53] michael-wolfenden commented on #1325
I had a quick look, I _think_ the issue is that the serializer settings aren't taken into consideration when retrieving the member names use to build the query path. Also, it appears that there other places in the code that might suffer from the same issue when building up the postres query.

https://github.com/JasperFx/marten/blob/66dc4897a04894624cc538da6a2141661a818937/src/Marten/Linq/Collectio

[2019-07-31 09:05] tetious commented on #1274
Are you saying it is converting the date to the local timezone in the second case? That might indeed be a bug.

I'd expect the DateTime Kind set to `Unspecified` in both cases if I'm understanding the mapping documentation in the npgsql docs. `Unspecified` can make conversions a bit surprising if you don't understand how it influences them.

If `Kind == Unspecified` and you call `ToUniversalTime`,

[2019-07-31 15:43] ericgreenmix commented on #1307
Anything that would increase the performance of rebuilding projections in the Async Daemon, would be huge for us. Snapshotting and the performance optimizations for rebuilding that @jeremydmiller was mentioning would be great.

For context, we currently have >3 million events in our event store and are storing ~25k new events per day now. Our rebuilding performance has noticeably gotten worse the

[2019-08-01 00:41] uglybugger commented on #1273
Hi @tonykaralis :) . Thanks for the follow-up. I have a working solution (using a separate serializer) and I'm okay with that for now.

I think the broader issue is that at some point there will be a serialization requirement for storage that will be incompatible with serialization for querying, and allowing a different serializer configuration might resolve that issue.

[2019-08-02 01:45] mysticmind commented on #958
GH-1330 has the ability to set `AutoCreate.None` for `DocumentStore.StoreOptions` and independently run `ApplyAllConfiguredChangesToDatabase` once as you see it fit. This is scheduled to be available in 3.7.0

[2019-08-02 09:42] #1325 closed

[2019-08-05 08:35] mysticmind commented on #1226
This issue looks to be fixed and working fine, will add a unit test for this.

[2019-08-05 12:32] mysticmind commented on #1226
Unit test passed, closing this.

[2019-08-05 12:32] #1226 closed

[2019-08-05 12:46] mysticmind commented on #1273
@uglybugger Please note that while querying, Marten SQL statements use Postgres jsonb operators for querying hence it is imperative to store the serialized JSON without any type and reference meta-data. Also we have to use a single serializer for both storing and querying requirements.

[2019-08-06 01:05] uglybugger commented on #1273
Hi @mysticmind.. Thanks for your response. I'm aware that Marten uses Postgres' underlying JSON support for querying. That doesn't mean that storing records with type and reference data is impossible - storing polymorphic structures is one of the more attractive elements of a document database.

I'm curious about your statement that we have to use a single serializer for both. Why is that? It's wo

[2019-08-06 11:49] mysticmind commented on #1273
@uglybugger I meant to say, with the current Marten implementation and behavior, a single serializer will need to be used (you can only wire one serializer with a document store and we recommend the document store to be a singleton). When you say, you are successfully using 2 different serializers, possibly you might be using 2 different document stores i.e. one for storing and one for querying wi

[2019-08-07 00:18] uglybugger commented on #1273
Hi @mysticmind.. Thanks again for your response. If you check the code sample above I explained when I raised the issue that I am indeed using two different serialisers with the one document store.

It’s working perfectly happily for me, hence raising the issue with the suggested solution. I realise that if the serialisers’ settings diverge (e.g. casing changes etc.) then queries will erroneously

[2019-08-07 06:04] mysticmind commented on #1273
@uglybugger I do understand your intent to outline the problem and put forth your workaround to help other people who may be facing a similar issue. As maintainers, we never look at issues as a mere support request but genuinely put a lot of labour of love to maintain and resolve issues with Marten. That said, we will look at what best we can do regarding this issue so that you don't need to muck

[2019-08-07 06:15] mysticmind commented on #1273
@jeremydmiller @oskardudycz @jokokko please weigh in with your thoughts around providing the ability to wire different serializers for storage and querying? By default, we could set the same for both but users can change that behavior to use different serializers as they see it fit.

[2019-08-07 10:58] jeremydmiller commented on #1273
I'm not following @uglybugger 's reasoning here, and I'd want to see a more concrete example of why this is necessary. How does that possibly "solve" anything? The only place where I could see this mattering at all is during LINQ queries that use the containment operator, and in those cases we **do** use a separate JSON.Net serializer internally that's "clean". It could be that the only thing that

[2019-08-08 15:43] malscent opened #1333 "Ability to rebuild an individual stream's projections"
**Issue**:  A bug was introduced that affected a severe minority of projections (600/3,300,000).  The events needed fixed, and projections re-built.  The current capability to rebuild an individual stream's projection requires the use of the Async Daemon, which can rebuild projections of a Type, but not specific streams.

**Proposed Solution**: Introduce a new method(s) that allow the refresh of a

[2019-08-08 16:45] malscent commented on #1333
Found a work around.  If you aggregate the stream, then call store on the session and save changes, the projection will be updated.  I don't know if this satisfies all use cases, but it worked for us:

`public async Task<T> RefreshProjection<T>(Guid StreamId) where T: class, IProjection, new()
        {
            if (StartSession())
            {
                T stream = await _session.Events.

[2019-08-13 08:18] mysticmind commented on #1297
@bchavez quick question, shouldn't the foreign key constraint and reference be as below rather than the workaround which you indicated?
[code]

[2019-08-13 14:24] bchavez commented on #1297
@mysticmind, you're probably right. Truthfully, though, I lost the context of the problem since posting. :face_with_head_bandage:

[2019-08-13 14:53] mysticmind commented on #1253
We will update the sample in documentation as below and it should provide clarity on the usage to fetch documents from different tenants
[code]

[2019-08-14 11:31] #1297 closed

[2019-08-14 17:25] oskardudycz opened #1337 "Flexible Document Metadata"
Currently it's not possible to automatically map to the event fields stuff like: Version, Timestamp, StreamId etc.
Because of that it's not easy to implement elegant Aggregates + Repository implementation without the reflection or making some compromises like having mutable Version field, data duplication.
I think that we should give user possibility to map those fields automatically from metadata

[2019-08-14 18:03] CodingGorilla opened #1338 "ExternalForeignKeyDefinition causes exceptions"
ExternalForeignKeyDefinition causes exceptions in places that assume that `ForeignKeyDefinition.ReferenceDocumentType` will never return `null`.

[2019-08-15 06:07] #1253 closed

[2019-08-16 13:59] jacobpovar commented on #1307
Some observations based on our usage of Marten.

- Event metatada
- Snapshots, as mentioned above
- HTTP subscription API or ATOM feed.
- Allow to read events without the need to deserialize them into CLR objects. This would be helpfull in cases like direct streaming to HTTP response. Another example would be inspecting event metadata to see if event should be deserialized and processed futher
- a

[2019-08-19 17:13] mysticmind commented on #1190
Closed via #1334

[2019-08-19 17:13] #1190 closed

[2019-08-19 17:39] #1338 closed

[2019-08-20 15:47] erick661 opened #1342 "XX000: cache lookup failed for function 126136]"
I have no idea what it means
[code]

[2019-08-20 17:12] oskardudycz commented on #1342
@erick661 could you provide the sample Document Store configuration and some reproduce steps? Woud be also good to know Marten version that you're using.

[2019-08-20 17:24] mysticmind commented on #1342
@erick661 What Postgres version are you using? This looks like a data corruption with your Postgres DB, take a look at similar issue posted here https://www.postgresql.org/message-id/28005.1534703408%40sss.pgh.pa.us response:

Try running `reindex table pg_catalog.pg_proc` or `reindex database <db_name>` to see if it resolves the issue.

[2019-08-21 06:17] oskardudycz commented on #958
Fixed by https://github.com/JasperFx/marten/pull/1330 and already available in `v3.7.0`

[2019-08-21 06:18] #958 closed

[2019-08-23 06:31] smaktacular opened #1343 "Table customization with default db generated value possible?"
Hi,

please consider the following table:

[code]

Is there a table generation option that allows one to specify the "DEFAULT" part, here the generate_id() function in combination with a custom id generation or the NoOpIdGeneration strategy?

The reason for using this and not e.g. HiLo generation is that we want to make use of systemwide sequential, unique ids, while supporting sharding. See:
[(ht

[2019-08-27 12:30] KevinRecuerda opened #1345 "Containment where clauses"
Hello,

It seems that generated containment where clauses are different and don't use same index.

***

Given
[code]

Generated queries
[code]

Request 1 uses **jsonb path op** (and so index on **data**).
Request 2 uses **jsonb array op** (and so index on **data->Tags**).

***

Is there any reason to not generate queries as following?
(using  **jsonb array op** (and so index on **data->Tags**))
[c

[2019-08-27 14:15] KevinRecuerda commented on #1345
Indeed, `jsonb_path_ops` is more performant than using `jsonb_ops`, **assuming using same index path**.

But this is not the case here: `GIN (data)` vs `GIN (data->'Tags')`

From same doc:

According to the doc, `GIN (data->'Tags')` seems to be more efficient than `GIN (data)`.

[2019-08-27 16:30] KevinRecuerda commented on #1345
Indeed, my mistake.

Thanks.

[2019-08-27 16:30] #1345 closed

[2019-09-01 15:09] mysticmind commented on #1342
@erick661 We haven't heard back from you.  Please try out the above as per my previous comment. This is definitely a not a Marten issue, closing this.

[2019-09-01 15:09] #1342 closed

[2019-09-02 17:53] Leh2 opened #1346 "Support for soft delete properties on returned objects"
When using soft deletion and querying with `MaybeDeleted()` i'm missing the possibility to add the deleted info to my object/document,. This makes it possible to tell which of my fetched documents is deleted.

I tried adding the following properties, but with no luck:

[code]

The needed functionality is available for version and optimistic concurrent with `.VersionedWith(x => x.Version)`

[2019-09-02 17:53] Leh2 commented on #1346
@oskardudycz here u go

[2019-09-03 12:12] mysticmind commented on #1346
I think it would help to look including `DocumentMetadata` for each of the documents so that it will be more useful with the following properties:
- LastModified
- CurrentVersion
- DotNetType
- DocumentType
- Deleted
- DeletedAt
- TenantId

[2019-09-04 05:21] barryhagan commented on #1346
This was a sore spot for me, so I want to add my observations.    As it stands today, it was better to handle this in my own model/code.  Make the deleted properties first class on your objects and do what is necessary during read and write based on your needs.  Otherwise you have to make `MetadataFor` calls to get this information, and there is no way to do that for a collection of objects.

I wo

[2019-09-04 07:05] tonykaralis opened #1347 "AssertDatabaseMatchesConfiguration fails due to Hilo not behaving when int used as Document Id"
## Problem
1. Create and configure document store where at least one document is using an int as its Id property
2. Export sql DDL script and run in Database
3. Call AssertDatabaseMatchesConfiguration **(this throws an exception even though no changes were made to schema)**

## Environment
* Asp.Net Core 2.2
* PostgreSql v11

## Details
#### Exception thrown:
[code]

#### Function that Marten crea

[2019-09-04 12:31] Leh2 commented on #1346
I like the solution made for version with `[MyClass].VersionedWith(x => x.[VersionProperty])`, so you decide which meta properties you like to be first class.

With this solution you avoid extra round trips for meta data and avoid the merging of the two lists afterwards. And you can easily make the delete check after using `Load<T>`.

[2019-09-04 16:46] mysticmind commented on #1346
@Leh2 agree that the implementation done for `VersionedWith` is quite elegant to replicate and use for other meta data properties.

[2019-09-04 17:34] barryhagan commented on #1346
I agree it is really the only way to make soft deletes truly usable by calling code.  When implemented, this could also provide undelete/restore support, which is another gap in the current feature. Mutations to these soft delete metadata fields would need to be dealt with one way or another on save to keep the database consistent and it seems wrong to ignore a client that set Deleted=false and tr

[2019-09-04 17:59] oskardudycz commented on #1347
@tonykaralis  @barryhagan should be fixed with https://github.com/JasperFx/marten/pull/1348

[2019-09-04 18:02] oskardudycz commented on #1346
`VersionedWith` seems to be a good idea for me. That seems to be the cleanest solution. Although I need to get more familiar to that to understand the potential complexity.

[2019-09-04 18:02] tonykaralis commented on #1347
Thanks for sorting this so fast @oskardudycz. Any idea when 3.8 will be rolled out?

[2019-09-04 18:04] oskardudycz commented on #1347
I think that I'll change this to `3.7.1` then we could release asap I got approval from one of other maitainers to not block your going to production ;)

[2019-09-04 18:06] tonykaralis commented on #1347
I'd buy you a beer if I could mate. You are a legend.

[2019-09-04 18:07] oskardudycz commented on #1347
I hope that some day that we'll have the chance 😄 👍

[2019-09-04 18:08] tonykaralis commented on #1347
My partner is Polish, and I have not visited yet. I am planning some time next year, it would be great to grab one then if we can make it happen.

[2019-09-04 18:09] oskardudycz commented on #1347
Sure, feel free to reach me 👍

[2019-09-05 06:14] #1347 closed

[2019-09-06 00:05] Miggleness commented on #1346
To summarize,

Preferred solution: Apply similar solution as .VersionedWith().

Api can be .MarkDeletedWith()

Other considerations: Marten shouldnt ignore documents whose delete flag is true and registered thru the MarkedDeletedWith() api. Need to dig deeper with this one

[2019-09-06 15:52] mdissel opened #1352 "add IDbCommand Interceptors to add support for SET [LOCAL] and row level security"
Can we add an extension point for support of SET [LOCAL], see this implementation for an example
https://medium.com/@cazzer/designing-the-most-performant-row-level-security-strategy-in-postgres-a06084f31945

[2019-09-16 05:54] barryhagan commented on #1346
I've got a prototype of this feature started in my fork if you want to take a look at the direction.
https://github.com/barryhagan/marten/commits/issue_1346

This will treat metadata mapped fields as read-only, and will throw if the client attempts to change them in a session.  Trying to make the properties write-able for soft deletes will require breaking changes to the db upsert functions, so I'

[2019-09-17 17:56] KevinRecuerda opened #1357 "Where clause on Include type"
Hello,

I would like to filter on joined table:
[code]

Any idea to achieve this ?

[2019-09-18 17:10] mysticmind commented on #1357
@KevinRecuerda With current available functionality, you can only do a filter on the queried document. And `Include` only brings the related documents. Possibly, one way is to solve your use case is to do a local filter after fetching of the records.

[2019-09-19 10:19] KevinRecuerda commented on #1357
Local filter works, but it's not efficient. Looking my example, we will get all data from tables.

In my mind, this could be a great functionality.

Moreover, i created an extension method to solve it.
https://github.com/KevinRecuerda/DocumentStore/blob/master/DocumentStore/Extensions/MartenQueryableExtensions.cs#L59

[2019-09-19 14:34] mabeh opened #1358 "Querying Documents with LINQ doesn't work when using JsonProperty name Attribute"
[code]
`session.Query<User>().Where(x => x.FirstName == "SomeUser") `
Added a user with the name "SomeUser" before, but result is 0.
It works without the JsonProperty attribute.

[2019-09-19 16:02] oskardudycz commented on #1358
@mabeh Marten is JSON serializer agnostic. That means that it's unaware of the JSON.NET properties and its serialization consequences. SQL queries are generated based on the .NET lambda, so if you have property serialized with a different name than .NET property name then it won't be able to find it in the database.

[2019-09-19 16:11] #1358 closed

[2019-09-19 16:11] mabeh commented on #1358
Thanks for the answer

[2019-09-28 06:42] senzacionale opened #1359 "System.Exception: Error trying to fetch w/ sql 'SELECT schemaname, relname FROM pg_stat_user_tables WHERE relname LIKE ? AND schemaname = ANY(?);' #2642"
After upgrade of .net core to v3 and npgsql to v3 I am getting strange error:

[code]
Any ideas why?

[2019-09-28 13:41] stvoidmain commented on #837
Today I have again the same problem, despite the fact that i'm setting DatabaseSchemaName and the functions are there (in that schema) Marten still looks for it in public schema... I don't know why but is easy to reproduce, create a new class store and configure it with a schema that is not "public" with a couple of int or string fields, its all fine and dandy, run your code, maybe save one or two

[2019-09-28 18:07] jeremydmiller commented on #1359
`MissingMethodException` is always from mismatched assemblies. In this case you're using an incompatible version of Npgsql.

[2019-09-29 14:01] senzacionale commented on #1359
I am using last version of npgsql. Are you compatible with last version of npgsql?

[2019-09-29 14:08] jeremydmiller commented on #1359
Npgsql 4.1 had breaking API changes from 4.0, so no. If you want to continue using Marten, roll Npgsql back to before Npgsql 4.1. The latest Marten locks in the Nuget version range to prevent this. And longer term we're working w/ the Npgsql team to get things sorted out.

[2019-09-29 16:57] oskardudycz commented on #1359
@senzacionale could you try again with Marten version `3.8.1`?

[2019-09-30 05:52] senzacionale commented on #1359
Still the same error with v3.8.1

[code]

[2019-10-02 11:26] senzacionale commented on #1359
Issues should be solved by this release
https://github.com/npgsql/npgsql/releases/tag/v4.1.1

[2019-10-02 12:29] oskardudycz commented on #1359
@senzacionale could you try it with https://www.nuget.org/packages/Marten/3.9.0 it's using `NpgSql` `4.1.1`

[2019-10-03 12:26] senzacionale commented on #1359
It is working now. Bug fixed!

[2019-10-03 12:26] #1359 closed

[2019-10-03 12:27] oskardudycz commented on #1359
@senzacionale great! Thank you for the feedback 👍

[2019-10-03 12:28] senzacionale commented on #1359
Thank you for all the support.

[2019-10-04 12:05] oskardudycz commented on #780
There is a PR for adding Metadata to documents from @barryhagan. Interested persons are welcome to pleas the comments there :) https://github.com/JasperFx/marten/pull/1364

[2019-10-05 21:54] tonykaralis commented on #749
Is there currently a way to achieve schema per client? So all your points above but instead of separate db we have separate schema. Would the only way be to spin up separate document stores at runtime?

[2019-10-06 12:08] jeremydmiller commented on #749
@tonykaralis If you look, there should be an open issue about multi-tenancy through schemas. That turned out to be extremely complicated to pull off, and was dropped out of the 2.0 release and never done.

You could do it with a DocumentStore per schema/tenant, yes.

[2019-10-06 23:22] tonykaralis commented on #749
@jeremydmiller thanks, I spotted that issue shortly after. It's a shame as schema per client would be very powerful feature but realise it's a nightmare to achieve. I am thinking schema per client is going to be too costly too manage with separate document stores per client.

[2019-10-09 12:46] thrane opened #1365 "How to control version number for events"
We have a setup where we process messages from a message queue. For each message we load our aggregate to see if we need to update it or we are in the correct state. Afterwards we manually generate some readmodels from the updated aggregate.

We have just found that if we have two consumers that process messages for the same aggregate id, both of them get to write their events to the event stream

[2019-10-10 08:56] thrane commented on #1365
To give more information on the solution that we use. It is described here: https://jasperfx.github.io/marten/documentation/scenarios/aggregates_events_repositories/

[2019-10-11 09:24] robertmaidlaAW commented on #569
Checking in on whether this has been added to the to-do list :P

[2019-10-16 07:37] mdissel commented on #1054
@mysticmind Would you accept a pull request that changes the current HiLoSequence behaviour to make it possible to override the entitiyname? by default the enitityname equals the doctype, but it can be overridden so you can have a sequence that is used by multiple tables.

[2019-10-16 09:50] mdissel commented on #1054
@oakio have you already started working on this request?

[2019-10-16 09:52] oakio commented on #1054
@mdissel no

[2019-10-16 09:53] mdissel commented on #1054
Still relevant for you?

[2019-10-16 10:07] mdissel commented on #1054
At first sight it seems that this is necessary:
- extend HiLoSettings with an optional SequenceName property
- use SequenceName if set in this method https://github.com/JasperFx/marten/blob/c8016cd903fc1e349163ed44d19df21cf88fe726/src/Marten/Schema/Identity/Sequences/SequenceFactory.cs#L61
and https://github.com/JasperFx/marten/blob/c8016cd903fc1e349163ed44d19df21cf88fe726/src/Marten/Schema/Identi

[2019-10-16 14:22] ddivita opened #1369 "Projections inherited from a base class that hides the Id property, projects to an empty Id."
We ran into an issue where our base class contains a property named `Id`. Our projections are inheriting from that base class. When querying the projection the `Id` property is empty.

[code]

`var emp = _session.Query<Employee>().FirstOrDefault(e => e.Id = Guid.Parse("df0916ac-c00d-4843-8b58-fbb8325e0aeb"));`

The employee object does come back, but the `Id` is an empty Guid.

[2019-10-17 16:43] oskardudycz commented on #569
@robertmaidlaAW it's still on the TODO list, although to be fair - not in the top of the priorities (because of our capacity). Next biggest release will be probably mostly focused on Event Store enhancements.

[2019-10-18 14:33] mdissel commented on #1352
A structural solution would be to add support for CommandInterceptors, something like
[code]
The current logging and retry policy could be refactored and implemented as an IDbCommandInterceptor.

see [here](https://github.com/shuxinqin/Chloe/blob/a4b91af68830593cfad56639beca22051582a30a/src/Chloe/Core/InternalAdoSession.cs) for a sample implementation

[2019-10-18 17:25] barryhagan opened #1372 "Tenant.EnsureStorageExists() is not thread safe when using Document Hierarchies"
from @CodingGorilla in gitter

[code]

The document hierarchy causes an index to be added to the mapping for the document type column and AssertValidNames uses IFeatureSchema.Objects outside of the lock.

[2019-10-19 15:41] #1372 closed

[2019-10-20 11:53] mdissel commented on #1352
Adding interceptors seems te be a big refactoring of all the ExecuteReader and ExecuteNonQuery commands. the IManagedConnection should be extended with IDataReader functions and refactor all the Execute methods to only call ExecuteNonQuery.
I think we should refactor this to only 3 IDbCommand methods (and the async variants) and remove the current Execute(..) methods.
[code]

Other ideas? please l

[2019-10-28 00:09] tjdaniel opened #1374 "LINQ Query on 'false' with Boolean Flags fails with DefaultValueHandling.Ignore as Serializer Settings"
JsonNetSerializer is configured with with DefaultValueHandling = DefaultValueHandling.Ignore.
[code]
Run query on boolean flags:
[code]
The only somewhat messy workaround was using `Nullable<bool>` for property type and query for null.

[2019-11-02 14:46] MikeSolvalou opened #1376 "How to check for null value with nullable enum type?"
Question:
[code]
t.Category is of type TransactionCategory? , and TransactionCatgeory is an enum type.
I get an exception saying "Value cannot be null." if I use this where clause. Is that intended?
Seems to work if t.Category is of type int? .

System.ArgumentNullException: Value cannot be null.
Parameter name: value
   at System.RuntimeType.GetEnumName(Object value)
   at Marten.Linq.Parsing.Sim

[2019-11-03 10:08] #1369 closed

[2019-11-04 18:59] cocowalla commented on #837
@stvoidmain I'm having the same problem - when using the patch API it tries to execute a statement that includes `public.mt_immutable_timestamptz`, and then I get this error message from the database:

[code]

Did you find any way around this?

[2019-11-04 19:06] oskardudycz commented on #837
@stvoidmain @cocowalla could you open separate issue and reference this one? It's much easier for us (maintainers) to track new issues than reopen new one (especially if that issue was closed over 2 years ago ;)
Thank you in advance :)

[2019-11-04 19:23] cocowalla commented on #837
@oskardudycz I was going to open one shortly, just wanted to check if a workaround was already known

[2019-11-04 20:09] KolesnichenkoDS opened #1377 "Changing event data before passing to aggregate's Apply method"
I'm trying to implement GDPR-compliant personal data storage using Marten. To do so I want to encrypt personal data before saving it to event store and decrypt it before passing to aggregate's `Apply` method. I wasn't sure if there is some out of the box way to do something like this so I just copied `AggregationProjection` and added an additional parameter which is a function that changes event d

[2019-11-04 20:18] jeremydmiller commented on #1377
@KolesnichenkoDS You could achieve this through an IDocumentSessionListener. You'd get a chance to look at the events and potentially modify them just prior to the transaction being processed

[2019-11-04 20:32] KolesnichenkoDS commented on #1377
@jeremydmiller thanks for the quick response!

I'm not sure if that solves my issue. Please correct me if I'm wrong, but it seems to me that using `IDocumentSessionListener` I can intercept before the events are written to the db, not after they are read from the db / before they are applied to an aggregate. So it seems that well maybe using that I can actually encrypt an event in `BeforeSaveChang

[2019-11-04 20:33] cocowalla opened #1378 "Calls to mt_immutable_timestampt/mt_immutable_timestamptz fail with duplicated fields"
Similar to #837, after upgrading Marten I'm getting the following error message when updating a type with a duplicated column:

`schema "public" does not exist`

I can see a statement being executed like:

`update myschema.mt_doc_mytype as d set message_timestamp = public.mt_immutable_timestamptz(data -> 'Message' ->> 'Timestamp') where (d.tenant_id = :tenantid and d.id = :arg9)`

^ Note the `publ

[2019-11-04 20:54] cocowalla commented on #1378
Will send a PR for this shortly

[2019-11-04 22:48] cocowalla commented on #837
@oskardudycz opened #1378 and sent PR #1379 😃

[2019-11-05 02:41] stvoidmain commented on #1378
Nice to see this worked out!
Letme know if you need help to try something.
(sorry for not camoing up before, was on a very tight spot with work)

[2019-11-05 07:59] oskardudycz commented on #837
@cocowalla thank you! 👍 😄 👍

[2019-11-06 15:00] evingle opened #1380 "NullReferenceException when IQueryable converting String.Equals"
Hi,

I am encountering an issue when using the latest Marten 3.9.0. The code throws a null reference exception and stack trace refers to Marten

Code:
`string Email = null;
var query = session.Query<UserAccount>().Where(x => string.Equals(x.Email, Email, StringComparison.OrdinalIgnoreCase)).ToList();`

Stack trace:
System.NullReferenceException: Object reference not set to an instance of an object

[2019-11-07 07:42] #1378 closed

[2019-11-07 14:41] oskardudycz commented on #1380
@evingle could you provide your `UserAccount` structure and `DocumentStore` configuration?

[2019-11-07 15:27] evingle commented on #1380
Here is an example code:

[code]

[2019-11-08 11:25] #1380 closed

[2019-11-09 01:07] #1376 closed

[2019-11-10 16:24] #1374 closed

[2019-11-12 12:26] nikodemrafalski opened #1385 "Patch API doesn't respect property names casing"
Marten 3.10.0

Given  DocumentStore configured for `camelCase` property naming,

The change
```session.Patch<Doc>(where).Set(x => x.Dog.Name, "Milo");```
renders invalid sql command  paremeter.
```arg4: {"type":"set","value":null,"path":"Dog.Name"}```
instead of
```arg4: {"type":"set","value":null,"path":"dog.name"}```

preventing the patching from happening

[2019-11-12 15:04] mronnblom-cint opened #1386 "Question regarding use of CollectionStorage.AsArray"
Hi!

I'm trying to get the Serializer option "CollectionStorage" to work, but when I set it to "AsArray", I only get null in the database. The current implementation is a IReadOnlyCollection&lt;int> wrapping a List&lt;int>, but I have tried with several others and none of them work:

- IReadOnlyCollection&lt;int> wrapping List&lt;int>
- IEnumerable&lt;int> wrapping List&lt;int>
- IEnumerable&lt;in

[2019-11-14 11:45] Gikerl opened #1387 "Question regarding DocumentSession.Query() with Linq"
Hello,

I am trying to check if a PostgreSQL database contains an object with a certain Id.
For this purpose, I used three approaches:

1. DocumentSession.Query<T>().Where(x => x.Id == id).Any()
2. DocumentSession.Query<T>().Where($"WHERE id = \'{id}\'").Any()
3. DocumentSession.Load<T>(id) != null

The Linq query was by far the slowest and required 1750ms on average.
The query using the SQL strin

[2019-11-15 11:45] Crown0815 opened #1388 "StartStream on EventStore does not throw exception if stream already exists"
I am trying to ensure that a stream does not exist yet by creating it with the `StartStream` method. I found that I do not get an exception even if the stream exists.

The following code snippet works without any exceptions although I would have expected one to be thrown in line 5.
[code]
Am I missing something?

I'm using Marten 3.7.1, PostgreSQL 10.10 for Ubuntu, .Net Framework 4.62

[2019-11-15 12:10] mysticmind commented on #1388
@Crown0815 since you are not storing any events, in this case, it is essentially an empty stream hence does not get stored in DB even though you attempt to save changes. If you had added any events then you would see an exception `ExistingStreamIdCollisionException`.

[2019-11-15 12:13] mysticmind commented on #1386
@mronnblom-cint I am trying to verify this use case, will get back to you.

[2019-11-15 12:15] mysticmind commented on #1387
@Gikerl There shouldn't be so much variance. Could you please share a test repo with the fuller representative code so that we can check and revert?

[2019-11-15 13:34] Crown0815 commented on #1388
@mysticmind There is a actually a stream in the database after calling the first `SaveChanges()`. It seems that the `StartStream` method does not actually check whether the steam exists but whether the stream is at a **version greater than zero**.

Is this intentional?

[2019-11-15 16:09] mysticmind commented on #1388
Yes, you are right, it looks like there isn't a check for Stream Id exists. We would need to add a check. Marking this as a bug. We will discuss and take it up.

[2019-11-15 16:36] mysticmind commented on #1388
@Crown0815 Quick follow on note, even though there is an entry in the db with zero events, only when a stream contains events, there would be conflict and hence checking for stream exists for `StartStream` is essential to throw an exception. The current implementation satisfies this requirement. So I think we can go ahead and close this unless you think a check is required. Thoughts>

[2019-11-15 17:13] jeremydmiller commented on #1388
@mysticmind @Crown0815 We almost wiped out `StartStream()` several times in the early days and just saying that `AppendEvent` is a de facto *upsert*. I think we should do the check that @Crown0815 is suggesting, but it would be breaking behavior and shouldn't be done until 4.0.

[2019-11-15 17:17] mysticmind commented on #1386
@mronnblom-cint if you use 3.10.0, you can pass `NonPublicMembersStorage = NonPublicMembersStorage.NonPublicSetters` for the serializer and your use case work as expected. Refer to docs [here](https://jasperfx.github.io/marten/documentation/documents/json/newtonsoft/)

[2019-11-18 11:30] Gikerl commented on #1387
@mysticmind

With an example project I could not recreate the issue. Here the times were as to be expected:

- Linq Query: 166ms
- String Query: 124ms
- Load: 186 ms

In the example project I noticed that the first time opening a session is very time consuming, which probably explains the long time the first query took.

[2019-11-18 11:30] #1387 closed

[2019-11-18 11:39] Gikerl opened #1389 "JsonSerializationException in DocumentSession.Query<T>(string sql)"
Hello,

I am trying to use the query my database with an SQL string as the input parameter of the Query<T>() method. However, a Newtonsoft.Json.JsonSerializationException is being thrown. Doing the same query with without the SQL and with a Where statement, the exception isn't thrown.

I'm using Marten 3.10.0, PostgreSQL 10.10 for Ubuntu, .Net Framework 4.62

Am I using the SQL String Query wrong?

[2019-11-18 14:37] mronnblom-cint commented on #1386
@mysticmind I tried `NonPublicMembersStorage.NonPublicSetters`, but the result is the same - null in db. I don't think that the problem is that the setter is private. I have lots of other properties in the same class that have private setters, and they get written to the db as expected. It is only collection properties that are problematic.

The config I just tried:

[code]

[2019-11-21 15:39] oskardudycz commented on #1387
@Gikerl first time opening a session creates a Marten schema, tables, functions etc. (if you have empty db), so it's desired and unavoidable behaviour (unless you're using manual schema migration with AutoCreate.None and Patch scripts).

[2019-11-25 15:29] mronnblom-cint commented on #1386
@mysticmind I managed to get the desired behavior if I change the autoproperty to an explicit backing field, like this:

[code]

For some reason, this serializes to an array in the db even _without_ CollectionStorage.AsArray. This is good enough for me, so you may close this issue.

[2019-11-28 09:38] oskardudycz commented on #1386
@mronnblom-cint thank you for the feedback 👍 I'll double check that, as the `public IReadOnlyCollection<int> Categories { get; private set; }` should also work.

[2019-12-01 18:05] oskardudycz commented on #1386
@mronnblom-cint the issue was with the combination of `CollectionStorage.AsArray` and `IReadonlyCollection<int>` - for the `IReadonlyCollection<string>` it was working fine. We had only coverage for the string case.

I provided a fix with the additional tests in https://github.com/JasperFx/marten/pull/1390.

Fix should be available in `3.11`.

[2019-12-02 08:04] mronnblom-cint commented on #1386
Great news! Thanks!

[2019-12-02 10:07] #1386 closed

[2019-12-03 09:38] oskardudycz opened #1391 "Making Marten Open Source model sustainable"
This Issue will group the general discussion and concrete ideas (issues) of how to make Marten Open Source model more sustainable.

Currently, we're doing all the stuff after hours, we don't have sponsors. As it wouldn't be the good case if our project would be hit by [bus factor](https://en.wikipedia.org/wiki/Bus_factor) we'd like to make it more sustainable. We'd like to be able to spend more de

[2019-12-03 09:39] oskardudycz opened #1392 "Join .Net Foundation"

[2019-12-03 09:42] oskardudycz opened #1393 "Setup Sponsorship plan"
Investigate and setup one of the sponsorship options on one of the existing solutions like:
- OneCollective,
- GitHub sponsorship,
- Patreon, etc,
- others.

[2019-12-03 09:44] oskardudycz opened #1394 "Add currently existing videos of Marten tutorials"
Eg. the webinar that @jeremydmiller made for the JetBrains

[2019-12-03 09:45] oskardudycz opened #1395 "Create a page with links to the articles about Marten"
Gather all articles made by our community about Marten.

[2019-12-03 09:47] oskardudycz opened #1396 "Create a page with links to other projects using Marten"
There might be other Open Source projects or the products created by our users.

[2019-12-03 09:49] oskardudycz opened #1397 "Create Marten Newsletter"
That'd give us the place to contact our users and also write some questions straight to them (eg. about recommendations or new features feedback). Send weekly some information about Marten or best practices (eg. DDD, Event Sourcing, etc.)
Investigate which tool would be best for us for automation (I'm using ActiveCampaign in my private newsletter, but it costs quite some money for bigger number of

[2019-12-03 09:49] mysticmind commented on #1393
We don't need to restrict it to just one option, it can be one or more options.

[2019-12-03 09:52] oskardudycz opened #1398 "Create a page with recommendations from our users"
Gather the feedback and recommendations from our users and put it into the documentation.  It should be easily accessible for the new users to be able to quickly see that Marten is production and enterprise ready.

[2019-12-03 10:01] mysticmind opened #1399 "Create a separate domain name for Marten"
We can host the main website at this domain which will establish as a go to place for users who want to know about Marten, docs, sponsors and everything can be aggregated at one place.

**Result:**
https://martendb.io/ was selected and used as the domain.

[2019-12-03 10:23] mysticmind opened #1400 "Add more quality documentation to drive adoption"
- Improve the quality of documentation with more coverage, better navigability and search
- Add more hands on tutorials for both document store and event store
- Add more real world use cases, usage and implementation using Marten.

[2019-12-03 12:33] oskardudycz commented on #1399
@jokokko bought marten.io 👍

[2019-12-03 13:16] oskardudycz opened #1401 "Rebrand look & feel of the Marten documentation"
Make it more aligned with the current standards. Create proper landing page.

I like personally the look of Hasura web page: https://hasura.io/ and https://docs.hasura.io/1.0/graphql/manual/remote-schemas/index.html.

[2019-12-03 19:10] oskardudycz commented on #1393
@mysticmind fully agree, however, we should not give our users too many options, so they didn't feel lost and don't need to spent too much time on decision what option to choose 👍

[2019-12-04 06:27] Hawxy opened #1402 "Tenant & Timestamp are empty on events in AfterCommitAsync"
Using Marten 3.10 + Marten.Nodatime

[code]
The fields are populating correctly on the database, just not appearing here.

[2019-12-04 06:53] Hawxy commented on #1393
I'd be pretty happy with OpenCollective, akin to https://opencollective.com/vuejs.

Open-source sponsorship is something my workplace is considering going into the new year.

[2019-12-04 07:21] mysticmind commented on #1399
martendb.io or marten.io? I guess it is the former

[2019-12-04 07:22] oskardudycz commented on #1399
Right, my bad -martendb.io.

[2019-12-04 07:24] oskardudycz commented on #1399
@jokokko will you configure Github pages to use new custom domain?

[2019-12-04 08:23] jokokko commented on #1399
So the A records are now set.
[code]

[2019-12-04 09:19] oskardudycz commented on #1399
@jokokko I configured that on the GitHub settings. It's almost working.
![obraz](https://user-images.githubusercontent.com/5562528/70129691-866a6a00-167f-11ea-99bf-f55a1d7666f7.png)
Probably some paths to CSS needs to be tweaked. I'll try to have a look at that 👍

[2019-12-04 11:04] mysticmind commented on #1399
typically we also have to add a CNAME record pointing to `jasperfx.github.io` since Marten is hosted under `jasperfx.github.io/marten/` it could pose a problem.

[2019-12-04 11:05] mysticmind commented on #1399
I would suggest that we host the a seperate docs in netlify and then do the DNS settings pointing to it. this way, the existing site will work fine and at some point we can sunset the github.io url

[2019-12-04 11:06] oskardudycz commented on #1399
I like the idea of using Netlify. I can try to configure that.

[2019-12-04 11:09] jokokko commented on #1399
Alright. Once done, I'll update the DNS records (30 min TTL on the current A records)...

[2019-12-04 11:10] mysticmind commented on #1399
@oskardudycz if you to give it a shot go ahead, you can just use a manual deploy for now by dragging dropping the folder in the Netlify deploys page.

[2019-12-04 11:11] oskardudycz commented on #1399
@mysticmind I’ll try to configure automatic deployment in the evening  (I did that already for my other pages done in GatsbyJS)

[2019-12-04 18:54] oskardudycz commented on #1399
I managed to setup Netlify deploy.

URL: https://lucid-northcutt-013a56.netlify.com/

DNS Record: martendb.io A 104.198.14.52

Or it's possible to use Netlify DNS for the domain (as I did in my other Netlify deployments):
- dns1.p02.nsone.net
- dns2.p02.nsone.net
- dns3.p02.nsone.net
- dns4.p02.nsone.net

However, there is still the same issue as with github docs 🙃 It seems that our script is addi

[2019-12-04 20:09] oskardudycz commented on #1402
@Hawxy Thank you for creating this issue, I'll try to check that asap.

[2019-12-04 20:29] oskardudycz commented on #1399
I prepared the PR https://github.com/JasperFx/marten/pull/1403 that updates the configuration.

I published already the fixed content to `gh-pages-netlify` and Netlify.

[2019-12-05 07:29] jokokko commented on #1399
So as discussed in Gitter, NS records updated...

[2019-12-05 07:37] oskardudycz commented on #1399
Thank you. It works! 🏆
![obraz](https://user-images.githubusercontent.com/5562528/70213691-41efd480-173a-11ea-85c3-ed34808e045c.png)

I'll also configure additionally https on Netlify when DNS fully propagate.

I think that after reviewing and merging my changes to the build script (https://github.com/JasperFx/marten/pull/1403) we're fine to close that task! 😄

[2019-12-05 13:55] stvoidmain opened #1404 "Concurrent update problem when updating mt_hilo"
Hi, I started to have a lot of these:
[code]
Which I didn't have before, is there anything that changed on that handling that can make this error arise?
As i see it, this shouldn't happen at all, and its making application to throw exception and abort current operation, any ideas?

[2019-12-05 15:07] mysticmind commented on #1399
Closed via #1403

[2019-12-05 15:11] mysticmind commented on #1399
![image](https://user-images.githubusercontent.com/2864208/70247460-69c55380-179f-11ea-9a04-16be0816b568.png)

since martendb.io is a https site, there are js files and images which are http resulting in mixed content.

[2019-12-05 15:15] oskardudycz commented on #1399
@mysticmind I’ll check that and try to provide a fix in a separate PR.

[2019-12-05 16:34] mysticmind commented on #1404
Looks to be same issue as https://github.com/JasperFx/marten/issues/505

[2019-12-06 09:28] #1385 closed

[2019-12-06 10:54] mysticmind commented on #1399
@oskardudycz I have fixed mixed content issue of http links in https. Also found some link and images linking issues in doc pages (already existing issues) which I have fixed as well. I will send a PR shortly.

[2019-12-06 11:17] oskardudycz commented on #1399
Closed via https://github.com/JasperFx/marten/issues/1399

[2019-12-06 11:17] #1399 closed

[2019-12-12 01:01] Burwin opened #1407 "Querying document after Inline Projection returns no results"
I'm a Marten noob, but a big fan so far. Forgive me if this question is basic.

I'm trying to do something that I thought was simple, and I'm not exactly sure where I'm screwing up.

- I have an Aggregate `Foo`, which is sourced from an event `NameChanged`.
- I registered an Inline Projection of `Foo` in my `DocumentStore` setup.
- I create a `Foo`, change its name, and start a new Event Stream.
-

[2019-12-12 02:09] Hawxy commented on #1407
Change `foo.GetChanges()` to `foo.GetChanges().ToArray()`, otherwise the list is stored instead of the individual event. I ran into this technicality myself.

![image](https://user-images.githubusercontent.com/975824/70676458-30bd3f80-1cc7-11ea-8c45-c75e2f1bb096.png)

Also you never generate a Guid for the Id.

[2019-12-12 02:12] Burwin commented on #1407
Yep, that works. Thanks!

[2019-12-12 02:12] #1407 closed

[2019-12-17 06:38] KopIlya opened #1409 "Store geojson in extra field"
Hello. I would store in field with 'GeoJSON' near field 'data'.
Is there such an opportunity now?
Will such functionality appear in the near future?

[2019-12-23 02:34] Burwin commented on #1377
+1

I have a similar need, but I'm using Inline Projections (currently).

- So I could use `IDocumentSessionListener` to encrypt any events in `BeforeSaveChanges`, which is good.
- It looks like `BeforeSaveChanges` is called after `applyProjections` in `DocumentSession`, which is good in that my inline-projected aggregate will correctly apply unencrypted events
- Additionally, I can further encryp

[2020-01-13 14:11] cocowalla commented on #752
I haven't tried this, but I guess a "poor man's" implementation probably works already:

1. Create a schema for each tenant, and create the Marten tables, functions etc
2. Configure your DI container to create a singleton `StoreOptions` and `IDocumentStore` for each tenant
    - Set `StoreOptions.DatabaseSchemaName` to the tenant-specific schema name
    - For `StoreOptions.Connection`, ensure you

[2020-01-21 20:24] oskardudycz commented on #1392
@jeremydmiller @mysticmind @jokokko I plan to send submission to .NET Foundation as follows:

## 1.   General Information

**Project Name:**
Marten
**License:**
MIT
**Contributor (Company, Organization or individual name(s)):**
Jeremy D. Miller, Babu Annamalai, Oskar Dudycz, Joona-Pekka Kokko
**Existing OSS Project? (Yes/No):**
Yes
**Source Code URL:**
https://github.com/JasperFx/marten
**Project

[2020-01-22 22:02] BusschaertTanguy opened #1413 "Doing a negation when using LINQ's ".Any()" in a child collection throws a not supported exception."
When using the IQuerySession.Query<>(); on a projection, when doing a negation in the child collection of the elements, the following exception is thrown:

`   at Marten.Linq.CollectionAnyContainmentWhereFragment.gatherSearch(BinaryExpression x, Dictionary'2 search, ISerializer serializer)
   at Marten.Linq.CollectionAnyContainmentWhereFragment.gatherSearch(BinaryExpression x, Dictionary'2 search,

[2020-01-24 09:38] oskardudycz opened #1415 "Setup branded martendb.io email addresses for the maintainers"
Setup branded martend.io email addresses for the maintainers and more generic contact email.

[2020-01-24 17:15] mysticmind commented on #1392
@oskardudycz with regards to the project transfer type i.e. assignment or contribution, I don't fully understand the requirement to join the .NET Foundation. Do you have any details which you have discussed or gathered on this requirement?

[2020-01-25 11:51] oskardudycz commented on #1392
@mysticmind that's also the reason why I highlighted that point. I think that it'd be safer to start with contribution and then see how it goes. That'd be less invasive to our current approach. We can always do an assignment later if that's the better option for us.
Selecting "assignment" have (at least in theory) the benefit of having a better guarantee for our users, as it would mean that if we

[2020-01-25 12:33] jeremydmiller commented on #1392
@oskardudycz I read through this this morning and everything looks thorough and complete. Thumbs up from me.

[2020-01-25 14:22] oskardudycz commented on #1392
@jeremydmiller thank you, I'm happy to read that 😃 👍 @jokokko also said on Gitter that he's fine.

I'll wait then for the final @mysticmind approval so we're all on the same page and send it to .NET Foundation 😃

[2020-01-25 17:30] mysticmind commented on #1392
I made few edits as below:
- Under project lead, email address of Jeremy had my email address, I had corrected this yest
- Added Jeremy's details under committers as well
- For the one sentence summary (<140 character), updated it to "Polyglot Persistence providing object (document) and event store Powered by .NET and PostgreSQL"
- Updated the PR Plan section to include our twitter handle and webs

[2020-01-25 17:33] oskardudycz commented on #1392
@mysticmind thank you for careful reading and fixes 👍

I'm sending the issue  🚀 🚀 🚀

[2020-01-25 17:41] oskardudycz commented on #1392
:fire: :fire: :fire: It's submitted: https://github.com/JasperFx/marten/issues/1392 😄

[2020-01-25 18:22] mysticmind commented on #1415
https://www.zoho.com/mail/ - we could possibly use this to start with, it provides a "free forever plan" as below:

[2020-01-25 18:29] oskardudycz commented on #1415
I can setup it also on my provider. I'm paying for my personal email and I have (more or less) unlimited emails and domain with the outlook support in my abonament.

[2020-01-27 23:42] Miggleness commented on #1413
`NotEqual` expression in `Any` isn't supported just yet due to its use of the contain operator (`@>`)

Marten converts expression in an `Any` to `d.data @> :{param.ParameterName}`

This is something which I believe will be addressed in #1201

[2020-01-28 09:05] oskardudycz commented on #1413
@Miggleness I'm not sure if the Linq Overhaul won't be `4.1` as `4.0` will be mostly focused on Event Sourcing.

I'll try to look in the next few days if we can't squeeze it earlier.

p.s. thank you for the feedback and reproduce steps details 👍

[2020-01-28 11:15] TCBroad opened #1416 "Including an index before a document alias causes the index to be generated with an incorrect table name"
When configuring marten using StoreOptions, it appears that if a DocumentAlias is used and it is the last expression in the statement then the names of indexes are generated incorrectly. This happens when adding an index to an existing table and running the command line tooling to generate a patch.

E.g. (class names changed, but otherwise the same)

[code]

outputs the following schema migration:

[2020-01-28 19:59] daveaglick commented on #1391
I have no idea if this would match your community and their expectations, and it's certainly as much a philosophical choice as a practical one, but I'd at least keep a change to the license on the table as an option.

Specifically, I've become rather fond of a dual-licensing model that provides openly developed software under a permissive license for non-commercial use while placing licensing fees

[2020-01-28 20:22] cocowalla commented on #1391
@daveaglick I can see dual-licensing works well for "infrastructure components", like databases (TimescaleDB is one such example), but I think this model is much less appropriate and realistic for a library. Marten has gained a lot of traction amongst .NET developers with a fondness for Postgres, but I think requiring a paid license for commericial use would likely do a lot of damage to adoption.

[2020-01-28 20:36] daveaglick commented on #1391
@cocowalla

Totally agree, and one of the reasons I don't think commercial use licenses fit every (or even most?) projects.

That said, my own views on what constitutes _success_ in open source have been gradually changing. Conventional wisdom often tightly couples adoption with success, but I'm not so sure that's a good or useful metric anymore. It's particularly problematic for smaller open sour

[2020-01-28 20:48] khalidabuhakmeh commented on #1391
Before investing weeks and months of work. It would probably be wise to have a conversation around the **vision** of Marten as a project. A vision statement sets the tone and expectation for all community members.

Currently, the tag line on the site is.

That tagline is weak-sauce. I know **what** it is, but not **why**.

- What value does Marten bring to developers, teams, projects, and business

[2020-01-30 17:47] wayne-o opened #1417 "DocumentDb not creating tables"
I have a situation where my pods can connect to the Postgres server and read non document data but it throws when reading documents.

It looks like none of the document tables are being created. What would cause this?

[2020-01-30 18:08] lahma opened #1418 "Support System.Text.Json"
This is the new JSON library from Microsoft, which concentrates on performance (speed and minimal allocations).

* [Try the new System.Text.Json APIs](https://devblogs.microsoft.com/dotnet/try-the-new-system-text-json-apis/)
* [How to serialize and deserialize (marshal and unmarshal) JSON in .NET](https://docs.microsoft.com/en-us/dotnet/standard/serialization/system-text-json-how-to)

I did a quic

[2020-01-31 00:17] Miggleness commented on #1404
@mysticmind  @oskardudycz  do merge the test first and validate that you can reproduce the problem. I've been able to reproduce it consistently on my 2-core MBP.

[2020-01-31 00:25] Miggleness commented on #1417
Do share how your initantiate your document store

[2020-02-01 03:35] Miggleness commented on #1418
Related to #885

[2020-02-01 03:37] Miggleness commented on #885
While not exhaustive, my tests still has Utf8Json faster than Net Core 3's implementation.

https://github.com/Miggleness/DotNetJsonBenchmarks

[2020-02-01 03:48] Miggleness commented on #585
Has there been any thought on the API to get the streaming option?  Like `.Streaming()` at the end of a query?

There would still be a need to convert stream to UTF8 since `jsonb` isn't stored in that encoding.

[2020-02-01 15:22] jeremydmiller commented on #585
@Miggleness The serializer shouldn't have to get involved at all. It should be Npgsql's streaming support effectively pushing bytes directly to the HttpResponse.Body. There's gonna be some hiccups maybe if we need to strip out some serializer specific noise, but we'll have to cross that bridge when we get to it

[2020-02-02 01:01] Miggleness commented on #585
I'll find time to play around with it

[2020-02-03 08:22] jokokko commented on #1415
@oskardudycz, @mysticmind I remember using Zoho in the past... Should be fine. If we just setup the relevant records (SPF etc.) accordingly... Which reminds me that it's a bit problematic if these things are behind one person, i.e. a bus factor of one. At the very least should ensure that core maintainers all have access to DNS records.

[2020-02-05 12:52] sensoryoverload opened #1421 "Unique indexes do not seem to work in combination with document inheritance"
When using this combination the unique index is not created in the database. However, creating an instance of the DocumentStore does not complain about this inability. I might be missing something though as I am just started using Marten.

[code]

[2020-02-05 15:06] sensoryoverload commented on #1421
It does seem to work if I put the UniqueIndex on the class where the property is defined. But only when that class is the base of the inheritance structure, using it on a subclass still wont work. If I move the property to be indexed to a subclass it wont work

[code]

[2020-02-05 17:01] mronnblom-cint commented on #1315
Is there any update on this?

I can confirm that this is still a problem with Postgres 11.5, PLV8 2.3.13 and Marten 3.10.0.

[2020-02-05 18:20] mysticmind commented on #1315
You will need to try with plv8 3.x which is still alpha and not yet
released. Please note that this is not a Marten issue which requires a fix.

On Wed, 5 Feb, 2020, 10:31 PM Mathias Rönnblom, <notifications@github.com>
wrote:

[2020-02-06 09:36] mronnblom-cint commented on #1315
Well, since Marten relies rather heavily on PLV8, this _becomes_ a Marten issue IMHO, since we can't use long with patching/transforms. But I do understand that there's nothing to do about it in the Marten codebase. It would be good to include this in the docs though, since not everyone will find this post (before it's too late).

[2020-02-06 09:50] mysticmind commented on #1315
It is a good idea to add docs on this subject to provide clarity, we will
add it. Thank you!

On Thu, 6 Feb, 2020, 3:06 PM Mathias Rönnblom, <notifications@github.com>
wrote:

[2020-02-07 06:30] mysticmind commented on #1415
@jeremydmiller @oskardudycz @jokokko I am going ahead and setting up Zoho email using MailLite plan (INR 59 i.e. less than 1 USD /user/month) which supports IMAP/POP clients, mobile apps and calendar rather than the "Forever Free" plan which only provides web access.  To start with, we will create 4 accounts i.e. one for each and in addition we could add say `support` account later.

[2020-02-07 06:36] mysticmind commented on #1415
We could create a gmail account like martendb@gmail.com and use it as a admin account to manage domain/DNS entries and also the the contact email for Zoho mail. The password for this can be maintained in a shared password manager like BitWarden or share it in email.

Thoughts?

[2020-02-07 18:11] mronnblom-cint opened #1424 "RetryPolicy does not apply to AssertDatabaseMatchesConfiguration"
RetryPolicy is awesome, thanks for that feature!

I have found one minor issue with it, in that it does not apply to AssertDatabaseMatchesConfiguration, which I would expect it to. Might not be a bug per se, but I think that a common scenario is to call AssertDatabaseMatchesConfiguration quite early in the application startup, and having retries for the initial db connection is desireable IMO.

[c

[2020-02-07 18:20] ColonelBundy opened #1425 "[Proposal] Support search rankings"
The ```ts_rank``` and ```ts_rank_cd``` methods are really useful when creating a search.
A proposal to support this:

[code]

MapRanking only exists because there may be instances where you'd want to display it and instances where you want to and wish to order by the rank, then you could use OrderBy.

More info about ts_rank [here](https://www.postgresql.org/docs/9.1/textsearch-controls.html#TEXTS

[2020-02-10 16:50] tonykaralis opened #1429 "SaveChangesAsync fails when storing documents with multiple FKs and sub classes"
### Issue
When calling save changes on several documents with a FK on another document, which has not been saved to the database yet, the save fails.
The following code fails, with the exception detailed below.
[code]
When splitting the save into 2 calls, the operation is successful(see example.)
[code]

### Stack
Postgres v11
ASP.NET Core 2.2

### Store Config:

[code]

### Additional info
* Proj

[2020-02-10 17:07] mysticmind commented on #1429
[code]

Exception stack trace
[code]

[2020-02-12 03:30] mysticmind commented on #1418
My thinking is to hive off the Json.NET serializer as a seperate assembly and provide a mechanism to choose the serializer via config. This way, Marten library does not have a direct dependency on Json.NET. Also potentially reducing diamond dependency issues.

Once this is done, it makes it easier for implementing and wiring other serializers including unit tests.

Since these are breaking changes

[2020-02-12 08:29] oskardudycz commented on #1425
@ColonelBundy that looks good to me.
Would you be willing to provide PR for that? I can try to provide some guidance.

[2020-02-12 09:39] oskardudycz commented on #1424
@mronnblom-cint that seems legit.
Would you like to provide PR for that? It shouldn't be hard to do, I can provide the guidance.

[2020-02-12 09:40] oskardudycz commented on #1417
@wayne-o could you provide the document store configuration and the exception details?

[2020-02-12 10:40] oskardudycz commented on #1416
@TCBroad currently, unfortunately, the config ordering might be fragile for the ordering. I'm not sure how easy would be to make it less ordering-agnostic. If we can't come up with something then for sure we should updated documentation (as you suggested).

[2020-02-13 16:15] mronnblom-cint commented on #1424
@oskardudycz I can give it a shot if you think it's not too time consuming. Inject IRetryPolicy into TenantSchema?

[2020-02-13 18:58] oskardudycz commented on #1424
@mronnblom-cint you should be able to get `IRetryPolicy` from the `StoreOptions` that are [already injected](https://github.com/JasperFx/marten/blob/master/src/Marten/Storage/TenantSchema.cs#L18)  into `TenantSchema` (using its [RetryPolicy](https://github.com/JasperFx/marten/blob/master/src/Marten/StoreOptions.cs#L264) method).

Then you would need to inject it to [https://github.com/JasperFx/mar

[2020-02-23 01:22] Burwin commented on #1377
@KolesnichenkoDS

Shameless plug (I hope this isn't bad etiquette), but I threw together a library for encrypting/decrypting at the field/property level during JSON serialization/deserialization: https://github.com/Burwin/JsonCryption

I'm not sure it solves all your issues, particularly because it sounds like you aren't using Marten to encrypt your events. I don't know how your project is set up,

[2020-02-23 16:48] mronnblom-cint commented on #1424
@oskardudycz I had a chance to look at the code a bit more. It seems to me that wrapping `SchemaPatch.Apply` in the RetryPolicy wouldn't be enough, since there is a conn.Open() call in `TenantSchema.ToPatch`, which might fail. I suppose you could wrap `TenantSchema.AssertDatabaseMatchesConfiguration` (and possibly also `TenantSchema.ApplyAllConfiguredChangesToDatabase` as these two methods are pro

[2020-02-24 20:33] raphaabreu opened #1430 "How to store aggregates of different types that might have the same id?"
Hello! First of all, awesome project!

I have a question though: How can I use the event store when I have multiple aggregate roots and their Ids might be the same?

I am migrating a legacy project that used standard int64 sequence as primary key. Several root aggregates also use int64 sequences as primary keys. Is there any way to separate their streams? Using multi-tenancy is the only alternativ

[2020-02-25 11:20] mysticmind commented on #1430
Please check [docs](https://martendb.io/documentation/events/identity), you can set the stream identity as string using `storeOptions.Events.StreamIdentity = StreamIdentity.AsString;` and then use some pattern like `/accounts/1`, `/users/1` etc for the stream id.

[2020-02-25 19:05] malclear opened #1431 "ArgumentException occurs using StorageOperationWithDeletionsComparer"
When there is a session having deletions to two or more document types, where those documents have the same types of primary keys (and duplicates at that), then when calling SaveChangesAsync, I get the following message:
[code]
So, for example, there is a deletion each for the types Document_A and Document_B. If they both use the same identifier for the document record, then I get the message show

[2020-02-25 20:11] oskardudycz commented on #1430
@raphaabreu you can use also conjoined multitenancy and put as tenant the aggregate type. See more: https://martendb.io/documentation/documents/tenancy/configuring/

[2020-02-27 09:26] jokokko commented on #1430
One other option, if one wants to stick to `Guid`s, would be producing deterministic Guids and, if needed, namespace them differently. See something like https://github.com/Informatievlaanderen/deterministic-guid-generator

[2020-02-28 07:30] lahma opened #1432 "CombGuid setting not respected for event streams"
Noticed that the current implementation of starting a stream with events just uses Guid.NewGuid(), should event store also respect the global setting?

https://github.com/JasperFx/marten/blob/d9294b1348491c53457612ee4e42975cd0204f9a/src/Marten/Events/EventStore.cs#L165-L173

[2020-03-02 20:59] 5c0r commented on #1402
After debugging, it seems
- IChangeSet.Events TenantId and Timestamp was not changed, they are only there for deserialization. The timestamp was fine on the database since AppendEventFunction does not use event timestamp as default parameters.
- This happens for normal usage as well , not just with Marten.NodaTime

My assumption is that you would like the appended time to be exact when events are

[2020-03-04 20:41] cszczotka opened #1433 "Postgresql 12 support."
Hi,
Does the latest version of Marten support work with Postgresql 12 ? If not, when do you plan to support Postgresql 12 ?
Regards,

[2020-03-05 02:00] apereiratl commented on #1433
I'm currently using it with Postgres 12 (on windows) and it seems to be working fine. I've found nothing that indicates a lack of support. Is there a specific feature you're looking for that isn't supported?

[2020-03-05 02:07] apereiratl opened #1434 "Issue with implementing FK on an array field."
.Duplicate(x => x.Tags, "bigint[]", NpgsqlDbType.Array | NpgsqlDbType.Bigint)

When defining a field which is

[code]
with
[code]

I get the definition:
[code]
and the error:

42804: foreign key constraint "mt_doc_form_tags_fkey" cannot be implemented

Additionally, defining
[code]
still results in the column definition as above. Defining just the Duplicate definition defines the column correctly.

[2020-03-05 02:21] apereiratl commented on #1434
Incidentally, I believe this is related to the fact that when deriving schema, marten seems to have an issue with deriving column definitions for list<type> and defines it as jsonb.

[2020-03-05 07:20] cszczotka commented on #1433
Hi,
I just want to make sure ;-). For example on PLV8  page https://plv8.github.io/ I see info:
"PLV8 works with most versions of Postgres, but works best with 9.1 and above, including 10.0 and 11."
Regards,

[2020-03-05 08:57] oskardudycz commented on #1433
@cszczotka yes, we're supporting PG 12. The only potential issue is with the docker images with PLV8 that are not easily accessible, but PLV8 is used mostly for the PATCH API. Rest should work fine without any issues. PLV8 is additional feature, not the core one for Marten.

I'll prepare the PR with the updated build matrix and the information and readme about the support.

[2020-03-05 09:24] Leh2 opened #1435 "Mechanism to Import Events"
When migrating old data into the event store it would be beneficial to be able to control the timestamp on events.

This would enable us to use the functionality with aggregate stream and timestamp: `AggregateStreamAsync<T>(Guid streamId, ... DateTime? timestamp = null)`

![image](https://user-images.githubusercontent.com/982996/75966364-7c4c4780-5eca-11ea-872d-7064fc1f4a78.png)

[2020-03-05 14:37] apereiratl commented on #1433
@cszczotka There is a commit from me that indicates how to setup plv8 for Postgres 12. The commit is at https://github.com/JasperFx/marten/commit/8c5240fa4c01baf9cf3e1d290465088f7e172aa7
That will help you get plv8 working on Postgres 12 as well if you so desire.

[2020-03-10 20:02] oskardudycz commented on #1392
This is ongoing. We were accepted. See more in:
- https://github.com/dotnet-foundation/projects/issues/47
- https://github.com/dotnet/foundation/pull/164
- https://github.com/JasperFx/marten/pull/1436

[2020-03-12 13:01] malscent opened #1437 "[Feature Request] Projection-event applier lambda functions"
At times, when creating modular software, it would be useful to be able to add events and event appliers for existing projections from external libraries.

An example:

If i have ProjectionA in ClassLibA with methods to apply all events within ClassLibA, if I want to add an optional feature by including another library/module (ClassLibB), the events for the optional feature must reside in ClassLib

[2020-03-13 06:14] wastaz opened #1438 "[Feature request] "Rollback" or "DiscardChanges" on IDocumentSession"
Yesterday I ended up with a bit of a "weird" issue where my final solution was just...a bit too complex for my taste tbh. What I really would have needed in order to do a less crazy solution would have been a way to discard/rollback all changes in an `IDocumentSession`.

Basically it would be nice to have an `IDocumentStore.DiscardChanges()` (I _think_ `DiscardChanges` is better naming than `Rollb

[2020-03-13 07:29] oskardudycz commented on #1438
@wastaz I think that's doable, we already have such for transaction handling. I'm fine with adding that.

@mysticmind @jeremydmiller @jokokko thoughts?

[2020-03-13 08:58] mysticmind commented on #1438
@oskardudycz yes, it looks like a useful functionality. `IdentityMap` has `ClearChanges` and if we add clear changes to `UnitOfWork` then it is trivial to expose the same in `DocumentSession`

[2020-03-13 09:58] mysticmind commented on #1432
Currently, it only applies it for document store and not event store. Events stored in `mt_events` uses CombGuid for `id`  since the events are contiguous within a stream. But I am not sure how useful CombGuid will be for stream id in `mt_streams` since the nature of it does not need to be contiguous.

Given the above, I feel that the current implementation is fine. That said, `options.DefaultIdSt

[2020-03-13 11:11] jeremydmiller commented on #1438
I think this one should be relatively simple. I'm all in favor.

[2020-03-15 11:31] oskardudycz commented on #1430
@raphaabreu I'm closing the issue because of the inactivity. Feel free to ask further questions, then I'll reopen it.

[2020-03-15 11:31] #1430 closed

[2020-03-16 13:12] mhabibal13 opened #1443 "Using IDcoumentSession as a singleton"
I am instantiating an IDocumentSession object as a singleton, using ASP.NET Core DependencyInjection Provider.
I am also setting in UseMarten lazyStoreInitialization on true and in UseSessions the ServiceLifetime as Singleton.

This doesn't seem to be enough. I have inspected the code and fount out that the Connection object is being disposed and set to null on every commit, since The CommandRunne

[2020-03-17 02:29] VenkateshSrini opened #1444 "SQL server support"
Hi,

This is a more a feature that I ask. Is there a plan for marten to support SQL server?

[2020-03-18 14:33] oskardudycz commented on #1444
@VenkateshSrini I assume that you mean MSSQL server? We made a survey some time ago about adding support for the SQL Server for our users (or other DB engines), but it appeared that most of the users that would like to use Marten don't mind to use the Postgres. Adding new DB Engines is a significant amount of time.

Currently, we don't have enough capacity. For the next release (v4) we'll be more

[2020-03-18 14:50] oskardudycz commented on #1443
@mhabibal13 you should not use `IDocumentSession` as a singleton, it should be scoped or transient. `DocumentStore` should be Singleton.
That comes from the stuff like the timeouts etc. Underneath we're using `NpgsqlConnection` that officially is recommended to use as Transient, and never as a singleton.

[2020-03-18 14:58] mhabibal13 commented on #1443
Yes, I agree on that. Still, I don't get the point of having `UseSessions` with the following override
`IServiceCollection UseSessions(ServiceLifetime sessionLifetime = ServiceLifetime.Scoped, SessionOptions options = null)`. Doesnt that mean, that Session could be instantiated as a singleton.
Still, setting it to Singleton doesn't make it a one.

So I was confused of that behavior.

[2020-03-18 15:04] oskardudycz commented on #1443
I think that you're referring to https://github.com/jokokko/marten.aspnetcore. You should file an issue there. This is not yet official Marten plugin.

It's almost official, as @jokokko is one of the Marten maintainers, but still, it's not yet in the Marten project official Umbrella.

Currently, we don't have any code in Marten directly related to IoC.

I believe that the intention was to not bloc

[2020-03-18 15:14] mhabibal13 commented on #1443
I see. Thanks

[2020-03-18 15:14] #1443 closed

[2020-03-18 19:35] oskardudycz commented on #1443
@mhabibal13 see also my sample of Marten IoC configuration https://github.com/oskardudycz/EventSourcing.NetCore/blob/master/Sample/Tickets/Core/Storage/MartenConfig.cs#L39

[2020-03-19 02:27] VenkateshSrini commented on #1444
Yes the client is almost having big SQL server database established over years. Also getting new data base into their db cluster is night mare for them as they want to move there data to Azure SQL or cosmos.

[2020-03-19 07:59] oskardudycz commented on #1444
Understood. So we hope that we'll add the MSSQL server support at some point, but unfortunately, that won't happen in the nearest future.

[2020-03-20 16:40] oskardudycz commented on #1392
Onboarding completed! https://github.com/dotnet-foundation/projects/issues/47#issuecomment-601756776

[2020-03-20 16:40] #1392 closed

[2020-03-21 09:15] mysticmind commented on #1434
@apereiratl `42804` error from Postgres means `data type mismatch`. For the issue at hand, Postgres does not allow creating foreign key on an array column (i.e. the duplicated field).

I am closing this issue. Please re-open and provide details if you still think it is a valid issue.

[2020-03-21 09:16] #1434 closed

[2020-03-22 13:13] oskardudycz commented on #1433
@cszczotka please see PR https://github.com/JasperFx/marten/pull/1445. I added additional build for PG12. It's running and it's green 😉

[2020-03-22 14:14] mysticmind commented on #1433
Given the above confirmation, I am going ahead and closing this.

[2020-03-22 14:14] #1433 closed

[2020-03-22 14:37] mysticmind commented on #1421
@sensoryoverload Few things to note when you use document hierarchies/inheritance:
- `_.Schema.For<JobPosition>().AddSubClass<ExternalJobPosition>();`, this line tells Marten that these classes have document hierarchies
- All the documents pertaining to the hierarchies gets stored in one table and Marten provides you the ability to query on base class or sub classes. When defining any indexes incl

[2020-03-22 16:15] mysticmind commented on #1432
@jeremydmiller @oskardudycz @jokokko Could you please share your your thoughts/comments?

[2020-03-24 09:36] sensoryoverload commented on #1421
Thanks for the response. In retrospect, I should have known that what I tried would not work.

[2020-03-24 18:58] oskardudycz commented on #1432
@mysticmind @lahma I think that event store should respect the global settings.

Btw. it's weird and really bad that we're using the `Guid.NewGuid` for the streams and events :( I was sure that we're using sequential guids for that... We need to change that asap.

I think that we can include that even before the v4 with the feature flag as we're doing for the `DuplicatedFieldEnumStorage` and chang

[2020-03-25 08:14] #1404 closed

[2020-03-28 14:39] jeremydmiller commented on #1444
@VenkateshSrini Sql Server still lags Postgresql in JSON support, but at least they're moving in the right direction. I think the adoption of sql/json will make a big difference for Marten's ability to support other database engines in the future.

[2020-04-05 03:49] #104 closed

[2020-04-06 11:45] lowds opened #1448 "Unable to execute command line tool to dump script to single output file"
**Issue**
When attempting to use Marten.CommandLine to dump a single database script out to the file system I get the following exception:

Assume the (Windows) directory "c:\temp" already exists, then provide the following command line parameters:
`dump c:\temp\database.sql`

Instead of trying to create a "database.sql" file within "c:\temp" the code seems to create a directory called "database.s

[2020-04-07 08:58] tonykaralis opened #1449 "Disable default tenancy via store options"
In certain business cases all records added to a tenanted table should have a valid non-default tenant id.

It would be beneficial if we could disable the default tenant id that Marten injects if one is not provided via the store options.

When disabling default tenancy, the desired behaviour would be to have an exception thrown and the transaction not committed.

@mysticmind is this sufficient?

[2020-04-07 09:44] mysticmind commented on #1449
@tonykaralis Thank for adding the issue, looks sufficient.

[2020-04-07 09:50] mysticmind commented on #1448
@lowds I will have a look at this issue and revert.

[2020-04-07 10:04] mysticmind commented on #1448
@lowds confirming this to be a bug, will look at providing a fix in the next release. In the interim, either pass just file name like `database.sql` or folder `c:\temp`. Failure happens only when a full path is passed containing both folder and file name fails.

[2020-04-09 12:39] tonykaralis opened #1451 "Allow update/delete of tenanted document from session with no TenantId"
### Use case:

The need to delete a tenanted document from within an "un-tenanted" session, similar to how the call to `.Store(tenantid, object)` works.

### Suggestions
1. Allow the tenant id to be changed/set from with an already created `IDocumentSession`
2. Potential methods as follows:
    * `_session.Update<T>(string tenantId, T object)`
    * `_session.Delete<T>(string tenantId, T object)`

[2020-04-11 13:44] longility opened #1452 "On a new database, auto create does not work as expected when there is a transaction scope"
I believe I simplified the issue. If I have more time, I may be able to create an example if needed to reproduce.

On a new database where there are no martendb generated functions, when my code has a transaction scope, postgres command fails to call the insert function when doing the following:

[code]

My guess is we need to autocreate the functions and maybe tables outside of the transaction sc

[2020-04-12 11:45] Miggleness commented on #1451
Sounds reasonable.

Shall we also add the following to `IDocumentSession`? It does make the API rather noisy

[code]

[2020-04-14 18:53] hairymonkeynuts opened #1453 "CreateOrUpdate wants to control more than default schema?"
We're running into an issue with Marten, when trying to apply table changes to the default schema, it also wants to inspect or change every other schema, some that the code shouldn't have access to. When it tries it generates an Access Denied error against the inaccessible schema. Even if we allow Select against the schema and tables it still errors. We are on 2.7.1 still (upgrading is currently p

[2020-04-15 06:44] abcelena opened #1454 "MartenCommandException when use operator == for DateTime in the Where after SelectMany"
When use operator == to compare DateTime in the Where after SelectMany. Example:
[code]

Exception is throwing:
Marten.MartenCommandException: 'Marten Command Failure:
42P01: missing FROM-clause entry for table "d"'

`"select x from (select jsonb_array_elements(CAST(d.data ->> 'Charges' as jsonb)) as x from mt_doc_chargesview as d where d.tenant_id = :tenantid) as sub1 where d.data @> :arg0"`

The

[2020-04-16 00:58] kerry-perret opened #1455 "Question: `mt_events` Table Design Motivations"
I was looking at the SQL script [here](
https://github.com/JasperFx/marten/blob/0ccc54748849236c49ccb38fa3f1984b4a2f6efe/src/Marten/Schema/SQL/mt_stream.sql) and tried to understand the motivations behind the design of the `mt_events` table:

[code]

Note: I've also been through [that piece of documentation](https://martendb.io/documentation/events/schema/#sec2).

**What is the purpose of the `seq

[2020-04-16 11:29] jeremydmiller commented on #1455
@kerry-perret You might want to phrase this more as suggestions than questions.

"Why the type column does not have an index?" -- I was much more worried about the insert performance at the time that was originally built, but that's probably worth thinking about in v4 because the async daemon (assuming that stays in) queries by type.

"Why seq_id is not defined as bigserial column type?" -- I can'

[2020-04-16 11:36] jeremydmiller commented on #1455
@kerry-perret Okay, nevermind about the bigserial. Wouldn't really have made anything simpler because it was important to return all the new id's to the client in the function that appends events. Auto-incrementing didn't really help IMO, and with the "tombstone" idea we'll try to play in v4, even less so.

You probably shouldn't be trying to understand things by looking at just a database table w

[2020-04-16 12:54] kerry-perret commented on #1455
First off, thanks a lot! That is super duper informative!

---

Blurred lines 😄  (couldn't come off with a proper pun, thought about "quegestions")

In all seriousness, that was purely out of curiosity. I wouldn't dare to suggest anything serious until I manage to grasp every tiny little bit of detail (that may take a while (a long one), though).

---

_Why the `type` column does not have an index

[2020-04-16 12:54] #1455 closed

[2020-04-20 13:18] jeremydmiller commented on #460
Believe it or not we're finally working on this again. This time I want to consider using Common Table Expressions in Postgresql to pull off the fetching

[2020-04-22 00:13] nbarbettini opened #1458 "Alternate syntax for nullable.HasValue doesn't work in LINQ"
This syntax works as documented:

[code]

This should be equivalent, but doesn't work:

[code]

[2020-04-22 20:57] hairymonkeynuts commented on #1453
I'm just trying to understand why it is trying to control a schema that marten is not told to maintain. Anyone know?

[2020-04-29 17:42] oskardudycz commented on #1454
@abcelena That looks like a bug or missing feature. I'll try to have a look on that.

Sidenote: in general doing the `it.StartDate == date` is risky, as the .NET DateTime precision is higher than Postgres (same is for MSSQL).

[2020-04-29 17:45] oskardudycz commented on #1453
@hairymonkeynuts could you provide some reproduce steps? I'm not aware of the impact on the other schemas

[2020-04-29 17:48] oskardudycz commented on #1458
@nbarbettini this currently does not work, as probably it treats that as a struct. Seems like a bug. We'll try to check that.

[2020-04-29 17:53] oskardudycz commented on #1452
@longility sorry for late answer. That sounds weird. Currently I don't know what might be the cause. We'll try to check that up.

[2020-04-30 08:27] jokokko commented on #1453
I have a vague memory of maybe bumping into this problem, but a repro would be nice indeed.

[2020-04-30 17:27] barclayadam opened #1460 "Tenanted documents storing in non-tenant session"
I have a multi-tenanted app that, within our API, has sessions scoped to a particular tenant per request.

In addition, we have background processing that, by its nature, needs to not be tenant specific.

A few things I've come across which I'm either missing or is perhaps an indication of some changes needed in Marten are below. Sorry it's a bit of a mix of changes, thoughts and potential bugs, j

[2020-05-04 07:25] MartinNuuday opened #1461 "[Question] : Marten connection handling"
In the Marten documentation it is stated that a db connection lives for the duration of the session. It is opened at the first call to the database and not closed before the session is disposed.
(Btw.  Marten actual seems to close the connection after a SaveChanges and will reopen it if another DB operation is done after that.)

Lets say you got the following (simplified) code:

        public asy

[2020-05-05 16:22] cool-user opened #1462 "Refactor resistant document hierarchies"
I'd like to store derived types in a way that they can be deserialized even after the class name or namespace was renamed.

Currently the derived type's (full) name is stored in the DB. It could potentially change, leading to failure to deserialize. I was thinking about storing type ID along the entity and implementing custom converters which would pick the right derived type based on the stored t

[2020-05-06 02:32] hairymonkeynuts commented on #1453
thanks for replying @oskardudycz!  Please bear with me... i'm on ops side and cannot view code due to compliance reasons.

We set up the DB schema (under 'public') with Marten and handle changes with it as well. We had a need to use DMS for some replication to S3 and created a schema for it under 'dmsschema'. This DMS schema is locked to only the DMS access role so the code utilizing Marten cannot

[2020-05-07 15:21] tetious opened #1464 "Please add DaemonSettings documentation"
I'm a little mystified about what the properties do.

`LeadingEdgeBuffer` seems to need to be set to 0 if I want awaiting a Rebuild(or RebuildAll) to be deterministic and actually complete the rebuild before returning. No idea what it actually means or why I'd set it to something else, though. :)

`ExceptionHandling` seems to do nothing regardless of what I set it to. I'm sure I just don't underst

[2020-05-08 11:21] oskardudycz commented on #1464
@tetious I'll take that on me. Valid request 👍

[2020-05-11 06:00] wastaz opened #1465 "Occasionally getting MartenCommandException instead of EventStreamUnexpectedMaxEventIdException"
Sometimes, instead of an `Marten.Services.EventStreamUnexpectedMaxEventIdException` I get the following exception thrown instead.

From what I can see, this is still an optimistic concurrency exception in the event store, and it "cleans up" on a retry, but when you cant depend on the correct exception getting thrown....it makes exception handling a bit messy.

This has been an issue that I have se

[2020-05-11 07:34] oskardudycz commented on #1465
@wastaz I think that you're hitting [the last guard](https://media.giphy.com/media/njYrp176NQsHS/giphy.gif) - so the unique constraint that's blocking the safe when the code logic won't block it (eg. because of the parallel processing).
I think that we can map this exception as you suggested.

[2020-05-11 13:05] jeremydmiller opened #1466 "Import Marten.AspNetCore into the official repository"
With @jokokko 's sign off, let's import the [Marten.AspNetCore](https://github.com/jokokko/marten.aspnetcore) library into the official mothership repository and add documentation for that here.

## Tasks

- [ ] Import the code
- [ ] Add documentation
- [ ] Target `IHostBuilder` in .Net Core 3.* apps
- [ ] Target `IWebHostBuilder` in all targets (PITA to switch between the two things, but what can

[2020-05-11 13:22] jeremydmiller opened #1467 "Extract Generic Database Helpers to its own Library"
The core of the code that we use to do database migrations and delta detection doesn't change very often, and the tests for that code are *slow*. Let's pull all that code into a new helper library (I'm nominating a new library or two in the Baseline repository).

When we do this, let's try to make as much as the coupling as possible to `DbConnection` instead of `NpgsqlConnection` as a preparation

[2020-05-11 13:26] jeremydmiller opened #1468 "Replace the Dynamic Code Generation for v4"
If you look at the [pull request for Document Metadata](https://github.com/JasperFx/marten/pull/1364) and the code in `Marten.Schema.Arguments` you can see that our dynamic `Expression` to `Lambda` compilation code is getting extremely messy, hard to reason with, and difficult to extend.

**Idea**: Introduce a dependency on [LamarCodeGeneration and LamarCompiler](https://jasperfx.github.io/lamar/d

[2020-05-11 14:17] jeremydmiller opened #1469 "Optimize ManagedConnection"
All usages of the `Execute()` methods that take in lambdas need to be eliminated. The Lambda / closure usage results in more object allocations than is strictly necessary.

We probably want to add a lot more overrides for the things you can do with a command.

If the RequestCount and the retry stuff is important, we need to add a lot more overloads and run more usage through ManagedConnection.

[2020-05-11 14:29] jeremydmiller opened #1470 "Internal/public accessor hunt"
As part of v4, ruthlessly go over the codebase and mark any type that shouldn't be exposed to clients as `internal`. Use the `[InternalsVisibleTo]` trick to sidestep that as a problem for the test suites.

[2020-05-11 14:35] jeremydmiller opened #1471 "Standardize Marten Exceptions"
From the v4 planning doc:

- [x] Gather all exceptions into the `Marten.Exceptions` namespace
- [x] Standardize the constructors as appropriate
- [x] Use consistent exceptions for the event vs document optimistic concurrency
- [x] Unified the Exceptions transformations (see more in https://github.com/JasperFx/marten/pull/1500)

[2020-05-11 14:37] jeremydmiller opened #1472 "Use Oakton.AspNetCore for Marten.CommandLine"
The `Marten.CommandLine` package already uses Oakton for command line parsing. For easier integration in .Net Core applications, we could shift that to using the [Oakton.AspNetCore](https://jasperfx.github.io/oakton/documentation/aspnetcore/) package so the command line support can be added to any ASP.net Core 2.* or .Net Core 3.* project by installing the Nuget. This might simplify the usage beca

[2020-05-11 15:04] jeremydmiller commented on #1388
From ongoing conversations, this will be enforced in Marten v4

[2020-05-11 15:36] RuymanCastello opened #1473 "Using the Linq Where clause throws a Not Supported exception"
When using the **Where** clause like :

`session.Query<MyClass>().Where(x => x.CustomObject == filter.customObject);`

The following exception is thrown:

[code]

MyClass is defined as:
[code]

and CustomObject implements `ToString()` and it's stored in the database as a string correctly.

How can we specify DataTypeName or map it?

[2020-05-11 22:21] pwhe23 commented on #1468
In the little bit I've played around with Lamar I was able to get it to work with internals using the InternalsVisibleTo attribute. I don't think this would help with privates though.

[code]

[2020-05-13 09:39] smaktacular opened #1474 "(Question) store.Schema.ApplyAllConfiguredChangesToDatabase(); does not apply DDLTemplates"
Hi,

We put a DDL template in the folder Templates in our project folder and and it is being read when we use
 `_.DdlRules.ReadTemplates("Templates");`
and included in the ddl generated via
`var ddl = _store.Schema.ToDDL(true);`

We then tried to apply the DDL template and assumed that the template would be used when calling
`_store.Schema.ApplyAllConfiguredChangesToDatabase();`

But this is not h

[2020-05-13 19:33] oskardudycz commented on #1464
@tetious I started to add samples for AsyncDaemon in my repository. I hope to present also other settings there https://github.com/oskardudycz/EventSourcing.NetCore/pull/24

[2020-05-18 09:31] trullock opened #1475 "Newtonsoft.Json PreserveReferencesHandling == Objects breaks many things"
[code]

If you do this, then whereever the serialiser is used to create chunks of json, like in `DeleteWhere` you get an `$id` property on the json which breaks the `@>` operators.

It would be nice to fix this.

We should at least document this gotcha in the docs about customising serialization to save future souls

[2020-05-18 10:03] trullock commented on #1475
So, currently you can easily do the above ^ customisation and break Marten. Here is a proposal that so far seems ok:

[code]

Add this to JsonNetSerializer and encourage use of this property rather than via `Customize`. I cant promise this fixes all errors, but i haven't found any further errors/side effects yet and it can be documented as beta and is at least better than the current default posit

[2020-05-19 17:59] oskardudycz commented on #1431
@malclear I apologize for the late answer. I added PR with tests trying to reproduce your case, however, it seems that they're passing and I cannot reproduce the described issue.

@malclear could you verify if I'm doing the same case like yours?

Could you also provide your document store config and your document structure? Do you have some overloads of the GetHashCode or Equals?

[2020-05-19 20:33] oskardudycz commented on #1389
@Gikerl I apologize for the late feedback. It should be fixed with https://github.com/JasperFx/marten/pull/1479 and available in v3.12

[2020-05-19 21:15] #1458 closed

[2020-05-21 12:07] jeremydmiller commented on #1432
@mysticmind I think this was just an oversight on my part originally. I'll take the itty, bitty one here.

[2020-05-22 06:52] oskardudycz commented on #1473
@RuymanCastello is `CustomObject` some specific type? We have the support for the nested objects so it should work. Is the `ToString()` specific? Could you provide more concrete sample?

[2020-05-22 06:56] oskardudycz commented on #1462
@cool-user Marten needs to know the original type, so without the migration, it won't know about the potential change of type. You could implement and add a custom JSON.NET converter that will be migrating the objects and connecting this converter to JSON serializer.

We can try to provide some sample for that.

For the more sophisticated built-in mechanism, I don't think that it can happen sooner

[2020-05-22 10:54] RuymanCastello commented on #1473
Yes, the CustomObject could be MongoDb.ObjectId or a custom Id which has implemented the `ToString()` method.

Let's says we have this object:
[code]

That object is stored as `string` (so that works fine):

[code]

But it throws that exception when we try to use that property using Linq as :

`session.Query<MyClass>().Where(x => x.CustomObject == filter.customObject);`

The error message says: `y

[2020-05-22 10:59] oskardudycz commented on #1473
Ok, so that won't work. Linq treats this object as a basic type. As this type is not mapped in Postgres and Npgsql don't know such type. You'd need to register that in the NPGSQL - see more in https://www.npgsql.org/doc/types/enums_and_composites.html.

The other option is to expose the `Id` field and perform the query as:

session.Query<MyClass>().Where(x => x.CustomObject.iId == filter.customObj

[2020-05-22 18:36] oskardudycz commented on #1302
@sturatcliffe @ericgreenmix please have a look on https://github.com/JasperFx/marten/pull/1483

It seems that the issue was fixed in one of the previous releases. I copied the repro from the linked project https://github.com/sturatcliffe/MartenProjectViewIssue.

Could you confirm that it works fine now?

[2020-05-22 20:14] jeremydmiller commented on #1431
Looking at the code, I'm not seeing how that would happen, but I'd also guess we need more operations of some sort in there to bring it out.

[2020-05-23 07:25] trullock opened #1484 "Allow passing `IEnumerable<T>` to `IDocumentSession.Store()`"
This applies to the both the untennanted and tennanted methods.

Currently they only accept `params T[]`, there should be versions which take `IEnumerable<T>`

[2020-05-24 18:50] #1394 closed

[2020-05-24 20:13] jeremydmiller opened #1487 "IMethodCallParser Optimization"
The way that the Linq parsing determines which `IMethodCallParser` to use is a little bit slow because it's a table scan every time. I vote to use a new interface like this:

[code]

The general idea is to have the `IMethodCallParser` matching memoized a bit by method so you don't waste time going through all the `Matches()` methods.

**If we use C# 8, we might be able to use default interface imp

[2020-05-25 13:54] jeremydmiller commented on #1487
Nevermind, I can pull this off without any kind of breaking API change

[2020-05-25 19:12] #1432 closed

[2020-05-25 19:23] jeremydmiller commented on #1284
Is there any reason why we wouldn't use the Npgsql logging? https://www.npgsql.org/doc/logging.html.

[2020-05-25 19:25] jeremydmiller commented on #1262
I'm going to unilaterally say this is a breaking change because of the function change, and kick it to v4. The good news though is the sooner we clear 3.12, the sooner we start on v4.

[2020-05-25 19:27] lahma commented on #1432
Thank you 👍🏻

[2020-05-25 19:28] jeremydmiller opened #1488 "Re-evaluate StoreOptions to group related options"
See https://github.com/JasperFx/marten/pull/1450

[2020-05-25 19:29] #1449 closed

[2020-05-25 19:50] jeremydmiller commented on #1448
@mysticmind I'm into things today, I can deal with this real quick

[2020-05-25 19:58] jeremydmiller commented on #1284
Nevermind, I get it. This is for end to end open telemetry style tracing.

@oskardudycz & I talked, and we'd like to push this back to v4, where we'll be doing the document and event metadata for the same kind of tracking.

[2020-05-25 20:00] oskardudycz commented on #1284
I'm adding links for the reference:
- https://azure.microsoft.com/en-au/blog/monitor-your-azure-open-source-databases-postgresql-and-mysql-using-azure-monitor/
- https://jimmybogard.com/building-end-to-end-diagnostics-and-tracing-a-primer-trace-context/

[2020-05-25 20:11] jeremydmiller commented on #1389
Fixed by #1479

[2020-05-25 20:11] #1389 closed

[2020-05-25 20:14] jeremydmiller commented on #1474
Just out of curiosity, what are you embedding into the DDL templates? Something around permissions?

And @oskardudycz @mysticmind, I'll deal with this soon.

[2020-05-25 20:19] jeremydmiller commented on #1473
@oskardudycz You'd be able to deal with this by extending new `IField` structure we're putting into v4. For right now, I'd say the best we could do is a better exception message.

[2020-05-25 20:20] jeremydmiller commented on #1466
I think now we'll just stick the extension methods on `ServiceCollection` into the main Marten lib

[2020-05-25 20:28] jeremydmiller commented on #1453
@hairymonkeynuts The queries that Marten uses against the metadata views in Postgresql are unfortunately impacted by the postgresql role permissions, and that can throw Marten off, but I'd expect that to err on the side of missing things.

I think you need to reconcile the actual Marten code configuration against your database setup. It's possible the schema name isn't configured the way you're ex

[2020-05-25 20:28] jeremydmiller commented on #1453
I'm taking the "bug" label off and marking this as a question.

[2020-05-25 20:30] jeremydmiller commented on #1413
Yeah, this one's going to have to go in v4, but at least that starts soon.

[2020-05-26 08:23] RuymanCastello commented on #1473
@oskardudycz Do you mean I can map the CLR type as following:

` NpgsqlConnection.GlobalTypeMapper.MapComposite<CustomObject>("varchar"); `

I guess I can map it as `varchar`, is that correct?

[2020-05-26 10:51] jeremydmiller commented on #1473
@RuymanCastello I doubt that will work, depending on how Newtonsoft serializes that custom object. I'd try what @oskardudycz was saying about querying by the Id property of your custom type.

[2020-05-26 11:05] oskardudycz commented on #1473
@RuymanCastello, in theory, it's possible, however when I tried few times to define my own custom CLR type on PG then I've never succeeded. Still, this is more issue for Npgsql than Marten.

I think that it would be easier to just use `.Id`. I understand that's a tradeoff for encapsulation, but that's the best concrete recommendation that I could give right now.

[2020-05-26 11:06] jeremydmiller commented on #1473
It's not just an issue for Npgsql, it's how the JSON is stored in the DB too

[2020-05-26 11:07] oskardudycz commented on #1473
@jeremydmiller right, it's a mixed issue.

[2020-05-26 12:08] jeremydmiller commented on #1487
This code from `LinqParsing` isn't going to be suitable out of the box, but it's still helpful:

[code]

[2020-05-26 12:41] jeremydmiller commented on #1487
I've got this finished in the `linq-new` branch. It's leaving the `IMethodCallParser` alone, but memoizing the matching so it doesn't have to run through all the parser.Matches() checks

[2020-05-26 15:37] tonykaralis commented on #1460
I have pretty much the same use cases and agree this is an area that could do with some improvement.

On your section about Updates, we suffer from the same problem when performing deletes as well. Would you mind sharing the extension method used to help manage the updates?

[2020-05-26 15:38] tonykaralis commented on #1460
Linking in #1451 as seems relevant

[2020-05-26 16:26] jokokko commented on #1464
This should be made a blocker for 4.0 right? No excuse for traversing into GH issues or unit tests to understand or discover the behavior?

[2020-05-26 17:11] oskardudycz commented on #1464
I planned to add it now, but as the Async Daemon will change significantly in v4 then after consultation we decided to add it in the v4. If I have enough time I'll try to squeeze it earlier.

[2020-05-26 17:51] barclayadam commented on #1460
@tonykaralis I changed the implementation for updates to be a session listener, which works fine for update, insert and upsert operations. You can see that at https://gist.github.com/barclayadam/f4677e027588b7c9da91a73052281cc6

I've not actually come across the deletion issue and having a very quick glance I'm not sure the best way to solve this is, as a delete appears to not use the same base cl

[2020-05-26 18:42] tonykaralis commented on #1460
Thanks @barclayadam I will take a look but I think you are right that wouldn't quite work for deletes.

[2020-05-28 06:06] brain-5 opened #1491 "In TransactionScope second call SaveChangesAsync() is hanging."
Hello. I have TransactionScope:
[code]
And two IDocumentStore seessions in this TransactionScope:
`var session = store.OpenSession(SessionOptions.ForCurrentTransaction());`
Connection string for IDocumentStore using with "Enlist=false;".
Second session hangs on call SaveChangesAsync():

[code]
Why is hang and how I will can to avoid hang?
Can you help me, please?

Marten 3.11.0, PostgreSQL 12, Net

[2020-05-28 12:59] trullock opened #1492 "`.AddSubclass<T>()` does not behave the same as `.AddSubclassHierarchies()`"
Calling `.AddSubclass<T>()` multiple times for a document does not behave the same as `.AddSublassHierarchy(T1, T2)`.

Using the former you are not able to perform actions (query/delete/load etc) on mid-hierarchy types.

e.g. if you have `BaseType -> MidType -> LeafType` you cannot query against `MidType`.

The issue is because you end up with a `SubClassMapping` without the necessary aliases for

[2020-05-29 13:18] ulaskalok opened #1493 "PostgresException: 53300: sorry, too many clients"
**I didn't do anything special. But I get this error after a few queries.**
` at Npgsql.NpgsqlConnector.<>c__DisplayClass161_0.<<ReadMessage>g__ReadMessageLong|0>d.MoveNext() in C:\\projects\\npgsql\\src\\Npgsql\\NpgsqlConnector.cs:line 1003\r\n--- End of stack trace from previous location where exception was thrown ---\r\n   at Npgsql.NpgsqlConnector.<>c__DisplayClass161_0.<<ReadMessage>g__ReadMe

[2020-05-29 19:35] ulaskalok commented on #1493
I use a genericrepository Each query opens a new session in postgresql.So I get this error after a while.

[2020-05-31 21:03] jeremydmiller commented on #1493
@ulaskalok Are you disposing the opened sessions?

[2020-05-31 21:05] jeremydmiller commented on #1284
Actually, this should be perfectly possible with a custom implementation of `IMartenSessionLogger`. You'd just embed the correlation into your own logger.  This might be more of a documentation issue than a "new feature work" issue from that point.

[2020-06-01 09:18] Soren-Knudsen opened #1494 "Add events in the past or in the future"
It is posslbe via MartenDB to add events either in the past or in the future?

**Scenario A**: A person "Peter" will change name to "John" at `t_future`.
**Scenario B**: A shop owner finds out that that the expiration date on a product is wrong and wants to correct the mistake back in time from `t_past`.

`t_past` = 01/06/1960
`t_now` = 01/06/2020
`t_future` = 01/06/2125

[2020-06-01 09:27] jokokko commented on #1494
Not directly, though Copy & Transform might help you out here https://martendb.io/documentation/scenarios/copyandtransformstream/ (though currently it doesn't currently address event metadata, namely if one wanted to preserve the timestamp field value).

[2020-06-01 11:49] Soren-Knudsen commented on #1494
Thanks for your quick reply. That could work! Is it possible to chain the streams? When you for example load an aggregate ?

[2020-06-01 12:21] jokokko commented on #1494
You'd be looking at projections across streams: https://martendb.io/documentation/events/projections/custom/ You could certainly join the streams in a more "manual fashion" (load multiple streams, join evenst & push them to a new stream) to create a new event stream from 2 or more streams... Just requires thinking a bit about event ordering and whether running on a live system or not.

[2020-06-01 14:24] jokokko commented on #1493
@ulaskalok "after a few queries" is certainly not normal, unless otherwise odd PG setup or overall heavy traffic. As suggested above, see how you're managing your connections. If needed, take a mem dump and inspect `NpgsqlConnection` instances.

If needed, make use of `pg_stat_activity` or ask your DBA to do so (https://www.postgresql.org/docs/current/monitoring-stats.html#PG-STAT-ACTIVITY-VIEW).

[2020-06-02 13:50] dapalmi opened #1495 "Initial Data: Null Reference Exception with Query"
I am trying to seed initial data using [this feature](https://martendb.io/documentation/documents/basics/initial_data/).
But I only want to seed data if certain criteria are fulfilled, like if the respective table is empty.
I am trying to check those criteria in the `Populate` method of my `InitialData` class:
[code]

But the following exception is thrown:

The cause is that the `QueryHandlerFacto

[2020-06-02 16:57] #1495 closed

[2020-06-03 08:35] oskardudycz commented on #1302
@sturatcliffe @ericgreenmix I managed to reproduce that. Fix will be available in `3.12.0`

[2020-06-03 18:22] oskardudycz commented on #1431
@malclear I'm closing for now with #1478. If you're still having the issue please provide additional reproduce steps or send PR with the updated fail scenario that I added in #1478.

[2020-06-03 18:22] #1431 closed

[2020-06-05 18:10] oskardudycz commented on #1470
To clean up:

1. Remove the [AllProjectionsFor](https://github.com/JasperFx/marten/pull/1483/files#diff-ecf0d78902b9f2ac9ba5f43a409fa420R168) and [AllForView](https://github.com/JasperFx/marten/pull/1483/files#diff-f0d3ebe5f409ea63cf9cc1b18338b489R94) methods added to keep backward compatibility. Make `ProjectionsFor` and `ForView` methods return properly `IEnumerable`. Consider those and other re

[2020-06-06 19:47] #1484 closed

[2020-06-08 01:36] jeremydmiller commented on #1474
@smaktacular Thanks for your response. I got into the code this evening for this (finally), and it's the exact same code to write the patch SQL that you'd get in any case. AFAICT, the DDL templates are applied to the ApplyAllConfiguredChangesToDatabase() call. I think we need a little more information.

Are the DDL templates working in other scenarios? Could this be a relative v. absolute path iss

[2020-06-08 01:42] #1448 closed

[2020-06-08 10:44] mysticmind commented on #1415
I have setup few things for next steps:
- I have setup an account (Families Organization $1/month) in Bitwarden to manage shared passwords etc. Invite sent to the core maintainers
- Created an account in purelymail.com for martendb.io email addresses. this is $10/year. Admin account access is shared in Bitwarden. I will work with @jokokko to setup the DNS entries and then create the email accounts

[2020-06-08 13:55] jeremydmiller commented on #1444
Closing because there's no real resolution any time soon.

[2020-06-08 13:55] #1444 closed

[2020-06-08 13:56] jeremydmiller commented on #1284
I've added a sample in the docs for the new IServiceCollection integration on how to do this yourself. I'll be closing this today

[2020-06-08 15:55] #1284 closed

[2020-06-08 19:56] jeremydmiller commented on #1466
This was done through other pull requests to v3.12

[2020-06-08 19:56] #1466 closed

[2020-06-08 19:57] jeremydmiller commented on #1201
## Refactoring ideas for later:

- [ ] Clean up code generation for all the document centric `IStorageOperation` classes

[2020-06-10 18:09] jeremydmiller opened #1503 "Encapsulate all character or array pooling within ISerializer classes"
All the character and array pooling we put in for Marten v2.0 is inconsistently used throughout the codebase, with some significant places where it's missed.

[2020-06-11 16:15] mysticmind commented on #1415
@jokokko I had provided the DNS entries as a DM in gitter, did you get a change to check it? Alternatively, if you login into purelymail.com using the credentials in Bitwarden and goto https://purelymail.com/manage/domains, you can access the same details.

[2020-06-12 05:28] jokokko commented on #1415
@mysticmind got your DM. So currently martendb.io has NS records for https://ns1.com/ so the entries need to be done there. Btw. not seeing any credentials in Bitwarden. Claims I belong to no organizations, yet invitation says that invitation already accepted. If you please re-invite me. If that doesnt work, then need I need to contact their support...

[2020-06-12 06:00] mysticmind commented on #1415
@jokokko Just figured out that, I have to confirm the accepted invite. Please check now and confirm.

[2020-06-12 06:11] mysticmind commented on #1415
![image](https://user-images.githubusercontent.com/2864208/84470711-8936bf00-aca1-11ea-8196-ca1f494082cb.png)

You can see the list users in the org.

[2020-06-12 06:28] jokokko commented on #1415
@mysticmind yep, working now, thanks! And then the next question: who has the NS1 creds and can they be shared? Since we need to do the MX & other records there.

[2020-06-15 10:07] smaktacular commented on #1474
@jeremydmiller I feel like I'm missing something really obvious here 😁.
I added a repro project under [Repro](https://github.com/smaktacular/marten_template_repro).

The issue you are refering to, was it this one? [#1343](https://github.com/JasperFx/marten/issues/1343) ?

[2020-06-15 14:56] #1472 closed

[2020-06-15 14:56] #744 closed

[2020-06-15 14:56] #1243 closed

[2020-06-15 14:56] #1487 closed

[2020-06-15 15:55] TobiasSchaffner opened #1507 "Connection is disposed on SafeChanges(Async)"
We would like to manage the Npgsql connection by ourselves and we therefore used the possibility to inject a connection to the SessionOptions.

This approach is working fine as long as we are only reading. But after calling SaveChanges or SaveChangesAsync the session is not usable anymore.

It looks like the session disposes the connection and sets it to Null on commits and rollbacks.

I would exp

[2020-06-16 08:53] Xavina opened #1509 "Throttling in the EventStore"
Hi!
Probably this is not the best place to ask this, but I'm sure that you can point me to the right direction.

It is about throttling.

How do we prevent the EventStore to be 'abused', let's say a process starts to send an event every second, exactly the sameone.

Do we want to store as it is?
Or do we want to prevent duplications? And how can we prevent that?

Which will be the best approach to

[2020-06-16 10:00] jokokko commented on #1509
Hello,

I may have trouble understanding your request, but some thoughts: Why is your event producer producing events with equal identity? Or are you talking more about "structural equality", whereby an instance of an event will have fields with exactly the same values as some other event already stored in the stream? Nevertheless, if you want some kind of "throttling", could you buffer & filter t

[2020-06-16 10:43] Xavina commented on #1509
@jokokko, thanks a lot for that.

IN our domain, we are indeed producing events with same identity (it is a kind of long running saga), and indeed in some cases the 'payload' or event data can be the same.

Thanks for the samples!

[2020-06-16 10:43] #1509 closed

[2020-06-16 11:51] tonykaralis commented on #1475
@trullock  Out of curiosity when does this break exactly? Is there a specific type of query thats failing?

You mentioned it breaking the `@> operators.`. Where are those used?

We have the following configuration and haven't noticed any breakage.

[code]

[2020-06-16 11:56] tonykaralis commented on #1451
@oskardudycz @jeremydmiller Currently this is a pain point for us, the work around is to create a new session just to do the delete. Do you think this is something that could be addressed as part of 4.0? I am happy to help with a PR, but recall this not being as straight forward as it seems.

I have seen @Miggleness comment on adding various methods and i agree it does add a lot of noise to the AP

[2020-06-17 12:35] barclayadam commented on #1284
@jeremydmiller I've just noticed this closed as part of the release 3.12.

Wanted to add that, if integration with an APM solution to track the _time_ spent on operations in Marten is the goal then I'm not sure `IMartenSessionLogger` suffices? That allows recording of what just happened, but no timing available.

Of course, you can get individual command stats from npgsql itself, but the higher-le

[2020-06-17 14:42] jeremydmiller opened #1510 "Optimize ManagedConnection"
This is just about eliminating some object allocations for performance.

- [ ] Eliminate all methods that accept a nested closure to modify a command
- [ ] Watch the Polly retry methods to avoid passing in closed variables to the lambdas being executed
- [ ] Let's also streamline it so it's dumber so that it's only data execution. Execute() returns a DbDataReader, and not a T.

[2020-06-18 07:50] trullock commented on #1475
`DeleteWhere` is one case, I expect - although havent tested - `Patch` may also suffer from this

[2020-06-19 07:27] mysticmind commented on #1415
DNS entries added and we have setup email accounts for each of the maintainers and also have a generic email as `support@`. I will share the details as DM in gitter

[2020-06-19 07:39] mysticmind commented on #1415
I am also planning to setup "Basecamp Personal" for internal discussions/communication around further commercial/sustainability aspects. Please let me know your thoughts.

@jeremydmiller @oskardudycz  @jokokko  Also let me know which email account i.e. personal or the martendb.io email address for the Basecamp account so that it is easier on you end.

[2020-06-19 17:32] mysticmind commented on #1415
We have created the email accounts for the maintainers.

[2020-06-19 17:32] #1415 closed

[2020-06-23 10:45] jeremydmiller commented on #1468
@pwhe23 Thanks for the reminder. We'll do the same here.

[2020-06-23 10:51] jeremydmiller commented on #1468
## Switchover tasks

- [ ] New storage-checking version of `IPersistenceGraph`
- [ ] Integrate `IPersistenceGraph` into `StoreOptions`
- [ ] Switch to the new generated bulk updaters
- [ ] Test bulk insert with hierarchies
- [ ] `PersistenceGraph` can return a storage object for a subclass

[2020-06-24 12:49] tetious opened #1511 "Deletes in a session do not remove documents added in that session"
When a single session/unit of work contains an upsert and delete, the delete seems to fire before the upsert, even if the delete was added after. The problem with this arises when the delete should be deleting the thing that was just upserted, which is a little odd, but comes up sometimes with projection rebuilds.

Given the following:
![image](https://user-images.githubusercontent.com/55581/85558

[2020-06-24 19:48] #1507 closed

[2020-06-26 08:48] ptmclean opened #1512 "Compiled queries don't evaluate conditions that depend on parameters"
I was hoping to use a single compiled query for filtering, paging and sorting of a set of aggregate models. In this scenario some of the parameters to the query would be nullable as they are optional. In this scenario the generated sql for the compiled query evaluates based on the first values used with the query.

For example if I have the following query to search for quests, optionally filtered

[2020-06-26 17:06] AndrewInScotland opened #1513 "How to inspect all events using the Async Daemon?"
I'm trying to implement a custom async projection that will allow me to inspect every event that's saved to Marten.
So I created events like the following, with each event implementing a common interface:

    public interface IEventSourceEvent
    {
    }

    public class CustomerCreated : IEventSourceEvent
    {
        public Guid Id { get; set; }
        public string Name { get; set; }
    }

[2020-06-27 17:04] serefarikan opened #1514 "Enlisting in existing transaction scope fails"
I noticed a behaviour that I cannot explain. If the first ever use of a session takes place under a `TransactionScope` , then the operation fails with a  `55000: prepared transactions are disabled` exception.

Integration tests pass because text fixture accesses the document store prior to use of `TransactionScope `

I am not sure if this is a bug or me failing to see something fundamental in the

[2020-06-28 10:53] serefarikan commented on #1514
I spent quite a lot of time and learned a bit about how things work in Marten (just a bit though...)
As far as I can see, the issue stems from a connection that is created and never disconnected as long as the application is running.
I can see that first ever access to `DocumentStore` creates a connection which stays around until the application exists. This connection never goes away. If the firs

[2020-06-28 11:27] serefarikan commented on #1514
It is the connection opened by the call to `generateOrUpdateFeature` in `Tenant`, called as a result of Marten making sure that storage exists for a document type (`Tenant.EnsureStorageExists(..)`).

I'd say this behaviour is by design and I should watch for this gotcha. Closing this issue.

[2020-06-28 11:27] #1514 closed

[2020-06-29 15:15] jeremydmiller commented on #1512
"I can imagine why this might be hard to do" -- I can. Relinq reduces the expression `!Hero.HasValue` into the boolean value so the compiled query planner doesn't even know that the `Hero` property is used within the first part of the Where clause.

You're going to have to leave this open as a defect for now. I don't have any ideas for making this work without diving into Relinq itself.

[2020-06-30 20:15] nikodemrafalski commented on #1513
Hi, you  have to pass concrete events types - the same that you register in your `DocumentStore` configuration,
I would suggest you just scan your assemblies for non abstract implementations of your marker interface and use it in `Consumes` property implementation.

[2020-06-30 20:18] nikodemrafalski commented on #1513
Additionally, as far as I remember, when you update `Consumes` collection and you want to make daemon start from scratch you must tell him that explicitly - to be honest I just mess with `mt_event_progression` table manually (reset seqId) and restart the daemon ;)

[2020-07-01 19:34] jeremydmiller opened #1515 "Memoize the document type dependencies for faster unit of work ordering"
This one might be non-trivial. Might also think about just having the topological ordering done ahead of time. Today it's all live in the new `UnitOfWork`.

[2020-07-03 20:09] jeremydmiller opened #1516 "Proposal: Eliminate magic insert or upsert tracking on Id"
In current Marten, when you call DocumentSession.Store(document), it checks for the existence of an assigned identity, and if there is one, assumes in some cases that a document is being inserted rather than an "upsert".

I wrote this feature at some point from a git blame, and I vaguely remember thinking it was a mild improvement to efficiency, but it's magic.

Would anybody mind if we eliminated

[2020-07-03 20:13] jeremydmiller opened #1517 "Proposal for v4: Move the access for the DocumentMetadata to the Session level"
It'd make the mechanics a lot easier if we could move these methods that are today on `ITenant` to `IQuerySession`:

[code]

I'm not sure how commonly used these methods are outside the Marten testing suite, but the new v4 internals **really** want those method on `IQuerySession`. It's a breaking change, but it's the time we can do that and I think this is very minor.

[2020-07-04 18:30] jeremydmiller commented on #1517
Actually, I'm going to play benevolent dictator here and just make it so. The current location isn't even remotely discoverable, and there's a helluva lot of Law of Demeter violations going on in the test code to go find those methods.

[2020-07-05 17:37] oskardudycz commented on #1517
I'm not sure about the origins of why it was put inside the Tennant, but this change looks good to me. Will it then reuse an existing connection or still be opening the new one?

Btw. regarding the Metadata, do you plan to do more work on that? What's the plan?

[2020-07-05 17:41] jeremydmiller commented on #1517
@oskardudycz Sorry, I got impatient and just did it in the v4 branch. I'm happy to put the method back on ITenant, but it would quietly create a QuerySession.

Getting back to a green build early this week is priority #1 to finish off the dynamic code generation and Linq overhaul. After that, the document metadata improvements should be a lot easier.

[2020-07-05 17:44] oskardudycz commented on #1516
I'm fine with changing that for the Store method, if it won't decrease performance significantly.
What about Insert method? Currently, it's using Store with identity map internally? Will it also do always upserts? That might be conceptual conflict with what user expects to happen.

[2020-07-07 16:25] mysticmind commented on #1516
@jeremydmiller I ran through the current code and I am fine with removing that behavior. With the new proposed change, will it always be an upsert immaterial of assigned or not? Note that the storage store method still uses the identity map.

If the above changes are going to result in just upsert always then I would propose to rename the method also as `Upsert` so that it does not result in confu

[2020-07-07 17:07] jeremydmiller commented on #1516
Correct, if you use the `Store()` method, it's an upsert no matter what with this proposal.

As for renaming `Store()` to `Upsert()` or `InsertOrUpdate()` (?), do it now I suppose. I'd leave `Store()` in place and make that `[Obsolete]`.

The `Store()` name was ripped off from Raven Db, and didn't really matter before we had separate `Insert()` or `Update` functions.

[2020-07-07 17:29] oskardudycz commented on #1516
@jeremydmiller @mysticmind I'd personally prefer to keep `Insert` and `Update` method. I can imagine cases where user would like to get an explicit failure when record does not exist. Especially for the concurrency cases, it might be dangerous to just do upsert.
If we don't want to use identity then maybe we could provide a parameter to upsert function with expected behaviour (`Store`, `InserOnly`

[2020-07-07 17:37] jeremydmiller commented on #1516
Nobody is proposing eliminating `Insert` and `Update`, just renaming the `Store()` to something that makes clear it's an `Upsert`, right? You already have separate, distinct methods for whether or not it's an insert, update, or upsert. There's no need to add that extra parameter.

I'd rather leave the signatures alone, but I'm willing to entertain changing Store() to InsertOrUpdate() or CreateOrUp

[2020-07-07 17:47] oskardudycz commented on #1516
If that change won't change the Insert logic then I’m fine (I was asking as it uses Store underneath).

Regarding the naming, I think that users are familiar with our naming. I understand that it’s not ideal as it’s not telling precisely what’s doing but that would require users to do a lot of changes. Maybe a better option would be adding an extension method as syntactic sugar?

[2020-07-07 17:53] jeremydmiller commented on #1516
Insert() is not the same functionality as Store() and does not use Store() at all. Store() had some magic logic that would opt to actually use the Insert() logic instead of the normal Store() if there was no prior identity. That very last part is all I want to get rid of for v4.

[2020-07-14 09:58] nikodemrafalski opened #1519 "Duplicated field related generated sql, doesn't respect casing."
Hi, probably a bug in Marten (3.12)

[code]

[code]

When marten generates migration patch to populate duplicated  `other_id` it references to `OtherId` as `data ->> 'OtherId'` instead of `data -->> 'otherId'`.
At first id did not have duplicated column it is a migration to existing data.
 same patch like
[code]
also generates SQL like that ```;update mt_doc_something as d set other_id= CAST(data

[2020-07-15 15:01] mysticmind commented on #1519
Fixed via #1520

[2020-07-15 15:01] #1519 closed

[2020-07-16 16:57] mysticmind opened #1522 "Proposal for v4: Expose tenant meta data in DocumentMetadata"
I propose to expose the following meta data pertaining to multi-tenancy:
- `IsTenanted` : If a document is tenanted, this value will be true
- `TenantId` : if tenanted, this will contain the tenant id otherwise empty

If you look at https://github.com/JasperFx/marten/issues/1460 and https://github.com/JasperFx/marten/issues/1451, there is a request for an option to update/delete tenanted documents

[2020-07-17 10:41] Thumann opened #1524 "Exception on index creation when using uppercase characters in schema name"
Hi,
This is sort of similar to the issue listed in https://github.com/JasperFx/marten/issues/799

Any uppercase characters in schema name will cause the DDL Change to fail when indexes are defined.

Example:
With DatabaseSchemaName set to 'Midtvest' (uppercase M)
With AutoCreateSchemaObjects set to CreateOrUpdate and the following index being defined.
x.Schema.For<ElvaUser>().UniqueIndex(UniqueInd

[2020-07-17 11:31] jokokko commented on #1524
Note to self: we need to link to https://www.postgresql.org/docs/current/sql-syntax-lexical.html in docs, especially on `quoted identifier`. Ofc things with Marten need to work OOTB, but a thing that can surprise devs (hopefully not DBAs, where they still exist).

[2020-07-19 19:46] SbiCA commented on #538
Hi @jeremydmiller not sure how far you are this.

For what it's worth I've used marten in combination with test containers and was quite happy so far https://sbica.github.io/posts/2020/07/17/how-net-testcontainers-simplify-your-life-for. Let me know if that's something that could serve in the meantime or as an alternative to the "Embedded" option.

Cheers

[2020-07-20 01:25] jeremydmiller opened #1525 "Eliminate the usage of the "containment operator" searching in the Linq provider for V4 FOR COLLECTION SUB-QUERIES"
**As part of this, fix the disabled test `Bug_503_child_collection_query_in_compiled_query`**

The containment operator where fragment is some of the clumsiest, buggiest, problematic code. There's an opportunity to make the querying within child collections be much more robust by utilizing a Common Table Expression to:

1. Explode the child collection into the top most statement, with the identity

[2020-07-20 11:07] jeremydmiller opened #1526 "V4 Regression: SelectMany() + Include Problem"
In the v4 Linq mechanics, the `Include()` methods need to be implemented as Relinq ResultOperators so that the keys can be sourced from either the root document or the exploded `SelectMany()`. The v4 implementation as is is too naive.

These tests are disabled pending this issue:

* `select_many_with_includes`
* `select_many_with_includes_async`

[2020-07-20 13:47] jeremydmiller opened #1527 "Standardize how we append the TenantId into generated SQL in multitenancy"
There's some duplicated code like this (see the TODO):

[code]

Just get this standardized one way or another.

[2020-07-21 03:57] mysticmind opened #1529 "Update the minimum Npgsql version for Marten to 4.1.4"
With reference to a Gitter chat by @Hawxy quoted below:

Yep, no more weird latency spikes due to connection recycling every 30 seconds

It would be better to update the minimum required Npgsql version for Marten to 4.1.4 (the latest point release on Npgsql 4.x). Besides there are plenty of bug fixes happened between 4.12 through 4.1.4.

[2020-07-21 11:31] jeremydmiller commented on #1503
That made a much bigger deal than I was expecting.

[2020-07-21 15:43] jeremydmiller commented on #1128
I took this today. Did basically what @mysticmind said about eliminating Lambda usages, except I did leave the Lambdas within the Polly usage. It's an extra object allocation for the Lambda vs. needing to do a dictionary lookup from the Polly Context, so I left it alone.

[2020-07-21 15:43] jeremydmiller commented on #1128
Done in a branch.

[2020-07-21 15:44] jeremydmiller commented on #1515
Done in a local branch. Didn't make that much difference in the tests, but it only really matters when you commit multiple kinds of documents in one session.

[2020-07-21 15:47] jeremydmiller commented on #1503
Done in a branch

[2020-07-21 19:22] jeremydmiller commented on #1527
Done in a branch.

[2020-07-21 19:24] jeremydmiller commented on #1201
I'm closing this because there are more specific issues open for the Linq provider. I think we're looking good for v4 right now.

[2020-07-21 19:24] #1201 closed

[2020-07-21 20:28] jeremydmiller commented on #1510
This was a duplicate.

[2020-07-21 20:28] #1510 closed

[2020-07-22 09:59] huberzeljko opened #1532 "EventStore AggregateStream never returns null"
I'd expect that `EventStore.AggregateStream(streamId)` method would return null if there are no events (or not even a stream) for that stream identifier, but it actually creates a new stream instead (which all property values set to defaults) and saves both stream and aggregate in database (aggregate is defined as inline).

I've also seen null check on this [thread](https://martendb.io/documentati

[2020-07-24 15:21] jeremydmiller opened #1533 "Create a new standard exception for mismatch of document/id types"
It's pretty common in the codebase, and I've been using InvalidOperationException so far w/ some copy/paste messages like this:

[code]

[2020-07-24 17:58] jeremydmiller opened #1534 "Diagnostic access to all the generated code"
Hang something off of `IDocumentStore.Advanced`. Get access to all the generated code types for:

- [ ] document storage
- [ ] operations
- [ ] document selectors
- [ ] event function?
- [ ] compiled query handlers

[2020-07-25 20:01] jeremydmiller commented on #1526
Got it, that sucked.

[2020-07-25 20:10] jeremydmiller commented on #1526
Done in a branch / PR

[2020-07-25 20:29] jeremydmiller commented on #1533
Done in a branch.

[2020-07-25 21:14] jeremydmiller commented on #1050
Not going to happen, I'm instead going to try to eliminate its usage altogether by using common table expressions + where in (select) clauses to do the same thing with simpler JSON operator usage.

[2020-07-25 21:14] #1050 closed

[2020-07-26 13:04] tonykaralis opened #1536 "Add nuget download count badge"
Seeing @jeremydmiller comment on gitter about passing a million downloads thought it would be cool to display this on the projects readme.

[2020-07-26 22:10] jeremydmiller commented on #870
Hey folks, this is **done** in a v4 branch.

[2020-07-27 12:46] jeremydmiller commented on #583
And....

this is done in a branch pending a PR review.

[2020-07-27 13:25] mysticmind opened #1539 "Proposal for v4: Postgres RLS feature via Marten"
I am working out some nuts and bolts for Postgres row level security (RLS) feature via Marten. This will allow you to enforce RLS policies such as restrict querying by tenant or other data points.

Observe the following as below steps will be required:

    Enable RLS at the table level
    Define a Postgres policy using using or with check condition which uses a session variable
    Typical imple

[2020-07-27 13:32] #1536 closed

[2020-07-27 13:41] #1468 closed

[2020-07-27 13:41] #1516 closed

[2020-07-27 13:41] #1503 closed

[2020-07-27 13:41] #1517 closed

[2020-07-27 13:41] #1128 closed

[2020-07-27 13:41] #1527 closed

[2020-07-27 13:41] #1526 closed

[2020-07-27 13:41] #1533 closed

[2020-07-27 13:41] #583 closed

[2020-07-27 15:20] #1471 closed

[2020-07-27 16:31] #1534 closed

[2020-07-27 18:14] jeremydmiller commented on #1461
@MartinNuuday Hey, sorry we've been so slow to get back to you on this. A couple thoughts:

* Yeah, I'd avoid messing around with the connection mechanics of Marten like your second code sample above
* The session is meant to be short lived, and the connection stays open the whole time so that you get consistent reads along with the commit. It's also possible to use serializable transactions that

[2020-07-28 11:16] jeremydmiller commented on #870
Ugh, I closed the wrong issue. Sorry folks.

[2020-07-28 11:17] jeremydmiller commented on #460
Closed by https://github.com/JasperFx/marten/commit/c0a86fdb6fb61251aea4754afda89345b90b5cbd

[2020-07-28 11:17] #460 closed

[2020-07-28 13:46] jeremydmiller commented on #572
@benprime The problem you tagged on this issue is addressed in the v4 branch.

[2020-07-28 19:00] oskardudycz commented on #1529
CLosed by https://github.com/JasperFx/marten/pull/1531. Will be released in v3.12.4

[2020-07-28 19:00] #1529 closed

[2020-07-29 18:45] oskardudycz commented on #1532
@huberzeljko I'm aware of that issue. In my opinion, it's a bug. We won't be able to fix that in v3, as it'd be kinda big breaking change, however, if others agree I can change that behaviour to be consistent in v4 (in my opinion it should return null). @jeremydmiller do you happen to remember why is it like that?

Regarding `AggregateStream` vs `Load`. `Load` is getting the snapshot directly from

[2020-07-29 19:35] oskardudycz commented on #1524
@Thumann could you provide details about the Marten version that you're using?

I tried your case with:

[code]
and it's passing, I also checked how we're dealing with `_.DatabaseSchemaName`, and we're always doing `.ToLowerInvariant()`

[code]
So it should not let us use schema other than lowe case.

Could you provide also your document store config?

[2020-07-31 08:34] mdissel commented on #1539
Referencing a closed issue, https://github.com/JasperFx/marten/issues/1352

[2020-08-05 10:06] Thumann commented on #1524
Update,
The issues is caused by this line of code:

x.Storage.MappingFor(entityType).DatabaseSchemaName = options.Schema.Name;

If I ToLower() it, everything works fine, if not, everything blows up.

[2020-08-20 23:04] modderme123 opened #1546 "MatchesSql with named paramters"
`.Where(x => x.MatchesSql)` currently doesn't allow for `?` or repeating a parameter in SQL queries. I'm currently using a custom LINQ operator that supports an anonymous object for parameters. However, it would be nice to have this ability built in to Marten.

My current implementation looks like this and can probably be merged with `MatchesSql`:
[code]

[2020-08-20 23:50] jeffdoolittle commented on #996
Can you provide more details on the nature of the problem and the proposed solution?

[2020-08-21 16:47] barclayadam opened #1548 "QuerySession.Logger depends on concrete implementation"
I have a custom `IManagedConnection` implementation that I want to use for better statement tracking (see #1284). Using `IMartenSessionLogger` is not sufficient for proper tracing as that is just a point in time _after_ the SQL has already executed, there is no way to get how long the command actually took.

The issue I have run in to is that `QuerySession.Logger` is hard-coded to expect a `Manage

[2020-08-26 11:53] mronnblom-cint opened #1550 "(Question) How to add 'LastModifiedBy' in a generic way?"
We are using Marten as a document storage. We would like to have a 'last_modified_by' on all document database tables, containing the user name who last modified each row. The logged on user is different from the account that accesses the database (the latter being a service account). The logged on user can be read from the current ClaimsPrincipal (AspNetCore 3.1).

We could add a property to all

[2020-09-01 12:16] mdissel commented on #156
Retrying to get this on the list. To support the NpgsqlLargeObjectManager we need an explicit transaction from the existing DocumentSession and that is currently not possible. The static DocumentSession.ForTransaction(transaction) is an option but that is no option when using dependency injection..

[2020-09-01 13:24] jokokko commented on #156
@mdissel Any rough ideas how the API or interaction would look like? Using `TransactionScope` won't work for you? Interested as I myself might also benefit from this feature.

[2020-09-01 13:33] mdissel commented on #156
See the discussion in [gitter](https://gitter.im/JasperFx/marten?at=5f4e41eb89cf2d584b8e39aa).

[2020-09-01 14:30] GregRar opened #1551 "Enable concurrency checks for session doesn't work"
Hi guys. We're trying to move away from Raven and I'm experimenting with Marten. I absolutely love your product.
I think I found a small bug recently.  Please let me know what you think:

From `SessionOptions` > `ConcurrencyChecks` - `Use to **enable** or disable optimistic concurrency for just this session`

It works when I try to disable concurrency check for a session, but it seams to not work

[2020-09-02 07:10] lhaussknecht opened #1552 "Multi-column index creation should throw if it makes no sense"
I was a bit irritated, comming from an EF background, where index creation for multiple columns works by supplying an anonymous type.

Defining an index in Marten like that leads to an index, that makes no sense.

Given a Tour class with the following index creation

[code]

This will result in an CREATE INDEX statement:

[code]

Of course this makes no sense and it is probably an pitfall for newb

[2020-09-04 21:21] jeffdoolittle commented on #525
@jeremydmiller @tonykaralis is this even relevant anymore? I haven't used Marten in a couple of years, but will be diving back in again soon.

[2020-09-07 18:05] jeremydmiller opened #1553 "Include statements need to respect the default Where filtering by the document being loaded"
I don't think this is *too* big of a concern, but you still need to apply the default filters for the included documents to avoid fetching data that shouldn't be loaded. Like crossing tenants or subclasses

[2020-09-07 21:14] jeremydmiller commented on #1553
Nevermind, this wasn't necessary at all. It's already filtered as it was.

[2020-09-07 21:14] #1553 closed

[2020-09-11 12:27] cocowalla opened #1554 "Access DocumentMapping at runtime"
I asked over in Gitter if there was a way to access `DocumentMapping` at runtime, for use building custom SQL queries, and Jeremy suggested I raise an issue about it - this is the issue :smile:

It's possible to access `DocumentMapping` from a `DocumentStore` (but not an `IDocumentStore`) using:

[code]

There are 2 points regarding this:

1. This should be discoverable (i.e. updated the docs) - I

[2020-09-11 16:36] solyutor commented on #1512
Stuck with the same problem. However I guess the original solution is  suboptimal. Besides complexity of parsing ling it creates cryptic SQL queries which are hard to read and may lead to messy execution plans.

This can be fixed in a different way - caching not a single plan, but a set of `ICompiledQuery`s with custom `IEquatable` or `IEqualityComparer` implementations like this:
[code]
It will p

[2020-09-11 17:00] jeremydmiller commented on #1512
@solyutor What you're doing is never going to work because of the conditional inside of `QueryIs()`. In your case though, you could just use the user supplied query mechanism easily enough.

[2020-09-11 20:42] solyutor commented on #1512
@jeremydmiller Sorry for being unclear in my first message, I know (why) it doesn't work with current version.  What I meant was "Is it a good idea to create a PR for such a feature?" I've tried and here's what I've done https://github.com/solyutor/marten/commit/07cbf0ad928e68744e4d211740545862e85811f3.

Hope you'll have some time to review it and decide whether it worth to create a PR.

[2020-09-13 15:49] jeremydmiller commented on #572
Done in a branch. For both issues here.

[2020-09-13 16:05] jeremydmiller commented on #1525
This is done. Really had to be done for compiled queries to work TBH. The containment variable is still in place for a few things and needs to be reevaluated.

[2020-09-13 16:05] #1525 closed

[2020-09-13 16:06] #572 closed

[2020-09-13 17:07] jeremydmiller commented on #784
And this took a few years longer than we'd hoped. Was fixed just by the v4 Linq overhaul.

[2020-09-13 17:12] #784 closed

[2020-09-13 17:39] jeremydmiller commented on #1089
This is going to have to be a documentation issue and not really a bug per se. The compiled query planning is never going to be able to handle DateTimeOffset.UtcNow internally because ReLinq reduces that to a value.

[2020-09-13 17:41] jeremydmiller opened #1555 "V4 Documentation Updates"
This is going to grow of course.

- [x] Compiled query limitations. Nothing dynamic like DateTimeOffset.UtcNow, no boolean flags (#sadtrombone).
- [x] Compiled query signature changes to use `IMartenQueryable` instead of `IQueryable`
- [x] Metadata fetching signature moved
- [x] Flexible Document Metadata. It's gonna be big. Sigh.
- [x] Usage of `ITracked`
- [x] Usage of `IVersioned`
- [x] Usage o

[2020-09-13 17:42] jeremydmiller commented on #1089
Tracking the documentation here: #1555

[2020-09-13 17:42] #1089 closed

[2020-09-13 17:53] #1090 closed

[2020-09-13 18:27] #1193 closed

[2020-09-13 18:36] jeremydmiller commented on #1217
@robert-skarzycki It's taken forever, but I'm dealing with this one right now as part of the big V4 Linq overhaul.

[2020-09-13 19:42] #1217 closed

[2020-09-13 19:49] #1413 closed

[2020-09-13 19:56] jeremydmiller commented on #1454
@abcelena Querying against the exact value of a date is always dicey, especially if it's not a "round" date. You might have to use kind of a fuzzy "within a range" search if there are seconds/milliseconds as part of the time. As for the Linq not generating valid SQL, it appears that our huge overhaul of the Linq provider in v4 that eliminates the usage of the Containment operator fixes that issue

[2020-09-13 19:57] #1454 closed

[2020-09-13 19:58] jeremydmiller commented on #1189
@dapalmi Sorry for the extremely long delay, but we're deep into the V4.0 Linq overhaul and I think the naive mechanics that led to your last error have been addressed. I'm going to try to prove that out in a UT right now.

[2020-09-13 20:02] #1189 closed

[2020-09-13 20:20] #834 closed

[2020-09-13 21:36] jeremydmiller commented on #990
@sw-carlin Finally getting into this more for the v4 release. I think you might have over-generalized the issue a little bit here. Dollars to donuts this is an issue specific to DateTimeOffset/DateTime precision and probably not something we can actually beat easily. I think at most this needs to be handled with documentation warning you about the DateTime precision issue. And this isn't the first

[2020-09-15 17:54] #647 closed

[2020-09-15 18:08] jeremydmiller commented on #826
This one might not be that bad.

I think I'd add to `IDocumentSession`:

[code]

In both cases, look at the `DocumentSessionBase` code for `Delete() / DeleteWhere()` and how it delegates to `DocumentStorage<T>`. You might wanna make a `HardDeletion : Deletion` type that takes in a that use a `HardDelete` object as its operation.

I'd just add new corresponding methods in `DocumentStorage<T>` to fo

[2020-09-15 18:22] jeremydmiller commented on #826
For reversing the deletion on a soft delete, I think you make a new `IOperationFragment` like `SoftDelete`, but reverse it to update the deleted flag to false. The problem here is that the default filtering maybe be trying to filter out deleted items automatically. That might be a touch trickier

[2020-09-15 18:23] jeremydmiller commented on #870
This is all me. Might actually work OOTB after the v4 changes, but we'll see...

[2020-09-15 19:54] jeremydmiller commented on #870
Got it!!!!!!!

[2020-09-15 19:59] #870 closed

[2020-09-17 19:27] jeremydmiller commented on #960
The original issue **is** fixed. I'm opening a new issue for what @KrisJJC reported as it's a separate problem.

[2020-09-17 19:27] #960 closed

[2020-09-17 19:28] jeremydmiller opened #1556 "Index change detection does not work with excessively long index names"
See the comments on #960

[2020-09-17 19:38] jeremydmiller commented on #990
Closed by https://github.com/JasperFx/marten/commit/7f434269879f6f6bdebf8009714a6ec40fb3a21e

[2020-09-17 19:38] #990 closed

[2020-09-17 19:44] jeremydmiller commented on #1173
@cocowalla Getting back into things this week.

"@jeremydmiller Marten already supports querying for raw JSON - what are your thoughts on extending the Patch API to support setting raw JSON?" -- that's basically what it does today, or am I missing something?

[2020-09-17 20:03] jeremydmiller commented on #1173
Some new thoughts on this one today:

* It looks like it's possible to **not** use the "clean" serializer when appending items
* The patching is going to have to be smart enough to "know" when an item is being appended that would force Newtonsoft to use the $type, or "know" that the type handling is set to do so.

[2020-09-17 20:06] cocowalla commented on #1173
This is going back a bit, but I think what I meant was allowing the developer to pass a JSON string as the value, instead of relying on Marten to serialise a C# object as wanted. There are some footguns here, but I don't see devs wanting to use this unless they had a genuine reason (like controlling serialisation).

[2020-09-17 20:18] jeremydmiller commented on #1173
@cocowalla I really don't want to have to support that, unless it's an "UnsafeReplaceJson()" kind of signature:)

Some of this could be pushed toward a Javascript patching model. I actually meant to add that at one point where you could revert to Javascript to do patching operations that aren't supported by the patching api. So you could have an arbitrary number of args to use in a JS mutator.

[2020-09-17 20:19] jeremydmiller commented on #1173
For tomorrow, the way this is going to get fixed is to:

* [ ] `ISerializer` needs a new `ToJsonWithTypeInformation(object)` method
* [ ] The patching operation needs to be smart enough to "know" when to opt into this. Think that would be non-simple items in a collection, and knowing that the actual element does not match the declared item type

[2020-09-17 20:20] cocowalla opened #1557 "Allow operation without metadata columns [Feature Request]"
Some of my big tables (100,000,000+ rows) contain small document types, less than 1Kb, and the 3 existing Marten metadata columns (`mt_last_modified`, `mt_version` & `mt_dotnet_type`) take up 20% of the storage of these tables - it's GBs of disk space.

- `mt_version` is used for optimistic concurrency, but AFAIK you already need to opt-in to using this feature with `UseOptimisticConcurrency`
- `m

[2020-09-17 20:38] #1173 closed

[2020-09-17 20:56] jeremydmiller commented on #1315
I played with this a little bit today, and I can definitely reproduce the issue with a very recent plv8. I think I'm voting to table this until we get back to v4 patching work. I **think** we play the story that tries to use native postgres operators wherever possible in the patching to possibly sidestep this (and as a performance optimization anyway)

[2020-09-17 21:13] jeremydmiller commented on #1429
The "C" would have to be persisted, and that makes things work. See the UT that's about to be attached to this.

[2020-09-17 21:14] #1429 closed

[2020-09-17 21:15] jeremydmiller commented on #1473
I'm going to take this tomorrow morning for v4, but it's going to be done most likely by throwing a more descriptive exception telling you how to change the Linq query. Good enough for now?

[2020-09-17 21:25] tonykaralis commented on #1429
Thanks @jeremydmiller but the repro code from @mysticmind does not represent my problem accurately. In the repro indeed C must be stored, however in my example C(respondentIdMaps) was being stored.

I'll try create a more accurate repro as this is still a problem for us. Im thinking there's some issue with the Subclass hierarchy that might be throwing it off.

[2020-09-17 21:52] jeremydmiller commented on #1429
@tonykaralis If you're going to do that, can you do it as a failing test in a PR?

[2020-09-18 01:23] mysticmind commented on #1315
@jeremydmiller what version of plv8 did you try with?

[2020-09-18 07:31] cocowalla commented on #1315
Also interested to know, because if it was 3.x I'd love to know the build steps so I can create a Docker image! (plv8 has never been a "just works" kind of thing to build!)

[2020-09-18 07:36] oskardudycz commented on #1315
@jeremydmiller plus one from me. To me, it's surprising that there is a version that this is working fine. As I wrote above (https://github.com/JasperFx/marten/issues/1315#issuecomment-512205446) - javascript is not able to handle .NET long, as the JS number has a much smaller range. So unless there is a custom mapping to/from string then, in my opinion, it won't work.

[2020-09-18 16:32] jeremydmiller commented on #1462
@oskardudycz @cool-user Honestly, I think we're going to beat this by either some documentation on how to rename your document types or maybe some more formal document migration support. You could do this today with just adding SQL statements.

[2020-09-18 16:34] jeremydmiller commented on #950
We'll need this for #952 as well. The `IDocumentSession` needs overloads of `Store()`, `Insert()`, `Update()`, and `DeleteWhere` that allows you to specify a tenant id

[2020-09-18 16:39] jeremydmiller commented on #1515
This was done in the v4 codegen work

[2020-09-18 16:45] jeremydmiller commented on #1469
Meh, I'm declaring success on this one. The only thing that still uses Lambdas is the retry policy, and that's important, so it stays.

[2020-09-18 16:45] #1469 closed

[2020-09-18 16:48] jeremydmiller commented on #1182
I think the fix for #1173 actually addresses this

[2020-09-18 16:48] #1182 closed

[2020-09-18 18:19] #1473 closed

[2020-09-18 19:19] jeremydmiller commented on #1219
Closed by https://github.com/JasperFx/marten/commit/315b24b808fea1acbfe38467811bb92e575f4ad3

[2020-09-18 19:19] #1219 closed

[2020-09-18 19:21] jeremydmiller commented on #1461
This was just a question, so I'm closing.

[2020-09-18 19:21] #1461 closed

[2020-09-18 19:24] jeremydmiller commented on #1273
We've eliminated the usage of the containment operator in almost all cases in the v4 Linq internals, so I don't think this is going to be an issue going forward. And we have been able to prove that the new Linq internals handle Newtonsoft metadata now.

[2020-09-18 19:24] #1273 closed

[2020-09-18 19:27] jeremydmiller commented on #1337
I'm generalizing this a bit.

Usages:

* Opt out of metadata columns
* Have soft deleted values set on documents as its loaded similar to versions today
* Extensible metadata columns

[2020-09-18 19:27] jeremydmiller commented on #1522
I'm merging this into #1337

[2020-09-18 19:27] #1522 closed

[2020-09-18 19:28] jeremydmiller commented on #1346
I'm merging this into #1337

[2020-09-18 19:28] #1346 closed

[2020-09-18 19:29] jeremydmiller commented on #1557
I'm merging this into #1337

[2020-09-18 19:29] #1557 closed

[2020-09-18 19:31] jeremydmiller commented on #1550
And I'm going to merge this into the bigger, "better document metadata" story for v4: #1337

@mronnblom-cint So, the short answer is "you can't", but better document metadata is a frequent request and will be going into v4. I *think* that'll actually be the next biggish thing I tackle.

[2020-09-18 19:31] #1550 closed

[2020-09-18 19:35] jeremydmiller commented on #1026
I'm afraid this one's gonna get "fixed" by adding a better exception message telling you that you can't use constructors and you'll have to use object initializers instead.

[2020-09-24 19:29] jeremydmiller commented on #1337
## How does custom Document Metadata work?

I think the main usage we've heard so far has been for traceability, ala something like the [Open Telemetry](https://opentelemetry.io/) standard. So tracking correlation identifiers for the document saves, as well as the active user.

I think these are the open questions:

* Do we make the metadata be open-ended and user-defined, or do we try to guess wh

[2020-09-25 09:48] cocowalla commented on #1337
My take on this is really from the viewpoint of #1557 - I personally have little use for document metadata, and above all would like the option not to bloat my table storage with them if they're not needed.

Having said that, I can understand use cases; for a simple example, a "last modified" timestamp is a really common thing to have, and you might want to use Marten's `mt_last_modified` column t

[2020-09-25 10:25] mdissel commented on #1337
Yes! This would make the mapping of CurrentUser / CorrelationId, etc in a DocumentSessionListener much easier

The mt_lastmodified column currently has no technical reasons to exist, so it can be removed and if people need it, just define the property in the entity.

The mt_version and mt_is_deleted* columns are needed by Marten, so I would leave them as is.

To minimize the json (de-)serializatio

[2020-09-25 11:10] jeremydmiller commented on #1337
@cocowalla We've committed to "opt out" of all the document metadata in this issue too, so you're covered.

[2020-09-26 11:52] oskardudycz commented on #1337
From my perspective for sure metadata should be opt-out functionality (or even user could decide which set of fields to use).

I understand the query performance perspective, but I don't see also why it should be a key factor - from my perspective querying based on the metadata shouldn't be the common case. This should be probably more used for diagnostics, debugging etc. when it's usually fine to

[2020-09-26 12:06] jeremydmiller commented on #1337
Oh, definitely go all the way on metadata. Either they're all in separate columns or all in a JSON serialized field, but not a mixed set. We've already agreed to make the existing metadata fields be opt out for storage. Any new metadata fields would be "opt in".

"what about the possibility to automatically apply the metadata into the event or document class?" -- that's relatively easy if it's a p