[2018-02-20 13:53] jeremydmiller commented on #962
@KahuKirikiri I'd rather just do the calculated getters to avoid this issue. Do you feel like doing the PR? Looks like you're already on it.

[2018-02-20 20:10] KahuKirikiri commented on #962
@jeremydmiller Will do. You'll see from my forked branch that I also had to upgrade xunit and its Visual Studio runner in order to get the tests to run on the latest version of VS

[2018-02-21 18:37] rjrnation23 commented on #799
Is there any work around or resolution to this error?  I am currently encountering the same error.

[2018-02-21 20:39] jeremydmiller commented on #799
@rjrnation23 I've been bandwidth constrained lately. This wouldn't be that crazy a place for someone else to jump in if anybody one this issue are interested in taking it on

[2018-02-22 17:15] droach282 commented on #799
I volunteer as tribute!

[2018-02-23 07:32] wastaz commented on #921
Ended up falling into this pit again today when FastExpressionCompiler was accidentially upgraded. It would be really nice to have this be a part of the next release of Marten so I dont end up spending more time on this the next time I am a klutz :D

Do you think that you will have the time to do this fix @jeremydmiller before next Marten release or do you want me to send in a PR for it? :)

[2018-02-23 18:08] mysticmind commented on #957
@gcox Can you please use `varchar[]` instead of `text[]` i.e. `For<Feed>().DuplicateField(x => x.UrlHistory, "varchar[]");`, this will work without any issues.

This issue is a bug and we will attempt to fix the issue around usage of `text[]`

[2018-02-24 08:34] afmuller opened #964 "Optimistic Concurrency with Sub Class"
I have the following configuration:

            For<CloudStorage>()
                .AddSubClass<CloudStorageMinio>()
                .GinIndexJsonData()
                .UseOptimisticConcurrency(true)
                .VersionedWith(p => p.Version);

I am using Lightweight sessions.

There seems to be some problem with Optimistic Concurrency when using sub classes (as in the above config).

When

[2018-02-24 12:45] jeremydmiller commented on #964
Any chance you could make a failing test to demonstrate the problem you’re having? I know we’ve had a bug in the past with that combination of things

[2018-02-24 13:59] afmuller commented on #964
Hi Jeremy

Herewith unit test explaining the above (when .AddSubClass is used):

[code]

Herewith unit test that works as expected - where no sub-classes are used:

[code]

[2018-02-24 18:04] afmuller opened #965 "AssertDatabaseMatchesConfiguration does not work when AutoCreate.None"
It appears that when AutoCreateSchemaObjects = AutoCreate.None, store.Schema.AssertDatabaseMatchesConfiguration() does not detect if the schema is up-to-date or not (i.e. it does not throw an exception if the schema does not match configuration).

In production, I need to check if the database schema is up-to-date or not and I wanted to use AssertDatabaseMatchesConfiguration - but cannot use it if

[2018-02-24 21:05] jeremydmiller commented on #965
You’re going to have to provide a lot more context about what you’re seeing and trying to do. We do have passing tests on AutoCreate.none and no, we didn’t purposely put out misleading or nonfunctional code. I can’t fix “it doesn’t work,” but we most likely can if you can give a much better bug report here

[2018-02-25 05:39] afmuller commented on #965
My apologies - I have found a work-around and will close this issue.
I am very impressed with Marten and did not mean to insinuate anything.
Thank you for a great product.

[2018-02-25 05:39] #965 closed

[2018-02-25 22:21] cocowalla opened #966 "Exclude types from multi-tenancy"
From the docs, we can apply multi-tenancy by default using either of

[code]

The docs also show how to override a single-tenant policy by making a specific type multi-tenanted:

[code]

I'd like to do the opposite though, setting all types as multi-tenant by default, and then excluding a couple of types:
[code]
Can this be done?

[2018-02-26 13:23] jinhong- opened #967 "fetch event stream by range"
Is there any way to fetch event stream by a start and end range? I only see APIs to fetch events up till a certain version

[2018-02-26 13:31] jeremydmiller commented on #967
@jinhong- You can use `IDocumentSession.Events.QueryAllRawEvents()` to run Linq queries against the raw event data that will let you query on any element of the event store metadata. That should get you what you want here.

[2018-02-26 13:41] jinhong- commented on #967
Ah okay thanks!

[2018-02-26 14:09] #967 closed

[2018-02-26 14:12] jeremydmiller commented on #966
You've got a couple options, I think mostly documented here: http://jasperfx.github.io/marten/documentation/documents/customizing/. You *could*:

1. Use a custom attribute to opt out or into the multi-tenancy
1. Use a custom document policy to switch multi-tenancy on or off depending on your own app's rules: http://jasperfx.github.io/marten/documentation/documents/customizing/document_policies/

[2018-02-26 14:14] jeremydmiller commented on #959
@mariusin79 Why *would* you do this? I'm not super excited about supporting this to be honest.

[2018-02-26 14:16] jeremydmiller commented on #958
@mariusin79 You already have the ability to force Marten to update all the known storage upfront. Why or how is this any different?

[2018-02-26 14:24] jeremydmiller commented on #954
"With this specific issue - it seems to be pretty straightforward." -- it's not simple or straightforward at all if you look at all of the usage. Yes, changing the constraint would be easy, but you'd have to change a lot of internals in the event store to be tenant aware to effectively use composite keys. And most of the time it's not multi-tenanted.

I'm sorry, but this isn't likely to be changed

[2018-02-26 14:24] #954 closed

[2018-02-26 14:26] jeremydmiller commented on #951
No activity here, so I'm closing this

[2018-02-26 14:26] #951 closed

[2018-02-26 14:29] jeremydmiller commented on #938
I don't know that that's anything Marten specific. If you're getting this from schema patching, you can try using AutoCreate.None to stop that.

I'm closing just out of no recent activity.

[2018-02-26 14:29] #938 closed

[2018-02-26 14:31] jeremydmiller commented on #934
@VladanStojanovic Hey, do you have this PR you could submit? Even if the function comparison is failing. I can address that one when I pull it in.

[2018-02-26 14:33] jeremydmiller commented on #929
@pereiraarun `IsOneOf` will not work against an array type.

This will not work:

`public int[] Partners { get; set; }`

but this should:

`public int Partner { get; set; }`

I think you're really needing to use an Intersect query, can I *think* we do support that, but I'd have to dig through the unit tests on that one.

Closing just because there's no recent activity

[2018-02-26 14:33] #929 closed

[2018-02-26 14:35] jeremydmiller commented on #921
The open issue count is bonkers right now, so I'll happily take a PR. To inline it as source code, right?

[2018-02-26 14:36] jeremydmiller commented on #545
Closing because it's just not gonna happen

[2018-02-26 14:36] #545 closed

[2018-02-26 14:44] jeremydmiller commented on #858
This probably isn't going to get done. I'm recommend using a javascript function transform here. We *could* do better JS transforms that allow for inputs. Maybe an extensible patching model I guess.

[2018-02-26 14:44] #858 closed

[2018-02-26 14:47] mariusin79 commented on #958
Do you have a reference to the documentation on that? Or a short explanation on how/which method to invoke?

[2018-02-26 14:49] jeremydmiller commented on #958
I was just talking about the `ApplyAllConfiguredChangesToDatabase()` method here: http://jasperfx.github.io/marten/documentation/schema/migrations/

[2018-02-26 14:55] wastaz commented on #921
PR #968 should fix this.

I have inlined the same version as is used in StructureMap as source code.
I have tried to find the "latest" version that works, but I ended up giving up on that quest. I know that 1.5 and 1.6 does not work, whereas 1.4 does. But which commit in FastExpressionCompiler is the commit that 1.4 is built off....I have zero clues to be honest. This version is probably quite a b

[2018-02-26 14:55] mariusin79 commented on #959
I gave two reasons in the initial description of the problem: 1) its inconsistent today, 2) it makes it more difficult to roll-back if you've deployed something that (for example) adds an extra column (like the .Duplicate() method does, which is a pure optimalization/index tuning).

[2018-02-26 14:59] mariusin79 commented on #958
Which I am already using in my example, if you look at it. Perhaps if you have a tip on less verbose/smoother way of doing it than I am doing it above you can share it.

[2018-02-26 15:06] cocowalla commented on #966
Option 2 looks good - not sure why I hadn't seen this in the docs before.

[2018-02-26 15:06] #966 closed

[2018-02-27 01:10] jinhong- opened #969 "Async Daemon Cluster"
Hi, any support for async Daemon clustering? Basically the idea is to have hot spares or some sort of load distribution mechanism so that multiple async daemons can be ran at the same time

[2018-02-27 15:09] jansivans opened #971 "Fetching meta data for multiple records"
I need to fetch meta data for multiple items. I can do this by using `MetadataFor` for each item, but this becomes slow if I have many records.

**Use-case**
Imagine I have an object with fields `field1` and `field2`. I now want to return to user a list of these objects with additional fields `isDeleted` and `lastUpdated`.
Currently to accomplish this I need to fetch all objects then fetch meta da

[2018-03-01 22:37] wooderz opened #973 "Unsupported startup parameter: ssl_renegotiation_limit"
Using pgbounce on Aiven to use connection pooling we're receiving this error: Unsupported startup parameter: ssl_renegotiation_limit

I'm told ssl_renegotiation_limit isn't necessary anymore?

[2018-03-02 11:20] wooderz commented on #973
So an upgrade of Marten seems to have resolved this. Fair play!

[2018-03-02 11:20] #973 closed

[2018-03-02 11:40] jeremydmiller opened #975 "Use overloads instead of the optional arg for #940"
Got too quick to pull this in. Go back over #940 and use overloads instead of the optional args

[2018-03-02 11:40] jeremydmiller opened #976 "Expose methods to eject documents from IDocumentSession"
*I* don't think it should ever be necessary, but it is to some users so let's do it real quick.

[2018-03-02 13:56] jeremydmiller commented on #976
This is already there. Not sure what the user was seeing now.

[2018-03-02 14:05] jeremydmiller commented on #975
Meh, gonna be naughty and just tell people they need to recompile

[2018-03-02 14:05] #975 closed

[2018-03-02 14:13] #976 closed

[2018-03-02 14:14] jeremydmiller commented on #962
Fixed by https://github.com/JasperFx/marten/pull/972

[2018-03-02 14:14] #962 closed

[2018-03-02 14:14] jeremydmiller commented on #949
I'm looking at this now finally

[2018-03-02 14:24] jeremydmiller commented on #949
Actually, first question. Why do you need to use the TransactionScope here?

[2018-03-02 14:33] jacobpovar commented on #949
I had a requirement to write both to marten and other data source inside same transaction scope.

the example posted above is slightly modified version of the test `enlist_in_transaction_scope` from  `ability_to_use_an_existing_connection_and_transaction` only repeated.
there is no reason to open transaction explicitly there but it shows the problems.

[2018-03-02 15:30] jeremydmiller opened #977 "Some of the multi-tenancy tests fail intermittently"
Check out `can_generate_database_objects_when_tenanted`. Everytime this has happened, there's been a real cause. Maybe it's using the wrong schema somewhere. Hunt it down.

[2018-03-02 15:31] #949 closed

[2018-03-02 15:55] jacobpovar commented on #949
@jeremydmiller thanks!

[2018-03-02 16:03] jeremydmiller commented on #953
@barryhagan I'm gonna finesse this one a little bit just today. All I'm doing is adding an assertion on the name lengths so it'll blow up if you go over your namedatalength. I'll add an ancillary issue to make sure that all db object names can be modified for 2.7.0 soon-ish

[2018-03-02 16:04] jeremydmiller opened #978 "All database names need to be modifiable"
See #953. We'll have to give users the power to override table names and prolly FK's in addition to indexes. Or make the name determination a lot smarter.

cc @barryhagan ^^^

[2018-03-02 16:09] #953 closed

[2018-03-02 16:17] jeremydmiller commented on #964
@afmuller Looking at it now. Thank you for the failing tests, makes this kind of thing way easier to deal with.

[2018-03-02 16:56] jeremydmiller commented on #964
Closed by https://github.com/JasperFx/marten/commit/79f954d42ad9092a2aab78d71ad6e128c72e47b3

Will be in Marten 2.6.0 in the next couple days

[2018-03-02 16:56] #964 closed

[2018-03-02 16:57] jeremydmiller commented on #961
@gunndabad This is next up for me after lunch today.

[2018-03-02 19:23] #961 closed

[2018-03-02 19:38] jeremydmiller commented on #799
@mariusin79 @rjrnation23 @thomasrosdahl -->

Not what any of you want to hear, but "works on my machine"

There was a change in 2.4 for how Marten went looking for existing schema objects based on the wacky authorization model we use at work. If you're getting this problem in 2.5, could you try dropping back to 2.3 and see if that changes anything? Or go forward if you're on an older version?

Fai

[2018-03-02 19:44] jeremydmiller commented on #960
@NicoKno I don't have enough information here to troubleshoot it, so I'm pulling this out of 2.6.0. I'd guess that Marten is detecting that there's either an index in the DB that no longer exists according to the configuration, or is trying to drop it and recreate it on startup. You might need to help Marten out by tearing down that index by hand first. You might start by having Marten generate th

[2018-03-02 19:54] jeremydmiller commented on #957
Since there's a workaround, I'm letting this slide out of 2.6.0 just for now

[2018-03-02 19:57] jeremydmiller commented on #977
Weaseling out 'cause I'm getting tired today and letting this slide out of 2.6.0

[2018-03-02 22:05] gunndabad commented on #965
@jeremydmiller I have a question along these lines too. Given an empty/invalid database and AutoCreateSchemaObjects set to AutoCreate.None, AssertDatabaseMatchesConfiguration() does not throw. When set to AutoCreate.All it does throw.

[code]

I was under the impression that AutoCreateSchemaObjects was to control whether Marten would automatically patch up the schema.

[2018-03-02 22:10] jeremydmiller commented on #965
@gunndabad Dunno offhand, that code has changed so many times by so many folks. Wanna a separate issue for that?

[2018-03-03 09:14] jinhong- opened #979 "Async Daemon Start always rebuilds"
Async Daemon Start does not have the same behavior as StartAll. It will always replay event streams from the beginning rather than from the last known position. I digged a little and realized it is because StartAll calls findCurrentEventLogPositions. And this isn't present is Start

[2018-03-03 14:07] cocowalla opened #980 "Cannot Bulk Insert Multi-Tenant Sub Class Docs"
I have a hierarchy of multi-tenanted classes registered like:

`For<IMessage>().AddSubClassHierarchy()`

I'm using a custom `IDocumentPolicy` to make everything `Conjoined` *unless* it implements an interface `INotMultiTenant`. I've stepped through the code and can see that, as expected, a `DocumentMapping` is being created for `IMessage` and its implementing types, setting `TenancyStyle` to `Conj

[2018-03-03 14:34] jeremydmiller commented on #980
"Is Marten meant to support bulk insert of tenanted, sub-class documents?" -- no, we don't purposely put out bugs, this is just an oversight that no one has thought of before. Do you feel like doing the PR on this one so that it really does the bulk insert with the parent mapping because this one shouldn't be that bad? Or you can workaround it by forcing it to do the bulk insert against the ultima

[2018-03-03 14:35] jeremydmiller commented on #979
@jinhong- Feel like shooting us a little PR to do that check? Not something that ever got tested apparently.

[2018-03-03 14:37] jeremydmiller commented on #969
Not at the moment, but I've got a concept to do that using Postgresql advisory locks somewhat like I talk about in this blog post: https://jeremydmiller.com/2018/02/06/durable-messaging-in-jasper/.

[2018-03-03 14:39] jeremydmiller commented on #959
@mariusin79 No, you didn't provide any justification for why you would want to do this from a use case perspective. Marten is built with the assumption that it completely controls its storage tables. If you're adding additional fields, I'd rather have some kind of model where you do that through Marten itself so it can do the comparisons. The `Table` model already has the stuff to do this, but not

[2018-03-03 15:33] cocowalla commented on #980
I wasn't trying to be cheeky - before I spent time on a PR, I just wanted to check with someone more au fait with the code base, incase there were any good reasons or hidden complexities that meant this wasn't supported :)

Happy to do a PR for this one - will try and get it done tonight.

[2018-03-04 02:16] jeremydmiller commented on #921
Declaring this fixed per #968

[2018-03-04 02:16] #921 closed

[2018-03-04 05:21] jinhong- commented on #979
i discovered it while trying to create some sort of clustering. I don't mind doing a PR for this but I am not sure what is the best way to approach this. It isn't an issue for StartAll, but with Start it's a different story. If we were to put the update code into Start as well, what if i called Start multiple times? That would mean that I will hit the database several times to get the position. Wh

[2018-03-04 05:27] jinhong- commented on #969
I managed to solve this by utilizing the Start function, I was able to split each ViewType processing into different nodes by using Consistent Hashing and Consul for node discovery. Seems to work well enough and since the Aggregate is pretty much idempotent there isn't a worry of duplicate writes. Still, i am very interested in a built in/recommended solution

[2018-03-04 20:37] jeremydmiller commented on #934
Duplicate issue with #959

[2018-03-04 20:37] #934 closed

[2018-03-04 20:38] jeremydmiller commented on #939
Closed by https://github.com/JasperFx/marten/commit/502793528001c9144e3c6c4ac2d3c56c9c0aa936

[2018-03-04 20:38] #939 closed

[2018-03-06 13:33] jeremydmiller commented on #980
Closed by https://github.com/JasperFx/marten/commit/be58c81e58d85f18b42eb49aa8c629eb1082d17a

[2018-03-06 13:33] #980 closed

[2018-03-06 13:49] #923 closed

[2018-03-06 14:10] #979 closed

[2018-03-06 14:17] jeremydmiller commented on #977
**I cannot make this happen locally**. Disabling the tests for now just so we can work.

[2018-03-06 14:17] #977 closed

[2018-03-06 19:21] gunndabad opened #983 "AssertDatabaseMatchesConfiguration is affected by AutoCreateSchemaObjects property"
I've noticed that the AssertDatabaseMatchesConfiguration() never throws when AutoCreateSchemaObjects == AutoCreate.None. Is this the intended behaviour?

Repro
[code]

[2018-03-06 19:21] gunndabad commented on #965
@jeremydmiller Done: https://github.com/JasperFx/marten/issues/983

[2018-03-10 19:15] pereiraarun opened #986 "Issue with DuplicateField on integer arrays. (Marten 2.7.0)"
When trying to insert into a class with an int array as duplicate field, insert fails with the following error:

`
      Inner Exception 1:
      PostgresException: 42883: function public.mt_upsert_user(arg_carriers => integer[], arg_creator_id =>       integer, arg_customers => integer[], arg_email => text, arg_first_name => text, arg_is_active => boolean, arg_last_name => text, arg_partners => i

[2018-03-10 21:02] jeremydmiller commented on #986
@pereiraarun At that point, is it even worth it to be using Marten if you're going to duplicate all those things? You might be better off going to Dapper at this point. Dunno if it handles int[] any better than Marten does here.

How are you managing schema objects? Does the function actually exist, and Marten doesn't quite match up between the arg types it thinks the db should have, or is the fun

[2018-03-10 21:22] pereiraarun commented on #986
@jeremydmiller To be honest, marten's worked out amazingly well. Significantly better than my experience with RavenDb. The reason I duplicate those fields is that I gathered from the documentation that it provides better performance for queries involving searches.

The function exists. Inserts fail. From a cursory inspection, it looks like a type mismatch. Currently, I've removed the duplication o

[2018-03-11 17:09] jeremydmiller commented on #986
Ah, gotcha. We definitely still have a bug w/ `int[]` duplicated fields. For indexing, calculated indexes are probably more efficient overall. The biggest reason to use them really is exactly what you're doingl

[2018-03-20 13:16] kasparkallas opened #988 "OrderBy breaks AsPagedList"
Repro in _Marten/Testing/Pagination/pagedlist_queryable_extension_Tests.cs_:
[code]

Error:
[code]

[2018-03-20 13:27] jeremydmiller commented on #988
Why would you even try to do `.OrderBy(x => x)`? That's never going to work because Marten doesn't know what property to sort on. It wouldn't have any way of understanding the class's CompareTo() logic.

[2018-03-20 14:12] kasparkallas commented on #988
I left the `.OrderBy(x => x)` in as a simplified example and in reality used a different selector. But it turns out there is a similar issue of selector logic not being understandable to Marten in my code. The exception message threw me off a bit. My bad, sorry I posted prematurely, thank you @jeremydmiller!

[2018-03-20 14:12] #988 closed

[2018-03-21 22:42] sw-carlin opened #990 "IfNotExists methods should rely on IdentityAttribute"
I expected the IfNotExists methods available through the patch API to use the Identity property on an object but it's doing an exact match check which doesn't play nicely with objects that have timestamps on them.

Code location:
https://github.com/JasperFx/marten/blob/fd733681aa607657e58e93f9da4b35e2b7b2eda2/src/Marten/Schema/SQL/mt_patching.js#L109-L110

[2018-03-21 23:51] jeremydmiller commented on #990
Can you provide a little more context about what you're doing?

[2018-03-30 15:40] aprooks commented on #780
I'm evaluating Marten and stumbled on this issue almost instantly. Metadata is important part
"stream-entry". It's not an event data, but some infrastructure concerns that are written along side an event.

Some of metadata fields I usually use are: user Id and scopes,  correlation/causation ids (especially useful when debugging process managers). Your aggregate might have zero knowledge of these b

[2018-04-02 05:33] zhujiancc opened #994 "can I user marten to join sql table"
My project  includes  ef core  orm generate table ,
but marten generate table style is different from ef core ,
so how can I  join  two type table .
please help me ~~

[2018-04-05 08:39] mdissel commented on #994
Please take a look at the Marten documentation. If you still have questions, post some sample code of what you're trying to do.

[2018-04-08 01:09] malscent commented on #938
I had the exact same issue when executing multiple tests in xUnit testing some services that utilized a UnitOfWork on top of the DocumentStore's Sessions.

My culprit was that I was trying to keep the lifecycle of the IDocumentSession too long, and it was being Collected causing the PG Connection to drop.  I needed to create a Unit of work within a using, perform actions and then dispose of it, in

[2018-04-09 19:55] jeremydmiller opened #996 "Consider using "tombstone" placeholders in the event table"
Use “tombstone” event placeholders in place of failures. This might make the async daemon **way** easier.

[2018-04-12 18:28] bsmith-sw commented on #572
It appears that whenever a count follows a SelectMany, the filtering clauses added after the SelectMany are dropped.

            return session.Query<CustomerDto>()
                .Where(c => c.IdAsString == customerId)
                .SelectMany(c => c.Workplaces)
                .Count(w => w.IdAsString == newWorkplace.IdAsString);

select sum(jsonb_array_length(CAST(d.data ->> 'Workplaces' a

[2018-04-13 13:18] kYann opened #997 "Query not working when using OR with document hierarchies"
Hello !

When doing a linq query with OR, then all the documents of the table are returned.

[code]

When outputing the sql, I can see that the OR operator is used on the type field, and this is why all the rows are returned

`select d.data, d.id, d.mt_doc_type, d.mt_version from public.mt_doc_user as d where (d.data ->> 'DisplayName' = :arg0 or d.data ->> 'DisplayName' = :arg1 or (d.mt_doc_type =

[2018-04-14 12:44] kYann commented on #997
Duplicate #932

[2018-04-25 04:47] abrovko opened #1000 "Id of a newly created event"
Is it possible to obtain an id of a newly created event?
I am calling session.Events.Append(streamId, evt)  and then SaveChangesAsync, how can I get the id of the event (the Id that can be later used by session.Events.Load())

[2018-04-26 17:53] JohnCampionJr commented on #413
Just wondering if this made it into Marten?  I'm encountering a situation where a 3rd party tool (KendoUI) is generating the LINQ query so I can't tap into it to force it to lower.  I need some way to default contains searches to case insensitive.

[2018-04-27 10:35] afmuller opened #1002 "WritePatch - syntax error"
Hi
When generating a scheme patch file with store.Schema.WritePatch I get the below schema (I have provided the first part of the .sql file):

[code]
When executing it I get the below postgres error:

[code]
If I remove all the double semicolons and replace them with single semicolons, the sql script executes successfully.

If I am doing something wrong, please would you kindly advise.
If you need

[2018-04-27 12:09] jeremydmiller commented on #1002
Why are you using all those duplicated fields? You've already got the Gin index option on. I honestly don't know why you're getting the double semicolons up above.

[2018-04-27 12:10] #997 closed

[2018-04-27 14:00] jeremydmiller opened #1003 "Add some docs for Unique Indexes"
Show the examples from #999. I'm only adding this issue as a reminder to myself before kicking out 2.8.

[2018-04-27 14:11] jeremydmiller commented on #932
@kYann did a fix for this one. Will be in Marten 2.8.0.

[2018-04-27 14:12] #932 closed

[2018-04-27 15:34] #994 closed

[2018-04-27 15:52] jeremydmiller commented on #986
Easy money, but we'll need to watch the schema validation logic

[2018-04-27 15:53] #986 closed

[2018-04-27 15:53] jeremydmiller commented on #986
This will be in Marten 2.8.0 next week-ish maybe.

[2018-04-27 20:14] droach282 opened #1005 "Marten.CommandLine should warn if AutoCreateSchemaObjects is set to None"
Is there any chance we could update Marten.CommandLine to generate a warning if AutoCreateSchemaObjects is set to None?  Currently, the Execute(options) reports that no changes are detected, even if there are schema objects that need to be created or updated.

Example (both with no schema in Postgres):

`# With AutoCreate set to None`
`> marten patch patch1.sql --drop patch1.drop.sql`
`No differen

[2018-04-28 15:04] Miggleness commented on #960
Added test to reproduce issue.  It also uses auto-create 'CreateOrUpdate' behavior, which I understand shouldn't do any object drop on the schema.

[2018-04-30 19:25] malscent opened #1007 "Exception Message: Value cannot be null. Paramater name: Key"
## Error
[code]

## Resolution

Resolution was that the library being used that accessed marten was out of date compared to the data stored within the database.  This caused Marten to throw an exception due to a unknown event type.

## Corrective Action

Improve Exception handling in [EventSelector, Line 85](https://github.com/JasperFx/marten/blob/master/src/Marten/Events/EventSelector.cs#L85)

[2018-05-03 07:15] afmuller commented on #1002
Early in my project I made the decision to duplicate all fields that would be used in the projects security filters, as I wanted the best possible speed. I will need to reevaluate at some point in the future.

However, another reason is that I require multi-column unique indexes.

[2018-05-03 07:30] afmuller opened #1009 "Multi-column index"
I have the following configuration in my Marten Registry:

[code]

I need a **multi-column unique index** on the EntityId and RecordId fields.
I know that I can create a custom index on the database, but actually wanted to manage all the database schema from within my code.
Is there a way for me to specify a multi-column index in Marten?

I thought that I could do it by configuring IndexDefinition

[2018-05-03 07:36] afmuller commented on #1009
After some digging I see that this is a new feature in Marten 2.7.1. Will upgrade and test.

[2018-05-03 07:53] afmuller commented on #1009
For what I can see in 2.7.1, I can add a multi-column index using attributes if I specify the same index name.
However I do all my config in the Marten Registry. How do I go about adding it in the Marten Registry?

[2018-05-03 11:29] oskardudycz commented on #1009
@afmuller see more in https://github.com/JasperFx/marten/issues/999 and https://github.com/JasperFx/marten/pull/1010. In Marten `2.8.0` it will be possible to define multicolumn unique indexes.

[2018-05-03 11:52] afmuller commented on #1009
Thank you, appreciate the feedback.

[2018-05-04 03:12] cchongchong opened #1011 "DuplicatedField has hard coded _dbtype"
Hi,

I noticed that _dbType within DuplicatedField is hardcoded as NpgsqlDbType.TimestampTZ, this causes the data update issue if we give different PgType.

Reproduce Steps:

1. Duplicate your field to additional column with custom PgType: `For<YourModel>().Duplicate(x => x.YourDateTimeField, "timestamp without time zone");`
3. Try to insert or update YourModel, you will get error because it's try

[2018-05-04 11:28] #983 closed

[2018-05-04 12:44] jeremydmiller commented on #744
Meh, *I* hit some of this today.

Couple thoughts:

* In some places, we need a "raw" locator that gives you the JSONB element
* In other places, we need it cast to an exact type
* In still other places, we may need it corrected a bit for usage in JSONB_ARRAY_**** functions
* There are two different constructors for JsonLocatorField, one for shallow fields and one for complex fields, **and they do

[2018-05-04 12:56] jeremydmiller commented on #1007
Fix is ready, just need to clear some other things out first

[2018-05-04 12:59] jeremydmiller commented on #1005
@droach282 I'm just going to get this one fixed. Related to https://github.com/JasperFx/marten/issues/983. Marten is a little torn up right now with the build broken after some unrelated "fixes". When I clear that, I'll circle back to this in the 2.8.0 timeframe.

[2018-05-04 13:00] jeremydmiller commented on #1003
@oskardudycz Got this one in a PR.

[2018-05-04 13:00] #1003 closed

[2018-05-04 13:00] jeremydmiller commented on #1000
I *think* this one is answered.

[2018-05-04 13:00] #1000 closed

[2018-05-04 13:01] droach282 commented on #1005
Good deal, thank you much!

Sent from Mail for Windows 10

From: Jeremy D. Miller
Sent: Friday, May 4, 2018 7:00 AM
To: JasperFx/marten
Cc: Dan Roach; Mention
Subject: Re: [JasperFx/marten] Marten.CommandLine should warn ifAutoCreateSchemaObjects is set to None (#1005)

@droach282 I'm just going to get this one fixed. Related to #983. Marten is a little torn up right now with the build broken afte

[2018-05-04 13:01] jeremydmiller commented on #978
Still gonna have it force you to use the "mt_" prefix though. Too many things key off that to change it.

[2018-05-06 05:03] sw-carlin commented on #990
Here's some examples that might help clarify:

# InsertIfNotExists/AppendIfNotExists
Given I have a sub-document with a property that holds the created timestamp of that sub-document
And I have inserted it into an array in the parent document
When I InsertIfNotExists that same sub-document with a new timestamp
Then I expect nothing to happen because the id is the same
But I instead have a duplicat

[2018-05-07 12:42] jokokko commented on #922
@ricardoduncan, @jeremydmiller hmm, should be documented (I have a vague memory of writing something brief): http://jasperfx.github.io/marten/documentation/events/appending/, under _Appending & Assertions_.

[2018-05-10 13:41] #1007 closed

[2018-05-10 13:41] jeremydmiller commented on #960
Fixed with https://github.com/JasperFx/marten/pull/1006

[2018-05-10 13:44] jeremydmiller commented on #1005
I'm going to claim this is addressed by the fix for #983. Will be in Marten 2.8 later today.

[2018-05-10 13:44] #1005 closed

[2018-05-10 13:44] jeremydmiller commented on #1002
Sorry, I think this is going to spill over into 2.9.0

[2018-05-14 06:13] siberianguy opened #1014 "Data mysteriously disappeared"
Over the weekend I've migrated our database from RavenDb to Marven and the overall process was extremely smooth (great job!). But today there was a very frightening accident. So I've been adding data to the database using BulkInsert (a couple of thousand documents per second) and it everything was fine. But then I tried to read data from the same database and two things happened:
1. The program sa

[2018-05-14 10:30] siberianguy commented on #1014
I figured it out and, honestly, I'm shocked. So, a program that recorded data has a duplicated field definition:

[code]
And a program that was reading data did not specify it as it did not care about that index. After enabling a log, I found out the reading side found a schema mismatch and just dropped a table. Wow! Gigabytes of data were lost on a read operation. Later I fixed it by adding `opti

[2018-05-14 12:42] jeremydmiller commented on #1014
@siberianguy The documentation talks about this pretty clearly. We use the "All" setting as the default to make the getting started story faster for users. I'm sorry this happened to you though.

[2018-05-14 13:43] jeremydmiller commented on #1014
@siberianguy Hey, and probably most importantly, you need to use the exact same `DocumentStore` configuration any time you're connecting to a shared Marten-ized database, or you can expect more of these kinds of problems.

[2018-05-14 13:50] jeremydmiller commented on #969
@jinhong- What I was suggesting isn't that dissimilar to what you already did. Any chance I could talk you into writing something up for our docs about how you did that? Or at least doing that here?

[2018-05-14 13:53] Miggleness commented on #1014
@jeremydmiller what do you think of changing default to  AutoCreate.Create in the next major release (v3)?  I feel this is a safer default and full schema management by application should be an opt-in option.

[2018-05-14 14:32] siberianguy commented on #1014
+1 for Create or CreateOrUpdate as default option. I doubt I was the only person who was influenced by this. It reminds me MongoDb running in an unsafe mode in early version. Of of the good ideas behind RavenDb was safe by default (though they went a little too far).

It also might be worth pointing it out in Getting Started as that's what people who are getting into Marten read. Now their data ge

[2018-05-15 11:32] siberianguy opened #1015 "Child list can not be populated"
I'm trying to query Trades object with the following schema:

[code]
As results I get an exception that it could not be populated:
[code]
I'm confused cause the same class was serialised and deserialised in RavenDb without any problems. It's clear the problem is related to TradeItems collection but I can't figure out from exception what exactly went wrong...

[2018-05-15 16:34] siberianguy commented on #416
Is there any update on calculated indexes for DateTime fields?

[2018-05-15 16:40] jeremydmiller commented on #416
Sorry, no. I had honestly forgotten about this. We could do it with the immutable timestamp function that we already use for querying.

[2018-05-15 16:44] siberianguy commented on #416
It's funny cause I've seen that function in queries and was curious why it was not used for indexing :)

Could you please reopen this issue?

[2018-05-17 04:04] AKlaus opened #1017 "Question: New option for a separate column instead of a duplicated field?"
While using [Duplicated Fields](http://jasperfx.github.io/marten/documentation/documents/customizing/duplicated_fields/) makes sense, it feels as the first step towards placing fields either as a separate column or within the JSONB structure. Therefore, my questions are:

1.  Would it make sense to provide an option to store a field either as a separate column or within the JSONB structure, rather

[2018-05-17 14:17] afmuller opened #1018 "Unique Index Schema Update Assert Failure"
Hi

See below program.

[code]

Even though the database (and the unique index) is successfully created (because of ApplyAllConfiguredChangesToDatabase) the AssertDatabaseMatchesConfiguration always fails with this error message:
[code]
The schema migration does not appear to be detecting that the unique index already exists.

I am running Marten 2.8.0.

[2018-05-27 19:44] jacobpovar commented on #1018
It seems that method `public bool Matches(ActualIndex index)` in `IndexDefinitions.cs` adds additional whitespace to actual index definition, therefore comparison fails.  https://github.com/JasperFx/marten/blob/be72a8694a33818c67e21a5280a6f4174f885748/src/Marten/Schema/IndexDefinition.cs#L108

Actual index definition from database:
[code]

Generated DDL to be compared:
[code]

[2018-06-01 13:08] rdcm commented on #457
@jeremydmiller Does the way exist at this moment(marten 2.8.0) write custom interceptor to measure query duration?

Something like this or via `app metrics`:

[code]

[2018-06-02 13:38] jinhong- commented on #969
@jeremydmiller I recently started a blog and decided to put the information on how I achieved it inside. If you do not mind I could share the link here

[2018-06-02 15:30] jeremydmiller commented on #969
@jinhong- Please do share the link here. Makes Marten look a whole lot better if other folks blog about it;)

[2018-06-02 17:21] jinhong- commented on #969
Here it is. Enjoy! https://jin.ministry-of.tech/scaling-out-with-marten-async-projections-daemon/

[2018-06-04 06:05] sandcastle opened #1025 "Support for tracking database calls"
I'm looking for a solution that would allow me to add a tracking layer (with timings) to all database requests so that I can track them as `Dependencies` for `Application Insights`.

I can't seem to see a path forward at this stage, without wrapping calls in the API individually.

Is there any appetite to add support for something like this? And if so, are there any proposed API's that have been s

[2018-06-06 00:11] AKlaus opened #1026 "Strongly-typed nested class in Select() throws exception"
How to return a collection of a strongly-typed class with a nested class, like below?
[code]
where
[code]

Currently, an attempt to return in `Select()` a strongly-typed nested class (like above) throws a "_Sequence contains no elements_" exception:
[code]

[2018-06-06 00:13] AKlaus commented on #1026
It might be related to JasperFx/marten#396...

[2018-06-06 01:35] AKlaus commented on #1026
There are two things I'd like to achieve:
1. Having a nested structure;
1. Using strongly-typed objects everywhere.

The first one can be achieved by using [Javascript Transformations](http://jasperfx.github.io/marten/documentation/documents/advanced/javascript_transformations/). Perhaps, it even would works if I modify the code to:
[code]
However, I can't achieve the second goal of using strong t

[2018-06-06 04:16] AKlaus opened #1027 "How to use NodaTime to interact with PostgreSQL date/time types?"
The [NodaTime](https://nodatime.org/) plugin is [the recommended way](http://www.npgsql.org/doc/types/nodatime.html) to interact with PostgreSQL date/time types. However, we can't use it along with Martin due to:
1. The recommended way to use NodaTime is by adding [Npgsql.NodaTime](https://www.nuget.org/packages/Npgsql.NodaTime) plugin
1. Npgsql.NodaTime is using Npgsql v4, when is Marten is still

[2018-06-06 19:16] jeremydmiller commented on #1026
I don't see Dapper doing any better here. EF Core maybe.

The javascript transform will still let you use strong types, as long as what JSON it returns can be deserialized into your type.

[2018-06-07 12:28] jeremydmiller commented on #1027
@AKlaus There's already a pull request (with some breaking tests) to update us to Npgsql 4 and that'll be ready soon. As for NodaTime w/ Marten, just be aware that you may not be able to use Linq against the NodaTime objects w/o some customizations.

*A* way to do this now is to still have raw DateTime or DateTimeOffset values persisted in the JSON serialization and do the NodaTime object creation

[2018-06-07 12:29] jeremydmiller commented on #1025
@sandcastle This has come up a couple times. My first suggestion would be to look at the raw tracing in Npgsql itself.

You *can* build and register an `IDocumentSessionListener` at runtime and add that to a session now (think that was 2.5).

[2018-06-07 12:34] jeremydmiller commented on #1017
"Would it make sense to provide an option to store a field either as a separate column or within the JSONB structure, rather than duplicating the fields?"

That's complexity that I'd rather not have in Marten. We're not an ORM and I really don't want to go down that road.

There's nothing stopping you from using Dapper and Marten together, so you could use Dapper for the flat tables and Marten for

[2018-06-07 12:37] jeremydmiller commented on #1015
@siberianguy I'd strongly recommend turning this:

[code]

into one of these two:

[code]

You've set the property to a Linq expression that implements `IEnumerable<Trade>` somewhere, and that object can't be serialized. Plus you might easily have some double iteration problems from doing that anyway.

I'm going to close this one just for the sake of bookkeeping because there's nothing to do here

[2018-06-07 12:37] #1015 closed

[2018-06-07 12:38] jeremydmiller commented on #1014
@Miggleness @siberianguy We can change the default in 3.0, but that's not happening this year. I'd happily take a PR changing the text in the docs if you have suggestions.

[2018-06-08 04:42] AKlaus commented on #1017
Are you open for contributions for that feature or completely against it? If you are, how would you estimate complexity of this task (would it suit for a contributor without comprehensive knowledge of the project)?

I agree, that slightly reduced DB size and cleaner look by eliminating duplications, can't be a high-priority task.

[2018-06-19 14:17] kasparkallas commented on #1014
I had the same issue when doing parallel unit tests where each test created a new Marten store and database schema but not all of the stores were always properly disposed.

[2018-06-19 14:17] kasparkallas commented on #938
I had the same issue when doing parallel unit tests where each test created a new Marten store and database schema but not all of the stores were always properly disposed.

[2018-06-27 12:41] bobmcallan opened #1034 "Feeback on ease of use"
Just a couple of points to note (second look and install):

1. Great idea to utilise Postgres and all the power this brings
2. There are many unknown dependencies on the lib, lowers my level of trust on the support-ability

However finally,
3.  The install/setup has to many variables and few reasons/checks. In the end, I've not been able to cleanly get this to work and upon my second attempt  (1st

[2018-06-27 12:47] jeremydmiller commented on #1034
@bobmcallan A couple elements of feedback on your feedback:

Absolutely nothing here was actionable or specific. Many, many people have been able to use Marten and we've had 70+ contributors, so your experience might just be an outlier.

I'm sorry your experience wasn't positive, but I'm closing this as it's not helpful.

[2018-06-27 12:47] #1034 closed

[2018-06-27 12:47] bobmcallan commented on #1034
Ok. Thanks.

[2018-06-27 19:51] marcinbudny opened #1035 "AsyncDaemon does not restart after transient database problem"
**Marten version:** 2.8.0

**Problem**
After transient database connection problem, the daemon does not restart the projections. In fact, it seems to be stuck on stopping the projection.  [Repro can be found here.](https://gist.github.com/marcinbudny/59b8a6c60fbb4892e9590e5813d565c7)
When I restart my postgres database running in docker, the last thing that gets logged from daemon logger is:
[code

[2018-06-29 11:04] migajek opened #1036 "Patch & Update combined within single session/unit of work fail with invalid order of execution"
Apparently when combining Patch and Update within single session, the order of operations is invalid
I know this is easily avoided in simple test (reproduction) scenario like the one below.

The real usage case I've had problems with is when using patch and updates in a projection.
When the Async Daemon passes a page of multiple events to a projection, AFAIK all of the processing happens within a

[2018-07-10 13:16] #733 closed

[2018-07-10 20:17] jeremydmiller commented on #1035
I don't think the `Fetcher.Stop()` is a necessarily a problem unless it's a threading issue that deadlocks somewhere. Your code just kicks it into a different thread, right?

I don't have a better idea and there's not points for style here, so I'm going to use your fix in 2.9 and see how this goes for now

[2018-07-11 06:15] marcinbudny commented on #1035
Hi Jeremy,

The deadlock was exactly the problem I observed, with the task waiting for itself to complete but at the same time preventing itself from completing.
The sample solution I posted is not very well tested. However the basic path worked: when postgres was down, the deamon was in a stop-pause-start loop and resumed when postgres was back online. Probably behavior in edge cases needs to be

[2018-07-11 11:55] jeremydmiller commented on #1036
@migajek The tests aren't quite valid and Marten itself is working as expected. You're calling a `Store()` first on the document to this session. When you call the later `Update()` on the same document, Marten sees that it already has that document in the session and ignores the second `Update()` operation.

Same thing with the test where you try to update twice. Once I change the test setup to no

[2018-07-12 09:15] migajek commented on #1036
(I'm not sure if I got you correctly... )
in my opinion the tests reflect the *possible* flow of operations when working with projections.

let's assume I have 3 events in a single projection
* `FooCreated` -> handled with `Store()`
* `FooNameChanged` -> handled with `Load & Update`
* `FooValueChanged` -> handled with `Patch`

I can never be sure whether they're going to be executed on the same se

[2018-07-12 10:11] migajek commented on #1036
please have a look here.
Seq_Patch_Update fails

[code]

[2018-07-12 12:07] jeremydmiller commented on #1036
Can you make this code:

[code]

a little bit smarter to check first if the document is already loaded and present in the session's unit of work? Then update the existing document rather than issuing the additional patch operation? That's probably going to be more efficient anyway even w/ the extra if/then logic

[2018-07-12 12:33] migajek commented on #1036
sure. this is one of the possible workarounds (and it works - code below)

I'd still consider it a bug though. At the first glance the initial projection code ("naive" one) looks perfectly fine and safe. One need to know the Marten internals really well to know this might cause such troubles

[code]

[2018-07-12 12:38] jeremydmiller commented on #1036
I'm sorry this hit you, but I'm not buying that this is a bug. The combination of doing a Store/Update/Insert and a Patch in a session of the same session isn't something I think we should be expecting. I think your particular usage was unusual, and making the Store()/Update() be idempotent  that causes you trouble here was the right thing to do.

[2018-07-12 13:14] migajek commented on #1036
I disagree on this part...

1. In my opinion, it is perfectly fine to have a single projection that does Store in response to `created` event,  and `Update` and `Patch` operations when processing `updated` events. I see no reason not to mix `Patch` and `Update` approach within single projection, depending on the use-case of the reaction to specific event

2. it is up to the async daemon to decide

[2018-07-12 13:21] jeremydmiller commented on #1036
"as a result the recommendation here should be to avoid using Patch in projections ?"

-- At this point, yes. At least without the workaround. I'd be fine with making a new set of operations that quietly switches between patching or updating the existing document as a helper.

If you're still arguing the double stores, can you take this to the Gitter room and see if we can get some other opinions?

[2018-07-12 17:28] droach282 opened #1042 "DROP INDEX CONCURRENTLY invalid within a transaction block on Postgres 10"
Hello,

We're having a rough time running the update scripts created by marten command line tooling.  If there are any indexes being created in the scripts, they universally fail with the following message:

`psql:test.sql:82: ERROR:  DROP INDEX CONCURRENTLY cannot be executed from a function or multi-command string`

In doing some research on this, I found the following on [PostgreSQL's documenta

[2018-07-12 20:03] droach282 opened #1043 "Marten.CommandLine "patch" on up-to-date database drops and recreates indexes"
When running against a fully updated database (ie, after running the Marten.CommandLine `apply` command), the `patch` command appears to drop and recreate all indexes that have previously been deployed.  Since indexing can be an expensive proposition, shouldn't these be skipped instead?

(Note that this script was created with `AutoCreateSchemaObjects = AutoCreate.CreateOrUpdate` and `DdlRules.Tab

[2018-07-12 20:07] jeremydmiller commented on #1043
I think the bigger question might be why Marten thinks your indexes have changed

[2018-07-12 20:33] droach282 commented on #1043
No idea, unless postgres 10 is doing something interesting when I'm not looking.

[2018-07-12 22:51] mhov opened #1044 "Npgsql V4 breaks Marten"
What previously worked for `DocumentStore.For(_ => ... ` and Npsql v3.x now breaks with Npgsql v4
ex
[code]

I see deep down in the weeds Marten uses reflection to get to access a sealed `Npgsql.TypeHandlerRegistry`.  I'm sure this is a known issue, I just couldn't find a way to track the progress, so making an issue.

[2018-07-12 23:49] jeremydmiller commented on #1044
@mhov If you'll do a quick search through the GitHub repo you'll see other issues and preliminary PR's on this very thing.

[2018-07-13 16:34] migajek commented on #1036
I can try moving the discussion to Gitter but first I need to be sure I understand more or less what exactly is the problem..
To my understanding, Marten "collapses" all the updates to the entity made within single unit of session, so it does commit single update with a merged changeset.
Patch on the other hand adds the update statement which calls the js function transforming the record's `data`

[2018-07-13 17:50] mhov commented on #1044
@jeremydmiller I did search through the issues and only saw #1027, to which the v4 incompatibility is kind of tangent to the ticket.  I forget to look through PRs though.  Anyways, I thought this ticket would make it easier to find for others in the same boat.  If you think its redundant though, feel free to close it.

I've been reading ShadeTreeDeveloper since the fubumvc days, thanks for all you

[2018-07-17 12:44] mysticmind commented on #1043
@droach282 are you using any multi-key indexes? I fixed #1018, a little while ago, this could possibly related to this issue.

In any case please post an example of the index which you created to check on this.

[2018-07-17 14:38] #1018 closed

[2018-07-17 16:56] mysticmind commented on #1043
@droach282 thanks for the repro, I was able to zero in on the issue and the fix is on its way

[2018-07-17 17:16] mysticmind commented on #1042
@droach282 could you please provide a repro unit test for this issue?

[2018-07-17 18:24] droach282 commented on #1043
Good deal, thanks Babu!

[2018-07-17 18:52] droach282 commented on #1042
Sure, here are the steps that I've used to reproduce.

1. Create a new database in Postgres 10 for use with Marten, with plv8 installed.
2. Declare indexes on some document types with "IsConcurrent = true" enabled.
3. Create a command line app with the Marten.CommandLine library, and run it with the "patch" command.
4. Attempt to run the generated patch.

In the generated script, you'll see that t

[2018-07-19 01:49] droach282 commented on #1042
Ok, we can certainly do that at this point, but that makes me nervous going
forward. A major reason that were running from RavenDB is how expensive
index creation is, and the idea of locking a table in Postgres to create an
index seems like it would be just as bad. Am I right to be worried?

On Wed, Jul 18, 2018, 12:03 PM Babu Annamalai <notifications@github.com>
wrote:

[2018-07-19 18:58] jeremydmiller commented on #1036
"What I do not understand here is, why is there no second update call queued?"

What's happening is that you call `Store()` with that document. Then you add a patch operation that would impact the same document, but only when the session is committed. *They* you call `Update()` on the exact same document, Marten sees that you've already made an operation to persist that complete document, and does

[2018-07-19 19:04] jeremydmiller commented on #1043
Fixed by https://github.com/JasperFx/marten/pull/1047. Will be in Marten 2.9.0

[2018-07-19 19:04] #1043 closed

[2018-07-19 19:07] jeremydmiller commented on #1035
"Fixed" for now with https://github.com/JasperFx/marten/commit/e6e41776302dc1a759d17f689b77e20696953de1

[2018-07-19 19:07] #1035 closed

[2018-07-19 19:08] jeremydmiller commented on #1002
@afmuller Hey, can you give me your `ItdApPayment` class to make this go a bit faster?

[2018-07-19 19:30] jeremydmiller commented on #957
I'm not super thrilled about this, but a new test for the 2.9 release says that it's working fine. I *think* that https://github.com/JasperFx/marten/pull/1013 might have addressed this. I'm about to close this w/ a commit that has a test for this case.

[2018-07-19 19:32] jeremydmiller commented on #799
No recent activity on this, and "works on my box". I'm closing this.

[2018-07-19 19:32] #799 closed

[2018-07-19 19:38] jeremydmiller commented on #744
Wimping out and pushing this to 3.0.

[2018-07-19 19:38] jeremydmiller commented on #978
Meh, wimping out and bumping this to the next release.

[2018-07-19 19:39] #957 closed

[2018-07-20 05:03] roji commented on #1027
NodaTime support is new and was only added in Npgsql 4. Until this new version is supported, continue using regular DateTime as before.

[2018-07-20 12:49] jeremydmiller opened #1049 "Eliminate usage of reflection in TypeMappings"
Bits of code we need in Npgsql are inexplicably private, so we've always used Reflection to get at it. That's slow, and their code has been buggy in npgsql 4, so let's just write out own mappings from .Net type to NpgsqlDbType

[2018-07-20 13:25] jeremydmiller opened #1050 "Rewrite CollectionAnyContainmentWhereFragment"
There's gotta be a better way to make that code cleaner. Needs to more accurately model how the serializer formats data instead of doing a naive ToString() in the sql parameters

[2018-07-20 17:58] jeremydmiller commented on #1017
@AKlaus I'm open to contributions for this, but only if you're signing up to help maintain this over time and deal with user questions going forward. I really didn't want to be on the hook for an ORM here.

[2018-07-20 17:59] jeremydmiller commented on #928
We've got a better exception message now at the least in 2.9.0

[2018-07-20 17:59] #928 closed

[2018-07-21 17:13] mysticmind commented on #1002
@jeremydmiller  and @afmuller I zeroed in on the issue to this line of code which adds an additional semicolon (note that base.AddColumnSql() already adds a semicolon)
https://github.com/JasperFx/marten/blob/6ddab5650f1f87f64c8674e39d15d91a3ca4dcf4/src/Marten/Storage/DocumentTable.cs#L188

I will send a PR with a fix and unit test for this shortly.

[2018-07-23 12:08] oakio opened #1054 "Single HiLo id generator per document store"

[2018-07-24 10:46] siberianguy opened #1057 "Duplicate key value violates unique constraint"
When using BulkInsert in RewriteExisting mode, I regularly receive the error in the title. I've googled it a little bit and it seems like it could be related to temporary tables creation which is exactly what goes behinds the scenes in Marten

[2018-07-28 00:20] Miggleness commented on #1042
@droach282 a viable workaround is to continue using the `IsConcurrent` flag and modify the resulting patch file to remove the concurrent index creation.

[2018-07-31 15:18] mysticmind commented on #1042
@droach282 I have added an enhancement via PR #1058. With this by default system creates non-transactional script for patch and dump. If you pass flag `-t` or `--transactional-script` then it creates a transactional script. For your case with creating concurrent index, the non-transactional script should work.

I will wait for @jeremydmiller to review and confirm the changes.

[2018-08-01 20:26] brokethebuild opened #1060 "Including Document with a subclass hierarchy causes an InvalidCastException"
Including documents with a subclass hierarchy results in a
_"Can't cast database type jsonb to Guid"} | System.InvalidCastException_

I've see this error a couple of ways, but all related to either _Marten.Schema.Hierarchies.SubClassDocumentStorage.Resolve_
_Marten.Schema.HierarchicalDocumentStorage.Resolve_
...
`var version = reader.GetFieldValue<Guid>(3);`

Reproduce Steps:

1. Configure the sch

[2018-08-01 20:58] psmith6 opened #1061 "Query is generated with incorrectly when enums are stored as strings and GinIndexJsonData has been set"
When setting json serialization to store `EnumStorage.AsString` and setting GinIndexJsonData on a class, this will cause the query to generated incorrectly. See failing test below.

[code]

[2018-08-01 21:09] psmith6 commented on #1061
[code]

[2018-08-03 14:41] Miggleness opened #1064 "Make dotnet build work on non-Windows platform (*nix, MacOS)"
As of the moment, running `dotnet build` fails on non-Windows platforms due to net46 being among the default target frameworks.

Small nuance, but nice to have instead of having to change the target frameworks manually.

[2018-08-03 17:44] jeremydmiller commented on #1061
Fixed by https://github.com/JasperFx/marten/pull/1063

[2018-08-03 17:44] #1061 closed

[2018-08-03 17:44] jeremydmiller commented on #1064
Fixed by #1065

[2018-08-03 17:44] #1064 closed

[2018-08-05 12:11] Miggleness commented on #1057
@siberianguy it may be a better idea to cleanup your source to ensure that this problem doesn't happen.  From what I've read, bulk insert operation evaluates against the state of the target table at the time the operation starts, and not the latest uncommitted state.

Consider:
1. Validate uniqueness integrity at the source
2. Not use bulk inserts
3. Do you really need the unique index?

[2018-08-05 16:43] david-driscoll commented on #784
Has there been any traction on this?  I tried to figure it out, but my Expression knowledge is really rusty.

[2018-08-05 20:00] jeremydmiller commented on #784
Meh, the Linq support as it is handles that kind of search, but the compiled query mechanics are off. I haven't touched it since just because there's a workaround. As I recall, we had issues trying to figure out the order of the parameter as well as a new type of parameter to coerce the value into the dictionary that operator needs to use to query Postgresql.

[2018-08-07 15:29] mysticmind commented on #1042
@jeremydmiller Can we close this against PR #1058?

[2018-08-08 11:16] wayne-o opened #1067 "Get NotImplementedException on CountAsync"
Trying this:

`await _documentStoreClient.Query<Order>().CountAsync(x => x.EventInstanceId == x.Id)`

Throws NotImplementedException (where EventInstanceId  is a Guid):

![image](https://user-images.githubusercontent.com/178060/43834086-cd746592-9b04-11e8-8e96-65b0af970518.png)

[2018-08-09 12:18] KopIlya opened #1068 "Query requests doesn't work on nunit in netStandard project"
Hello. I have NetStandard Library, where my code.
I have .Net Class Library with tests on Microsoft.VisualStudio.TestTools.UnitTesting. All tests work very well.
But another NetStandard Class Library with tests on NUnit doestn't work in some cases.
Requests by linq not works. Examples:

1. Objects not deleting.
[code]

2. Query<> requests doesn't works
[code]

[2018-08-10 11:12] mdissel commented on #1054
Resulting in unique ID's for each record in every table? If yes, nice enhancement :+1:

[2018-08-10 13:13] jeremydmiller commented on #1054
@oakio I'd be worried about contention if you do this. Why is this valuable?

[2018-08-10 13:58] oakio commented on #1054
The main reason is if I want to merge two tables into one, I will not have conflicts by id

[2018-08-10 14:15] Miggleness commented on #1067
@wayne-o which version of Marten are you using?

[2018-08-11 19:13] eouw0o83hf commented on #1044
Just in case it's not obvious to future readers, this was resolved in the `3.0 Alpha 1` release (line right before this comment that's easy to gloss over when reading GitHub threads), so just update to the latest and it should work.

[2018-08-13 15:09] eouw0o83hf opened #1069 "Deserialization error with generically-typed events"
I'm trying to add metadata to events (see #780, IMO this should be supported by the framework at a basic level), and went the route of adding a wrapper around each event, as such:

[code]

Code to manage event streams:

[code]

Events commit happily, updated projections correctly, and even persist the correct event type to the database.

Querying the event stream throws an exception though. Stream

[2018-08-13 15:09] eouw0o83hf commented on #780
Also evaluating Marten and lack of metadata capability is a big deal. Other frameworks provide this readily, and an enterprise event store needs to be able to handle metadata/headers.

@aprooks , I actually pursued that route and there's some deserialization bug lurking within Marten that actually renders that route infeasible for now. See #1069 for details.

[2018-08-17 16:30] jeremydmiller commented on #1069
@eouw0o83hf It's not a serialization error per se, it's just that Marten is probably being too naive about how it stores the event type name. Closed generic event types really wasn't something we anticipated here. That's really not a case I'm excited about supporting because the reflection wok around that is always a huge mess.

It'd be easier to deal with this with a simple layer supertype for yo

[2018-08-17 16:32] jeremydmiller commented on #780
@eouw0o83hf This got left out of Marten 2.0 because it's a lot of work and there wasn't much demand for it at the time. Since it is an awful lot of work to support this and there's very little concrete definition about what it means or how it'd be used, can you add some concrete examples of what you want here? And as I commented in #1069, you could easily effect this yourself with a base class

[2018-08-17 16:39] jeremydmiller commented on #1068
@KopIlya,

`session.Query<string>()` isn't supported. And as for the rest, I don't know. There's nothing about the testing tools that would impact Marten that way. There's not really enough information here to help you much.

[2018-08-17 16:45] jeremydmiller commented on #1067
@wayne-o It's the comparison to another property on the document. That isn't something we support in the Linq provider because it's never come up before. You'd have to go to a bit of custom WHERE clause in the Linq statement for now.

This code:

[code]

I don't think this would be crazy to support in the next version or so though.

[2018-08-17 16:50] jeremydmiller commented on #1060
Fixed by #1065. Will be in 2.10.0 soon.

[2018-08-17 16:50] #1060 closed

[2018-08-17 16:52] jeremydmiller commented on #1054
@oakio Okay, but this one is "I take pull requests";) Some kind of way to declare that the Hilo sequence is shared?

[2018-08-17 16:54] jeremydmiller commented on #1014
Closing this one, I think we've come to a conclusion.

[2018-08-17 16:54] #1014 closed

[2018-08-17 17:00] jeremydmiller commented on #1042
@mysticmind Sorry I was slow on this one. Yes. Closed by #1058

[2018-08-17 17:00] #1042 closed

[2018-08-17 17:01] jeremydmiller commented on #959
No recent activity

[2018-08-17 17:01] #959 closed

[2018-08-17 18:15] eouw0o83hf commented on #1069
@jeremydmiller I'll do some more research, but I seem to remember getting correct types out if I queried the data in different ways, which led me to believe that Types are being persisted correctly but maybe reinstantiated naively.

I wound up going the supertype route, it's probably an overall less-complex way to deal with it.

I have some time coming up to get the Marten solution setup locally,

[2018-08-18 01:55] Miggleness commented on #1017
@AKlaus I think something like EF core or plain Dapper would be a better fit for your use case.  In the case of EF core, you can use value convertion (https://docs.microsoft.com/en-us/ef/core/modeling/value-conversions) for complex object graphs within your entities to convert to JSON and back.

[2018-08-18 05:15] tedekeroth opened #1071 "Ability to add and handle index in JSON documents even though hierarchy has been added"
The ability to use hierarchies i Marten is great, but there are a few issues with it, one I would like to address here:

When an hierarchy is added in code, Marten then use the base class as the table, and all objects that are children of that base class is persisted into the same table. If there for example is this structure: `CoreObject-->Actor-->Customer`, and I add hierarchy, like this:

    S

[2018-08-20 13:06] SeanFarrow opened #1073 "Inheritence Hierarchy query and a potential feature request"
Hi,

In the documentation regarding inheritance hierarchies, it states that searchable fields can only be declared on the top most class. I was wondering how this plays out when the base class is abstract and has properties.
I've got a case where I know I'm going to want to add several concrete types with the same properties so have abstracted them in to a base class.

I need to query on a propert

[2018-08-20 13:28] jeremydmiller commented on #1073
@SeanFarrow,

That's not quite accurate. At *this moment*, you can only specify indexes against properties or fields on the base class (but there's work coming soon to change that). You can happily query against anything in the subclass or the super class that you could normally with Marten. I don't think there's anything in Marten that needs to change for what you're asking for here.

[2018-08-20 13:29] #1067 closed

[2018-08-20 14:16] SeanFarrow commented on #1073
@JeremyDMiller,
How soon is soon?
Ok, thanks.
How do I tell marten to use a datatype from another nuget package if I am creating a column for a specific field?
Cheers
Sean.

From: Jeremy D. Miller <notifications@github.com>
Sent: 20 August 2018 14:29
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [Ja

[2018-08-20 14:42] jeremydmiller commented on #1073
@SeanFarrow All of that is documented in our website. You don't have to explicitly make any kind of searchable field upfront to be able to query on a field. What is it that you think is missing?

[2018-08-20 14:49] SeanFarrow commented on #1073
What I’m trying to do is create a column on a field that is of a type not natively supported by PostGres and the Npgsql provider, they provide a plugin for this specific type, so I was wondering how the extra columns are created, such that I can use an external type.
It’s one of the types from the Nodatime library for reference.

From: Jeremy D. Miller <notifications@github.com>
Sent: 20 August 20

[2018-08-20 14:51] jeremydmiller commented on #1073
Meh, that's a bit of a different issue. If the Noda types can be serialized to JSON with Newtonsoft, you don't need to do anything else to add any kind of field to a Marten-ized database. If you want to search on the NodaTime data elements, I don't know. You'd have to teach Marten's Linq provider how to interpret that.

[2018-08-20 14:52] jeremydmiller commented on #1073
There's an open issue somewhere about adding NodaTime support to the Linq provider, but nobody has taken it up yet

[2018-08-20 14:53] SeanFarrow commented on #1073
Ok, and how extensible is the linq provider. I’m happy tro do the work and potentially produce an add-on/plugin.

From: Jeremy D. Miller <notifications@github.com>
Sent: 20 August 2018 15:52
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [JasperFx/marten] Inheritence Hierarchy query and a potential f

[2018-08-20 14:55] SeanFarrow commented on #1027
Is npgsql v4 support as of marten v2.9+?

[2018-08-20 14:57] SeanFarrow commented on #1073
Yep, I’ve just found it and commented, so feel free to close this.

From: Jeremy D. Miller <notifications@github.com>
Sent: 20 August 2018 15:52
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Mention <mention@noreply.github.com>
Subject: Re: [JasperFx/marten] Inheritence Hierarchy query and a potential feature request (#1073)

There's an open issue

[2018-08-20 15:06] mysticmind commented on #1027
https://www.nuget.org/packages/Marten/3.0.0-alpha-1 has support for npgsql
v4.
Also you can look at branch https://github.com/JasperFx/marten/tree/3.0

On Mon 20 Aug, 2018, 8:25 PM Sean Farrow, <notifications@github.com> wrote:

[2018-08-21 08:04] SeanFarrow commented on #1027
Is there a way to extend the available types for querying?
I notice there are query handlers but wondered whether these can be added to using something like MEF?

From: Babu Annamalai <notifications@github.com>
Sent: 20 August 2018 16:06
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [JasperFx/marten

[2018-08-21 10:43] jeremydmiller commented on #1027
MEF? Ick;)

You might be able to query as is on properties of the NodaTime objects themselves, or this: http://jasperfx.github.io/marten/documentation/documents/advanced/customizing_linq/

[2018-08-21 10:51] SeanFarrow commented on #1027
Ok, given the below, I think this is doable.
I’m assuming an extension package would be the best way to integrate this?

From: Jeremy D. Miller <notifications@github.com>
Sent: 21 August 2018 11:44
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [JasperFx/marten] How to use NodaTime to interact with P

[2018-08-22 00:05] jeremydmiller commented on #943
Bumping this to 3.0 because it would cause every single Marten function to get rebuilt

[2018-08-22 01:04] jeremydmiller commented on #1069
Fixed in a local branch. This will be in Marten 2.10.0 and 3-alpha-2 tomorrow (8/22)

[2018-08-23 20:15] #1069 closed

[2018-08-24 11:00] jinhong- opened #1075 "Marten with CockroachDB"
Did anyone try this before? Seems to have API compatibility with Postgres's API specifications

[2018-08-24 13:06] mysticmind commented on #1075
@jinhong- This is very interesting. CockroachDB fully supports PostgreSQL wire protocol compatibility and also supports JSONB since v2.0. I don't think anyone in the Marten community tried this. I think it will be worth trying out...

[2018-08-27 08:30] turbo opened #1076 "Store IDs as supplied"
I'm migrating a PGSQL + Dapper appliation to Marten for ease of use. So far everything works, except for a reproducible data import.

In the postgres version, I had an init.sql startup script that imports test data into the appropriate tables. I'd like to do the same with Marten. There is just one issue. If I load data using InitalData like this:

[code]

The set ID is just ignored and a new one i

[2018-08-27 08:33] turbo commented on #1076
Ah, might this be because Marten thinks the null Guid is "empty"?

[2018-08-27 08:52] turbo commented on #1076
Yep, that was it.

[2018-08-27 08:52] #1076 closed

[2018-08-28 22:14] bradyclifford opened #1077 "[Marten.CommandLine] System.ArgumentException: An item with the same key has already been added."
When using the `Marten.CommandLine` library, we are getting the following error when trying to execute the `dump` command:
[code]

Note that we are currently using Marten 1.5 with the same compatible `Marten.CommandLine` library. Yes I know, we should be on 2.0 at least, but we have constraints where I work.

Will follow-up with a comment that includes stacktrace and will look into the Marten code

[2018-08-28 22:14] bradyclifford commented on #1077
@matneyx

[2018-08-28 22:28] bradyclifford commented on #1077
[code]

[2018-08-30 09:11] turbo commented on #1044
This should be way more prevalent a warning on the README until the fix lands in stable. You have to jump through quite some hoops to find this issue here.

[2018-08-31 10:56] jeremydmiller commented on #1044
This is fixed in the 3.0 branch and alpha. I'm closing this for now.

[2018-08-31 10:56] #1044 closed

[2018-08-31 10:56] #1073 closed

[2018-09-03 06:38] jinhong- commented on #1075
I personally have yet to try this. Was hoping someone here already have experience with it

[2018-09-04 06:00] jinhong- commented on #1075
Just a quick update, i deployed cockroachdb and attempted to hook it up with marten. Immediately after i attempted to run it, i get the following error: unknown function: pg_get_functiondef(). So i guess it's a no go

[2018-09-06 03:40] jinhong- opened #1080 "Use long data type for Event Version"
For the next version of Marten, it would be good to upgrade the version for events to long instead of int. This will give streams with high event counts more room to grow

[2018-09-07 02:35] jinhong- opened #1081 "Marten does not work when using Npgsql 4.0.2"
If ever you install Npgsql explicitly to version 4.0.2, you will be presented with the following error:
`Exception thrown: 'System.NullReferenceException' in Marten.dll: 'Object reference not set to an instance of an object.'
   at Marten.Util.TypeMappings.ToDbType(Type type)
   at Marten.Schema.DuplicatedField..ctor(EnumStorage enumStorage, MemberInfo[] memberPath)
   at Marten.Schema.DocumentMap

[2018-09-07 07:46] cocowalla commented on #1081
If you want Npgsql 4.x, you need to use Marten 3.x.

If you mean you're using Marten 2.x and not explicitly referencing Npgsql 4.x, but another dependency _is_, that's not a Marten-related issue. You could try explicitly adding a reference to Npgsql 3.x, but that's not going to work if the package causing your problem requires Npgsql 4+.

[2018-09-07 08:11] jinhong- commented on #1081
I understand that for 2.x only npgsql 3.x. My project isn't referencing a dependency that requires npgsql 4.x. I am not saying it is a marten related issue. What i am saying is that as an improvement, it would be good to configure the Marten so that it prevents npgsql 4.x from getting installed when it is installed. I will submit a PR

[2018-09-07 08:18] cocowalla commented on #1081
OK, I misunderstood - adding some kind of maximum version Nuget constraint seems like a good idea, to me at least :) (I'm not the maintainer, just trying to help out)

[2018-09-07 18:48] MadMathMike opened #1083 "AutoCreate.CreateOrUpdate not being respected"
The comment on the AutoCreate.CreateOrUpdate enum says "Will never destroy existing tables. Attempts to add missing columns or missing tables", but when the AutoCreateSchemaObjects option is set to that value, a DROP statement is still being executed. Here is a failing test:
[Fact]
public async Task should_not_recreate_existing_matching_table()
{
    using (var store = DocumentStore.For("Server=lo

[2018-09-07 18:54] jeremydmiller commented on #1083
@MadMathMike Dollars to donuts, it's a permission problem from the "not superuser" login. It probably doesn't have rights to query the metadata tables that Marten has to depend on to see whether or not the table actually exists or matches what's there. As to why there's a DROP instead of just a CREATE, I don't remember. When you're in the mode with restricted access, I'd strongly recommend going f

[2018-09-07 19:28] MadMathMike commented on #1083
@jeremydmiller That makes sense. Curiously, and I suppose this is more of a postgres question, but when Marten is querying the metadata tables with a user that does not have rights to those tables, what happens with the query? I would expect an exception to be thrown, but perhaps zero results are returned instead? I did see the code in the Marten repository that queries the metadata tables, and I

[2018-09-07 19:33] MadMathMike commented on #1083
Also, this is still a bug, correct? A DROP statement is being executed even though I specified AutoCreate.CreateOrUpdate.

[2018-09-07 23:52] MadMathMike commented on #1083
If my research is correct, you can successfully query the metadata tables, but only rows pertaining to objects for which you have sufficient permission (such as OWNER) are returned, which would explain the metadata issue you mentioned.

[2018-09-08 00:06] jeremydmiller commented on #1083
@MadMathMike I don't think it's something we can easily fix. Call it a bug all you want, but I'm not sure there's much to do other than update documentation on this kind of thing

[2018-09-08 00:08] MadMathMike commented on #1083
Yup, definitely a good idea to update documentation. Pretty dangerous to claim "Will never destroy existing tables" when it still tries to execute a DROP statement. :-)

[2018-09-08 00:08] #1083 closed

[2018-09-08 00:38] MadMathMike opened #1084 "StoreOptions.DdlRules.Role not being used"
In postgres the default owner of a new object is the user or role of the session. Executing the following code block in pgAdmin 4 demonstrates this concept (assuming you're connected under the postgres user):
[code]

Note that the displayed owner of the relation is "TestRole" instead of "postgres", even though we initially connected with the postgres user.

The Role property on the DdlRules object

[2018-09-08 01:38] MadMathMike commented on #1084
Per a conversation in gitter, this bug needs to be addressed with a pull request. Closing the ticket.

[2018-09-08 01:38] #1084 closed

[2018-09-08 01:55] jeremydmiller commented on #1083
@MadMathMike "Pretty dangerous to claim "Will never destroy existing tables" when it still tries to execute a DROP statement. :-)" -- if I'd anticipated how you happened to be configuring Postgresql and how that would impact the functionality in the way you saw here, the documentation wouldn't say that. I'm sorry that I have not attained omniscience yet.

[2018-09-08 02:04] MadMathMike commented on #1083
I'm sorry for my passive-aggressive action of closing the ticket after a final quip from me. I shouldn't have done that.

That being said, I know this area of code is a sore spot for you, but this isn't about my configuration. Under what condition _should_ a `DROP TABLE` statement be sent to the npgsql connection if the configured setting says that it "Will never destroy existing tables"? I genuin

[2018-09-11 19:03] mysticmind commented on #930
@karelg FYI, I have refactored the AsPagedList implementation to use QueryStatistics which will result in a single round trip to db.

[2018-09-12 02:08] mysticmind commented on #1075
@jinhong, can you please go ahead and close this issue?

[2018-09-12 02:16] jinhong- commented on #1075
Will do. was hoping someone with more expertise on marten could give more insights and get it working

[2018-09-12 02:16] #1075 closed

[2018-09-12 02:57] mysticmind commented on #1075
Even though CockroachDB has wire compatibility, Marten via Npgsql uses many
pg_* functions for schema management etc which won't be available in
CockroachDB. Besides we also use JavaScript functions via plv8 extensions.

I think it will be difficult to get it working with CockroachDB.

On Wed 12 Sep, 2018, 7:46 AM Jin, <notifications@github.com> wrote:

[2018-09-12 12:33] leypascua opened #1086 "LINQ: Support for 'IN (?, ?, ?, ?)' in Where clause"
I need to write a LINQ query that will convert into:
`SELECT * FROM [table] WHERE field IN (?, ?, ?)`

Currently the code below is throwing a NotSupportedException:

[code]
Is there any workaround for this?

[2018-09-12 16:43] mysticmind commented on #1086
@leypascua you can try to use `IsOneOf`, check http://jasperfx.github.io/marten/documentation/documents/querying/linq/#sec19

[2018-09-13 01:18] leypascua commented on #1086
Thanks, @mysticmind.

Unfortunately I cannot use extension methods in the Marten assembly in our use-case because Marten is not referenced in the assembly where the code resides. We decided to put ISession behind an interface in the event that we may need to swap Marten with a more widely-adpoted document database.

[2018-09-17 01:35] ericgreenmix commented on #1086
@leypascua I believe this is supported on `List` but not on an array.

Try using the following with your query.
[code]

[2018-09-17 15:56] CodingGorilla opened #1089 "Compiled queries with constant expressions causes Npgsql exceptions"
The following compiled query fails with an invalid set of command parameters:
[code]

This generates the following SQL:
[code]

Clearly this expects 3 command arguments, but when running the code I get an error from Npgsql indicate that there was an error near ":", and upon command inspection I see that only `arg0` and `arg1` are included in the command.  Removing the `&& !ua.IsTemporary` causes t

[2018-09-17 20:50] CodingGorilla opened #1090 "Compiled query using Any() function throw an Exception"
Having a fairly simple compiled query that does an `Any()` on a string value or a guid value (the only two property types I've tried) throws the following exception:

[code]

A simple project that recreates the problem can be found here: https://gist.github.com/CodingGorilla/93a5e8204c9dd00b047e18a986fdfaae

[2018-09-18 20:54] oskardudycz commented on #1080
I think that it's a good idea. @jeremydmiller what do you think?

[2018-09-21 19:40] turbo commented on #770
I'm relying on Marten for most persistence in my app, but there are two massive tables that are still raw PGSQL because they need partitioning supports (by tenant, timestamp). It would be nice to handle this in Marten.

Although I'd urge you to wait for PG11, which will have quite a few partition improvements.

[2018-09-24 05:34] oskardudycz commented on #770
@turbo currently you can use [Conjoined Tenancy](http://jasperfx.github.io/marten/documentation/documents/tenancy/) that will at least give you possibility to split it by tenant (also stream and events table). I'll have a look on the PG partitioning in PG 10.

[2018-09-24 08:26] ppumkin opened #1092 "Details around ACID"
Hi
Saw your talk on NET CONF 18 and was pulled into the idea of ACID on EventStore

As I recently started using the CQRS/ES pattern and accepted the fact of eventual consistency I would like to understand how marten implements ACID?

I understand what ACID means but what I am struggling to figure out are what compromises have you made, or what are the side effects?

For example, In some production

[2018-09-25 13:16] mysticmind commented on #1092
@ppumkin Please take a look at Marten documentation on projections http://jasperfx.github.io/marten/documentation/events/projections/. there are various options for building your projections namely inline aggregate, inline, async etc. Each would give you varying degree of consistency options from immediate (inline projections) to eventually consistent (async projections).

[2018-09-26 11:27] mysticmind commented on #1090
This issue related to the issue #784.

[2018-09-26 11:43] kasparkallas commented on #1092
The ACID-ness comes from the fact that Marten uses PostgreSQL underneath which is a relational database and all the ACID guarantees of it apply to Marten when you are doing operations inside a transaction, even though you are working with "documents".

[2018-09-26 11:54] ppumkin commented on #1092
Ahh right. Yes offcourse it is because marten (using lowercase as the repo and website use lowercase) leverages the "advanced" JSON functionality that Postgre it provides.

So when I heard documents I was still thinking Mongo being updated by some kind of subscriber which was the eventual consistency issue I was thinking off.

But since it writes the JSON into a transactional based database that a

[2018-09-26 19:51] jeremydmiller commented on #1092
Sounds like the question is answered, and I'm closing

[2018-09-26 19:51] #1092 closed

[2018-09-26 19:56] jeremydmiller commented on #1086
@leypascua "We decided to put ISession behind an interface in the event that we may need to swap Marten out with a more widely-adpoted document database."

Let me translate that to "we decided to make Marten almost unusable and eliminate any usage of the advanced features that we could use to make our application more performant on the off chance we decide to switch technologies later to something

[2018-09-26 19:56] #1086 closed

[2018-09-26 19:57] jeremydmiller commented on #1081
We know, and it's been a massive PITA for everyone. Your PR went into Marten 2.10.1, and I'm getting 3.0 ready right now

[2018-09-26 19:57] #1081 closed

[2018-09-26 19:58] jeremydmiller commented on #1080
Ugh, yes, it's a good idea. Let me see if I can sneak that in right now

[2018-09-26 20:11] jeremydmiller commented on #1080
@oskardudycz @jinhong- So yes and no. I'm not gonna try to tackle it right now because we don't have any clean way to generate the table delta to bump the data type from int to long. Since we're in a hurry to get to 3.0, I think this slides to 4.0. But saying that, 4.0 might come reasonably soon.

[2018-09-26 20:15] oskardudycz commented on #1080
@jeremydmiller fine for me, I can help on bringing this long version

[2018-09-26 20:21] jeremydmiller commented on #1011
@cchongchong I'm adding this ability now for 3.0, but I'm not sure if overriding the date time types won't through off the Linq querying

[2018-09-26 20:39] #1011 closed

[2018-09-26 20:50] #943 closed

[2018-09-28 17:08] oskardudycz commented on #1027
I think that without changes to Marten codebase it won’ Work, I tried some time ago. I’ll revisit that while we have now new Npgsql with NodaTime support.

[2018-09-28 17:32] SeanFarrow commented on #1027
Nodatime has a serializer that allows serialization to Json using Json.net.
I don’t know whether this would make a difference?

From: Oskar Dudycz <notifications@github.com>
Sent: 28 September 2018 18:09
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [JasperFx/marten] How to use NodaTime to interact

[2018-09-28 17:39] oskardudycz commented on #1027
When I was checking it the last itme the biggest issue lied with the Expressions in .NET. They're strongly typed and even if at the end it'd be to construct proper query then it was stating that PG doesn't know this type. So at that time Npgsql was "biggest blocker". Now it's resolved and I can continue.

I'm thinking about giving some extensible mechanism for [TypeMappings](https://github.com/Jas

[2018-09-28 17:41] SeanFarrow commented on #1027
Cool, if you need some help/testing let me know.

From: Oskar Dudycz <notifications@github.com>
Sent: 28 September 2018 18:40
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [JasperFx/marten] How to use NodaTime to interact with PostgreSQL date/time types? (#1027)

When I was checking it the last itme

[2018-10-01 17:37] oskardudycz commented on #1027
I placed the [issue on Npgsql](https://github.com/npgsql/npgsql/issues/2176) that would be imho good first step to push it forward.

[2018-10-01 17:39] oskardudycz commented on #1049
I placed the [issue on Npgsql](https://github.com/npgsql/npgsql/issues/2176) that would be imho good first step to push it forward.

[2018-10-02 20:36] cocowalla opened #1100 "IDocumentSessionListener.DocumentLoaded doesn't fire for LightweightSession"
This is a question about `IDocumentSessionListener.DocumentLoaded`.

I'm trying to intercept documents of a certain type as they are loaded, so they can be 'fixed up', before they are passed to the caller. I tried adding an `IDocumentSessionListener`, but while other methods fire, `DocumentLoaded` does not.

I use Marten's `LightweightSession` throughout the whole system, as we don't need change t

[2018-10-04 04:29] jeffdoolittle commented on #585
Curious if GraphQL is still in the works as mentioned here: https://jeremydmiller.com/2018/06/07/planning-the-next-couple-marten-releases/

Note that this blog post references #585

[2018-10-05 12:04] Nysosis opened #1105 "Supported child collection formats when passed an array value to a non-array property"
Marten Version: 3.0.1
Framework: DotNetCore 2.1
Postgres Version: PostgreSQL 9.6.1, compiled by Visual C++ build 1800, 64-bit

There seems to be a discrepancy on the way that collections are being serialised into the JSON document.

Given this class:
[code]

and this instance:
[code]

The value saved into the database is:
[code]

Note on `IListAsArray`, and `Enumerable` have extended data about th

[2018-10-05 14:09] oskardudycz commented on #1105
You can try to setup TypeNameHandling settings of Json serializer to None https://www.newtonsoft.com/json/help/html/SerializeTypeNameHandling.htm

I have

[2018-10-06 11:12] oskardudycz commented on #1105
@Nysosis I added tests for your case https://github.com/JasperFx/marten/pull/1107/files

Could you compare that they reflect your query and your json serializer configuration?

[2018-10-08 07:15] oskardudycz commented on #1105
@Nysosis Ok, my tests were false positive. Now they're failing. I'll look on that.

[2018-10-08 08:42] oskardudycz commented on #1105
@Nysosis ok, updated tests, now they don't have false positive results. As a solution for now, you can setup JsonSerializer options to use `TypeNameHandling.None`. See [sample in my tests](https://github.com/JasperFx/marten/pull/1107/files#diff-69c458cf4968cb9204c17b7628660b15R105)

@jeremydmiller do you remember why we don't have it setup by default? I see that there is logic of using "clean" ser

[2018-10-08 13:30] Nysosis commented on #1105
Thanks @oskardudycz that looks to cover all the bases.
I'm happy to use `TypeNameHandling` for now. Be interesting to see if there's a reason it can't be the default behaviour though.

[2018-10-08 13:34] Nysosis opened #1108 "Unique index per tenant"
Currently it doesn't seem possible to configure unique indices to take multi-tenancy into consideration.

Would it make sense to extend the `UniqueIndexType` enum to have a `ComputedPerTenant` option, which if set on a property will include the `tenant_id` column onto the index definition when building the table?

[2018-10-08 13:38] oskardudycz commented on #1105
@Nysosis just be carefull, `TypeNameHandling.None` will not work if you're using interfaces instead of the exact types (eg. instead type `User` you have property with interface `IUser`)

[2018-10-09 04:45] gregfiske opened #1109 "SaveChangesAsync sends batchCommands in reverse order"
If first doing a DeleteWhere followed by upserting more documents than UpdateBatchSize value, at least one of the upserts will be clobbered when using SaveChangesAsync.

Basically, this is the issue reported and fixed in #987 but async.

[2018-10-09 15:47] #1109 closed

[2018-10-10 14:03] #894 closed

[2018-10-10 14:28] mysticmind opened #1113 "Docs: Add documentation for logging and timing queries related questions"
Cover documentation in  section http://jasperfx.github.io/marten/documentation/troubleshoot/

[2018-10-10 14:30] oskardudycz commented on #1105
@mysticmind I'll address that in my PR.

[2018-10-11 04:03] mysticmind commented on #1068
@kopIlya can you please elaborate what were the type detail for `TElement` in each of the cases which you have described?

[2018-10-11 12:07] #1100 closed

[2018-10-11 15:48] mysticmind commented on #1113
Closed via #1115

[2018-10-11 15:48] #1113 closed

[2018-10-11 19:30] #1049 closed

[2018-10-12 05:31] KopIlya commented on #1068
[code]

[2018-10-14 09:29] cocowalla opened #1119 "Retry when transient errors occur"
Is there anything built in to Marten to enable automatic retries when transient errors occur, or some kind of extensibility point where it could be plugged in?

[2018-10-16 06:16] mysticmind commented on #1119
@cocowalla There isn't any built-in facility I am aware of builtin within Marten. I have had good success using https://github.com/App-vNext/Polly in my own projects dealing with retry/circuit breaker logic (albeit not applied to a Marten based project as yet). You can roll your own using Polly or contribute back as a separate library to use with Marten :-)

[2018-10-16 07:02] jokokko commented on #1119
@mysticmind I think this is something that sample code could be composed for under "Scenarios" in docs http://jasperfx.github.io/marten/documentation/scenarios/

[2018-10-16 07:29] mysticmind commented on #1119
Interesting issue thread and relevant to https://github.com/npgsql/npgsql/issues/1495. `NpgsqlException` exposes `IsTransient` so any retry logic should be based on this.

[2018-10-16 15:14] cocowalla commented on #1119
@mysticmind Yes, I had noticed the `IsTransient` property - very useful! I'm also familiar with Polly, but I don't really want to pepper my code with retries everywhere, and would much prefer to handle it at more of an infrastrutcure level. The codebase I'm working with happens to be quite amenable to that, but I was wondering if this is something that Marten supported for more general use.

If I

[2018-10-17 08:35] mysticmind commented on #1119
@cocowalla yes, it will need to be an extended version of `ManagedConnection` since it handles `NpgsqlException`. Also I am thinking a mechanism via which this could be implemented without Marten having dependency on Polly. Thoughts?

[2018-10-17 20:51] cocowalla commented on #1119
@mysticmind I hadn't looked too much into Marten internals, and I'd just assumed that it would have something baked in to customise dependency resolution, such that things could be easily switched out for custom implementations. I don't see anything like that though - I'll open another issue for discussion 😊

In lieu of that, I have a couple of ideas:

1. Add a `bool EnableRetries` property to `St

[2018-10-17 20:58] jeremydmiller commented on #1119
I'm going to veto taking a direct dependency on Polly in the main Marten library because that's a recipe for diamond dependency hell and it'll lead to folks having all kinds of Nuget problems. Having some kind of plug in that can build the IManagedConnection and do it from an add on, maybe. Makes the ManagedConnection awfully heavyweight, but it already was to begin with.

[2018-10-17 21:04] cocowalla opened #1122 "Dependency Resolution"
On the back of #1119, I wanted to start a discussion on the possibility of making Marten more extensible through dependency resolution.

At it's most basic, this could mean `StoreOptions` having a property `Func<T> GetInstance<T>` that users can set to provide custom implementations of interfaces (e.g. `IManagedConnection`) from their preferred IoC/DI container.

Thoughts?

[2018-10-18 04:05] jokokko commented on #1119
Overall, with the retry logic I'd be afraid of building a framework within framework. So having code samples on how to use Marten with Polly and then Marten.Polly library if needed would sound like the best way to go (imho).

[2018-10-18 07:01] cocowalla commented on #1119
@jokokko So first you create a policy:

[code]

Then you need to wrap every call to `SaveChanges`/`SaveChangesAsync`/`Patch` like:

`await retryPolicy.ExecuteAsync(async () => await session.SaveChangesAsync());`

So it's very simple - but it's a pain to have to remember to do this every time, so it really needs to be centralised somewhere, and that's the problem here - I don't see anywhere within

[2018-10-18 11:30] mysticmind commented on #1119
Possible a different approach as below:
- Marten expose an `IRetryPolicy` interface as an extension point
- Consumers can implement this interface and pass an instance to configure `DocumentStore`. This enables the ability to create a library based Polly or something else.
- Calls within `ManagedConnection` can wrap the calls using the `IRetryPolicy` methods.

Thoughts?

[2018-10-18 12:57] cocowalla commented on #1119
Yep, that works for me too. If this (or an evolution of it) gets the go-ahead and someone from the core team does the Marten side of things, I'm happy to have a stab at a library with a Polly implementation?

[2018-10-18 16:38] mysticmind commented on #1119
@jeremydmiller @jokokko @cocowalla I have implemented the `IRetryPolicy` in a feature branch in my forked repo (you can see the reference comment above). Please take a look and provide your comments/feedback.

[2018-10-20 14:17] valeriob commented on #752
What is the advantage to use a different schema for each document type ?

[2018-10-20 18:17] jeremydmiller commented on #752
Separate schema per tenant I think you mean. Just more segregation of the data.

[2018-10-22 08:31] valeriob commented on #752
no, i'm an advocate of schema per tenant, my point is that this feature is not very usefull 😄

[2018-10-22 11:25] jeremydmiller commented on #752
@valeriob Ah, I'm with you. And I have no idea why you'd want to do that and I'd like to take out that complexity some day. That came in from a very early contributor.

[2018-10-22 16:16] horsdal opened #1127 "Feature proposal: General purpose event handlers"
When using the event store, I would find it useful to be able to register event handlers for doing other things than projections - like sending an integration event on a queue or whatever other application specific thing.

What I have in mind is to create a handler by implementing a new interface, `IAsyncEventHandler`:
[code]

and registering a factory function with the document store:

[code]

Wh

[2018-10-22 18:49] jeremydmiller commented on #1127
You can already do this with custom implementations of the `IProjection` interface that just doesn't build out any projected views. Or if you want the hook to be at SaveChanges() time, you can use an `IDocumentSessionListener`.

[2018-10-23 06:36] horsdal commented on #1127
Thanks for the quick response.
What I have today is an `IDocumentSessionListener` - I'll probably just put some added convenience in an add-on package that I can consume myself. That'll get me what I'm after.
Looking at `DocumentSession.SaveChanges` it looks like inline projections and 'BeforeSaveChangesAsync' on listeners run right after each other, and then `AfterCommitAsync` on listeners is aft

[2018-10-23 06:36] #1127 closed

[2018-10-24 15:31] #1119 closed

[2018-10-24 15:37] mysticmind opened #1128 "Re-evaluate ManagedConnection and retry policy implementation for performance optimization"
Re-evaluate `IRetryPolicy` and the `ManagedConnection` with an eye toward performance optimization. Having to do a Lambda on every command is a touch expensive. Refer #1124 review comment

[2018-11-14 09:21] cocowalla opened #1134 "BulkInsert for multiple tenants"
`IDocumentStore.BulkInsert` is great for quickly getting a bunch of documents into the database.

I have a bunch of different tenants pushing messages to a message queue, which are then picked up by consumers that handle messages for all tenants. The consumers reads batches of messages from the queue - what I'd like is to use `BulkInsert` to quickly get the whole batch of messages into the databas

[2018-11-15 03:32] isengrim613 commented on #770
Seems like PG11 has been released
https://www.postgresql.org/about/news/1894/

[2018-11-16 05:39] zhujiancc opened #1138 "ef core"
Can I integrated marten to  ef core , so that I can both use ef and marten's jsonb for pgsql

[2018-11-16 09:39] oskardudycz commented on #1138
Yes, you can. For more detailed answer, I'd need more detailed question :) I was using both of them and I didn't find any bigger issues or blockers

[2018-11-19 10:03] zminic opened #1140 "Problems with HiLo sequence in ambient transaction"
I have observed following behavior and I'm not sure whether it is a bug in Marten:

When session is enlisted in ambient transaction using "SessionOptions.ForCurrentTransaction()" and later calling .Store() method on this session (to insert record) throws "Nested/Concurrent transactions aren't supported."

I have tracked down this to "AdvaneceToNextHi" method in HiloSequence class. Per my understan

[2018-11-19 12:50] jeremydmiller commented on #1140
The HiloSequence wouldn't be related. The lookup of new HiLo sequence numbers happens on a separate connection, so that can't be your cause.

Can you show me the code you're using to activate the session w/ the ambient transaction? Whatever the problem is, it's in those mechanics. And a stacktrace too please?

[2018-11-19 15:01] zminic commented on #1140
Hi Jeremy, thanks for the response.

This is part of the code in question:

[code]

In the code above you can see the way I'm opening session, calling some other methods in class that have their own sessions opened with "SessionOptions.ForCurrentTransaction()".

The last call breaks with not supported exception. There I also open session with  "SessionOptions.ForCurrentTransaction()".

This is the

[2018-11-19 15:36] jeremydmiller commented on #1140
I guess a couple more questions then, and can you just give me the actual stacktrace message through and not the screen shot?

Is this behavior consistent, or does it only happen occasionally?
Do you have to use the ambient transaction, or could you just use the native transactions? Could you just have the session scoped so that it's shared between all the pieces involved in this operation so you

[2018-11-20 08:02] zminic commented on #1140
Complete stack trace:

    at Npgsql.NpgsqlConnection.BeginTransaction(IsolationLevel level) in C:\projects\npgsql\src\Npgsql\NpgsqlConnection.cs:line 565
    at Marten.Schema.Identity.Sequences.HiloSequence.AdvanceToNextHi()
    at Marten.Schema.Identity.Sequences.HiloSequence.NextLong()
    at Marten.Schema.Identity.Sequences.LongHiloGenerator.Assign(ITenant tenant, Int64 existing, Boolean& assi

[2018-11-20 14:55] zminic commented on #1140
After some digging I have found the solution.

Npgsql automatically enlists in ambient transactions (from ver 3.3), but this can be turned off by setting Enlist=false in connection string.

After this change I was getting error that prepared transactions are disabled and had to change "max_prepared_transactions" in postgresql.conf.

[2018-11-20 15:01] #1140 closed

[2018-11-23 14:59] unusual-thoughts opened #1141 "Unused Jointype parameter in Join with dictionary"
I believe https://github.com/JasperFx/marten/pull/507 missed the case of Joins with a Dictionary.

`JoinType` parameter is dropped here:
https://github.com/JasperFx/marten/blob/eb079897138c62d5d765323769e000d27d9c1667/src/Marten/Linq/MartenQueryable.cs#L110

INNER JOINS are always emitted when including with a dictionary

[2018-11-23 15:05] unusual-thoughts commented on #1141
https://github.com/JasperFx/marten/pull/1142

[2018-11-24 09:01] cocowalla opened #1143 "Guidance on BulkInsert?"
Is there any general guidance on when to use `IDocumentStore.BulkInsert`, rather than the async method `IDocumentSession.Store`?

I know it's going to vary by document size, but what order of magnitude of documents do you have to insert for `BulkInsert` to typically yield gains?

[2018-11-24 09:04] cocowalla opened #1144 "Async BulkInsert"
`IDocumentStore.BulkInsert` is not async, whereas everything on `IDocumentSession` does have the option of async.

I was just wondering why `BulkInsert` did not use async/await?

[2018-11-24 18:15] #1141 closed

[2018-11-27 09:46] wastaz commented on #686
A year later I am less convinced about this being a good idea (and more convinced that maybe MassTransit is the weird one for using interfaces as they do).

[2018-11-27 12:30] oskardudycz commented on #686
@wastaz could you elaborate and share some lessons learned?

[2018-11-27 15:55] jeffdoolittle commented on #686
I would questions whether events in the Marten event stream should be directly put on a messaging wire. These are different models that I believe are better served by encapsulation. This would require lots of mapping logic to maintain the separation, but ultimately I think that's a price that's worth paying for keeping things encapsulated. Just my $0.02.

[2018-11-28 06:21] oskardudycz commented on #1057
@siberianguy are you still facing this issue? Could you try to check with latest Marten version? I think that https://github.com/JasperFx/marten/pull/1110/files might fix this issue.

[2018-11-28 06:32] oskardudycz commented on #1144
@cocowalla afaik probably noone ever had time to implement it. @jeremydmiller is that correct?

I think that it would be good idea to add async option here as this method might be potentialy context blocking operation

[2018-11-28 07:56] wastaz commented on #686
@oskardudycz Sure thing. Ill try to do a braindump and we'll see what comes out ;)

1) The exact reason that @jeffdoolittle states. It sounds very nice in the beginning to just publish all eventsourced messages on the eventbus (both words starts with "event" after all!). But it turns out (who would have thunk) that this sometimes leads to exposing "private" state to other domains. While this might

[2018-11-30 09:27] kasparurban opened #1148 "Query with entity's own property comparison not working as expected"
When comparing entity's own properties in a query results in a query where properties are compared vice-versa.

Example: `session.Query<TestEntity>().Where(e => e.Second > e.First)`

Expected result: `select d.data, d.id, d.mt_version from public.mt_doc_testentity as d where CAST(d.data ->> 'Second' as integer) > CAST(d.data ->> 'First' as integer)`

Actual result: `select d.data, d.id, d.mt_versi

[2018-12-01 16:36] oskardudycz commented on #39
I'm closing this issue as it was solved with https://github.com/JasperFx/marten/pull/1098. Full text search is now available from Marten 3.2.0

[2018-12-01 16:36] #39 closed

[2018-12-03 17:50] oskardudycz commented on #1027
Just to let you all know I'm working right now on the initial support for NodaTime, it will take me some time, as there are few places that I need to update and align implementation. I plan to do it simmilarly as Npgsql as new package Marten.NodaTime. I hope that I'll be able to provide PR for within one week.

[2018-12-07 00:43] bklooste commented on #780
I would recommend a byte[] outside of event , like Event storedoes ..  There are many cases where you want to read all the events get the metadata but not de-serialize all the bodies.

[2018-12-07 00:49] jeremydmiller commented on #780
@bklooste YOu can do that to your heart's content with SQL as is

[2018-12-11 23:05] bklooste commented on #780
@jeremydmiller
I had a look and its not trivial adding a metadata column to the events table do this , as all the other parts of the lib are not aware of it , not to mention schema generation,..  I suppose you could build up a lookup table.

Note the use case of category or aggregate streams which may be > 100M events and you don't want to deserialize them all .

[2018-12-12 09:17] isengrim613 opened #1150 "AssertDatabaseMatchesConfiguration throws exception when there's schematically no difference"
I am writing my own schema creation/migration scripts to make use of postgres table partitioning to handle the large `mt_events` table when I encountered this.

It turns out that:
[code]

is different from

[code]

Expected string after CanonicizeSql:
[code]

Actual string after CanonicizeSql
[code]

The difference is a space before the semi-colon:
[code]
vs
[code]

Since spaces before semi-colons

[2018-12-12 09:18] isengrim613 commented on #1150
PR that will achieve this:
https://github.com/testcontainers/testcontainers-dotnet/issues/33

[2018-12-13 15:50] mstralenya opened #1151 "AssertDatabaseMatchesConfiguration throws exception for Duplicate field with name same as PostgreSQL keyword"
I am writing migration tool and when I'm calling AssertDatabaseMatchesConfiguration  it fails because field name for index is the same as reserved word (e.g. trim) and it's wrapped in quotes.

Looks like it issue in Marten.Schema.IndexDefinition.Matches method - it's adding additional set of quotes before comparing (https://github.com/JasperFx/marten/blob/master/src/Marten/Schema/IndexDefinition.c

[2018-12-14 02:08] mysticmind commented on #1151
@mstralenya can you please provide a repro example?

[2018-12-14 03:43] isengrim613 commented on #1150
PR merged

[2018-12-14 09:42] mstralenya commented on #1151
@mysticmind sure
[code]

[2018-12-14 10:54] mysticmind commented on #1151
@mstralenya Duplicate field column name in table becomes "trim" and it is a PostgreSQL keyword. Hence the error. Can you use a different column name and try?

[2018-12-14 11:05] mstralenya commented on #1151
@mysticmind problem is that we need use 'trim' as field name and looks like Marten does not allow to choose different name for duplicated column.
Also, as I said in first post, looks like `Matches` method does always adds quotes for field name, even if it's already has quotes (Marten adds quotes for plsql keywords as far as I know)

[2018-12-14 12:05] mysticmind commented on #1151
@mstralenya I am checking the codebase and noticing that `DuplicateField` has an option to set Column name albeit it is not exposed in the methods via the `StoreOptions.Schema`. I will need to debug this further.

[2018-12-14 12:42] mysticmind commented on #1151
@mstralenya I was able to run a test with your sample repro and observing that the column `trim` gets added to table fine. And as you had observed the different the the double quotes in the `IndexDefinition.Matches` i.e. actual=`CREATE INDEX mt_doc_car_idx_trim ON public.mt_doc_car (""trim"");` and `ToDDL()` generates `CREATE INDEX mt_doc_car_idx_trim ON public.mt_doc_car ("trim");`

[2018-12-14 13:50] mysticmind commented on #1151
@mstralenya I have fixed the issue to remove the double quotes, will send a PR with the fix and unit test. You can expect the fixes to the above in the next release update.

[2018-12-15 14:17] mysticmind commented on #1150
Fixed via PR #1149

[2018-12-15 14:17] #1150 closed

[2018-12-17 20:22] oskardudycz commented on #1027
It's still in progres, but feel free to comment the main idea in WIP pull request https://github.com/JasperFx/marten/pull/1154/files

[2018-12-18 04:06] #1151 closed

[2018-12-18 11:39] richardoliver-umusic opened #1155 "Exceptions thrown for various Duplicate field scenarios involving nulls"
I've found a couple of scenarios where exceptions are being thrown when storing documents due to null values for Duplicate fields.
[code]
Throws a NullReferenceException.

[code]
Throws ArgumentNullException when calling `System.RuntimeType.GetEnumName()` internally.
N.B. I added a `NullableColor` property of type `Colours?` to the Target class for this one.

I'd be happy to contribute a PR if you

[2018-12-18 12:51] oskardudycz commented on #1155
@richardoliver-umusic all of your cases looks valid to me, we'd be happy to take PR with fixes :)

[2018-12-18 13:41] richardoliver-umusic commented on #1155
Cheers @oskardudycz. I'll report back when i have something.

[2018-12-18 14:02] mysticmind opened #1156 "Add SourceLink for Marten libraries"

[2018-12-19 10:17] oskardudycz commented on #1156
Good idea. I thought that we already have it ;)

[2018-12-19 16:48] baronfel opened #1157 "EnumStorage isn't taken into account when Duplicated Field update SQL is generated"
Even though the `enumStorage` from the `StoreOptions` is passed into the` DuplicatedField` constructor (`public DuplicatedField(EnumStorage enumStorage, MemberInfo[] memberPath) : base(enumStorage, memberPath)`), that value isn't set in the `Field`'s `_enumStorage` readonly property in the base constructor.  This leads to always generating int-casting update fragments, due to the following code in

[2018-12-19 16:49] baronfel commented on #1157
I was able to verify that flowing through the enumStorage value works with the following test:
[code]

[2018-12-19 16:57] baronfel commented on #1157
I should clarify that this is with marten 3.2, and npgsql 4.0.4.

[2018-12-23 02:30] malscent opened #1159 "Projections Apply Event is not called for base class, when Apply for child class is not present."
When an aggregation has an Apply event for a base class, but no Apply event for the Event class itself, the base Apply is not called.

[2018-12-23 12:06] mysticmind commented on #1157
@baronfel I think you have to use `DuplicatedFieldEnumStorage = EnumStorage.AsString;` to store as string. Please check the last section in http://jasperfx.github.io/marten/migration_guide/

[2018-12-23 13:06] baronfel commented on #1157
Yes I know. The problem is that I have set this field and it's not respected in the sql generated for the DuplicatedField update statements

[2018-12-26 17:18] malscent commented on #1159
We, @jeremydmiller  and I decided the correct method to approach this is to implement an IProjection with a custom aggregation to do this.

[2018-12-26 17:18] #1159 closed

[2018-12-29 10:25] quicoli opened #1161 "Postgresql 10.x"
Hello

First, congratulations for this project! My project uses a postgresql 10.x database, marten isn't compatible, am I right? Is there a beta version for 10.x?

[2018-12-29 13:06] cocowalla commented on #1161
I'm on Postgres 10 and Marten works just fine, not sure what would have given you the impression otherwise?

[2018-12-29 14:21] #1161 closed, assigned to nobody

[2019-01-03 18:09] #1157 closed

[2019-01-04 09:35] #1155 closed

[2019-01-04 16:36] #1156 closed

[2019-01-10 09:22] primalfear opened #1166 "How to perform aggregates across multiple streams?"
Hi Guys,
Please excuse if this is a novice question, I am still ramping up with using marten :)

What i am trying to solve, is I have an aggregate, which is made up from multiple streams, and am trying to work out how it update it if any of the streams are updated.

I bit of info, into what we are actually trying to do, in case a bit more context is needed.
We are building a flavor of CRM and Mark

[2019-01-11 09:04] mysticmind commented on #1166
@primalfear you will need to do a custom project from multiple streams, please check http://jasperfx.github.io/marten/documentation/events/projections/custom/

[2019-01-11 17:34] primalfear commented on #1166
Awesome.... Thanks for the pointer :)
Am not sure how i missed this bit of documentation, have been spending a fair bit of time in the doc of late. On a side note... the documentation for this project is really pretty good.... I have managed to get a mostly sort of prototype up in 3 days :)

[2019-01-12 13:58] mysticmind commented on #1166
@primalfear closing this issue.

[2019-01-12 13:58] #1166 closed

[2019-01-13 19:28] #1057 closed, assigned to nobody

[2019-01-21 12:29] RobSchoenaker opened #1170 "Possible SQL Injection on QuerySession"
[code]

Concatenating SQL this way is prone to SQL injection. Always use parameters i this case.

[2019-01-22 06:12] isengrim613 commented on #1026
I have met this as well.

this code did not work:
[code]

This is the generated exception:
[code]

Workaround: don't use Marten's select. Use regular linq select:
[code]

[2019-01-22 07:47] oskardudycz commented on #1170
@RobSchoenaker thank you for this suggestion. I'm right now doing improvements to FTS, I'll fix that while working on it (see more in [PR](https://github.com/JasperFx/marten/pull/1167) ). Good catch!

[2019-01-22 07:51] oskardudycz commented on #1108
@Nysosis sorry for long answer. I'll review such possibility and get back with a feedback.

[2019-01-22 08:54] RobSchoenaker commented on #1170
I belive there are more places in the code like this. I will do a complete scan for all (non-theretical) possibilities and create new issues for them - if possible with a fix included.

[2019-01-22 08:58] oskardudycz commented on #1170
Great. Thank you in advance 👍

[2019-01-22 12:39] jeremydmiller commented on #1026
or `Select(e => new Account{Entity = entity})`. Constructor functions aren't supported in the Select() support.

[2019-01-25 20:58] psmith6 opened #1173 "Patch API does not respect "TypeNameHandling" when serializing nested objects"
When setting custom serializing settings below, the patch api calls fail to set the `$type` property.
[code]
I've noticed that TypeNameHandling is hardcode to `TypeNameHandling.None` in JsonNetSerializer seen below. When the patch dictionary gets serialized with this setting, it will prevent the inner object from storing its type information.

https://github.com/JasperFx/marten/blob/eb079897138c62

[2019-01-29 22:35] Leh2 opened #1177 "Duplicated DateTime changed type from Marten version 2.5 to 3.4"
Has the db type for duplicated datetimes changed from version 2.5 to 3.3? In 2.5 it was created with timestamp with time zone, but 3.3 will like it to be timestamp without time zone.

Updated to 3.3 and 4 out of 5 tables fails on migration. All 4 tables has duplicated datetimes, and when I changed the type in the db to without time zone, migration goes well.

Seems this is the place where it did g

[2019-01-30 14:07] adonnelly opened #1178 "Connection String set CommandTimeout is ignored, default of 30 is used"
Occasionally a query will timeout after 30 seconds despite having set the command timeout set to 0. On inspection of the exception raised by Marten I can see the command Timeout was set to 30.

                    Host = connectionSettings.Host,
                    Database = connectionSettings.Database,
                    Username = connectionSettings.Username,
                    Password = con

[2019-01-30 17:51] oskardudycz commented on #1177
Ok, I made investigation. This is simmilar case as we had with enum. Version 3.0 provided fix for wrong mapping of datetime. In TypeMappings and in all other places `DateTime` is mapped to `timestamp without time zone` See in [TypeMappings](https://github.com/JasperFx/marten/blob/master/src/Marten/Util/TypeMappings.cs#L43)

[code]
Previous usage was not consistent. I'll provided switch for keeping

[2019-01-30 18:34] oskardudycz commented on #1177
@Leh2 @jeremydmiller I provided fix for that in https://github.com/JasperFx/marten/pull/1179

[2019-02-04 13:56] kasparurban opened #1181 "Querying by subclass across all tenants not working"
Tenant id is still taken into account when querying by subclass across all tenants.

Example: `session.Query<AdminUser>().Where(u => u.AnyTenant()).ToArray()`

Result: `select d.data, d.id, d.mt_doc_type, d.mt_version from public.mt_doc_user as d where (1=1 and ((d.mt_doc_type = 'admin_user') and d.tenant_id = :tenantid))
  tenantid: *DEFAULT*
`

Querying by base class works as expected.

Simple r

[2019-02-04 17:39] oskardudycz opened #1182 "Revisit performance of patch api TypeNameHandling.Object"
See more in: https://github.com/JasperFx/marten/issues/1173 and https://github.com/JasperFx/marten/pull/1174

[2019-02-04 19:31] #1177 closed

[2019-02-07 15:01] oskardudycz opened #1184 "Consider using shared code formatting rules"
Possible options:
- style cop,
- resharper settings,
- rider settings.

[2019-02-08 18:23] dapalmi opened #1185 "Marten.Schema.MartenSchemaException"
Code:

[code]

[code]

[code]

Exception:

"DDL Execution for 'All Configured Changes' Failed!\n\nDO $$\nBEGIN\n    IF NOT EXISTS(\n        SELECT schema_name\n          FROM information_schema.schemata\n          WHERE schema_name = 'structure'\n      )\n    THEN\n      EXECUTE 'CREATE SCHEMA structure';\n    END IF;\n\nEND\n$$;\n\nCREATE OR REPLACE FUNCTION structure.mt_immutable_timestamp(value

[2019-02-13 04:17] mysticmind commented on #1170
@oskardudycz has addressed the issue in #1167, Closing this.

[2019-02-13 04:17] #1170 closed

[2019-02-13 14:54] karelg commented on #1148
Any news on this one? We have a workaround for now, but it would be great, if this eventually gets fixed.

[2019-02-13 15:14] mysticmind commented on #1148
@karelg I did have a brief look at this issue but didn't make much progress. Hopefully we can address this in the next release.

[2019-02-13 23:45] dapalmi opened #1189 "System.InvalidOperationException: Sequence contains no elements"
I have following LINQ query:
[code]
Which throws following exception:

[2019-02-14 07:26] oskardudycz commented on #1189
@dapalmi currently Marten doesn't support Select with non-default constructor. Could you try to use in your mapping default constructor with something like:

[code]

[2019-02-14 19:14] barryhagan opened #1190 "Add ability to create gin indexes on specific jsonb fields"
For an object in my database, I need to use a containment query like this:
[code]
Marten has specific support for this query, and produces a Postgres search like this:
[code]

The problem is that this type of query will not be able to use either a ComputedIndex on this field via `For<T>.Index(x => x.MemberIds)`, nor the complete gin index on data that can be added using `For<T>.GinIndexJsonData()`

[2019-02-14 19:55] jamesbar2 opened #1191 "IdentityAttribute Ignored if Id Property Exists"
If `Id` exists above the `[Identity]` attribute, `Id` is used instead of giving priority to the explicitly defined attribute.

Works as intended, `DocumentId` is populated by Marten.
[code]

`Id` is populated by Marten, incorrect behavior:
[code]

[2019-02-14 23:21] dapalmi commented on #1189
@oskardudycz Thanks for your quick response:
I tried it according to your suggestion but got following Exception:

So I added an Id field to my ViewModel like this:

[code]

But when I executed it like this:

[code]

I got following Exception:

[2019-02-14 23:34] dapalmi commented on #1189
I just saw that the LINQ Query creates an empty mt_doc_textsearchviewmodel table in the database. Why does it do that?

[2019-02-15 04:11] dapalmi commented on #1185
I missed the Exception at the end:

`LANGUAGE plv8 IMMUTABLE STRICT; ---> Npgsql.PostgresException: 42704: language "plv8" does not exist`

Why is the PLV8 extension required when executing `ApplyAllConfiguredChangesToDatabase`?
Or do I misunderstand the usage of this option?
I thought this function can be called when it is required to create the database tables, indexes, etc. on startup of the ap

[2019-02-15 08:43] oskardudycz commented on #1190
@barryhagan  I think that what you're trying to achieve is already supported. See `Customizing a Calculated Index` section of documentation: http://jasperfx.github.io/marten/documentation/documents/customizing/computed_index/

So you could do:

[code]

[2019-02-15 08:52] Fluwit commented on #960
This issue still exists in version 3.3.0 with Postgres and long, dynamically generated index names.

When Marten generates an index name longer than the 63 characters permitted by Postgres, the TableDelta.compareIndices method always yields comparison conflicts. This happens because Postgres truncates the generated index name to 63 characters when the create index SQL statement is run. However, th

[2019-02-15 08:53] oskardudycz commented on #1185
As it's stated in [README file](https://github.com/JasperFx/marten/blob/master/README.md)
[code]
When you're running `ApplyAllConfiguredChangesToDatabase` then it applies **All** changes, so also all of stored procedures, from which some require `PLV8` being enabled.

[2019-02-15 11:06] oskardudycz commented on #960
@KrisJJC PRs with fixes are always more than welcome!

[2019-02-15 14:59] robert-skarzycki opened #1192 "Linq .Any() without predicate - error with default TypeNameHandling"
Having that model (https://gist.github.com/robert-skarzycki/c0c26f32e0000c17faabc6c5debde55c) and data inserting code (https://gist.github.com/robert-skarzycki/aa92e11a27fdb33ea8f89e59ea90329d), this query fails:
[code]
with following exception:
[code]

I've found that reconfiguring JSON serializer to prevent storing types in Postgres (by setting `TypeNameHandling = TypeNameHandling.None`) fixes t

[2019-02-15 15:01] robert-skarzycki commented on #870
I've just faced same issue. :/

[2019-02-15 15:07] robert-skarzycki opened #1193 "Linq Count() - predicate omitted"
Having that model (https://gist.github.com/robert-skarzycki/c0c26f32e0000c17faabc6c5debde55c) and data inserting code (https://gist.github.com/robert-skarzycki/aa92e11a27fdb33ea8f89e59ea90329d), this query returns 0 elements:
[code]
However, it should return 1 element ("root-1" contains exactly one child on level 1 with name "child-1.1").
I see that generated command (extract with debugger) looks

[2019-02-15 16:43] barryhagan commented on #1190
@oskardudycz  that won't work because of how the locator is built between index and query time.

If I setup the index like you suggest, it will create an index with this DDL:
[code]

But the query is always performed using:
[code]

Those will not match each other and so it drops to a sequential scan.

I need the index to be created with the same locator syntax as the query, or alternatively it wou

[2019-02-16 22:09] dapalmi commented on #1185
Ok. Thank you.
Just to make sure I understand it right:
When I execute
[code]
it creates the corresponding tables, indexes, etc. without any error, even when PLV8 is not installed, if no stored procedures have to be created which would need PLV8.
But as soon as I execute `ApplyAllConfiguredChangesToDatabase` it always throws an exception if PLV8 is not installed even when no stored procedures have

[2019-02-18 12:58] suadev opened #1194 "It would be great to have a UI"
Hi,

I know Marten doesn't trying to be an another Eventstore but, Eventstore's web UI is very useful to trace transactions. No need to go DB and write t-sql to access the customer events.  Just a little advice from me.

[2019-02-18 19:08] oskardudycz commented on #1192
Thank you for creating this issue. As I stated in [my comment in other issue](https://github.com/JasperFx/marten/pull/1107#issuecomment-464845482) I'll try to work on that asap, but I can't put specific date where the fix will be delivered.

[2019-02-18 19:08] oskardudycz commented on #1193
Thank you for creating this issue. As I stated in [my comment in other issue](https://github.com/JasperFx/marten/pull/1107#issuecomment-464845482) I'll try to work on that asap, but I can't put specific date where the fix will be delivered.

[2019-02-18 19:10] oskardudycz commented on #1194
@suadev could you provide some more details of the features that would be the most helpful for you in such UI?

[2019-02-18 19:13] oskardudycz commented on #1185
@dapalmi yes, that's correct. PLV8 is used mostly for javascript functions, transformations etc.

In general - it's high recommendation to have PLV8 installed when using Marten - without that - some feaures might just not work.

[2019-02-18 19:13] #1185 closed

[2019-02-18 19:39] suadev commented on #1194
Same like  eventstore ui :)

- Querying streams and projections
- Accesing event detail as json format etc.

<img width="1249" alt="wai-dashboard" src="https://user-images.githubusercontent.com/5918811/52973058-e4b6ac80-33cd-11e9-8f7d-19f7cdf9302d.png">

[2019-02-18 19:43] oskardudycz commented on #1194
@suadev I'll think about it. Probably that won't happen soon but I like this idea, so I might prepare some basic feature at some point.
I'll keep you posted.

[2019-02-18 19:58] oskardudycz commented on #908
@nikodemrafalski did you check https://www.npgsql.org/doc/types/datetime.html? It seems to be that it looks like default Npgsql behaviour. See also more in: https://github.com/JasperFx/marten/pull/1179/files#diff-1cba330cd6d502458bc5457860747537R9

[2019-02-19 03:26] dapalmi opened #1195 "Audit Log: Getting respective state with event"
I would to create some kind of audit log with the Marten event store.
I am implementing your solution for [Aggregates](http://jasperfx.github.io/marten/documentation/scenarios/aggregates_events_repositories/).
I saw the entry in the docs about [querying events](http://jasperfx.github.io/marten/documentation/events/streams/).
Is there a way to get the respective state of the aggregate for each even

[2019-02-19 12:53] quicoli opened #1196 "is possible to be use DateTime.Date in Linq queries?"
Hi,

I have the following query:

[code]
This works perfectly returning my data from database and is translated to the following SQL:

`select d.data, d.id, d.mt_version from public.mt_doc_sample as d where (d.mt_deleted = False and d.complete_date >= :arg0)
`
Now if change my query to this:

[code]

It doesn't return any value and is translated to the following SQL

`select d.data, d.id, d.mt_ver

[2019-02-20 08:17] leypascua opened #1197 "Precise decimal values are not stored as-is"
We're saving very precise decimal values. Looks like decimal values are rounded up/down or truncated.
[code]

Here's the class for the 'Precision' property of the sample document:
[code]
How do you suggest to store decimal values in its entirety?

[2019-02-21 16:31] cocowalla opened #1198 "Allow Duplicated fields to be marked as NOT NULL"
Marten allows duplicating fields from JSON as relational fields. I came across cases where duplicated fields were being marked as nullable, even though they were for non-nullable .NET types.

I guess this was happening because the properties in question belong to a nested type, so in *theory* could be null (even though they never would be in my case).

I mentioned this in gitter, and Jeremy sugges

[2019-02-21 16:45] cocowalla opened #1199 "Allow specifying index order for Duplicated fields"
Marten allows duplicating fields from JSON as relational fields, and creating an index for them.

I have a case where I want to duplicate a `timestamptz` field, and have it sorted in descending order, which Marten doesn't yet support (confirmed in gitter).

This issue is to track adding support for specifying the index order for Duplicated fields

I'll have a stab at this one when I get time, alon

[2019-02-21 17:26] oskardudycz commented on #1027
As I got back to NodaTime support. It appears to be an issue with supporting DateTime handling when NodaTime is turned on. So I'd like to have to go with the same way as it's on Npgsql - so you use either DateTime or NodaTime. EF behaves the same afaik.
Is anyone against that?

It comes from the Npgsql implementation. The default datetime handlers are internal, so I can't reuse them. I could write

[2019-02-21 17:28] SeanFarrow commented on #1027
If we go with what you propose, how could nodatime be used?
Could we not map to ticks, nodatime exposes that.

From: Oskar Dudycz <notifications@github.com>
Sent: 21 February 2019 17:26
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [JasperFx/marten] How to use NodaTime to interact with PostgreSQL da

[2019-02-21 17:36] oskardudycz commented on #1027
I plan to release new package: `Marten.NodaTime`. It will add new extension method to store options. You could do just:

[code]
When you did that then you won't be able to use DateTime, you'll need to use `LocalDateTime`, `LocalDate`, `Instant` etc.

So you'll opt out from using .NET (date) time types.

Oh well, saving and loading document will work, querying by dates might fail. Event query like:

[2019-02-21 17:39] SeanFarrow commented on #1027
What do you intend the UseNodatime extension method doing?
How is date/time comparison handled in queries currently? I wonder whether we could abstract this somehow and use a strategy?

From: Oskar Dudycz <notifications@github.com>
Sent: 21 February 2019 17:37
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subjec

[2019-02-21 17:44] oskardudycz commented on #1027
It will setup everything what's needed for Marten to use NodaTime. So eg. `JsonNetSerializer`, `JsonLocator`, etc.

See more in my WIP PR: https://github.com/JasperFx/marten/pull/1154/files#diff-53eb368e074036b2639ff3d740492e30R12

Even if I didn't add this extension method, then you'd still add reference to the `Npgsql.NodaTime` package and call it somewhere.

[2019-02-21 17:48] SeanFarrow commented on #1027
I’ll have a look at that over the weekend.
Any thoughts on how we can implement queries so they ‘just work’?
Nodatime implements all operators such as equals as one would expect, does this mean we don’t need to do anything?

From: Oskar Dudycz <notifications@github.com>
Sent: 21 February 2019 17:45
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comm

[2019-02-21 17:53] oskardudycz commented on #1196
@quicoli yes, it lies in the JSON storage nature. Normally dates are stored as strings. If you're doing `.Date` then query parser assumes that your type is object. So it generates such query with json selector - so `d.data -> 'CompleteDate' ->> 'Date'`.
As there is no data like that as `CompletedDate` is something like `2019-02-21 18:50:11` and not
[code]
Then it's just not able to find matching r

[2019-02-21 17:55] oskardudycz commented on #1027
The queries will work, exactly the same as they work for `DateTime` currently. Npgsql made the work for custom type mapping, and proper replacing `DateTime` with `NodaTime`. See more here: https://www.npgsql.org/doc/types/nodatime.html

[2019-02-21 18:06] oskardudycz commented on #908
@nikodemrafalski I'm closing this issue, if you disagree with my comment, please send the feedback I'll open this issue again

[2019-02-21 18:06] #908 closed

[2019-02-21 18:07] oskardudycz commented on #852
@mariusin79 see my comment in other issue. https://github.com/JasperFx/marten/issues/908#issuecomment-464858253

Closing for now. If that doesn't answer your question - feel free to send the feedback.

[2019-02-21 18:07] #852 closed

[2019-02-21 18:24] SeanFarrow commented on #1027
That looks good, the only remaining question I have is whether any queries with nodatime types as date/times will work at the database or in memory? I’m assuming the latter?

From: Oskar Dudycz <notifications@github.com>
Sent: 21 February 2019 17:56
To: JasperFx/marten <marten@noreply.github.com>
Cc: Sean Farrow <sean.farrow@seanfarrow.co.uk>; Comment <comment@noreply.github.com>
Subject: Re: [Jas

[2019-02-21 18:26] oskardudycz commented on #1027
Yes, they should work in both (of course Marten Queryable, have some limitation in dates queries, but this shouldn't be different than current DateTime support).

[2019-02-21 21:24] timdoke opened #1200 "child object filtering / sorting does not work"
Please see the attached POC of the issue.  I discussed briefly on gitter chat about this issue with @oskardudycz .  It will work fine as long as you don't have to do any type of querying on the child object.

[MartenSubObjectTest.zip](https://github.com/JasperFx/marten/files/2891319/MartenSubObjectTest.zip)

[2019-02-22 11:22] roji commented on #1027
Hi guys, just to say that I have my eyes on this discussion. I've received a complaint or two about the inability to mix both NodaTime and BCL date/time types in the same application, but up to now it doesn't seem actually blocking for users. If you have any input or feedback saying otherwise, I'll be happy to listen.

[2019-02-22 11:33] oskardudycz commented on #1027
@roji thank you for the response!

TBT I'm not sure if that'll be huge issue for the users. I asked on this issue,on our gitter, @jeremydmiller asked on Twitter, to get initial feedback. Currently noone complains (which is good), but not all users are active on this channels.

Imho it might be an effort to refactor the code from .NET types to NodaTime. Gradual update won't be possible because out

[2019-02-22 11:36] oskardudycz commented on #1027
Btw. for all interested. My PR is almost done https://github.com/JasperFx/marten/pull/1154, I'm waiting for approvals from @jeremydmiller @mysticmind  @jokokko. If they give green light then I'll probably add more tests and it will be ready to be released.

[2019-02-22 11:45] roji commented on #1027
@oskardudycz thanks, keep me posted. If it's really needed I can take a look at what it would involve with the Npgsql type handler model.

[2019-02-22 11:46] SeanFarrow commented on #1027
@roji,
Generally, it is not best practice to share datetime api's, people should choose one and stick to it.

[2019-02-22 11:49] oskardudycz commented on #1027
Thank you @roji, I appreciate that 👍

[2019-02-25 13:30] jeremydmiller commented on #1197
@leypascua That's going to be in Newtonsoft.Json, not Marten itself. See this topic for ways to customize the Json serialization: http://jasperfx.github.io/marten/documentation/documents/json/newtonsoft/.

[2019-02-25 13:43] jokokko commented on #1178
While easy to fix, supporting CommandTimeout set in cstring and still allowing its override in session options requires some signature changes (since cstring lives in ConnectionFactory, a few other places default timeout to 30).

[2019-02-25 13:48] jeremydmiller opened #1201 "Linq Support Overhaul"
This might be heading us into a 4.0 release, but the Linq support seems to be holding Marten back right now.

## Ideas & Research

* Try to eliminate the `InnerJoin` mechanism in the document `Include` feature in favor of using recursive queries instead. I think this would simplify the mechanics of the Linq selectors a lot simpler. Might finally get us to dealing with #460.
* Make the JsonLocatorF

[2019-02-25 15:15] mysticmind commented on #1197
@leypascua  You could possibly use the solution from [SO post](https://stackoverflow.com/questions/24051206/handling-decimal-values-in-newtonsoft-json) to create a `DecimalConverter` which you can plugin into Newtonsoft.Json serializer.

[2019-02-26 15:21] tonykaralis commented on #1184
@oskardudycz I plan on doing the following:
* Will do some research on the various styles and get back to you with more info.
* Will discuss details before refactoring anything.

[2019-02-26 15:22] tonykaralis commented on #525
@oskardudycz  Will do a bit of research and formulate a plan of how to implement.

[2019-02-26 16:59] barryhagan commented on #1199
It will be nice to have a declarative way to set this, but you can alter the index expression right now:

`For<T>().Duplicate(a => a.Timestamp, configure: idx => { idx.Expression = "? DESC"; });`

[2019-02-27 00:54] #1197 closed

[2019-02-28 15:32] richardoliver-umusic opened #1205 "Patch DDL rollback script doesn't recreate previous document functions"
We're managing our db schema externally from our application, using AutoCreate.None, and generating sql migration files using Marten.CommandLine.
When generating a patch for adding a duplicate field or some other operation which requires a new set of upsert/insert/update functions, to patch dll correctly removes the old functions and creates the new function definitions.
But the rollback patch dll

[2019-02-28 15:54] richardoliver-umusic opened #1206 "Patch DDL generation doesn't detect when a duplicate field pgType changes"
When changing a duplicate field's dbtype no differences are detected when generating a patch or asserting the schema configuration.
For example changing a duplicate field definition from:
[code]
To
[code]

I would expect an `ALTER COLUMN` statement to be generated, and possbly the functions and index to be regenerated?

I haven't tested with any other changes to the storage model so there may be o

[2019-03-01 09:17] #1178 closed

[2019-03-01 16:08] cocowalla opened #1207 "Inheritance issue after upgrade from 3.2.0 to 3.3.0 [Regression]"
After upgrading from 3.2.0 to 3.3.0, I get an exception when trying to store documents that use inheritance. Note the issue is still present in 3.4.0.

Here's what my classes look like (throws when I try to store an instance of `LinuxPolicy`):

[code]

And here's what my registration looks like:
[code]

And the exception:

[code]

Note this issue is *not* constrained to the use of `Identity()`, as

[2019-03-02 07:53] tonykaralis commented on #1184
@oskardudycz not forgotten about these issues. I will get around to it, day job is quite hectic at the moment.

[2019-03-04 16:45] barclayadam opened #1209 "Expose all storage operations from unit of work"
I have been looking at using listeners as a way of implementing more automatic handling of tenant identifiers.

To do that I wanted to check out all the operations before save to potentially set the `TenantOverride` property of the operations (i.e. `DocumentStorageOperation`).

The current API for `IUnitOfWork` does not expose what I need so I ended up with:

[code]

Is it sensible to expose the o

[2019-03-04 18:13] oskardudycz commented on #1209
@barclayadam just to confirm the use case: you'd like to be able to save documents having multiple tenants in the single document session?

[2019-03-04 18:42] barclayadam commented on #1209
TLDR We want automatic setting of the tenantid to avoid potentially saving a document without one and causing querying issues that easily go undetected.

Not quite, no. We are converting a large app away from table store to Postgres + Marten. We want to take advantage of tenancy of the documents.

We have a few apps, one where we can easily use a session with a default tenant, and two others that

[2019-03-04 18:54] oskardudycz commented on #1209
This is something that is on my TODO list. I fully understand that it's really needed, although it won't be so easy to implement to make it right (especially keeping in mind that it has to be also supported for Event Store).
I don't think that exposing all storage operations would be good design. Personally I'd prefer option that you suggested in the second post (so the making it on the document/e

[2019-03-04 18:58] oskardudycz commented on #1196
@quicoli I'm closing this issue for now. If you feel that suggested workaround is not enough. Please sennd comment and I'll reopen it.

[2019-03-04 18:58] #1196 closed

[2019-03-04 19:00] barclayadam commented on #1209
The unit of work (from `IDocumentSession.PendingChanges`) does currently expose Inserts/Updates/Patches/Deletes but the design there feels inconsistent. For example, `Inserts` and `Updates` return the actual object that is being stored, `Patches` returns an operation and Deletes returns an `IDeletion`:

![image](https://user-images.githubusercontent.com/973909/53755907-a9c57600-3eaf-11e9-8a32-e9e7

[2019-03-04 20:52] jeremydmiller commented on #1209
The deletions aren't always 1 to 1 with a specific document and patches are also not 1 to 1 with a particular document.  I don't really think there's anything to change. I suppose if you really wanted to, we could implement a "preview what documents would be patched or deleted" by querying the store to see what documents would be impacted.

I wouldn't make this any kind of high priority

[2019-03-04 21:28] barclayadam commented on #1209
Thanks @jeremydmiller. I'm not after any real new functionality here, just exposing the list of _all_ storage operations that currently exist.

I can get deletions and patches but want access to upserts, inserts and updates to manipulate.

My suggestion is a single IEnumerable StorageOperations method, or perhaps 3 for each type as above, added to IUnitOfWork to expose the information already avai

[2019-03-04 21:30] jeremydmiller commented on #1209
"Would you accept a PR?" -- yep. Always happy to take usability improvements;)

[2019-03-04 21:39] barclayadam commented on #1209
Ok great. I'll try and get something together next day or so. Cheers!

On Mon, 4 Mar 2019, 9:30 pm Jeremy D. Miller, <notifications@github.com>
wrote:

[2019-03-05 08:01] mdissel commented on #1209
Maybe row level security could also help to make sure the save actions are for the correct tenant (for an example see https://www.citusdata.com/blog/2018/04/04/raw-sql-access-with-row-level-security/), (currently this is not possible with Marten)

[2019-03-05 08:20] oskardudycz commented on #1209
@jeremydmiller I think that what @barclayadam wants is not the preview, but possibility to make operations on multiple documents on multiple tenants. Currently you have only possibility to set tenant per document session. Which is imho big limitation.

I agree with @barclayadam that it would be good to have it. Of course, it's not the highest priority right now, but imho we should at least discuss

[2019-03-07 03:53] #1195 closed

[2019-03-09 21:04] cocowalla commented on #1199
Created PR #1213

[2019-03-10 10:26] cocowalla commented on #1198
As a workaround, this can be done by using the `pgType` argument when calling `DocumentMappingExpression.Duplicate(...)`, for example:

[code]

While it would be relatively straightforward to add support for declaratively adding the `NOT NULL` constraint, it does involve touching quite a lot of code, and would break binary compatibility without a slew of overloads being added.

So instead of addin

[2019-03-10 14:39] cocowalla commented on #1207
Adding a simple console app that reproduces this issue:

[MartenRepro.zip](https://github.com/JasperFx/marten/files/2949582/MartenRepro.zip)

Note that if you downgrade this app to 3.2.0, everything works as expected.

[2019-03-10 14:58] cocowalla commented on #1207
Thankfully there weren't that many changes betweeb 3.2.0 and 3.3.0, which made this easier to narrow down - the problem is with the changes made to [src\Marten\Util\LambdaBuilder.cs](https://github.com/JasperFx/marten/commit/8c8a7492ca1edc44cfd9040ac9bcb1fc6acf4790#diff-8a3df5f143658d2d0b8a4c09e3df2015) in 8c8a7492ca1edc44cfd9040ac9bcb1fc6acf4790

[2019-03-11 00:34] dapalmi opened #1215 "Connections not disposed: Max connections exception"
I am using the DocumentStore in an ASP.NET Core 2.2 application.
Here the definition in the Startup.cs:

[code]

Then from the API controller I call this method in the `DataAccess` class:

[code]

And in the controller a few extra things are executed on the `IQueryable` object (sort, skip, take, etc.).

If I understand the documentation right, the connection is established with the session and lik

[2019-03-11 10:42] mysticmind opened #1216 "Mixed tab spaces in Marten defined PostgreSQL functions"
`mt_immutable_timestamp`, `mt_immutable_timestamptz`, and `mt_append_event` have mixed tab spaces. This will need to be fixed in a future release with breaking changes.

[2019-03-11 10:46] #1199 closed

[2019-03-11 11:39] karelg commented on #1181
Would be good, if someone can take a look at this. There are also no good workaround for this, so this is causing real pain.

[2019-03-11 14:13] robert-skarzycki opened #1217 ".OrderBy() fails when retrieving value from subcollection"
Having that model (https://gist.github.com/robert-skarzycki/c0c26f32e0000c17faabc6c5debde55c) and data inserting code (https://gist.github.com/robert-skarzycki/aa92e11a27fdb33ea8f89e59ea90329d), this query fails:
[code]
with following exception:
[code]

Actually, I'm trying to have even more complex query over subcollection elements (i.e. to get one "child" item and retrieve value from it to order

[2019-03-11 21:11] mdissel commented on #1215
your session is disposed when exiting the using clause.  Use

[code]
or if you want to use locally (not in db) executed Linq:

public IQueryable<Search> Search(string text)
        {
            using (var session = store.QuerySession())
            {
                return session.Query<Search>().Where(s => s.Name.Contains(text)).ToList().AsQueryable();
            }
        }

[2019-03-11 21:25] dapalmi commented on #1215
@mdissel That's what I thought too. But evidently it does not dispose the connection when exiting the using clause, because I get the max connections exception.

[2019-03-12 07:21] mdissel commented on #1215
Can you update the code with one of my examples and try again?

[2019-03-12 14:01] robert-skarzycki opened #1219 ".OrderBy() with dictionary value doesn't work"
Having that model (https://gist.github.com/robert-skarzycki/8a35ae9ac0d8cca1985cff0e022671b2) and data inserting code (https://gist.github.com/robert-skarzycki/6bef9198e9b963e22b673bc134302263), this query fails:
[code]
returns data unordered:
[code]
when I expect them to be ordered like this:
[code]
I've found dirty hack to get this, but I guess this is not an expected implementation:
[code]

[2019-03-12 14:15] oskardudycz commented on #1215
@dapalmi ➕ for the @mdissel request.

Could you also give full usage scenario? So how are you using Search method?

[2019-03-12 17:01] oskardudycz commented on #1219
@robert-skarzycki I don't think that we'll find time to add support for that soon.

As a workaround you can add getter property like:

[code]
Then use it in order by.

It might be that during our [Linq Support Overhaul](https://github.com/JasperFx/marten/issues/1201) some extended support will be added, but I doubt that indexing dictionary + inner object support will get to the list.

@jeremydmill

[2019-03-12 17:08] oskardudycz commented on #1217
@robert-skarzycki we'll try to get this in https://github.com/JasperFx/marten/issues/1201

[2019-03-12 18:09] oskardudycz commented on #1108
@Nysosis it's implemented in https://github.com/JasperFx/marten/pull/1212. It'll be available in Marten 3.5.0

[2019-03-12 18:09] #1108 closed

[2019-03-12 18:13] oskardudycz commented on #1143
@jeremydmiller thoughts?

[2019-03-12 18:20] oskardudycz commented on #1207
I'll try to check in in the next few days.

[2019-03-12 18:32] cocowalla commented on #1207
That would be great, thanks!

[2019-03-12 18:34] oskardudycz commented on #567
@jeremydmiller is it still applicable?

[2019-03-12 18:36] oskardudycz commented on #786
I'm closing this Issue as it duplicates https://github.com/JasperFx/marten/issues/670

[2019-03-12 18:40] oskardudycz commented on #885
I think that we should more focus on the Json improvements on .NET Core 3.0 - https://github.com/dotnet/corefx/issues/33115

@jeremydmiller @mysticmind @jokokko thoughts?

[2019-03-12 21:43] dapalmi commented on #1215
@oskardudycz The search method is called from a api controller method:
[code]
The DataSourceLoader.Load() executes sort, skip, take, etc. on the queryable object.
@mdissel I can confirm that the addition of .ToList().ToQueryable() solved the problem.

So, if I return an IQueryable object the connection will not be disposed. Is that correct?

[2019-03-12 22:37] timdoke commented on #885
For what it's worth.. It's very simple to change to use utf8json, and I had a several hundreds of percent performance improvement versus newtonsoft.  I'm actually using it in all of my projects at work.  The reason I never went forward further with this as a published package, was I don't really have a place to publish, and I'm not sure how challenging it would be to manage bugs -- seeing as how I

[2019-03-13 11:00] cocowalla commented on #885
@oskardudycz according to [this](https://github.com/dotnet/corefx/issues/33115#issuecomment-468178867), they will be shipping an MVP for .NET Core 3.0. While the CoreFx team have tackled this new JSON serialiser with far more gusto than expected, it could be a while before it's fully featured. I imagine it could also be a while before it's available for a .NET Standard target... and as for .NET Fr

[2019-03-13 11:12] jeremydmiller commented on #885
@timdoke Long term, maybe/probably. Shorter term, I think we just invest a little bit in a quick way to be able to run the test suites in a matrix so that you could quickly swap the serializers in and out and find compliance problems (inevitably around enums and maybe dates). Newtonsoft is never the default serializer because it's the fastest thing on Earth, but it's always the one most likely to

[2019-03-13 11:18] mysticmind commented on #885
@jeremydmiller I will look at adding the matrix test runs

[2019-03-13 11:23] #1205 closed

[2019-03-13 14:16] timdoke commented on #885
@jeremydmiller  the biggest problem I ran in to (and this was using at to serialize web api calls, not postgres), was there is no implicit conversion from a string to int -- for example, "1" does not convert to 1 with utf8json as it does with newtonsoft.

[2019-03-13 14:57] KevinRecuerda opened #1220 "IsOneOf for array using include fails"
This code fails : `column reference "data" is ambiguous`
[code]

[2019-03-13 15:54] KevinRecuerda opened #1222 "`Include` with JoinType.LeftOuter and dictionary fails"
This code fails : `NullReferenceException`
[code]

Dictionary part of #506

[2019-03-14 14:57] dapalmi opened #1225 "Workflow for Custom Types"
I defined a duplicate field with a custom type according to [this doc](http://jasperfx.github.io/marten/documentation/documents/customizing/duplicated_fields/):
`For<Structure>().Duplicate(x => x.Molecule, pgType: "molecule('sample')");`

The respective `mt_doc_structure` table definition looks good (it created a duplicate field `molecule` with type `molecule`).

You can insert a value to the mole

[2019-03-14 16:23] barclayadam opened #1226 "Cannot have a ForeignKey use same member as Identity"
It is not possible to have an entity that has a member that is used for both its Id and as a foreign key to another entity. For example:

[code]

The intention is to have a one-to-one relationship between parent `Foo` and it's child `FooExtra`.

This fails on the schema generation as no additional column is created for this foreign key.

Should this be supported, or should this throw earlier to id

[2019-03-15 22:23] cocowalla commented on #1198
I take it back, the workaround doesn't work, as it causes syntax errors in the generated DDL for the upsert/insert/update scripts

[2019-03-18 10:54] robert-skarzycki commented on #1219
@oskardudycz, the getter-workaround is no-go for me: I can't predict what keys are in the dictionary (in fact, if I could, I would make them regular props, instead of dictionary...). However, I'm especially not happy about this dirty hack with passing orderby clause into `MatchesSql`. Bascially it is SQL injection here. :) That might be a solution to allow passing sql string into custom order by e

[2019-03-18 12:49] Crown0815 opened #1228 "Importing events causes incorrect seq_id entries"
We recently encountered an event in our event store that was faulty (it should never have been created in the first place.) After **deleting the event manually** (PgAdmin) everything **worked fine** for a while.
After another issue with an event, we decided to clone the mt_events table using the **export and import** functionality provided by PgAdmin to allow debugging of the events on another dat

[2019-03-18 15:52] oskardudycz commented on #1027
PR https://github.com/JasperFx/marten/pull/1154 with NodaTime support was merged. It will be available in [version 3.5.0](https://github.com/JasperFx/marten/milestone/35) that should be released within a week.

[2019-03-18 15:52] #1027 closed

[2019-03-18 16:54] #1220 closed

[2019-03-18 16:55] Crown0815 commented on #1207
I also came across this issue in our code base. We use the default property
Guid Id which is inherited into theclasses we store. It works find for Marten 3.2 and throws and exception from 3.3 on that it can not find a property with name Id.

[2019-03-18 17:05] #1222 closed

[2019-03-18 17:56] oskardudycz commented on #1219
Passing custom sql seems to me as viable option, that could give us some flexibility. Not ideal, but at least would allow you and other users not supported cases. @jeremydmiller what are your thoughts on that?

[2019-03-18 18:28] oskardudycz commented on #1209
Fix will be available in Marten 3.5.0

[2019-03-18 18:28] #1209 closed

[2019-03-18 18:38] barclayadam opened #1229 "Delete ordering issue"
When trying to delete multiple different types of documents that have a FK relationship the deletes are ordered incorrectly.

I've not fully tracked down but believe it's because the operations are sorted topologically but for deletes that is the incorrect order. For now I've just got a failing test to check if my assumptions about it working are incorrect:

[code]

[2019-03-20 08:47] mdissel opened #1230 "Add Options property to IDocumentStore interface"
Options is a required part of the DocumentStore, so i think we should add this to the IDocumentStore interface (in the next major version of course)

`StoreOptions Options { get; }`

[2019-03-21 15:46] baronfel commented on #1229
Ran into this today as well.

for a group of entities A, B, C, where B is a join table between A and C, delete code that looks like:
[code]

get sequenced like:
[code]

instead of the required
[code]

[2019-03-21 16:00] baronfel commented on #1229
I'd love to work on a fix for the ordering, if there are pointed to where some of that happens.

[2019-03-21 16:41] baronfel commented on #1229
Ordering code in question is [here](https://github.com/JasperFx/marten/blob/master/src/Marten/Services/UnitOfWork.cs#L208-L247).

Current algorithm seems to be:

[code]
The only ordering constraint here being 'for each document type, the operations to perform for that document type are ordered', and we should respect that order.

It's almost like the overall list of operations themselves should al

[2019-03-22 12:12] jeremydmiller commented on #1219
The custom SQL is all we can do for now without explicitly coding support for this exact usage in the Linq provider.

[2019-03-22 12:33] oskardudycz commented on #1219
@robert-skarzycki I'll work on possibility to provide custom sql in order by.

[2019-03-22 14:23] leypascua opened #1233 "JsonNetSerializer OutOfMemoryException on very large object graphs"
Hi, we've hit a snag when trying to fetch a (very) large object graph, below is the (redacted) stack trace:

[code]

We may need to break the object into smaller parts but maybe this is a legit bug so I'm filing it.

Thanks!

[2019-03-22 14:36] leypascua commented on #1233
Seems that the object graph is too big to be serialized into a string variable in [TrackedEntity.cs](https://github.com/JasperFx/marten/blob/master/src/Marten/Services/TrackedEntity.cs)

[2019-03-22 16:19] mysticmind commented on #1233
@leypascua it would help if you could provide a repro use case for us to troubleshoot this.

[2019-03-22 19:07] jeremydmiller commented on #1233
@leypascua Interesting. Can you shift to a lighter weight session instead of the "dirty checking" session? That would get you around the memory issue. That probably isn't super efficient with that large of an object anyway.

[2019-03-22 19:08] jeremydmiller commented on #1233
@mysticmind I think I'd look to beat this first with documentation, then by maybe shifting the TrackedEntity to use a byte[] or stream?

[2019-03-23 00:46] leypascua commented on #1233
@mysticmind Unfortunately, my specific use-case contains sensitive info so can't share it.
@jeremydmiller I think Marten should prevent large object graphs to be persisted in the first place. Else, it should be possible to set this up via configuration (where it tries to use a FileStream as a backing store instead of a string/bytearray/MemoryStream when it encounters an OutOfMemoryException on cer

[2019-03-24 14:49] mysticmind commented on #1215
@dapalmi when you call `return session.Query<Search>().Where(s => s.Name.Contains(text))`, you are returning an instance of type `IMartenQueryable<T>` which holds a Postgres connection. So wrapping it in a using block does not magically dispose of the connection due to your pattern of usage.

As @mdissel indicated, by using `return session.Query<Search>().Where(s => s.Name.Contains(text)).ToList()

[2019-03-24 14:54] mysticmind commented on #1215
Closing this. we can re-open if anyone thinks we need to add some documentation around usage patterns.

[2019-03-24 14:54] #1215 closed

[2019-03-25 03:32] leypascua commented on #1233
Here's a simple test to demonstrate the issue:

[code]

[2019-03-25 10:46] jeremydmiller commented on #1233
@leypascua Again, is there any reason why you can't just switch to a lightweight session instead of a dirty checking session to sidestep this issue?

[2019-03-25 14:21] leypascua commented on #1233
Already did that, thanks for the suggestion.  Feel free to close the issue if there's no plan in fixing this for now.

[2019-03-25 16:06] oskardudycz commented on #1233
@leypascua I assume that using lightweight session solved the case.

I'm afraid that until we work more on streaming (https://github.com/JasperFx/marten/issues/585) not much will be done in this topic.

I'm closing it for now. Feel free to write if you have more questions, findings, etc. - we'll reopen then.

[2019-03-25 16:06] #1233 closed

[2019-03-25 19:21] oskardudycz opened #1236 "Fix flaky `Marten.Testing.Examples.MultiTenancy.use_multiple_tenants` test"
[code]

See details: https://travis-ci.org/JasperFx/marten/builds/511127895?utm_medium=notification&utm_source=email

[2019-03-25 19:46] oskardudycz commented on #1207
@cocowalla here's the fix :) https://github.com/JasperFx/marten/pull/1235

[2019-03-26 04:23] #1191 closed

[2019-03-26 04:33] jamesbar2 commented on #1191
Awesome! Thank you! :)

[2019-03-26 05:27] #1207 closed

[2019-03-26 07:47] mysticmind commented on #1236
@oskardudycz there are couple more flaky tests as well.

[2019-03-26 07:49] oskardudycz commented on #1236
@mysticmind that's true, we can link them here and fix them in single PR. Those that I saw seems to be related to using different document store configuration for the same document type (eg. `User`).

[2019-03-26 08:33] Crown0815 commented on #1228
I found the answer!
The sequence id is actually created and maintained by the database itself. It can be found as shown below

![image](https://user-images.githubusercontent.com/36126706/54982065-28db3500-4faa-11e9-9831-31e846d9bc41.png)

[2019-03-26 08:34] #1228 closed

[2019-03-26 09:08] oskardudycz commented on #1228
@Crown0815 thank you for self service :D and sorry for lack of the answer for you -_-

[2019-03-26 11:41] jeremydmiller commented on #567
Still applicable, and I think this is actually the first step in the Linq overhaul just trying to make the tests faster and quicker to extend. *But*, I don't think the Storyteller tests are even being executed these days, so let's go backward and get everything in to xUnit tests instead.

More content forthcoming in a couple hours....

[2019-03-26 13:07] leypascua commented on #1233
Not sure why, but the exception is thrown in a rather unpredictable manner.

[code]

This is after using LightweightSession

[2019-03-26 13:10] mysticmind commented on #567
@jeremydmiller storyteller tests are executed in CI runs

[2019-03-26 13:46] jeremydmiller commented on #567
@mysticmind My mistake. I'd definitely leave the ones for the event store there.

[2019-03-26 14:47] mysticmind commented on #1236
[code]

[2019-03-26 14:51] mysticmind commented on #1236
[code]

[2019-03-26 16:01] barclayadam commented on #1229
@baronfel have you made any progress on this? I'm shortly circling back around to this and will need to look at getting this fixed

[2019-03-26 16:49] baronfel commented on #1229
No, I haven't gotten to spend much more time on this either :-/

[2019-03-28 13:42] mysticmind commented on #1236
[code]

[2019-04-02 20:42] jeremydmiller commented on #567
I'm declaring success for now. The way it is, it'll be pretty easy to add more stuff

[2019-04-02 20:59] jeremydmiller commented on #1230
My vote is "no". If you dig back long enough there's an issue about only exposing a read only interface of StoreOptions, because users can actually modify the StoreOptions object after the DocumentStore is initialized, but most of that wouldn't actually take effect. I think this is just opening up users for confusion.

[2019-04-02 21:01] jeremydmiller commented on #1219
@oskardudycz @robert-skarzycki I'm going to take this. I think I can get it to fall out from an intended fix for #744

[2019-04-02 21:02] jeremydmiller commented on #1217
I'm gonna call this one too as part of #744

[2019-04-03 06:34] mdissel commented on #1230
Ok, the reason for my question is that inside a sessionlistener I have this code:

`if ((session.DocumentStore as Marten.DocumentStore)?.Options.Storage.MappingFor(entity.GetType()).DeleteStyle == m.Schema.DeleteStyle.SoftDelete) {
		// skip auditing
		return;
}
`

I need the storage definition via the IDocumentStore. Any alternative?

[2019-04-03 10:38] lngr opened #1242 "Event Store broken with NodaTime"
It seems the Event Store is broken when using NodaTime:

[code]

The call was `session.Events.FetchStreamState(streamId);`

This is  Marten 3.5.0 with Marten.NodaTime 1.0.0.

Looking at the source code, the reason seems to be several casts to `DateTime`, where `DateTimeOffset` would (maybe?) be a more appropriate option.

https://github.com/JasperFx/marten/blob/master/src/Marten/Events/StreamState

[2019-04-03 11:04] oskardudycz commented on #1242
@lngr I'll check it asap. I'll keep you updated.

[2019-04-03 11:23] oskardudycz commented on #1230
@jeremydmiller maybe we could just add it as readonly? In thery we could only return some limited interface with only readonly members?

[2019-04-03 11:51] lngr commented on #1242
I did some tests. Changing `DateTime` to `DateTimeOffset` in the file above is not sufficient. The `GetFieldValue` requires a NodaTime type.

I think the calls to `Resolve` and `ResolveAsync` require a conversion strategy that is replaced by `UseNodaTime()`.

(In `StreamStateByGuidHandler`, and probably also `StringIdentifiedEventSelector` and other places where `GetFieldValue<DateTime>` / `GetFie

[2019-04-03 12:00] oskardudycz commented on #1242
Thanks for investigation. I think that it might end up with need to extend that methods to be able to inject other date types (in this case taken from NodaTime).

[2019-04-04 11:13] jeremydmiller commented on #567
Done in a branch.

[2019-04-04 14:39] #567 closed

[2019-04-04 14:56] jeremydmiller commented on #1201
For the `IField` interface, today it's

[code]

Recommendations so far:

- [ ] `Members` and `MemberField` should only show up on a new `MemberField` abstract class that inherits from the new, slimmer `IField`
- [ ] `SqlLocator` renamed to `TypedLocator` as this means that it is CAST to the proper Postgresql type
- [ ] `SelectionLocator` renamed to `RawLocator` that gives you the value in the JSON

[2019-04-04 15:09] jeremydmiller opened #1243 "Revamp IField model within the Linq provider and make it pluggable"
Part of #1201. The goal here is to:

* Reduce some code duplication within the Linq parsing
* Clean up some of the Linq code
* Make the Linq provider a little more pluggable for how it creates OrderBy or Where clauses against different member types, properties, fields, and even indexers

For the `IField` interface, today it's

[code]

Recommendations so far:

- [x] `SqlLocator` renamed to `TypedLo

[2019-04-04 15:09] jeremydmiller commented on #1201
I moved some related work to #1243 1243

[2019-04-08 15:29] RapidOwl commented on #699
I think this is the same issue I asked about in the Gitter today.

I think this...
[code]
...would currently result in 3 SQL statements being emitted.

[2019-04-08 16:09] siberianguy opened #1244 "While updating from version 2.1 to 3.5, Marten cannot derive updates for objects"
I've just upgraded our codebase from version 2.1 to 3.5 and here's an error we get. I found a similar issue (https://github.com/JasperFx/marten/issues/857) from someone who upgraded from 1 to 2 but did not find much insights there to help us fix the problem. Could anyone hint us in the direction how it could be solved?

[2019-04-09 05:35] #1244 closed

[2019-04-09 08:54] barclayadam commented on #1229
@baronfel I have a branch you could check out if you need a fix. PR #1238 opened

[2019-04-09 17:59] nmt1994 opened #1245 "Incorrect SQL generated while using Joins with FullTextIndex"
Hello Marten team,

I encountered a problem where querying with Marten Text Search function will result error with joins( Include ) . The same error happened for .PlainTextSearch/Search/PhraseSearch

`
PostgresException: 42702: column reference "data" is ambiguous
`

This is the generated query from Marten
`
select d.data, d.id, d.mt_version, user_id.data, user_id.id, user_id.mt_version from publi

[2019-04-12 10:19] kasparurban opened #1247 "Include with LeftOuter join does not work with document hierarchies"
Include with outer join does not work when included document is part of a hierarchy.
Following exception occurs:
`System.InvalidCastException : Column is null
   at Npgsql.NpgsqlDefaultDataReader.GetFieldValue[T](Int32 column) in C:\projects\npgsql\src\Npgsql\NpgsqlDefaultDataReader.cs:line 142
   at Marten.Schema.HierarchicalDocumentStorage'1.Resolve(Int32 startingIndex, DbDataReader reader, IIde

[2019-04-13 09:42] tetious commented on #1242
With the current draft PR, the EventStore async daemon is failing when the store is set to UseNodaTime, with the following:

[code]

[2019-04-14 09:38] tetious commented on #1242
Added PR https://github.com/JasperFx/marten/pull/1248 to fix this and a couple other problems.

[2019-04-14 09:47] oskardudycz commented on #1242
@tetious my PR is just draft in progress, I’m waiting for the @jeremydmiller thoughts about way to solve the case. It’s unfortunately a bit more complicated.

Potential options that I see:
1. Quickest - provide some ugly fix for mapping NodaTime types into DateTime/DateTimeOffset for our internal fields. It would look more or less how I did in my PR#1246
2. Add some custom handler that will suport

[2019-04-14 11:07] roji commented on #1242
I've just noticed this, but I don't have much context. Can you guys provide a bit more info on why both NodaTime and CLR date/time types are required on the same connection?

I don't have any particular problem with making the NodaTime handlers public - some handlers are public and some aren't, it's currently a bit arbitrary. I do have some concerns with people starting to code against the type ha

[2019-04-16 01:30] tetious commented on #1242
After thinking on this, my preference would be option 3, though slightly modified.

As I see it, there are two scenarios we'll need to consider:

1.  Internal use of the metadata fields, such as the async daemon and a few other places.
2.  API consumer use, which is totally undefined.

I think it is safe to assume that if someone opts in to NodaTime, they would like access to the metadata columns

[2019-04-16 10:07] roji commented on #1242
I obviously have no idea about how Marten works, but is it not possible for you to detect whether the NodaTime plugin is in use, and use the NodaTime types if so? That sounds like option 3 in your list above, which does sound best but seems to be a big change for you (you write that you'd need some sort of generic type, I'm not sure why that is but I have no context/knowledge).

Writing a new type

[2019-04-16 12:55] mysticmind commented on #1230
Check #745 which was closed with a code comment to expose `StoreOptions` as readonly

[2019-04-17 00:54] #1229 closed

[2019-04-17 14:26] jeremydmiller commented on #1242
@roji We'd have to make Marten deviate quite a bit and branch how we generate database objects based on whether it's DateTime or NodaTime. Not only that, but we'd need to deviate .Net objects for both DateTime and NodaTime flavors. Probably a whole lot of generic types that are going to make Marten's event store be quite a bit less usable.

WTF *would* you make this all or nothing?

[2019-04-17 15:06] #1225 closed

[2019-04-17 15:24] roji commented on #1242
I'm not I understand - are you asking why we would make this all or nothing, i.e. either NodaTime or BCL? Well, wanting to mix several CLR types as a representation for a single database type, in a single application, does seem a bit... extreme. Don't forget that until recently NodaTime wasn't even supported at all (and Npgsql is still the only driver which does it, AFAIK). This limitation likely

[2019-04-17 15:27] lngr commented on #1242
I think the public interface of Marten can stay with the standard CLR types, since the NodaTime types can easily converted to those. It's only the actual database fetching where one would first fetch to NodaTime types due to the way NodaTime's Npgsql-implementation works.

[2019-04-17 15:31] roji commented on #1242
@Ingr I may be misunderstanding things, but at the Npgsql level NodaTime is a purely optional feature, activated only when you set up a type mapping plugin. You can just as well *not* activate NodaTime and just use BCL types.

[2019-04-17 15:48] lngr commented on #1242
@roji Yes, the error happens when using the Npgsql NodaTime support and Marten's `Npsgsql NodaTime` plugin.

[2019-04-18 14:25] oskardudycz commented on #1242
For version `3.6.0` I'll try to prepare mapping from `NodaTime` types into `DateTime` for our internal clr dates usage.
For the version `4.0.0` we should think about some more modularity and different approach to our metadata.

Btw. @roji would you consider allowing to pass type as parameter instead of generic method for the `reader.GetFieldValueAsync`? That could be helpfull for such internal usa

[2019-04-18 14:41] roji commented on #1242
There's no such API in ADO.NET, and there may be some issues around such a non-generic API... It would have to return object (so boxing all value types it returns), and Npgsql is currently architectured to be generic all the way down, precisely to keep things fast.

However, why not simply generate compiled delegates at runtime which call `GetFieldValueAsync<T>()` with the type you want? It's quit

[2019-04-18 14:45] oskardudycz commented on #1242
@roji thanks for explanation. I understand, I'll provide a wrapper if it'll be needed. Thanks.

[2019-04-18 14:57] roji commented on #1242
Great. Note that I did open https://github.com/npgsql/npgsql/issues/2439 to think about supporting multiple handlers for the same type (i.e. BCL and NodaTime). I'd really appreciate it if you guys could tell me whether you've found a more or less satisfactory workaround, or whether this capability is absolutely necessary for you - because you're the only users who've really requested it (and haven

[2019-04-18 15:23] oskardudycz commented on #1242
Thanks @roji. I'll be probably working on that the next weak. I'll send then my feedback/suggestions.

[2019-04-22 10:05] tetious opened #1249 "NpgsqlOperationInProgressException during Rebuild when running async query in a ViewProjection"
If you are using ViewProjection, with a binding like this:
[code]

and a projection method similar to this:
[code]

When you run a Rebuild using this projection, the LoadAsync line throws a ```NpgsqlOperationInProgressException```.

If you use Load instead (non-async) everything is fine.

Hopefully there is enough information here to track this bug(?) down, or to help me understand what I'm doing

[2019-04-22 23:51] tetious commented on #1249
I figured this out while trying to write a repro test. It's fairly obvious now. Not sure why it wasn't yesterday! :)

The correct binding/setup for async Applys is, of course, ProjectEventAsync.
[code]

[2019-04-25 05:56] wastaz commented on #1194
I also like this idea and Ive occasionally toyed with the idea of building something like this myself since I use the eventstore a lot and reading raw stuff in the db gets tiring after a while. However Id suggest that this type of UI should probably be a separate project and not part of the Marten "main" package.

[2019-04-25 11:07] jeremydmiller commented on #1243
I'm going to declare success on this one today, but there's probably going to be other changes to the model as we work through more Linq issues

[2019-04-25 13:09] jeremydmiller commented on #1243
Done in the Linq branch.

[2019-04-25 13:14] jeremydmiller commented on #744
Finally working on this now

[2019-04-25 13:59] mysticmind commented on #1243
@jeremydmiller I am back in the station after long summer vacation, catching up and starting to learn more on the linq changes you have been working on. Please let me know if I can work on a small targeted task to start with to get my hands dirty :-)

[2019-04-25 14:03] jeremydmiller commented on #1243
*I* just got a chance to start working on this again yesterday and today, so I'm coming up to speed too. @oskardudycz is wanting all of us to finally do a google hangout or something to talk this all over. He's got some ideas. I *think* after a bad month or so at work I'm coming up on a spell where I could tackle bigger things.

I think I wanna see us start w/ an effort to parallelize the tests by

[2019-04-25 14:17] jeremydmiller commented on #1192
@oskardudycz I'll take this one while I'm into all the Linq stuff

[2019-04-25 14:18] mysticmind commented on #1243
Few things on top of my mind:
- We wanted to add the matrix tests we discussed before which will involve running unit tests targetting different Postgres versions. Let me take a crack at it.
- Overhaul our documentation site a bit on the structure/layout to include search via Algolia and all TOC/topic on the left like https://vuejs.org/v2/guide/.

[2019-04-25 14:29] jeremydmiller commented on #1243
A better website sounds great to me. The guy who laid out the doc website originally is horrible at web design;-). The matrix tests sound like a good idea. Definitely makes me want the tests running faster when we do that though.

[2019-04-25 15:00] jeremydmiller commented on #1122
To what end? What concrete use cases are you looking for here?

[2019-04-25 15:02] jeremydmiller commented on #1068
There's no recent activity in this issue, I'm closing it.

[2019-04-25 15:02] #1068 closed

[2019-04-25 15:03] jeremydmiller commented on #1036
No recent activity, I'm closing this one.

[2019-04-25 15:03] #1036 closed

[2019-04-25 15:04] jeremydmiller commented on #1017
No recent activity, I'm closing this one.

[2019-04-25 15:14] jeremydmiller commented on #842
I just don't see this happening or getting enough usage to justify being in Marten core, and there's been no updates in 18 mos.  I'm closing.

[2019-04-25 15:14] #842 closed

[2019-04-25 15:15] jeremydmiller commented on #838
No recent activity. I'm closing this.

[2019-04-25 15:15] #838 closed

[2019-04-25 15:16] jeremydmiller commented on #752
I'm closing this. No recent activity, and it would require a lot more changes to Marten. I think we eventually add multi-tenancy per DB though.

[2019-04-25 15:16] #752 closed

[2019-04-25 15:23] jeremydmiller commented on #528
I don't think this was ever fleshed out enough to be actionable

[2019-04-25 15:23] #528 closed

[2019-04-25 15:25] jeremydmiller commented on #1173
@psmith6 I don't think Patch is every going to play nicely with any TypeNameHandling strategy other than None. The Patch functionality actually uses Javascript at the moment, and knows absolutely nothing about Newtonsoft functionality

[2019-04-25 15:47] jeremydmiller commented on #1247
Got a fix queued up. The specific problem you saw was specific to the sync handling, but of course there was a completely unrelated problem in the async behavior.

[2019-04-25 16:13] mysticmind commented on #1017
Accidentally re-opened it, closing it

[2019-04-25 16:13] #1017 closed

[2019-04-25 17:22] mysticmind commented on #944
Closing this, we can revisit this enhancement later.

[2019-04-25 17:26] mysticmind commented on #1143
Closing this, no recent activity on this since the last reply (which answers the question)

[2019-04-25 17:26] #1143 closed

[2019-04-25 17:37] mysticmind commented on #1200
Looks like a duplicate of #870, closing this one.

[2019-04-25 17:37] #1200 closed

[2019-04-25 17:53] mysticmind commented on #889
Closing this, there is no recent activity.

[2019-04-25 17:53] #889 closed

[2019-04-25 17:55] jeremydmiller commented on #1245
@nmt1994 I'm looking at this today

[2019-04-25 17:55] mysticmind commented on #820
Closing this. No recent activity.

[2019-04-25 17:55] #820 closed

[2019-04-25 18:04] mysticmind commented on #623
Closing this. No recent activity.

[2019-04-25 18:04] #623 closed

[2019-04-25 18:09] mysticmind commented on #156
Closing this. No recent activity,

[2019-04-25 18:09] #156 closed

[2019-04-25 18:13] mysticmind commented on #955
Closing this. No recent activity.

[2019-04-25 18:13] #955 closed

[2019-04-25 18:15] mysticmind commented on #971
@jeremydmiller can you please review this to see if we need to keep it open as an enhancement or close this.

[2019-04-25 18:23] jeremydmiller commented on #971
Meh, I don't know. It's not huge, but I don't see it being super commonly used either. I think I vote to close.

[2019-04-25 18:28] #1245 closed

[2019-04-25 18:28] #1247 closed

[2019-04-25 18:29] jeremydmiller commented on #971
Here, I'm calling this one. I don't think this would get used enough to be justified

[2019-04-25 18:29] #971 closed

[2019-04-25 19:03] cocowalla commented on #1122
@jeremydmiller #1119 _was_ a good example of where this might have been useful - swapping out `IManagedConnection` for a version that included retry handling. That specific example is of course moot now that Marten has retries built-in 😄

You did comment that `IManagedConnection` was really an implementation detail, and TBH since then I don't recall coming across any other situations where this mi

[2019-04-25 19:44] jeremydmiller commented on #1122
Closed it is, thanks for the response

[2019-04-25 19:44] #1122 closed

[2019-04-26 07:00] mysticmind commented on #1105
In retrospect, it would be best practice not to use `IEnumerable` for storage of data since the serializer will need to add additional metadata to infer proper type to serialize or deserialize an object.

We will need to add some documentation to suggest users not to use `IEnumerable` properties for Marten document storage.

@oskardudycz Please let me know your thoughts, we can plan to close this

[2019-04-26 07:10] mysticmind commented on #1054
I would argue that this is *not* a typical use case Marten users would encounter on a regular basis.

So going ahead and closing this. Feel free to re-open if someone wants to send us a PR :-)

[2019-04-26 07:10] #1054 closed

[2019-04-26 07:12] mysticmind commented on #1054
Follow on note, please have a look at https://dba.stackexchange.com/questions/193788/what-can-go-wrong-using-the-same-sequence-across-multiple-tables-in-postgres. I would veto this feature in Marten.

[2019-04-26 07:28] mysticmind commented on #686
Reading through this issue thread, I am deriving a conclusion that there is nothing required to be done at Marten end.  Closing the same.

[2019-04-26 07:28] #686 closed

[2019-04-26 09:09] mysticmind commented on #588
@ericgreenmix is this still valid to add to docs or can we go ahead and close this?

[2019-04-26 11:53] cocowalla commented on #1144
I started on a PR for this, then realised that NPGSQL doesn't yet have async versions of the `COPY` methods that are used for bulk insertion: https://github.com/npgsql/npgsql/issues/1632

So this one is blocked for now.

[2019-04-26 13:33] kasparurban opened #1253 "Inconsistency in documentation and implementation regarding multi-tenancy"
There is a small inconsistency in documentation and implementation.

Documentation indicates that scoped session should be able to query tenanted documents that are under Tenancy.DefaultTenantId.
http://jasperfx.github.io/marten/documentation/documents/tenancy/basicoperations#sec1

Test case indicates that only non-tenanted documents can be queried in a scoped session besides documents that are un

[2019-04-26 16:10] oskardudycz commented on #1105
Using interfaces, so `IEnumerable`, `IReadonlyCollection`, `IList`, `ICollection` is quite common practice. Imho our mechanism of using two types of selector (raw and typed) is also not ideal. I'll try too get back to my open PR and check what are the options.
For sure we need to update documentation, to clarify this consfusion, as it's quite common question. I'll do that in my PR.

[2019-04-26 16:30] oskardudycz commented on #1249
Yeah, sorry for lack of response. Yes, that's suggested way.
I'll reopen the issue as we lack documentation around that http://jasperfx.github.io/marten/documentation/events/projections/custom/ .
As I'm author of `ProjectEventAsync` I need to be responsible and update that ;)

[2019-04-26 16:32] oskardudycz commented on #1194
I was thinking about similar way to plug UI as Swagger does. So plugging into the web app pipeline.

What do you think?

[2019-04-26 16:39] oskardudycz commented on #1122
I don't have opinion about `IManagedConnection` but I believe we should have some mechanism to inject plugins and replace parts of the Marten. Good example can be `NodaTime` issues. Imho we should really work on Marten modularity.
That will make Marten more flexible and also give user more options to contribute or swap some implementations without our work.

[2019-04-26 16:46] oskardudycz commented on #944
@mysticmind I think that maybe we could keep it open to not forget about that? I see this really useful, especially for migration from the relational databases (so help potentially migration from EF).

[2019-04-26 16:49] oskardudycz commented on #752
@jeremydmiller I think that this is something that we still aim to complete and other tenancy like per stream for event sourcing.

[2019-04-26 17:19] mysticmind commented on #944
Okay, re-opening this issue

[2019-04-26 19:34] cocowalla commented on #1173
I hit this problem a few months back too, and am getting back round to looking at it now. Only workaround I can see right now is not to use the patch API for interface types.

@jeremydmiller Marten already supports [querying for raw JSON](http://jasperfx.github.io/marten/documentation/documents/querying/query_json/) - what are your thoughts on extending the Patch API to support setting raw JSON? T

[2019-04-27 09:26] oskardudycz commented on #1173
@cocowalla That sound reasonable for me. It's similar case as for giving users ability to pass custom sql for orderby. That gives user possibility to do customisation even if we don't support this case yet in Marten.

[2019-04-27 09:56] cocowalla commented on #1173
For info, I tried out the `JsonConverter` option, and it does work as expected. It works for my use case, but obviously it's not a great solution if you have a lot of types to create a converter for.

[2019-04-27 12:48] mysticmind commented on #1192
The problem is primarily around serialized document being stored with `$type` and `$value` rather than as an array for `ICollection`.

I have written the below Custom JSON converter for handling `ICollection<T>`,`IReadOnlyCollection<T>`, `IEnumerable<T>` and also any of these types assigned with an T[] object i.e. array results in a `$type` and $value as well.

Note that for all above types, JsonN

[2019-04-27 13:12] oskardudycz commented on #1192
Cool @mysticmind ! Maybe we could think about plugin that as optional choice for collection handling? Or use it as default in `4.0`?

[2019-04-27 14:52] mysticmind commented on #1192
@oskardudycz I think we can include the JsonConverter as a utility class as part of Marten. Note that the user will need to add the attribute to the class properties accordingly.

[2019-04-27 15:27] mysticmind commented on #1105
This issue is also related to handling storage of properties as array using the custom JsonConverter. Solution proposed in #1192 will solve this issue as well.

[2019-04-27 16:50] mysticmind opened #1254 "Docs: Add documentation for RetryPolicy feature"

[2019-04-28 07:13] oskardudycz commented on #1242
with a help from @tetious I managed to provide workaround solution. See details in https://github.com/JasperFx/marten/pull/1246

[2019-04-28 16:24] #1181 closed

[2019-04-28 20:25] cocowalla opened #1256 "Exception when filtering on `uint` property"
When trying to filter on a `uint` property using a linq query, I get an exception:

[code]

The linq query is standard `.Where(x => x.MyUIntProperty == 123)`

If I inspect the command text that Marten is generating for the linq query, it looks like:

`CAST(d.data -> 'Message' ->> 'MyUIntProperty' as jsonb) = :arg3)`

[2019-04-28 21:35] cocowalla commented on #1256
As a workaround, for now I've been able to use a combination of `MatchesSql` and a cast to `int`:

`x => x.MatchesSql("(d.data ->> 'MyUIntProperty')::bigint = ?", (int)myUInt))`

[2019-04-29 20:42] cocowalla commented on #1256
I found [TypeMappings](https://github.com/JasperFx/marten/blob/f327ba3925c8cf2738b86a66f36d3a6c1840df34/src/Marten/Util/TypeMappings.cs) and tried various combinations of `RegisterMapping()`, but none seemed to work. Not sure if this is the right path tho.

[2019-04-30 01:22] dapalmi opened #1258 "User Defined Types: AutoCreateSchemaObjects thinks it needs to update the schema objects"
When using a user defined type for a `DuplicatedField` and the `AutoCreateSchemaObjects `option is not `AutoCreate.None`, then Marten thinks it has to update the schema objects every time the `DocumentStore` is created.

Additionally, when the option is the default value `AutoCreate.CreateOrUpdate`, following exception is thrown:

The reason is that the sql command to get the actual table informat

[2019-04-30 12:47] #1258 closed

[2019-04-30 12:50] jeremydmiller commented on #1256
I'm taking this one this morning.

[2019-04-30 13:03] jeremydmiller commented on #1256
And it looks like we need to take this up with the Npgsql team

[2019-05-03 03:30] mysticmind commented on #1244
http://jasperfx.github.io/marten/migration_guide/

[2019-05-06 18:32] yumei opened #1260 "upsert query is slow"
We are using Marten 1.2.5 and NpgSql 3.1.6 with Postgres 9.6. We experience frequent slowness of upsert query. The query below takes about 5 seconds to complete with 330k records in table mt_doc_note. We save business object as a jsonb object in data column.

[code]

Any way to optimize the query?

Thanks

[2019-05-06 23:17] tetious commented on #1260
How many and what sort of indexes do you have on the table?

```select * from pg_indexes where tablename = 'mt_doc_note'```

Also, if you put the query/record into codeblocks, they will be much easier to read. :)

[2019-05-07 11:56] jeremydmiller commented on #1260
@yumei There were quite a few performance improvements in Marten 2.* and a few more on Marten 3.* if you want to try to upgrade. That's a pretty old version of Marten.

Newer versions might get you to newer Newtonsoft.Json as well.

[2019-05-07 13:19] jeremydmiller commented on #1256
I tried again this morning, and I was able to get a fix in.

[2019-05-07 13:20] #1256 closed

[2019-05-07 13:36] jeremydmiller commented on #1226
@barclayadam  Before I put much into fixing this, is this really necessary? If it's really one to one in the document, why not just have one single document type?

[2019-05-07 13:38] yumei commented on #1260
@tetious Only two indexes for the note table:
1. pk_mt_doc_note: primary key index
2. not_gin_index: CREATE INDEX note_gin_index ON public.mt_doc_note USING gin (data);

[2019-05-07 13:44] yumei commented on #1260
@jeremydmiller thanks for your input.
Upgrading to Mart 2 or 3 is one of options. I need to provide more benefits and evidences  to persuade the business group that it is worth to upgrade, since the application is in production for over a year and any change means at global level means regression testing.
Any significant performance improvement in 2 or 3?

[2019-05-07 14:47] jeremydmiller commented on #1242
Fixed by the work in https://github.com/JasperFx/marten/pull/1246

[2019-05-07 14:47] #1242 closed

[2019-05-07 14:52] jeremydmiller commented on #1105
Closed by #1107

[2019-05-07 14:52] #1105 closed

[2019-05-07 14:53] jeremydmiller commented on #1192
Closed by #1107

[2019-05-07 14:53] #1192 closed

[2019-05-07 21:30] cocowalla opened #1262 "Use unique index inference for upsert constraint"
In Marten's upsert functions, it checks for an existing row using Postgres' `ON CONFLICT` feature, using a named constraint:

`ON CONFLICT ON CONSTRAINT mt_doc_mytable_pkey`

According to the [Postgres docs](
https://www.postgresql.org/docs/11/sql-insert.html#SQL-ON-CONFLICT):

Aside from the docs though, the reason I am bringing this up is that TimescaleDB hypertables [do not support](https://git

[2019-05-07 23:37] tetious commented on #1260
I can’t speak to your specific dataset, but we’ve seen many, many improvements across all aspects of Marten since the 1.x days.

I would be quite interested to see how it works for you, so if you end up running some tests, please report back.

[2019-05-09 09:43] barclayadam commented on #1226
@jeremydmiller Good question. Strictly speaking, I'd say no, it's possible to work around it. Our use case for this is two-folder:

 1. We are migrating legacy code from Azure Table store and keeping them separate simplifies that path

 2. The entities change on a completely separate change axis, the parent is often only ever created and then not changed, the child is changed often. We have things

[2019-05-11 11:20] oskardudycz commented on #1193
This case is still not fixed.
@jeremydmiller I added failing tests for this scenario: https://github.com/JasperFx/marten/pull/1263. Is this something that you plan to tackle in your Linq overhaul part 1?

[2019-05-11 12:01] oskardudycz commented on #1148
@kasparurban should be fixed with https://github.com/JasperFx/marten/pull/1264, so in [Marten 3.6.0](https://github.com/JasperFx/marten/milestone/36)

[2019-05-11 12:47] oskardudycz commented on #870
See currently supported scenarios. https://github.com/JasperFx/marten/pull/1107 We added some improvements for the inner collections, but it's not yet finished.
I added tests for @KopIlya scenarios in https://github.com/JasperFx/marten/pull/1265.

@jeremydmiller do you plan to solve them in your Linq overhaul?

[2019-05-11 12:51] oskardudycz opened #1266 "Fix "flaky" tests"
[code]
https://ci.appveyor.com/project/jasper-ci/marten/builds/24471250

[2019-05-13 09:15] #1148 closed

[2019-05-19 19:19] whitecolor commented on #780
What is the actual difference between "data" and "metadata" in this case? If by metadata meant something specific to paticular event type, why not put in "data" (payload)? Where is the actual boundary between data metadata?

[2019-05-19 21:06] aprooks commented on #780
metadata is application/protocol specific. Imagine HTTP-headers: you might have a requried attribute (Authorize) and some helpers, like x-tracing-id. So anything very general, applicable to all event types, and modifiable during handling pipelines _could_ be stored with a body and be called metadata.

The approach you described will work, but it will be semantically wrong.

[2019-05-19 22:28] bklooste commented on #780
@whitecolor   the key thing is it requires the consumer to inspect and know the data structure.  Metadata tends to be a universal / loose structure which can also be used to make decisions on where data should be routed or partitioned without knowing the data structure.  It should also be small where as a data message maybe a Meg.

[2019-05-19 22:57] bklooste commented on #780
Note here several types of metadata an organization may employ and note while a message is typically immutable , metadata may not be. Its important to be able to guarantee bodies are immutable.

Here are the 3 key scenarios in decreasing order of importance. I tend to use some of 1 and 2.
- Convenience information without message inspection .. Partitioning / keys/ Time / Routing/Archiving. eg decr

[2019-05-22 09:48] ehouarn-perret opened #1270 "Inconsistent performances upon different batch sized insertions"
I am currently benchmarking the insertion of Marten / PostgreSQL in regard to the number of entries / records in a table. I am expecting at some point to see a certain bottleneck and hence a dramatic performance degradation. To that purpose I created the small `Program.cs` which leverages Docker.DotNet to spawn an instance

[code]

I've noticed that if I insert 5,000 / 10,000 / 50,000 items the in

[2019-05-22 11:01] cocowalla commented on #1270
Did you also try using Marten's [bulk insert](http://jasperfx.github.io/marten/documentation/documents/basics/bulk_insert/) function?

[2019-05-22 11:57] ehouarn-perret commented on #1270
@cocowalla not yet, but my point is more about why there are such discrepancies with `StoreObjects`?

[2019-05-22 15:54] baronfel opened #1271 "Feature Request: Configure Table Aliases for generic tables all at once"
I've got a structure like

[code]

that I'm persisting to marten to represent some temporal state for a variety of folds over different types of incoming events, but I'd like all of the states to be persisted to the same underlying table. Marten specializes each usage of the generic type to generate the tablename, but I'd like to be able to say something like `_.Schema.For<PersistedState<'t>>().Do

[2019-05-22 16:13] baronfel commented on #1271
which, now that I'm actually running my code, doesn't work at all because Marten expects uniqueness across all document aliases :(

[2019-05-22 22:21] whitecolor commented on #780
Ok, thanks for elaboration, let's see the example case:
If there is some Item aggregate and Users can create/modify it. User id committing action in the whole system can be treated as a kind of general/universal info. But this also potentially information about the user that created/edit an Item though not critical but may be useful for the business in a certain scenario. Should this User id go to

[2019-05-23 08:55] oskardudycz commented on #1270
@ehouarn-perret hard to say right now what's causing the issue. We'll try to investiage that.

[2019-05-23 21:33] aprooks commented on #780
UserId could be stored as part of the metadata for every event. For example, if there is a requirement to have a fully traceable to a User audit log of every change in a system.

The same UserId could be part of business logic and event body, for example, if you have a requirement like "a user can only toggle an item created by himself".

There is nothing bad if data occasionally duplicates. Those

[2019-05-25 10:15] uglybugger opened #1273 "Customized serializer causes Postgres queries to not match"
I'm currently working on an app which serializes complex types, types with parent/child relationships and polymorphic child types. To do that, we use JSON.NET's serialization annotations to include type and reference metadata. That gives us JSON objects containing `$id` and `$ref` fields.

If we use the same serializer for that as our document serialization then when it creates its own query param