[2015-10-14 12:14] jeremydmiller opened #1 "Bulk loading support"
Use the _Binary COPY_ [feature of npgsql](http://www.npgsql.org/doc/copy.html).

[2015-10-14 20:57] jeremydmiller opened #2 "Paging in the querying. Do something similar to RavenDb's"
Will need this sooner or later.

[2015-10-15 00:16] jeremydmiller opened #3 "Full control over how the JsonNetSerializer is built and configured internally"
Json.Net options. Aw, Json.Net, how I've missed all your binding conflicts. (Not).

[2015-10-15 00:22] jeremydmiller opened #4 "Eliminate the temporary IDocument crutch"
Worry about this later. Will be smarter later about determining how to get the id type and accessor/funq

[2015-10-15 15:31] jeremydmiller opened #5 "Documents that have a string id field"

[2015-10-15 15:32] jeremydmiller opened #6 "Documents that have long or int id's"

[2015-10-16 08:56] flq commented on #3
:laughing: you know RavenDb went for internalizing it, and it probably wasn't a bad move from this perspective.

[2015-10-20 19:08] jeremydmiller opened #7 "Support more .Net primitive types"
Need to add tests and postgres casts in `MartenExpressionParser` for:

- [ ] bit [ (n) ] --->Byte[]
- [ ] bit varying [ (n) ] --->Byte
- [ ] bytea --->Byte[]
- [ ] interval [ (p) ] --->TimeSpan

[2015-10-20 20:47] jeffdoolittle opened #8 "Why "json" and not "jsonb""
I'm curious why documents are being stored with the "json" data type, and not the "jsonb" datatype?

https://github.com/JasperFx/Marten/blob/02e104e6b8d567e3dd86c4bf5d8112975ee7bb20/src/Marten/Generation/Templates/DocumentTable.txt#L4

http://stackoverflow.com/a/22910602/627205

[2015-10-20 21:14] jeremydmiller commented on #8
@jeffdoolittle  At pretty well the exact time you posted this, I was having a conversation w/ @coreykaylor about exactly that. I'm going to switch to jsonb tomorrow morning and see if I can drop the "CAST" 's I have to do w/ the JSON type to query w/ anything that's not a string.

[2015-10-20 21:18] jeremydmiller commented on #8
or belay that, jsonb worked as is, but I'm still gonna try to optimize the queries for jsonb tomorrow.

[2015-10-20 21:51] jeffdoolittle commented on #8
That sounds great. I'd be interested in contributing as the project progresses as well. I was thinking about building a very similar project and then I saw you create this repo and I thought "why duplicate effort?" :)

[2015-10-20 21:58] jeffdoolittle commented on #8
Also, I'm curious if you saw this blog post series from @robconery - there are some interesting ideas about querying and indexing:

http://rob.conery.io/2015/08/20/designing-a-postgresql-document-api/
http://rob.conery.io/2015/08/21/postgresql-document-api-part-2-full-text-search-and-bulk-save/
http://rob.conery.io/2015/08/25/postgresql-document-api-part-3-finding-things/
http://rob.conery.io/2015

[2015-10-20 22:50] jeremydmiller commented on #8
@jeffdoolittle Just added you to the gitter room for this. I'd happily take all the help we could get.

https://gitter.im/JasperFx/Marten?utm_source=share-link&utm_medium=link&utm_campaign=share-link

[2015-10-21 14:42] jeremydmiller commented on #8
Gonna close this one because we are on JSONB now;)

[2015-10-21 14:42] #8 closed

[2015-10-21 14:44] jeremydmiller opened #10 "Optimize the Document.SaveChanges()"
Maybe use data adapters in ADO.Net to submit all the changes in one batch? May not be *that* crazy. Another alternative would be to submit a batch of JSON and have a plv8 sproc in the database do the work of pushing the data to the right places.

[2015-10-21 14:46] jeremydmiller opened #11 "Support Take() and Skip() in the Linq support"

[2015-10-21 14:47] jeremydmiller commented on #2
I'm specifically referring to the Statistics(out stats) feature in RavenDb: http://ravendb.net/docs/article-page/2.5/csharp/client-api/querying/paging

I'm frankly fine with copying the signature.

[2015-10-21 14:50] jeremydmiller opened #12 "Support Single() or First() in the Linq support"
I think this mostly means implementing `DocumentSession`'s `IQueryExecutor.ExecuteSingle<T>()` method

- [x] Single hit only one
- [x] Single hit more than one
- [x] Single miss
- [x] First hit
- [x] First miss
- [x] SingleOrDefault hit only one
- [x] SingleOrDefault hit more than one
- [x] SingleOrDefault miss
- [x] FirstOrDefault hit
- [x] FirstOrDefault miss

[2015-10-21 14:54] jeremydmiller opened #13 "Support Count() in the MartenQueryable()"
Implement `DocumentSession`'s `IQueryExecutor.ExecuteScalar<T>(QueryModel queryModel)` method

[2015-10-21 14:55] jeremydmiller opened #14 "Load documents by an enumerable of id's"
Flesh out DocumentSession's Load() methods.

- [x] For a string id
- [x] For a numeric id
- [x] For a Guid id

[2015-10-21 14:57] jeremydmiller opened #15 "DocumentSession.Query(string) should check for the presence of a "Select" statement"
Today, it's expecting a where or maybe a where + order by clause and partially building the sql by itself. For the case of needing to exactly fine tune the sql used, support taking in the whole query as well.

[2015-10-21 15:06] jeremydmiller opened #16 "Asynchronous versions of everything in the IDocumentSession API"
More work on this later, but assuming that we're going to the OWIN'ified async all the things, Node.js style event loop kind of world for maximum scalability

[2015-10-21 15:07] jeremydmiller opened #17 "DevelopmentDocumentSchema should not overwrite existing tables"
Watch this. It does a drop and create table combo regardless today, but that's not going to work in real development.

[2015-10-21 15:13] jeremydmiller opened #18 "Support partial document updates?"
I used this feature a tiny bit with Raven. It's actually possible w/ Postgresql 9.5 to do partial updates to JSON documents, but I think you'd have to express the change as JSON. Not sure it'd be worth doing a strong typed facade over that, but could be wrong. Maybe use .Net's Dynamic type

[2015-10-21 15:18] jeremydmiller opened #19 "Linq support for nested properties"
Haven't tried something like `Where(x => x.User.Name == "foo")`. Look at `MartenExpressionParser.JsonLocator()`

[2015-10-21 15:21] jeremydmiller opened #20 "Use LATERAL jsonb_to_record(blah, blah, blah) to optimize shallow Linq queries?"
See [this post](http://www.scriptscoop.com/t/19cc0f9e9e3d/indexing-jsonb-for-numeric-comparison-of-fields.html). The naive way we're querying today involves runtime casts and can't possibly be efficient.

It's sounding like a big win, but I'm not sure how helpful it would be for deeply nested queries. Not sure how we'd exactly go about switching between using jsonb_to_record/LATERAL and using CAST

[2015-10-21 15:40] jeremydmiller opened #21 "ProductionDocumentSchema"
A production time version of `IDocumentSchema` that blows up when an unknown document type is encountered. Can't be building new database tables in production in most likelihood anyway.

[2015-10-21 15:45] jeremydmiller opened #22 "Define indexes by document type in code"
This is going to need a lot more thought. What I'd like is a way to define Marten index's in code for common queries that may:

1. Create extra fields and matching db indexes in the document tables to duplicate information in the son payloads specifically to make querying more performant

1. Somehow directs the Linq query support to use these extra fields
1. Adds something to the DB to duplicate t

[2015-10-21 15:46] jeremydmiller opened #23 "Command line management tool?"
I think we need some kind of facility to generate the database schema objects for document types. Think about this one more. Is it a console tool on top of the library support? Migrations?

Possible features would be:

1. Dump the full DDL for the entire schema
1. Generate patches for any places where the schema is different than the Marten configuration
1. Bulk data loading?
1. Wipe out Marten sc

[2015-10-21 15:47] jeremydmiller opened #24 "Support string StartsWith() and EndsWith() searches in Linq support"
We already support Contains, so now what about:

- [ ] StartsWith
- [ ] EndsWith

[2015-10-21 15:53] jeremydmiller opened #25 "Compiled Queries"
So I'm kind of freaked out now that I've seen how many intermediate steps there are between a Linq expression and actually getting the SQL command out of that.

For performance, what if we had a way to express a commonly used query as a Linq statement once and get the SQL string w/ the right parameters built upfront so you can avoid that parsing hit over and over again.

I've got some vague ideas

[2015-10-21 15:54] jeremydmiller opened #26 "Batched requests, deferred queries, futures"
Network round trips are evil!

What if we had some way to send several requests up to the db at one time? More research necessary.

[2015-10-21 15:54] jeremydmiller opened #27 "Test the Linq support with multiple Where() clauses"

[2015-10-21 15:55] jeremydmiller opened #28 "Support ordering in the Linq query able"

[2015-10-21 15:56] jeremydmiller opened #29 "Flesh out the DocumentCleaner"
Testing utility to clean out the database between tests

[2015-10-21 15:56] jeremydmiller opened #30 "Support searching for "IS NULL" in linq queries"

[2015-10-21 16:55] jeremydmiller opened #31 "Document Projections"
Just a placeholder for now. Have *some* kind of model that allows you to do transforms to _read side_ views in the database. Might finally get into PLV8 code inside of postgres. I'm thinking that we could do this in lieu of supporting truly crazy LINQ queries of the real model.

[2015-10-21 17:10] mishfit opened #32 "Consider More Proven Document Stores"
Don't take this as knocking postgres, which I like in other contexts...but it seems that using something slightly less new (and in use in more projects or companies) would be worthwhile. There's always redis.

[2015-10-21 19:12] jeremydmiller commented on #32
Redis is an in-memory cache, and Postgresql is about as proven as it gets. The JSON support and JS/V8 embedding is fairly new, but postgres itself is 20-30 years old.

[2015-10-21 19:16] mishfit commented on #32
As I understand it, it has persistence to disk by default and has had JSON
support much longer than Postgres without the overhead required to be an
RDBMS

On Wednesday, October 21, 2015, Jeremy D. Miller <notifications@github.com>
wrote:

[2015-10-21 19:22] jeremydmiller commented on #32
@mishfit Do a spike on it some OSS Friday when things settle down. I'm going to be in the office the week of Nov. 9. Talk about it then?

[2015-10-21 20:11] jeremydmiller opened #33 "Helpers to retrieve the raw JSON"
For web app scenarios, when all you wanna do is spit the raw json directly over the outgoing HTTP response, just get the raw json data as a string and spit it out over the wire.

Synchronous and Async. Might investigate some kind of lightweight way to strip out the type information that comes in from Json.Net or whatever the serializer is gonna be.

[2015-10-21 20:15] jeremydmiller opened #34 "Linq support to search within a child array"
Seeing plenty of Any() queries on a child collection in our code at work.

[2015-10-21 20:17] jeremydmiller opened #35 "Optimistic locking with version tracking on documents"

[2015-10-21 20:19] jeremydmiller opened #36 "IEnumerable.Contains() Linq support for primitive types"
Names.Contains("foo")

[2015-10-21 20:20] jeremydmiller opened #37 "Use enumeration values as Linq values"
Might be nothing but a test to make sure that it works

[2015-10-21 20:30] jeremydmiller opened #38 "Test Queryable.Any()"
Just need a test for it maybe.

[2015-10-21 20:47] jeremydmiller opened #39 "Full text searching support on the documents?"
More research on this one.

[2015-10-21 21:04] jeremydmiller commented on #32
@mishfit Actually, that's a no on Redis. It's not ACID compliant and that makes it a no go to be an actual transactional db store

[2015-10-21 21:48] jeffdoolittle commented on #39
Part 2 of of the @robconery series on postgres as document store may be relevant to this issue:

http://rob.conery.io/category/postgres-document-api/

[2015-10-22 13:06] andrewm1986 commented on #31
I think this would be ideal for supports CQRS scenarios

Does the PLV8 support ecmascript 6?  You could look at doing some arrow function based indexes

[2015-10-22 13:28] #4 closed

[2015-10-22 13:28] #5 closed

[2015-10-22 13:28] #6 closed

[2015-10-22 14:32] #14 closed

[2015-10-22 15:30] jeremydmiller opened #40 "DocumentSession is a Blob class"
Not this minute, but pretty soon get into DocumentSession and start pulling stuff out to smaller, cohesive classes

[2015-10-22 15:48] jeremydmiller opened #41 "Support Last() and LastOrDefault() in Linq support"
Laters...

[2015-10-22 15:50] #12 closed

[2015-10-22 19:04] #38 closed

[2015-10-22 19:24] #13 closed

[2015-10-23 15:54] jeremydmiller commented on #40
Calling it good enough right now, but may still pull out the batch update later

[2015-10-23 15:54] #40 closed

[2015-10-23 16:22] #27 closed

[2015-10-24 10:27] mdissel opened #43 "Optionally use Sequence for numeric Id property (and/or high/low implementation)"
Implement an attribute to identify a Id property as [Identity] with one or more implementations:
- fetch next number from sequence when DocumentSession.Save(..) is called and assign to Id property
- use high-low algorithm at domain level to assign next number from range or fetch next range from sequence. Set Id property when DocumentSession.Save(..) is called

[2015-10-24 10:39] mdissel opened #44 "Store Hierarchy / subclassed documents in the same table"
By default store every class in it's own table, except when on one of the parent classes an attribute [DocumentRoot] is declared.
or always stored subclassed documents into the root class..

[2015-10-27 12:18] #11 closed

[2015-10-27 12:18] #28 closed

[2015-10-27 15:35] #19 closed

[2015-10-27 20:57] nickvane commented on #10
For data adapters to work for batching, npgsql needs to support batch size (https://msdn.microsoft.com/en-us/library/aadf8fk2%28v=vs.110%29.aspx), and I think it doesn't. Looking at the code base: https://github.com/npgsql/npgsql/search?utf8=%E2%9C%93&q=UpdateBatchSize&type=Code and searching online yields no results. The only batch thing that comes close is http://www.npgsql.org/doc/copy.html, bu

[2015-10-28 12:22] #37 closed

[2015-10-28 12:44] #30 closed

[2015-10-28 12:44] jeremydmiller opened #45 "Searching on Nullable Types"
Later.

[2015-10-28 14:16] jeremydmiller commented on #7
Splitting this issue up into separate issues for the types that actually get done;)

[2015-10-28 14:17] jeremydmiller opened #46 "Boolean types in Linq support"

[2015-10-28 14:18] jeremydmiller opened #47 "Support doubles in linq expressions"

[2015-10-28 14:18] jeremydmiller opened #48 "Support decimal type in linq expressions"

[2015-10-28 14:33] #46 closed

[2015-10-28 14:33] #47 closed

[2015-10-28 14:33] #48 closed

[2015-10-28 14:33] jeremydmiller opened #49 "DateTime support in Linq"

[2015-10-28 14:34] jeremydmiller opened #50 "Nullable<T> type support in Linq provider"

[2015-10-28 14:35] jeremydmiller commented on #49
DateTimeOffset too!

[2015-10-28 14:51] #49 closed

[2015-10-28 14:52] #50 closed

[2015-10-28 15:14] #24 closed

[2015-10-28 15:52] #15 closed

[2015-10-28 15:53] jeremydmiller commented on #36
Ugh, harder than I thought it would be. See http://stackoverflow.com/questions/22736742/query-for-array-elements-inside-json-type for a little more information.

Another approach might be to use JS functions w/ PLV8

[2015-10-28 16:53] #32 closed

[2015-10-28 20:06] jeremydmiller opened #51 "Support Select() from the MartenQueryable() ????"
If you do session.Query<MyDocument>().Where(blah blah blah).Select(x => x.Something) it goes pear shaped. You have to do an intermediate ToArray() or ToList() in between.

Think about this and see if anyone really wants projections directly over the top of the document tables. Might temporarily have it fetch and deserialize, then do the projection in memory. Because you know that no one would kill

[2015-10-28 20:30] jeremydmiller commented on #10
@nickvane I figured that sooner or later we'd hit some kind of limitation on the postgres client. I'm going to try to get some kind of non-trivial test database (we're thinking about using Octokit to get at Github data) together before I try to tackle this so we can get some non-imaginary numbers.

The ON CONFLICT idea sounds like something worth trying to me. I appreciate the tip.

[2015-10-29 14:09] #29 closed

[2015-10-29 14:34] #17 closed

[2015-10-29 14:59] #21 closed

[2015-10-30 19:55] jeremydmiller commented on #43
We definitely need this. I've changed the `IDocumentSchema` classes to a runtime codegen strategy with an eye toward making this a little easier. Rob Conery linked to this one in a different comment:

http://rob.conery.io/2014/05/29/a-better-id-generator-for-postgresql/

[2015-10-31 11:17] mdissel commented on #43
The advantage of a client based ID is that you don't need to save documents/records to the database before they can be used as a reference in other records/documents.

[2015-11-03 15:37] jeremydmiller commented on #20
So maybe not. Right now the "duplicated search field" strategy looks to be much, much more effective than the lateral join, but the lateral join clearly helps for smaller tables. I'm voting to defer this for now.

Here are the results:

1,000 Documents
Fetching as is: 121
Fetching with lateral join: 11
Fetching with duplicated field: 2

10,000 Documents
Fetching as is: 181
Fetching with lateral jo

[2015-11-03 15:38] jeremydmiller opened #52 "Use duplicated fields as searchable inside the Linq SQL generation"

[2015-11-03 15:39] jeremydmiller opened #53 "New "MartenRegistry" mechanism for altering and customizing table storage"
Need some way to override table names, set up duplicated fields, FK's, etc.

[2015-11-03 15:40] jeremydmiller opened #54 "Attribute model to customize table storage"
Alternative to `MartenRegistry`

[2015-11-04 04:20] kamranayub commented on #43
@mdissel Pretty much a must-have for doing batch insert/processing. Client ID gen is definitely :+1:

[2015-11-04 21:32] #20 closed

[2015-11-04 21:55] jeremydmiller commented on #52
The query building mechanics and semantic model is done. I'm opening further issues for actually being able to configure this in a usable way.

[2015-11-04 21:56] #52 closed

[2015-11-04 22:35] jeremydmiller commented on #22
This is done *except* for creating db indexes. Not sure or not if we wanna try that in code or leave it to pure DDL

[2015-11-05 13:49] jeremydmiller commented on #54
Right now, it's just going to be [Searchable] and [SearchWithJsonLocatorsOnly] and [SearchWithJsonbLateralJoins]

[2015-11-05 14:04] #54 closed

[2015-11-05 14:14] jeremydmiller opened #55 "Deep searchable fields"
Be able to make a duplicated field that goes more than one deep. So x.Inner.Name instead of just a shallow x.Name.

May only require a test to make sure that it works.

[2015-11-05 14:28] #53 closed

[2015-11-08 20:41] jeremydmiller opened #56 "Auto-assign Guid id's if none is provided by client"
Should be easy.

[2015-11-09 11:06] tim-cools opened #58 "Create tests database automatically"
For a project I'm working on I (re-)create a test pg database from code by calling psql with a script. It is not the cleanest way but you don't need a password for this. Assuming that the calling user has the rights and a default installation is used.

Doing so you don't need to create the database and enter a connection string manually and the tests run without any modification. I ported this to

[2015-11-09 11:17] tim-cools commented on #31
I was also thinking about implementing something like this. My current idea was to implement async projections to use pgq (a queue insiide pg developed by skype) to create Document update events. These events would be consumer by a .NET service in order to update the re

[2015-11-09 11:43] tim-cools commented on #56
I can implement this with a DynamicMethod (instead of reflection) if you want. I did something similar in the past: https://github.com/tim-cools/composition/blob/master/src/Soloco.Composition/Construction/ThisFieldSetterGenerator.cs

[2015-11-09 13:33] tim-cools opened #59 "Load should return objects from unit of work"
Scenario:
- session.Store(student.id = 1)
- session.Load<Student>(1) returns null
(SaveChanges not called yet)

I expect that the second call returns the object stored by the first call from a cache. What do you think?

[2015-11-09 13:36] jeremydmiller commented on #59
@tim-cools That probably needs to be part of a larger Identity Map feature. I've gone back and forth on whether or not we should do that underneath DocumentSession.

I can be convinced either way. I can think of a scenario or two within the system at work we're building Marten for that could use it.

[2015-11-09 13:47] #45 closed

[2015-11-09 14:31] #55 closed

[2015-11-09 14:33] jeremydmiller opened #60 "Investigate Enum fields as "searchable" fields"
Getting an Npgsql error about enum's needing to be registered first, but I did that and it didn't solve the problem. Maybe you do it by saving the Enum string value and handle it in the .Net code.

[2015-11-09 14:34] jeremydmiller opened #61 "Explicitly map NpgsqlDbType in parameter usage instead of letting it be inferred"
I'm seeing a place or two where I'm having to override the inferred DbType value, plus it's a very minor perf optimization down the road. Not making this a very high priority right now.

[2015-11-09 14:40] jeremydmiller commented on #56
@tim-cools Hey, I appreciate that, but the Roslyn usage -- once you get past the Paket version problems -- makes this almost trivial because it's just code generation at runtime.

It'll be something like `if (doc.Id == default(Guid)) doc.Id = Guid.NewGuid();` directly in the code generation.

If the Roslyn thing actually does work out, I'm hoping to retire w/o seeing IL generation or even Expressi

[2015-11-09 15:09] jeremydmiller opened #62 "Diagnostic ability to see what SQL command Marten would issue for a Linq Queryable"
`IDocumentSession.Diagnostics.CommandFor<T>(IQueryable<T>) : IDbCommand` is what I'm envisioning here.

[2015-11-09 15:11] #62 closed

[2015-11-09 16:08] tim-cools commented on #59
I agree that it normally doesn't happen. But I'm creating an implementation of http://www.asp.net/identity backed-up by PG and I face this situation when I plug in the library for storage.

I also think you need an Identity map to detect dirty objects when doing a SaveChanges to the store if you want to support automatically updates like ravendb and the orm's does.

[2015-11-09 16:13] tim-cools commented on #56
Haha, totally agree about the IL and Expression stuff :-)

I'm sure you find a solution for the Roslyn warmup. You can probably get around the first access hit by adding a post-compilation or deployment step. In this step you can generate the assemblies

[2015-11-09 16:38] #1 closed

[2015-11-10 04:42] jeffdoolittle opened #64 "Prepare package and publish to NuGet"

[2015-11-10 12:08] jeremydmiller commented on #64
Yeah, I know. I want to stand up a CI build first. I'm going to make the excuse that the person that I need to give me access to that server to get Postgresql setup is out this week;)

Early next week I think.

[2015-11-10 14:02] jeffdoolittle commented on #64
sounds good, no rush just one of those things that will probably help with early adoption and testing.

[2015-11-10 15:15] jeffdoolittle opened #65 "Postgres 9.4 fallback option?"
I understand the choice of 9.5 since upserts will be built in. However, until 9.5 is released perhaps a fallback option could be considered for those on a previous 9.x release. Something like this works:

BEGIN;
LOCK TABLE {0} IN SHARE ROW EXCLUSIVE MODE;
WITH upsert AS (UPDATE {0} SET data=@data WHERE id=@id RETURNING *)
INSERT INTO {0} (id, data)
SELECT @id, @data WHERE NOT EXISTS (SELECT * FROM

[2015-11-10 15:27] jeremydmiller commented on #65
@jeffdoolittle,

I'm game for that. Wanna try it out and submit it? Have something that either detects the postgres version or just set it in code and switch? As of now, the upsert is the only 9.5 specific thing I know of. If we did the partial document update feature I think that would require 9.5 specific operators, but I'm not sure that's a big deal to me. We *could* drop down to PLV8 to do tha

[2015-11-10 17:25] jeremydmiller commented on #43
I'm splitting Sequences out to its own issue in just a second.

[2015-11-10 17:26] jeremydmiller opened #66 "Support using Postgresql Sequence's for int and long id's"
HiLo assignment is working, so this is probably a low priority. As in, not gonna do it until someone else does the PR or asks for it;)

[2015-11-10 17:27] #43 closed

[2015-11-10 17:27] #56 closed

[2015-11-10 18:28] jeffdoolittle commented on #65
I can take a pass at this if you want to assign the issue to me

[2015-11-10 19:04] jeffdoolittle commented on #65
I'm not thrilled with the way I set up the configuration, let me know if you have other ideas or preferences. Also, I'm unclear on how to match the args with a column name (see the "todo" I put in the commit).

Unfortunately I only have VS2012 handy at the moment so I wasn't able to build and run but hopefully this gets a good running start on implementing the fallback mechanism.

[2015-11-10 19:30] jeremydmiller commented on #65
@jeffdoolittle I think that's fine for now. We might come up for a different name or syntax for the configuration flag later, but that's nothing.

[2015-11-11 13:57] danbarua commented on #39
You could do this the same way you've done searchable fields, just persist it as a ```tsvector```.

[2015-11-11 14:00] jeremydmiller commented on #39
@danbarua Yeah, but I haven't thought about how you might use or expose that from the client. You always have the ability to go straight at SQL I guess. Any suggestions on that angle?

[2015-11-11 14:08] danbarua commented on #39
I'll have a play with it and see if I can come up with anything.

[2015-11-11 15:09] danbarua commented on #39
Just leaving this here as a reminder:

[code]

[2015-11-11 16:18] danbarua commented on #60
You might need to define it as an Enum type inside Postgres itself? Not played with that feature yet.

[2015-11-11 18:12] robconery commented on #39
You have to persist the values at save - unfortunately triggers won't work on documents (which is a bummer). What we did for Moebius (Elixir db tool) was to define a function that would index a set of fields;

[code]

I would imagine here you could do the same with an attribute on the document itself:

[code]

The when save is called check the attributes and update them in a separate call after sa

[2015-11-11 20:11] jeremydmiller commented on #39
@robconery Thanks for the input Rob.

In Marten's internals, we've got a class called `DocumentMapping` that models everything about how to persist a document type (what's the id, which fields are duplicated for searching, etc), and from that model Marten codegen's the db table, upsert sproc, and even the C# glue code that goes from a document object to calling the right sproc.

In this case I thi

[2015-11-11 21:04] robconery commented on #39
Sounds like it fits right in - nice job :).

[2015-11-11 22:30] jeffdoolittle commented on #65
The latest commit is working with all existing tests on postgres 9.4 However, I don't have a simple fall back mechanism for all the tests, so you'll see that in the latest commit, I just commented out parts of the `SchemaBuilder` so it always uses the postgres 9.4 fallback.

I fiddled with the `DevelopmentModeRegistry` and set the `DocumentSchema.UsePostgres9_4Fallback` value to 'true' which allow

[2015-11-12 01:00] jmkelly commented on #64
I've setup on build and deploy to nuget on Travis CI.  Feel free to butcher since we are doing the same things

https://github.com/YoloDev/elephanet/blob/master/.travis.yml
https://github.com/YoloDev/elephanet/blob/master/deploy.sh

[2015-11-12 09:42] danbarua commented on #39
That's pretty much the approach I'm trying :+1:

[2015-11-12 18:57] jeremydmiller opened #69 "Dump the event & stream tables as part of schema building"

[2015-11-12 18:58] jeremydmiller opened #70 "Append a single event"
Spiked in, but not completely tested.

[2015-11-12 18:58] jeremydmiller opened #71 "Append several events at one time"
Spiked in, but not adequately tested yet

[2015-11-12 18:59] jeremydmiller opened #72 "Aggregate projections and snapshot calculation via JS"
Similar to pg_events, calculate stream snapshots based on JS transforms of the event stream.

[2015-11-12 18:59] jeremydmiller opened #73 "Fetch aggregate snapshot in client"
Dependent upon https://github.com/JasperFx/Marten/issues/72

[2015-11-12 19:00] jeremydmiller opened #74 "Fetch event stream"
- [x] by stream id
- [x] by stream id and version
- [x] by stream id and timestamp

Returns the events and maybe a wrapping object

[2015-11-12 19:00] jeremydmiller opened #75 "Delete an event"
Probably to feed admin screens.

- [ ] By Id
- [ ] By event object

[2015-11-12 19:01] jeremydmiller opened #76 "Replace Event"
For admin mostly

[2015-11-12 19:03] jeremydmiller opened #77 "Add EventStore configuration to MartenRegistry and DocumentSchema"

[2015-11-12 19:06] jeremydmiller opened #78 "Inline JS projections for a single event"
One to one projection of a single event via JS executed at event capture time

[2015-11-12 19:07] jeremydmiller opened #79 "Inline stream aggregated projection via JS"
aggregated projection view done for a single stream done inline.

[2015-11-12 19:08] jeremydmiller opened #80 ""Live" stream aggregated projection via JS"
Fetch and calculate a projection done via JS over a single stream that is calculated at the time it is fetched

[2015-11-12 19:08] jeremydmiller opened #81 "Aggregated JS projection across all streams"
Have to be done with a new "Async Projection Daemon". Later.

[2015-11-12 19:09] jeremydmiller opened #82 "Projection across a category via JS"
Will have to be async. By company/customer/region/etc. Cuts across streams.

[2015-11-12 19:10] jeremydmiller opened #83 "Mechanism to load JS projections into postgres at bootstrapping time"

[2015-11-12 21:57] jeremydmiller commented on #64
@jmkelly I appreciate that, but we've got a TeamCity server I can use & I'll use Paket for now.

Hey, I'm sorry that I completely dropped the ball on chatting with you about this & elephanet. Would you be up for talking early next week? Just catch me on Gitter if you want.

[2015-11-12 22:05] #65 closed

[2015-11-13 11:03] tim-cools opened #84 "Decimal values linq tests fail on none US machines"
When I run the tests on my machine which uses , for decimals some ST tests fail because ST can't convert the decimal values. When i change

[code]

To

[code]

All tests pass. This is however no solution. I guess this needs to be fixed in ST so that the conversion to decimal always use InvariantCulture?

[2015-11-13 11:50] jeremydmiller commented on #84
Yeah, ST itself, and yep. I'm a little surprised this hasn't happened before. I can maybe get that addressed on Monday. I had some other ST todo items coming from Marten work.

[2015-11-19 13:05] jenspettersson opened #85 "Track number of requests per session"
In RavenDB they have `MaxNumberOfRequestsPerSession` on the DocumentSession that's defaulted to 30. If more than 30 requests is made on one session, an exception is thrown.

This is a really good way of preventing easy mistakes like registering something as singleton which also has a dependency to the session. That session would live forever and that's probably not a good idea.

The only negative

[2015-11-19 15:46] jeremydmiller commented on #83
This is somewhat done already. `IEventStore.Administration.LoadProjections()`

Not sure how we want to do administration later. I'm leaving this open until the documentation effort flushes this out.

[2015-11-20 13:08] jeremydmiller opened #86 "Document Storage does not work with nested types"
Not sure we care, but the way the DocumentStorage generation is built, it blows up on inner types as the document type.

[2015-11-23 17:21] jeremydmiller opened #88 "IdentityMap isn't being applied to Query() methods yet"
I think we do this by adding the Id to the select results

[2015-11-23 17:22] jeremydmiller opened #89 "Optimize the First() & Last() mechanics by limiting the results"
Instead of doing a complete fetch and then grabbing the first or last in that array, let's try to make the DB query only return the correct value

[2015-11-23 17:32] #41 closed

[2015-11-23 23:58] jeremydmiller commented on #22
Done!

[2015-11-24 12:24] jeremydmiller commented on #10
Fixed by https://github.com/JasperFx/Marten/commit/dc873e63e36242ae113f09660452a0176287e860. The new UnitOfWork and UpdateBatch classes use a single command to make all the changes.

[2015-11-24 12:24] #10 closed

[2015-11-24 12:25] #22 closed

[2015-11-24 12:44] tim-cools commented on #22
@jeremydmiller any special reason that you use an extra field instead of GIN indexes? gin indexes support indexing on properties of the json content (haven't checked the code yet)

[2015-11-24 13:47] jeremydmiller commented on #22
@tim-cools I added another option for adding a gin index against the actual Json field at the end of yesterday. I'm collecting some performance numbers, but right now I can tell you that the btree index on a duplicated field is still a faster search than the containment operator + gin index. The gin + containment operator is clearly faster than the simplistic json operator queries. My next trick i

[2015-11-24 14:27] jeremydmiller opened #91 "Useful error message when Marten cannot determine the id member for a document type"
Today it looks for either a field or property named "id" or "Id". If it can't find one, it just gets weird inside. Better and more immediate exception message.

[2015-11-24 14:53] jeremydmiller opened #92 "New, fancy pants batched update needs maximum batch size"
From testing this morning, you can't infinitely build batches. Got a case where 100 ran very fast and 1000 effectively not at all.

[2015-11-24 15:12] mdissel commented on #22
Why don't you add the gin + containment index by default (if it doesn't cost too much performance)? If you search for a field not defined as searchfield it will not start a table scan...

[2015-11-24 15:21] jeremydmiller commented on #22
We can *talk* about doing that. It does have some impact on insert performance and I don't know how much on storage:

Newtonsoft.Json

Index	Bulk Insert	Batch Update	Command per Document
No Index	62	149	244
Duplicated Field w/ Index	53	152	254
Gin Index on Json	96	186	300
Jil

Index	Bulk Insert	Batch Update	Command per Document
No Index	47	134	224
Duplicated Field w/ Index	57	151	245
Gin Index on

[2015-11-24 16:46] #36 closed

[2015-11-24 17:26] jeremydmiller commented on #59
Done, but there's a separate issue for Select()

[2015-11-24 17:27] #59 closed

[2015-12-07 16:58] jeremydmiller commented on #25
See https://msdn.microsoft.com/library/bb896297(v=vs.100).aspx for more information on what EF does

[2015-12-09 20:06] tetious opened #94 "DocumentStorage code generation fails under DNX (dnx451)"
When running under DNX, Rosyln generates project assemblies dynamically in memory; they have no location on disk. This means assembly.Location is empty, which makes the current code generation strategy fail when it tries to add the MetadataReference:

[code]

I'm not sure how to fix this in a non-hacky way without changing the overall strategy away from code generation. Perhaps using some form of

[2015-12-09 20:26] jeremydmiller commented on #94
@tetious

"Perhaps using some form of reflection based system that generates lambdas via expression trees?" -- been there, done that, no thank you. Let me bug the Roslyn guys about that and see what they say because I can see some SO threads where this has come up before. There's surely a way to get around that.

There *is* a way to do this that's marked [Obsolete]: https://github.com/dotnet/rosly

[2015-12-09 20:39] tetious commented on #94
Yeah, I did look at the obsolete method. It is using Location internally, and throws a NotSupportedException if Location is empty.

I poked around in the roslyn project and found a PR where they added that exception seemingly in response to someone reporting this problem:
https://github.com/dotnet/roslyn/pull/6254

[2015-12-09 21:13] jeremydmiller commented on #94
Ugh, okay. You can see my discussion w/ @pilchie on twitter (@jeremydmiller). I've got nothing offhand. I hate to say this, but my thought for right now is to hope for a fix from their side.

[2015-12-09 21:16] Pilchie commented on #94
I'm not aware of a way offhand to resolve this.  You'd probably have to track back to where the `Assembly` is created, pass the bytes along and use something like `CreateFromStream()`.

[2015-12-09 21:17] jeremydmiller commented on #94
That won't quite work because we're going to need to have the application assemblies holding the user's document types that are going to be outside of this codebase.

[2015-12-09 21:47] Pilchie commented on #94
Hey @gkhanna79 - is there a way to get back to a `byte[]`/`Stream` for a given `Assembly`?

Also tagging @tmat.

[2015-12-09 21:53] tmat commented on #94
TryGetMetadata might be what you're looking for:
https://github.com/dotnet/corefx/issues/2768

[2015-12-09 23:03] jeremydmiller commented on #94
@tmat @Pilchie Is that extension method only in the CoreCLR version of System.Reflection? I'm assuming yes.

[2015-12-09 23:33] tmat commented on #94
@jeremydmiller Correct. There is no such API on desktop CLR.

[2015-12-10 12:51] jeremydmiller commented on #94
@tetious So it looks like we *could* address the DNX + CoreCLR combination here (assuming that Npgsql supports CoreCLR now), but not .Net 4.5-4.6 + DNX. Doing the CoreCLR multi-targeting thing for the nugets I control is just an exercise in mild tediousness, but we'd be dependent upon everything else supporting it too.

[2015-12-17 21:52] alistair opened #96 "Optimistic Concurrency Locking"
Any plans to have a 'version' column or some such way of ensuring the document hasn't changed underneath you when you call save changes?

[2015-12-17 21:56] CoreyKaylor commented on #96
Closing, duplicate for https://github.com/JasperFx/marten/issues/35

[2015-12-17 21:56] #96 closed

[2015-12-18 15:10] phillip-haydon opened #97 "Make HiLo's Lo value configurable."
Currently the default is 1000, starting / stopping my app during development means my IDs jump very high very quickly.

While it would be nice to set the `Lo` on a document collection basis.

For now it would be great to configure this globally. Something like:

[code]

Or something like that.

Hope that makes sense.

[2015-12-18 15:12] phillip-haydon commented on #97
Also:

http://jasperfx.github.io/marten/documentation/documents/document_ids/

The link to HiLo is broken.

![image](https://cloud.githubusercontent.com/assets/895629/11899831/d496a24c-a5dc-11e5-8283-b8ef9aa5c50f.png)

[2015-12-18 15:17] phillip-haydon opened #98 "Querying does not create document collections (tables)"
I have a setup of seed data which checks to see if data exists then updates it first.

[code]

If I do an insert first, it forces the creation of the table. The querying will work perfectly fine.

Without the table. `var emailTemplate = session.Query<EmailTemplate>().FirstOrDefault(x => x.Name == templateName);` this will fail because the table does not exist yet.

![image](https://cloud.githubuse

[2015-12-19 18:20] phillip-haydon opened #99 "Changing the identity can cause the routine to be incorrect and not updated"
Initially I created a new class with a `string` `Id` field. This generated the table + routine, and notified me correctly that I did not supply an Id.

Updating the field to use an int instead of string, it setup the HiLo for the table but then could not find the matching routine since the first was created `VARCHAR, JSONB` but is looking for `INTEGER, JSONB`

Not sure how this should be handled.

[2015-12-19 18:22] phillip-haydon commented on #99
routine -> function

I've been using Jet Brains new DataGrip IDE.

[2015-12-21 13:33] bojanv91 opened #100 "'Compilation failures' when storing object which inherits class with "Id" property from another assembly"
'Compilation failures' when storing object which inherits class with "Id" property from another assembly

Marten complains when the "Id" property for a stored object resides in an inherited class which resides in different assembly.

**Look at bellow examples:**

Project structure:

    MartenPrimer/ (console app, references MartenPrimer.Core)
        Program.cs
        User.cs
    MartenPrimer.Co

[2015-12-23 16:36] jeremydmiller commented on #100
@bojanv91 I see what's up. We need to make the `AssemblyGenerator` smart enough to do a recursive search on your type's Assembly's dependencies before we compile. Would you maybe be up for a pull request to change that? If not, I can get to this when I'm back in action after the New Year.

[2015-12-23 16:38] jeremydmiller commented on #99
@phillip-haydon What I think we should do (and I think I was putting off), is the first time a document type is used in "development mode" *after* seeing that the table already exists is to do a column by column check against the existing table and what the document mapping *should* be. If you've changed the Id type or added searchable fields or whatever else, blow away the database table & upsert

[2015-12-23 16:39] jeremydmiller commented on #98
@phillip-haydon I'm gonna have to check this out. I could swear that that should already be happening. Were you in the "auto-create"/ development mode when that happened?

[2015-12-23 16:40] jeremydmiller commented on #97
@phillip-haydon We can do that, and I'll fix the link too;)

[2015-12-23 16:45] phillip-haydon commented on #98
Yup, I have the auto schema option explicitly set at the moment.

It only happens on Queries that occur before the first Store.

[2015-12-23 16:46] bojanv91 commented on #100
@jeremydmiller Sure, I'll open a pull request to make the change.

[2016-01-04 14:10] jeremydmiller commented on #64
Done.

[2016-01-04 14:10] #64 closed

[2016-01-04 16:39] #16 closed

[2016-01-04 20:56] #100 closed

[2016-01-06 15:17] ekulakov commented on #33
What methods should be implemented?

[2016-01-07 09:52] jeffdoolittle opened #104 "Sharding support"
Blind/HiLo sharding - https://ayende.com/blog/155297/ravendb-sharding-blind-sharding
Data Driven sharding - https://ayende.com/blog/155329/ravendb-sharding-data-driven-sharding

[2016-01-07 13:42] jeremydmiller commented on #104
@jeffdoolittle Can you elaborate on that? What are you envisioning?

[2016-01-07 18:12] jeffdoolittle commented on #104
I was curious to see what others might be thinking along such lines. I know Raven DB has sharding capabilities like this. Would be nice to spin up some AWS Postgres instances and have the ability to both persist and query across sharded instances. Also would be nice to configure sharing using the strategies I mentioned in the original description on this issue.

Anyone else have feedback/ideas on

[2016-01-08 02:04] jeremydmiller commented on #33
@ekulakov Right now, I think all we should do is find by id until we have more concrete use cases, but definitely that one.

[2016-01-08 13:53] #33 closed

[2016-01-10 10:32] ekulakov commented on #89
@jeremydmiller If someone need `Last()` then he should use `OrderByDescending()` + `First()` instead of `Last()`.

From PostgreSQL docs: When using LIMIT, it is important to use an ORDER BY clause that constrains the result rows into a unique order. Otherwise you will get an unpredictable subset of the query's rows. You may be asking for the tenth through twentieth rows, but tenth through twentiet

[2016-01-23 23:41] #98 closed

[2016-01-25 22:39] jeffdoolittle opened #109 "Make `Searchable` property column type configurable"
Currently DateTime values are stored in a `date` column which truncates any time and timezone information.

Instead, allow for configuring the column type of the searchable property.

[2016-01-26 01:40] jeremydmiller commented on #89
@ekulakov That's a pretty easy argument to accept. First() only, and Last() will throw an exception telling you to order by descending, then first.

[2016-01-26 01:41] jeremydmiller opened #110 "Better exception message when Marten fails trying to run DDL"
Remember the problem that @jeffdoolittle hit. Would have been easier if Marten would tell you what DDL failed.

[2016-01-26 01:44] jeremydmiller commented on #34
Use containment operator

[2016-01-26 13:17] #110 closed

[2016-01-26 15:25] jeremydmiller commented on #35
Either by an auto-incrementing version number in the db or by some kind of etag

[2016-01-26 15:35] #99 closed

[2016-01-26 16:41] #91 closed

[2016-01-26 17:13] jeremydmiller commented on #89
This should be marked as "closed" by commit https://github.com/JasperFx/marten/commit/ba0d06f4d5f1cbeed294ef59d8e1e6929969b1b6

[2016-01-26 17:13] #89 closed

[2016-01-27 17:02] jeremydmiller commented on #97
@phillip-haydon Were you thinking that you'd want this to be configurable per document type, or per the entire schema?

[2016-01-27 17:09] phillip-haydon commented on #97
Both.

For dev I just wanna globally set it lower. In production would be nice to set low frequent inserted docs to a low Hi, while frequent inserted docs to have a larger Hi.

[2016-01-27 17:32] #85 closed

[2016-01-27 19:31] #34 closed

[2016-01-27 20:36] ekulakov commented on #7
@jeremydmiller what result are expected? can you provide some details?

[2016-01-27 21:15] #97 closed

[2016-01-27 22:09] #92 closed

[2016-01-28 09:27] phillip-haydon commented on #97
:+1: :shipit:

[2016-01-28 13:48] #109 closed

[2016-01-28 13:48] jeremydmiller commented on #88
I'm pushing this off to v0.7 just because it doesn't sound like any fun to do this morning;-)

[2016-01-28 15:54] jeffdoolittle commented on #109
awesome, thanks @jeremydmiller

[2016-01-29 23:30] phinett opened #112 "Querying with .Any on simply type inner collections"
This works fine if you are querying a nested property such as .Single(x => x.MyCollection.Any(_ => _.MyProperty == 123)), but if the collection is just a simple collection of integers/string/whatever it doesn't work, for example

.Single(x => x.MyCollection.Any(_ => _ == 123))

It fails with: Sequence contains no elements

[2016-01-29 23:57] jeremydmiller commented on #112
Can you try _.MyCollection.Contains(123) instead? That is already supported

[2016-01-29 23:59] phinett commented on #112
I get:  The method or operation is not implemented.

My query:
var users = session.Query<User>().Where(a => a.MyCollection.Contains(1)).ToList();

[2016-01-30 09:06] phillip-haydon opened #113 "Same named classes in different namespaces fail"
This is more of a feature request for support when using upsert.

Given a class in two different namespaces:

[code]

If within the same application you Insert `NamespaceOne.Models.Product` then you try to select using `NamespaceTwo.ViewModels.Product`

It will fail with an exception of, here's an example of the exception I get in this scenario (using type of "TestClass" in two namespaces)

[code]

[2016-01-30 10:28] phillip-haydon opened #114 "Columns that happen to be reserved words cause creation exceptions"
[code]

`group` is a reserved word in postgresql (among others) need to wrap all words with `"` to escape them.

I was going to send a PR for this but still trying to get the project running, (Paket, xUnit, etc)

[code]

[2016-01-30 16:13] phillip-haydon opened #116 "Global Interceptors for Insert/Update/Delete"
Feature Request:

Interceptors.

Would be fun to implement I believe. But would be awesome to have document level interceptors.

RavenDB has `IDocumentStoreListener` which I don't like because it's a global helper which handles only Before / After Store. And while this is helpful and good, I think it would be good to have interceptors at document level too so we can intercept and modify or raise e

[2016-01-31 04:28] phillip-haydon opened #117 "Items queried (not loaded) cannot be modified"
So the problem I have is that I have some setup data, which looks at existing data in the database and changes it if it doesn't match.

i.e ImageSettings, in the Database a Thumbnail is set to Quality = 80%

So I load ALL settings `session.Query<ImageSettings>().ToList()`

Then iterate over them, and modify them.

[code]

These changes wont get tracked and persisted.

The temporary solution to thi

[2016-01-31 17:03] phillip-haydon opened #118 "Null reference exception is wrapped in unsupported exception"
Found a strange bug, after debugging for a long time.

Basically if you have a property which is of any `class` which has say an `int` property on it (i suspect any type would work). Any call to that nested property will throw a `Specified method is not supported.` exception.

[code]

Here's a basic test (written but I haven't run it because I haven't got Marten tests running locally yet :disappoi

[2016-02-01 13:28] jeremydmiller commented on #112
Hey @phinett, what's the type of your child collection? I'm guessing it's not `string[]`. `IEnumerable<string>`, `List<string>`?

[2016-02-01 13:28] #114 closed

[2016-02-01 13:31] phinett commented on #112
List<int>

[2016-02-01 13:32] jeremydmiller commented on #113
Was your document class a nested type? Looks like it from the code that was generated. That's a known issue: https://github.com/JasperFx/marten/issues/86. To disambiguate document types w/ the same class name, how about:

1. Throw a good exception when you have a table name collision
1. Use a [TableName("mt_something")] attribute on one type or the other to override the table name
1. Or, use Marte

[2016-02-01 13:33] jeremydmiller opened #119 "Better exception message when Production mode schema creation throws"
Have the message explicitly say you can use the MartenRegistry.AutoCreateSchema thing. Maybe link to the doc page.

[2016-02-01 13:33] jeremydmiller commented on #112
Bueno, thanks. I'll shoot for the fix for this this morning.

[2016-02-01 13:34] phinett commented on #112
Brilliant thank you...have another issue which i'll post about shortly too.

[2016-02-01 13:35] jeremydmiller commented on #118
So this is really an issue of having a confusing exception message more than anything, right?

[2016-02-01 13:36] phillip-haydon commented on #118
Correct. Just worried someone will run here saying "OMG WHY IS THIS UNSUPPORTED" when its a user error. Better to give them an exception telling them to fix their code.

[2016-02-01 13:37] jeremydmiller commented on #117
@phillip-haydon Couldn't you just put an `IDocumentSession.Store()` call in the first loop to tell Marten that the doc needs to be persisted? You don't have to depend on the automatic dirty tracking.

[2016-02-01 13:43] phillip-haydon commented on #117
Funnily enough it works, but I'm not sure if the API is intuitive having to call store for each item you want to modify. Possibly just need to update docs for this.

[2016-02-01 13:49] phinett opened #120 "Error on store - some kind of assembly scanning / reflection issue"
Wrote a very small console app which connects to RavenDb, queries a collection and stores the same document into Marten.

However when doing martenSession.Store(doc); it throws a bunch of errors into my console window (attached).

![store_error](https://cloud.githubusercontent.com/assets/365283/12718994/426d8f12-c8ea-11e5-80ae-4686307111d1.png)

My code:

`var docStoreConfig = new Raven.Client.Doc

[2016-02-01 14:02] jeremydmiller commented on #120
@phinett What version of Marten do you have? This one was already reported and theoretically fixed in https://github.com/JasperFx/marten/commit/27cb3967fcddd2db0eef17dd7f7d04952e65460f. Can you bump up to the latest?

[2016-02-01 14:04] jeremydmiller commented on #120
Oh, just read things. I'm keeping the Console junk for now just to get an indication of what's happening inside. So far we haven't seen any harm in swallowing the bad Sparrow reference

[2016-02-01 14:26] phinett commented on #120
Ok that's fine with me.

[2016-02-01 14:26] #120 closed

[2016-02-01 14:41] #86 closed

[2016-02-01 14:41] #119 closed

[2016-02-01 15:04] #118 closed

[2016-02-01 15:06] jeremydmiller commented on #117
That behavior *is* documented. How did you create your `IDocumentSession`? You have to opt into the heavy automatic dirty checking (because RavenDb leaked memory like you wouldn't believe if you used their equivalent to this naively)

[2016-02-01 15:12] phillip-haydon commented on #117
[code]

I was just opening a normal session, rather than a lightweight one mentioned in the docs.

http://jasperfx.github.io/marten/documentation/documents/persisting/

This is what I read last night, but coming from RavenDB I (poorly) assumed that if I used a normal session, that the changes would be tracked and persisted.

I didn't realise I need to call `.Store(...)` in all scenarios that don't

[2016-02-01 15:16] jeremydmiller commented on #117
@phillip-haydon If you used the tracking session and it didn't work, can you add a PR w/ a failing test? IT's a naive check, but it *should* work just fine. It does a logical JSON element by element check internally on SaveChanges()

[2016-02-01 15:17] phillip-haydon commented on #117
Sure thing, I think the problem is only on collections, I just tried it on a single item and it worked as intended, but as a collection it failed. I'll write up a failing test now.

[2016-02-01 15:41] phillip-haydon commented on #113
I'm suggesting have to different types (by namespace) of the same name, pointing to the same table. Rather than 2 different types of the same name having different tables.

[2016-02-01 15:44] jeremydmiller commented on #113
Ah, okay. So remind me, why would we want to do this? There is an issue for persisting a hierarchy of types to a single table.

[2016-02-01 16:22] jeremydmiller commented on #112
@phinett I've got `List<T>.Contains(value)`, `IList<T>.Contains(value)`, and `IEnumerable<T>.Contains(value)` working in the v0.6.2 nuget I just published. `Collection.Any(_ => value)` is being a lot more work and that's missing as of yet.

[2016-02-02 17:06] phinett commented on #44
Is there an ETA for this to be implemented, this would be a showstopper for my project at the moment and probably many others.

I am working through a throw away test project converting my existing RavenDb based app and it would be great if I could test everything end to end.

[2016-02-02 18:36] jeffdoolittle opened #125 "improved naming conventions for nested classes"
Ability to override table names or specify conventions for naming. For a scenario like the code below, there are name collision issues.

[code]

[2016-02-02 19:06] jeremydmiller commented on #125
@jeffdoolittle What's your preference here? I do vote for an attribute for the table name (might already exist, I've slept since then.) For nested types, what if the example above were to be `mt_doc_foo_aggregate` and `mt_doc_bar_aggregate`?

[2016-02-02 19:28] jeffdoolittle commented on #125
I think that's the sensible default.

[2016-02-02 22:36] jeffdoolittle commented on #125
@jeremydmiller I can work on this if you want to assign me the issue

[2016-02-02 23:09] jeremydmiller commented on #125
@jeffdoolittle I'm taking you up on that;)

[2016-02-02 23:10] jeremydmiller commented on #125
You might need to assign yourself, or I can add you to the GH team

[2016-02-02 23:58] #125 closed

[2016-02-03 11:57] phinett opened #127 "Table gets re-created every time i run my app"
Not sure if this is a user error or bug, but i am trying to write a console app to migrate data from RavenDB to Marten, however if i run the app and it migrates X amount of documents, i then restart the app and try to continue from the last document it migrated but Maten just wipes the table and re-creates a new one.

I have tried disabling the 'AutoCreateSchemaObjects' since the table already exi

[2016-02-03 12:15] phinett commented on #127
I can see why...the id field type on the database is 'character varying', but the one it is comparing to is varchar.

Just trying to work out how to correct this...what would be the correct type to use?

[2016-02-03 12:24] jeremydmiller commented on #127
So the postgresql table is one thing, even though we create it with another? The `TableColumn` class would need to have some kind of way to evaluate synonyms/type aliases so that its doing it's equality check correctly. Marten *thinks* the table is different and wants to re-generate.

[2016-02-03 12:26] phinett commented on #127
I can see the script executed to create the table in postgresql is set to varchar for the Id field, but looking at the table with pgAdmin it's data type is set to character varying, why is it changing it from varchar?

I think if the postgresql respects that it should be varchar then the issue will go away, not sure if this is a sparten issue or postgresql?

[2016-02-03 12:31] jeremydmiller commented on #127
The postgresql docs say that they're synonyms. I'll be starting on more Marten work this morning anyway, I can get to this one quickly.

[2016-02-03 12:49] phinett commented on #127
Attempted my own quick fix, would be interested in your version of the solution though to see if i was on the same kind of track...not sure how flexible this will be for other types but works for this simple case.

TableColumn.cs:

` protected bool Equals(TableColumn other)
        {
            return string.Equals(Name, other.Name) && string.Equals(TypeMappings.ConvertSynomyns(Type), TypeMapping

[2016-02-03 12:55] jeremydmiller commented on #127
that was basically where I was heading. Can I just take yours then?

[2016-02-03 13:05] phinett commented on #127
Yes sure.

[2016-02-03 13:06] phinett commented on #127
Correct the synonyms spelling mistake first though :-)

[2016-02-03 18:50] jeremydmiller commented on #44
@mdissel @phinett I started work on this this morning. Not sure what the configuration is going to look like just yet, but it's on the way.

[2016-02-03 19:30] jeremydmiller commented on #127
@phinett Hey, just to make sure, are you doing a PR for this, or should I just grab the code here and go?

[2016-02-03 20:08] jenspettersson opened #128 "Enhancing table re-generation"
Somewhat related to #127

When you add a new `.Searchable(...)` to a document the entire table is dropped and created from scratch (loosing all data). As this is a dangerous operation we discussed the need for some sort of migration strategy.

One possibility is to enhance the table re-generation so it alters the existing table instead of dropping it and then adding new fields. This will probably

[2016-02-03 20:36] phinett commented on #127
Hi, I just grab the code this time round it's only minimal.
Thank you
On 3 Feb 2016 19:39, "Jeremy D. Miller" <notifications@github.com> wrote:@phinett Hey, just to make sure, are you doing a PR for this, or should I just grab the code here and go?

—Reply to this email directly or view it on GitHub.

[2016-02-03 21:05] #88 closed

[2016-02-03 21:05] #112 closed

[2016-02-03 21:05] #117 closed

[2016-02-03 21:07] phinett commented on #44
Great looking forward to this.

Things look to be taking shape quite nicely, theirs a couple more must have features left on the table i think before 1.0 release but so far I am pretty optimistic.

[2016-02-03 21:23] #127 closed

[2016-02-04 01:17] phinett opened #129 "Delete by query"
Is it possible to support:

session.Delete<User>().Where(_ => _.Country == "UK");

This would be a replacement for RavenDB's DeleteByIndex in some ways.

[2016-02-04 01:42] jeremydmiller commented on #129
I'd vote for `session.Delete<T>(Expression<Func<T, bool>>)`. I don't think it would be that hard, you'd just repurpose the DocumentQuery a bit. Do you wanna take this one? It really wouldn't hurt to have more eyes into that code.

[2016-02-04 08:20] phinett commented on #129
I will have a stab at this, new territory but i'll see how i get on.

[2016-02-04 13:31] FrOz3n- opened #130 "Enable case insensitive custom sql queries"
When you try to query a table with custom sql, let's say
`Session.Query<Account>("SELECT * FROM mt_doc_account") `
it fails on the **SELECT** command if it's uppercase.

[2016-02-04 13:34] jeremydmiller commented on #130
Can you add the stack trace for that?

[2016-02-04 15:35] FrOz3n- commented on #130
I am sending the exceptions here:

[code]

[2016-02-04 16:30] jeremydmiller commented on #26
https://github.com/JasperFx/marten/pull/122 is a spike showing a possible syntax for this feature.

[2016-02-04 21:44] #130 closed

[2016-02-05 19:37] jeremydmiller opened #132 "Change the Connection lifecycle to be sticky to a DocumentSession"
I’ve had conversations here and otherwise with 5-6 different people about the connection management in Marten. I think the clear feedback is that we should change the `DocumentSession`/`CommandRunner` mechanics so that each `IDocumentSession` has one and only one connection object (bound lazily though) for it’s lifetime, and expose that off of the IDocumentSession interface.

The changes:

- Moves

[2016-02-05 19:41] CoreyKaylor commented on #132
Sounds like the ideal way I would think about the relationship between session, connection, transaction.

[2016-02-05 19:42] kiliman commented on #132
:+1: Thanks! That's exactly what I'm looking for.

[2016-02-05 19:49] jeremydmiller commented on #132
Mid week at the earliest though;)

[2016-02-05 20:39] phatboyg commented on #132
Sounds perfect!

[2016-02-05 21:04] jeffdoolittle commented on #132
:+1:

[2016-02-05 21:06] jeremydmiller opened #133 "Test Linq support for more complicated boolean"
Do something like x => x.foo == 1 && (x.bar == 2 || x.bar ==3) to test the combinations

[2016-02-06 02:17] phillip-haydon commented on #132
:+1:

[2016-02-06 08:15] phillip-haydon opened #135 "Searchable on multiple properties and where's"
2 feature requests around indexing.

**1) Ability to set multiple Searchable properties.**

Scenario is, I have a bunch of photos, there are 3 queries I will run often.

[code]

I would like to be able specify an index which spans both `MemberId` and `IsPrivate`

**2) Ability to add conditions to an index**

[code]

This would generate a table with Email indexed with a where clause to pre-filter w

[2016-02-06 08:55] phillip-haydon opened #136 "More flexible Auto Create Schema Objects"
I would like a more flexible Auto Create Schema, out of fear :)

Auto creation in production is awesome.
Auto update of Columns in production are awesome too.

However auto re-creation in production is scary, but is awesome in development.

I would like to say something like:

Dev:
`_.AutoCreateSchemaObjects = AutoCreate.All`

Prod:
`_.AutoCreateSchemaObjects = AutoCreate.CreateAndUpdate`
or
`_.Au

[2016-02-06 18:25] jeremydmiller opened #137 "Harden the auto-create schema object creation for collisions"
Maybe do a lock of some kind in DevelopmentSchemaCreation whatever it's called to serialize the activity. Do a double locking thing too.

[2016-02-06 18:26] jeremydmiller opened #138 "Double check that doc tables are not erroneously re-created with searchable fields"
We already had problems with "varchar" / "character varying" synonyms, so just assume there are more problems like that.

Check:

- [x] booleans
- [x] int
- [x] long
- [ ] datetime
- [ ] timespan

[2016-02-08 11:28] phillip-haydon opened #139 "Save enums as their string value rather than int value"
Unsure about this one but figured I should raise it so we can discuss it.

Right now enums are stored as `int` by default, but it's nice to be able to view the data in the database without having to look up what the value of it is.

So would be good to store the `string` value of the enums.

[2016-02-08 17:29] phillip-haydon opened #140 "Support for Load params"
Would like support for `Load` with multiple Ids

e.g
[code]

This would result in `List<Member>`

This can be achieved using:

`select data from mt_doc_photo where id = ANY(:arg0 ::int[])`

Where `:arg0` is a parameter of type `Text`

Using Npgsql

[code]

[2016-02-08 19:21] nieve opened #141 "Linq support for where query containing modulo expression"
[code]

Needs modifying the implementation of `DocumentMapping.FieldFor`?

[2016-02-08 19:37] jeremydmiller commented on #141
@nieve You'd need to dig into the Linq expression parsing and do something that can create the Postgresql syntax for comparing the '%' operator. I'm not entirely sure what that would be offhand.

[2016-02-08 19:57] nieve commented on #141
comfortably enough it's %. What are the chances?

[2016-02-08 19:59] nieve commented on #141
It demands some proper modification. Will give it a go.

[2016-02-08 20:17] jeremydmiller commented on #140
@phillip-haydon How is that different from what we already do? You can load multiple documents by an array or enumerable of document id's:

http://jasperfx.github.io/marten/documentation/documents/loading/

[2016-02-08 20:37] bojanv91 commented on #139
It would be nice this to be configurable.

[2016-02-08 20:52] jeremydmiller commented on #44
There is a working implementation in master now. I'm claiming that the mechanics of this work as of commit https://github.com/JasperFx/marten/commit/c2dc4f09c2c45ad2bee3bc14a21e343eab85f420 and I'm closing for now. We can add new issues later for changes to the configuration model -- and it's a near certainty that those will happen.

[2016-02-08 20:52] #44 closed

[2016-02-08 21:50] jeremydmiller commented on #139
The JSON serialization configuration is easy, but I ran into trouble using Enum values as Npgsql parameters before.

[2016-02-09 03:18] phillip-haydon commented on #140
Ah I guess it's already supported then.

I honestly never looked at the doco for that one, I looked at the code for `Load<T>` and saw there was no overloads or anything like `LoadAll<T>` and figured it was not supported.

I think the only difference is that the current API isn't intuitive in my opinion.

[2016-02-09 11:58] jeremydmiller commented on #140
Yeah, I agree. What if it's called `LoadMany()` or something instead?

[2016-02-09 12:02] phillip-haydon commented on #140
`LoadAll` or `LoadMany` works for me.

[2016-02-09 12:07] phillip-haydon opened #142 "Support for extensions like IsOneOf(...)"
Would like support for extension methods.

Ability to pass an array of values to find one where the record matches.

[code]

Which would use PostgreSQL's `ANY(...)`

-----

2nd would be to allow for case insensitive look ups like:

[code]

Which would translate to something like `where d.data ->> 'Name' ILIKE 'hello world'`

[2016-02-09 12:09] phillip-haydon commented on #142
I had a go at implementing this but I've never dived into expression trees or anything, so I can't figure out how to do the mapping in `JsonLocator` since Extension Methods don't give an Expression Object (`var @object = expression.Object;`)

Keen to help out where I can on this one.

[2016-02-09 13:30] #140 closed

[2016-02-09 13:47] jeremydmiller commented on #138
@phillip-haydon Booleans (case sensitivity issue) and decimals ("decimal" vs. "numeric") were the culprits here.

[2016-02-09 13:52] #138 closed

[2016-02-09 14:05] #137 closed

[2016-02-09 14:19] jeremydmiller commented on #113
@phillip-haydon Could you try this again w/ 0.6.4?

[2016-02-09 18:12] phillip-haydon opened #144 "Generate schema's by type"
This is low priority, just thought it would be a nice to have.

Ability to write the DDL by type.

`martenStore.Schema.WriteDDLByType();`

This would simply add a folder to the bin (or overload for a path) and inside the folder would be each type as its own sql file: `photo.sql` / `member.sql`

This would make it easier to figure out what the change scripts for a particular type are when scripting

[2016-02-09 20:22] phillip-haydon opened #145 "Table tries to recreate, possible column ordering issue."
Generated SQL from Schema.

[code]

C# Class

[code]

Marten Config

[code]

Error Message:

[code]

[2016-02-10 01:55] #26 closed

[2016-02-10 02:14] jeremydmiller commented on #145
@phillip-haydon I can't reproduce the problem, unless it really was:

[code]

and later changed to:

[code]

or vice versa. I guess my next play would be to force the column ordering in the comparison.

[2016-02-10 12:08] phinett opened #146 "Includes like RavenDb"
I can see that the option to do batched queries has now been implemented which is fantastic, would the ability to use Includes like RavenDb also be supported at any point?

I have many times where i need to load 2 or more documents in a single query, but i don't know the other document ID's until the result of the first is returned.

[2016-02-10 12:52] phillip-haydon commented on #145
This is working now since mornings commit:

https://github.com/JasperFx/marten/commit/ffd021b02c98576eb38de794270c473cbdc88567

:heart:

[2016-02-10 12:52] #145 closed

[2016-02-11 14:28] jeremydmiller commented on #132
I think I have this one done locally.

[2016-02-11 14:45] #132 closed

[2016-02-11 16:47] jeremydmiller opened #148 "General purpose logging mechanism for Marten"
I'm proposing a new interface that you can plug into Marten to receive logged events for:

* Opening or disposing a new session
* Each NpgsqlCommand executed by Marten, and hopefully in a way so that you can easily correlate
  requests to a session
* Command failures
* Command performance?

[2016-02-12 04:25] phillip-haydon commented on #148
I'm not sure if its possible, but would be nice to extract `EXPLAIN` from queries too. Which probably falls under Command performance.

[2016-02-12 14:01] jeremydmiller commented on #146
@phinett A couple other people have asked about this, and I think it's possible. I've been jotting notes on doing this in Marten this morning. I tried to sketch out other syntax ideas, but I'm leaning toward just copying Raven's syntax.

For everyone else, he's referring to: [RavenDb's Include feature](https://ravendb.net/docs/article-page/3.0/csharp/client-api/session/loading-entities).

[2016-02-12 14:07] jeremydmiller commented on #3
@flq And so did we. If you want to customize the JSON serialization you can just create your own adapter and plug in. I'm closing this.

[2016-02-12 14:07] #3 closed

[2016-02-12 14:11] jeremydmiller opened #150 "Formal concept of foreign key relationships between documents"
Partially to make the Include() feature more efficient (GH-146), but also to take advantage of relational integrity checks in the database, let's support foreign key relationships between documents. Implementation wise, this would probably mean a special kind of "Searchable"/duplicated field that also has a foreign key constraint generated by the DDL. Hopefully we'd be able to take advantage of th

[2016-02-12 14:13] jeremydmiller commented on #141
Closed by https://github.com/JasperFx/marten/pull/149

[2016-02-12 14:13] #141 closed

[2016-02-12 14:43] jeremydmiller opened #152 "Add EXPLAIN preview to the diagnostics"
See http://www.postgresql.org/docs/9.2/static/sql-explain.html. I don't think it's going to be too crazy to fetch the EXPLAIN plan behind a Linq query.

Might make an extension method off of IQueryable instead. This might get a little awkward when we introduce Include()

[2016-02-12 14:49] jeremydmiller commented on #144
Want a master run_all.sql kind of file too? Might be important for ordering if we ever manage to do the foreign key feature.

Dump the system level sql too? There's quite a bit for the event store

[2016-02-12 14:50] jeremydmiller commented on #136
We might need to be getting smarter with indexes here. Sounds good to me.

[2016-02-12 16:31] phillip-haydon commented on #146
Posted in the chatroom but posting here too.

[code]

My 2c on api, taken from NHibernate's QueryOver<T> / Criteria apis.

http://www.philliphaydon.com/2011/04/13/nhibernate-querying-relationships-are-depth/

[2016-02-12 16:32] phillip-haydon commented on #144
I figured we would keep the `WriteDDL` which writes the run_all, but then `WriteDDLByType` would split by doc type.

Not sure what the system level sql is?

[2016-02-12 16:50] phillip-haydon commented on #146
![discussion](https://cloud.githubusercontent.com/assets/895629/13013750/c18439fe-d1eb-11e5-83be-6c39e3b1ecd0.jpg)

[2016-02-12 17:22] nieve opened #153 "Add support to where queries beginning with a constant"
[code]
Not my style of writing a where query, but should be supported I believe

[2016-02-14 14:27] phillip-haydon opened #155 "Possible ordering bug on calling upsert"
I don't know how to reproduce this, it only happens sometimes*

`CREATE OR REPLACE FUNCTION public.mt_upsert_photo(docid int4, doc jsonb, arg_is_private bool, arg_member_id int4, arg_category_id int4)`

This is the signature:

`int, json, bool, int, int`

Sometimes when this is called, for some strange reason it's called as

`int, json, int, int, bool`

 Npgsql.NpgsqlConnector.ReadSingleMessage(Da

[2016-02-16 00:29] jeremydmiller commented on #153
Fixed by GH-154

[2016-02-16 00:29] #153 closed

[2016-02-16 12:04] jokokko opened #156 "Supporting Large Objects"
Tracking if & how PostgreSQL [Large Object](http://www.postgresql.org/docs/current/static/largeobjects.html) facility could be exposed / abstracted via Marten (akin to something like RavenFS or GridFS).

Rationale:
- Storing binary artifacts via Marten
- Possibility of having streamed access to binaries
- Not having to pollute JSON serializations with base64 encoded byte arrays

Large object ident

[2016-02-16 12:09] jokokko commented on #156
An absolutely elementary example that maybe conveys some idea:
[code]

[2016-02-17 00:15] phinett opened #157 "Support aggregate functions possible?"
From a little bit of googling, it appears postgresql will let you do aggregate functions from jsonb documents, i was hoping marten could do simple queries like the following test:

[code]

However currently this returns the following error:
Marten.Schema.InvalidDocumentExceptionCould not determine an 'id/Id' field or property for requested document type System.Double

[2016-02-17 13:23] jeremydmiller opened #158 "Streamline Batch Query Syntax"
Remove the parentheses nesting

[2016-02-17 13:29] #155 closed

[2016-02-17 14:29] #158 closed

[2016-02-17 14:36] jeremydmiller commented on #116
@phillip-haydon @CoreyKaylor & I were kicking a similar idea around for how to support the .Net flavor for projections. I think this is pretty similar to what we're thinking for plugging in the transactions.

[2016-02-17 15:13] phillip-haydon commented on #116
@jeremydmiller did you reply to the right issue or did you mean to reply to #146 or ??

[2016-02-17 15:17] jeremydmiller commented on #116
No, this one. What I'm thinking is that we have a very generic interface like:

IChangeListener
----------------------
void Before(IUnitOfWork, IDocumentSession)   // logging, but also give a chance to modify the unit of work or add other actions for .Net projections at the same time
void After(IUnitOfWork, IDocumentSession)      // logging maybe? post-processing in event capture

In this case, we

[2016-02-17 18:32] jeffdoolittle opened #159 "Improve startup speed"
options:

* Roslyn ngen
* pre-generating the DocumentStorage code

[2016-02-17 19:21] jeremydmiller commented on #159
To pre-generate it, we'd need to:

* Have a way to easily register all the document types upfront, even the ones that don't need any customization. I don't really wanna support type scanning directly for discovery, but we can expose just a "doc types are these types" method
* Definitely need a way to scan an assembly for the embedded IDocumentStorage types and load them
* New command off of Advanc

[2016-02-17 19:36] jeremydmiller commented on #148
Before we put any effort into this, there is a facility in Npgsql to log commands. Might be worth either using that or even chipping into that project. It's just brute force logging with no context, but still.

[2016-02-17 19:50] jeremydmiller opened #160 "Remove the Lateral Join Query Support"
This strategy turned out to be slower for querying anyway, and it's making the internals more complicated. Can we just agree to nuke this?

See http://jeremydmiller.com/2015/11/09/optimizing-for-performance-in-marten/

[2016-02-17 20:05] jeremydmiller commented on #116
One more thing, I don't think we have a clean way to differentiate between inserts & updates

[2016-02-18 01:48] phillip-haydon commented on #160
If it's off by default then I'm not using it so I have 0 issues with it being ditched in favor of simplicity and performance.

:+1: :shipit:

[2016-02-18 02:43] phillip-haydon commented on #116
Without looking at the internals. If using HiLo can we not mark as insert when assigning the Id?

[2016-02-18 02:45] phillip-haydon commented on #116
As long as you get access to the actual document then you could handle it yourself IF you needed to know if a doc is new or existing by marking it yourself.

So I don't see it as too much of an issue if we cannot differ on inserts/updates.

[2016-02-18 11:55] bojanv91 commented on #160
I'm fine too, not using it. (y)

[2016-02-18 16:26] jeremydmiller opened #161 "Expose the pending changes and deletions off of IDocumentSession"
For a given `IDocumentSession`, allow a user to query for which documents will be updated or deleted when it's committed. Include documents from the dirty checking. This is a precursor to the interception issue: GH-116

[2016-02-18 16:29] #161 closed

[2016-02-18 16:49] jeremydmiller opened #162 "Inline, one-off IDocumentSession lifecycle hooks"
From @phillip-haydon on Gitter:

[code]

[2016-02-18 16:50] jeremydmiller opened #163 "Need to expose a record of what documents were persisted in an IDocumentSession"
-- for the sake of the global listeners. May need to differentiate between:

1. Pending
2. NotCommitted
3. Committed

[2016-02-18 16:51] jeremydmiller opened #164 "Need some way to designate documents in the Unit of Work as an Insert"
I had originally thought we could do this by doing Id assignment at the very last moment, but that messes up IdentityMap mechanics. Now I'm thinking that we do this by enhancing the IdAssignment strategy and tagging the new doc as an insert into the UnitOfWork if we do a new Id assignment.

Won't be perfect by any means for document types that use natural keys for id's.

[2016-02-18 20:34] #116 closed

[2016-02-18 21:10] #160 closed

[2016-02-18 22:17] jeremydmiller opened #165 ""Clean" data for only a subclass in hierarchical storage"
Right now it probably deletes the entire table data of all types. Might wanna fix that.

[2016-02-19 00:03] jeffdoolittle opened #166 "Identity map exception when adding not-found document to session"
If you attempt to load a document but it doesn't exist in the database, then an entry is added to the identity map with "null" for the document. If you then attempt to add a document with that Id to the session, :boom: - exception.

@jeremydmiller has confirmed this is a bug and not a feature. :)

[2016-02-19 04:54] jeffdoolittle commented on #166
I added a test that exposes the bug. The resulting exception is:

	System.InvalidOperationException : Document 'Marten.Testing.Documents.User' with same Id already added to the session.
	Services\IdentityMap.cs(74,0): at Marten.Services.IdentityMap.Store[T](Object id, T entity)
	at Marten.GeneratedCode.UserStorage.Store(IIdentityMap map, Object id, Object entity)
	DocumentSession.cs(74,0): at Mart

[2016-02-19 13:29] trullock opened #167 "Nullable<>.HasValue not supported (fully) in Linq"
this works
[code]
but this doesnt

[code]

[2016-02-19 14:03] #165 closed

[2016-02-19 14:37] jenspettersson opened #168 "Possibility to Store(Objects)"
At the moment, we have `Store(T entity)` and can not use a untyped `object`. This is possible in RavenDB and I have a couple of usages for it (throwing random stuff at a storage worker and have Raven structure it into its different document collections).

From the gitter chat by @jeremydmiller:

I’m good with supporting that kind of usage, but could we:

1. Make `Store<T>()` throw if you use objec

[2016-02-19 15:15] jeremydmiller commented on #148
Meh, I've tried a couple different concepts for this so far and there's too many issues with each. Npgsql's facility is limited, but at least it would catch everything that's done to the open connection. Right now, I'm leaning toward talking to that team and maybe trying to do some pull requests to them so that we could swap out their logger per command/connection so we could do session-based, con

[2016-02-19 15:36] #168 closed

[2016-02-19 15:48] #166 closed

[2016-02-19 16:50] #159 closed

[2016-02-19 16:52] jeffdoolittle commented on #159
Awesome - curious what sort of speed improvements this brought about?

[2016-02-19 16:54] jeremydmiller commented on #159
@jeffdoolittle 3-6 seconds on the initial hit

[2016-02-19 16:55] jeffdoolittle commented on #159
beautiful. I'll check it out.

[2016-02-19 16:58] jeremydmiller commented on #144
@phillip-haydon You'd have some DDL for the event store support (when that exists). Moreover though, we'd eventually need these things to run in a certain order when (and if) we start creating the foreign key feature https://github.com/JasperFx/marten/issues/150. I'm not worrying about that part of this today though;)

[2016-02-19 17:20] #144 closed

[2016-02-24 21:36] nieve commented on #167
If no one is picking this up, I'm on it. I pretty much know what it is.

[2016-02-25 02:59] superlogical opened #170 "Greater than LINQ query using a float throws exception. It does work with double however!"
[code]

[2016-02-25 13:11] jeremydmiller opened #171 "Auto-initialize the event store projections on startup in auto-create mode"
If the write schema auto-create mode is configured, and we can detect that there are events, aggregates, or projections enabled, go ahead and pre-build out the schema for the event store.

[2016-02-25 13:18] jeremydmiller opened #172 "Ability to add all event and aggregate types from an assembly for configuring the EventStore"
Nice ease of use kind of thing. Also just open up a signature for adding an enumerable of Type's so folks can use their own type scanning (i.e., tie into StructureMap's more efficient type scanning)

[2016-02-25 13:19] jeremydmiller opened #173 "Pull a separate interface off of EventGraph for registration"
ISP for the win! EventGraph today is both the registration piece and an `IDocumentMapping` for events and streams

[2016-02-25 13:19] jeremydmiller opened #174 "Load and Query by an Event type"

[2016-02-25 14:17] jeremydmiller commented on #170
@superlogical I would have tried to get you to do the PR for this, but it was tiny and I had the Marten codebase open anyway. This will be rolled into v0.8 or any v0.7.2+ nuget that comes up.

Do you want this sooner rather than later?

[2016-02-25 14:19] #170 closed

[2016-02-25 14:35] jeremydmiller commented on #167
@trullock @nieve We have support for HasValue and !HasValue checks. Are you sure that's what's causing the issue, or is it possibly the date time type issue again?

See https://github.com/JasperFx/marten/blob/master/src/Marten.Testing/Linq/query_with_nullable_types_Tests.cs for an example of what the Linq provider *should* be able to do right now.

[2016-02-25 14:47] trullock commented on #167
This is possibly related to the datetime issue. Ill open an issue for that

[2016-02-25 14:48] trullock opened #175 "`DateTime`s incorrectly mapped to `date`"
`Marten.Util.TypeMappings` is treating `DateTime`s as `date`s,

see line ~21 and and ~62

Suggest these are changed to `timestamp`s

[2016-02-25 14:54] jeremydmiller commented on #167
@trullock

Didn't you already open one for that? It could be this code (w/ my comment):

[code]

[2016-02-25 15:07] trullock commented on #175
@jeremydmiller said:
[code]

[2016-02-25 15:08] trullock commented on #175
I think so, and what about the other line:

```DateTime => NpgSqlType.Date?```

[2016-02-25 15:09] jeremydmiller commented on #175
@trullock Probably the same. Npgsql itself has this exact functionality, but it's buried behind private/internal scoping. Might be worthwhile either getting them to take a PR for that or just cheating and grabbing things through reflection (shudder).

[2016-02-25 15:35] nieve commented on #167
From memory, a very quick debugging session done yesterday showed me it was this line causing the bug: https://github.com/JasperFx/marten/blob/master/src/Marten/Linq/MartenExpressionParser.cs#L109
the locator is basically a cast of the nullable datetime column into a datetime value and having the ::Boolean afterwards, as far as I could tell, messes things up.

But again, that was a very quick debu

[2016-02-26 14:30] #148 closed

[2016-02-26 19:12] nieve commented on #167
FYI, apparently this doesn't work:
`.Where(s => !s.NullableDateTime.HasValue)`

So I think it's a different issue.

[2016-02-26 21:03] #174 closed

[2016-02-27 17:05] jeremydmiller commented on #167
@nieve Fixed this in https://github.com/JasperFx/marten/pull/176/files.

[2016-02-27 17:05] #167 closed

[2016-02-29 15:27] jeremydmiller opened #178 "Make DocumentSession thread safe?"
In reality, this work would mostly be in IUnitOfWork. The point is if for some crazy reason you're continuing to add documents to a DocumentSession while a 2nd thread is calling SaveChanges(Async), you could easily get some inconsistent results.

Pros: Thread safety, less weird stuff going wrong
Cons: More complexity, the code will be slower w/ all the locks

Potential workaround: Make unit of wor

[2016-02-29 15:33] #163 closed

[2016-02-29 15:33] #164 closed

[2016-02-29 15:36] jeremydmiller commented on #162
Per discussion today w/ @phillip-haydon, we think this is unnecessary now that committed change sets hang off the DocumentSession. Closing.

[2016-02-29 15:36] #162 closed

[2016-02-29 15:52] phillip-haydon commented on #2
This should be achievable with `count(1) OVER() as total_rows`

`select *, count(1) OVER() as total_rows from mt_doc_photo limit 10;`

[2016-02-29 16:04] phillip-haydon commented on #66
I think this should be closed and not worried about.

It will add way too much complexity because you will have to check the identity mapping to know if you can support batch inserts or not since you will need to roundtrip to the database to get the Ids after insert.

Which also means performance issues.

I think if someone is wanting to use sequence inserts they shouldn't be using Marten. (my 2c)

[2016-02-29 16:46] jeremydmiller commented on #66
Heh, I'm good with that. Closing.

[2016-02-29 16:46] #66 closed

[2016-02-29 16:47] jeremydmiller commented on #175
This was addressed in https://github.com/JasperFx/marten/pull/177

[2016-02-29 16:47] #175 closed

[2016-03-02 21:28] jeremydmiller commented on #136
I've got this partway so far. Good hour might finish it off.

[2016-03-02 21:31] #128 closed

[2016-03-03 07:57] jenspettersson opened #179 "IdentityMap may generate the same HashCode for different ids"
In the IdentityMap (https://github.com/JasperFx/marten/blob/master/src/Marten/Services/IdentityMap.cs#L69) the generated HashCode is not always unique.

Really hard to provide a failing unit test as the generated hashcode differs from my lab project to a test in Marten.Testing. From MSDN:

and

It's now used as a key in the dictionary in the IdentityMap and may or may not throw exceptions when try

[2016-03-03 12:06] jeremydmiller commented on #179
Meh, okay.

[2016-03-03 12:23] jenspettersson opened #180 "BulkInsert and overwrite existing"
In RavenDB there's a `BulkInsertOptions` where you can specify `OverwriteExisting`:

[code]

In Marten the bulk insert is done by: `COPY mt_doc_test(\"data\", \"id\") FROM STDIN BINARY`

We talked a bit in the gitter chat about how and if this can be done against Postgres. There was a mention of a trigger `ON CONFLICT DO UPDATE` but there might be other ways of doing it? _(Note: My extremely limit

[2016-03-03 14:12] #179 closed

[2016-03-03 15:05] #136 closed

[2016-03-03 16:09] jeremydmiller commented on #180
@jenspettersson I think we've got two options, we could either:

1. Automatically add the ON CONFLICT trigger to handle the conflicts
1. Make the bulk insert quietly switch to using the normal Unit of Work/batched update command instead of Postgresql's "COPY" functionality.

Both would incur a performance hit, but I don't know which one would be worse. The second option would be faster to code out

[2016-03-03 16:48] jenspettersson commented on #180
@jeremydmiller If I can get the ON CONFLICT trigger to work I can do some testing locally using both approaches (adding the trigger manually that is). Any tips on how the trigger could look like?

[2016-03-03 18:25] jeremydmiller commented on #180
I struck out googling for that, and I think I'm mistaken because I don't see any option for ON CONFLICT for trigger definitions in the postgresql docs.

[2016-03-03 18:40] jenspettersson commented on #180
That explains... a lot! I started to doubt my googling skills there... =) Then there might not be another way than 2?

[2016-03-03 19:01] jeremydmiller commented on #150
To add to this, I think we could either allow users to just refer to the key of another document:

[code]

and configure that via something like:

[code]

That would just end up creating a searchable field with a foreign key relationship to the other document type. Easy enough.

We could also do this:

[code]

and assuming that `OtherDocType` is a document type with an Id in the Marten store, we c

[2016-03-03 19:02] jeremydmiller commented on #146
This is also related to GH-150.

[2016-03-03 19:15] jeremydmiller commented on #146
Before we (I) do even the slightest bit of coding work on this, what does everybody think about the options to either:

1. Effectively copy RavenDb's "Include" feature. This means we will quietly execute the normal query with
    some joins to grab the additional data, stuff the extra documents into the underlying IdentityMap, then
    have the user access the included documents already fetched th

[2016-03-03 21:13] jeffdoolittle commented on #150
Perhaps these could be configurable options on the DocumentStore when it is spun up, and the overridable on a per document basis? Although I lean toward the sensible default being that the relationships are not included by default, but others may feel differently.

[2016-03-03 21:31] jeremydmiller commented on #150
Absolutely, yes to having it be done per document/relationship.

[2016-03-03 22:53] phinett commented on #146
Probably more work, but would it be possible to do a hybrid....so maybe something like:
`Session.Query<MyObj>().Include(_ => _.ChildIds, out children);`

Not sure how it would return the out parameter, could it not be specified somehow with generics like so?
`Session.Query<MyObj>().Include<List<ChildObj>>(_ => _.ChildIds, out children);`

But also support the same syntax as RavenDb and allow to re

[2016-03-04 01:39] jeremydmiller commented on #146
@phinett That's not a "hybrid", that's implementing it both ways!

[2016-03-04 01:48] jeremydmiller commented on #146
Here's a 3rd option that I think @CoreyKaylor might have been hinting at before. Say we make it pretty similar to the latest version of the [batched query](http://jasperfx.github.io/marten/documentation/documents/batched_queries/).

Something like:

[code]

In the case of async, we'd return Task<T>'s instead, very similar to how we do the batched query.

[2016-03-04 02:01] phillip-haydon commented on #146
I opt against RavenDB style because IMO it's not obvious.

Currently in RDB when you call `Load<T>(..)` it's cached for that session, any more calls will grab the same version. Currently this isn't in Marten (correct me if I'm wrong)

Which means we need to track already queried results for the life time of the session. Then evict when we need to re-query the same object.

-----

I don't like the

[2016-03-04 02:09] jeremydmiller commented on #146
@phillip-haydon "it's cached for that session, any more calls will grab the same version. Currently this isn't in Marten (correct me if I'm wrong)" -- Marten already supports the "Identity Map" concept where you do get the caching by Id per session. `DocumentStore.QuerySession()` or `DocumentStore.LightweightSession()` will give you a session w/o the identity map caching.

I'm still reading over t

[2016-03-04 02:12] jeremydmiller commented on #146
@phillip-haydon Agreed on being more explicit, and I'm not a huge fan of depending upon the identity map caching. I can live with using the assignment via Lambda.

I still wanna consider the additional option where it just adds the related document directly to whatever property or field that has the reference.

[2016-03-04 02:21] phillip-haydon commented on #146
You could do:

[code]

And then in the mapping we do something like:

[code]

Where IgnoreProperty ensure's it's never serialized. (I hate attributes :D)

[2016-03-04 06:08] jenspettersson commented on #146
What if you don't want/have a `Category` property on the `Product` but only an Id reference?

Not really a fan of the `.IgnoreProperty(x => x.Category)` as if you just load the `Product` as a regular load, will the `Category` property be null?

In the above example it looks like you have both a `CategoryId` and a `Category` property on the `Product` and that's seems a bit confusing to me...

[code

[2016-03-04 06:16] phillip-haydon commented on #146
@jenspettersson - I'm suggesting with the lambda you can have both scenarios:

[code]

This would map the Category directly to the Product instance. But you need to ignore the Category during serialization. I proposed having an `IgnoreProperty` to mark it for exclusion.

The problem with this whole design tho is that your Product now doesn't have a reference to a Category, it's got a relationship

[2016-03-04 06:56] jenspettersson commented on #146
I think it's the "category becomes part of the root aggregate" that I also feel is wrong and that's why I didn't really like that option.

The lambda syntax looks kind of nice actually, I think it's quite clear on what's going on.

I didn't quite get the `CreateGroupedQuery<T>`, but I think that's because the syntax is so different from the `Include(...)` syntax I've been used to.

[2016-03-04 14:03] CoreyKaylor commented on #146
I vote for @phillip-haydon 's recommended approach. It seems both explicit when necessary and understandable.

[2016-03-04 15:14] jeremydmiller commented on #69
Need to do it both for dumping the whole thing and for doing it one doc type at a time

[2016-03-04 15:36] jeremydmiller opened #182 "Write the Hilo table in the Schema DDL dumps if there are any numeric id types"

[2016-03-04 15:47] jeremydmiller commented on #146
I'm voting for @phillip-haydon 's approach, but I might tweak the API signatures a little bit.

I don't think there's any situation where we'd need - or want to - use a dynamic proxy for relationships. Either have Marten attach related documents during load or don't. No lazy here.

As for ignoring a property in serialization, you'd need to do that in the Newtonsoft configuration or whatever Json s

[2016-03-04 16:03] #69 closed

[2016-03-04 16:03] #182 closed

[2016-03-04 16:37] jeremydmiller opened #183 "Need a better story for configuring and activating Javascript projections"
Later........

[2016-03-04 16:40] #171 closed

[2016-03-04 17:02] #172 closed

[2016-03-04 17:02] #173 closed

[2016-03-04 20:28] #70 closed

[2016-03-04 20:28] #71 closed

[2016-03-05 08:31] phillip-haydon opened #184 "Change LoadMany to return list instead of enumerable"
Currently `session.LoadMany<Photo>().ByIdAsync(photoIds);` returns a `IEnumerable<T>`

This should be changed to `List<T>` to be in line with `.ToListAsync()` for consistency.

[2016-03-07 13:07] jeremydmiller commented on #129
@phinett Hey, hadn't heard anything in awhile on this, but just to let you know, I'm going to knock this one out this morning to get a little closer to the next release.

[2016-03-07 14:00] #129 closed

[2016-03-07 16:12] jeremydmiller commented on #142
@phillip-haydon I'm going to split this one into two issues for easier tracking. One for the extensibility mechanism, and another for the actual IsOneOf method if that's alright

[2016-03-07 16:15] jeremydmiller opened #185 "Support IsOneOf(...) querying in Linq"
See GH-142 for more information

[2016-03-08 00:51] #142 closed

[2016-03-08 08:52] zagyar opened #186 "JSON reordering is not handled correctly for Newtonsoft"
Hello,
I faced issue, can you please advice on below:

On Store Newtonsoft.Json generate valid json with leading $type, but on insert to postgres it's reordered (due to jsonb).
As result on deserialization step dictionary got extra row with $type.

How to check json reordering:
create table test_jsonb_dummy (data jsonb NOT NULL);
INSERT INTO test_jsonb_dummy (data) VALUES
('{"Fields": {"$type": "S

[2016-03-08 13:31] #185 closed

[2016-03-08 13:41] jeremydmiller commented on #186
@zagyar Got it, thank you. This'll be fixed in the v0.8 nuget later this week.

[2016-03-08 13:41] jeremydmiller opened #187 "BulkInsert is not assigning Id's"
Oops. Fix this.

[2016-03-08 13:44] #186 closed

[2016-03-08 13:55] #187 closed

[2016-03-08 14:16] jeremydmiller commented on #77
This is done, so far. I'm closing this.

[2016-03-08 14:16] #77 closed

[2016-03-09 12:07] juhahak opened #189 "PostgresUpsertType.Standard does not work"
When using the 9.5 Upsert, the psql function generated by Marten.Schema.UpsertFunction seems to be incorrect. It generates:
`INSERT INTO mt_doc_testdbtype VALUES (doc, docId)`
But the actual column order is (id,data).
Explicit column names should be used:
`INSERT INTO mt_doc_testdbtype (data,id) VALUES (doc, docId)`

Tested with Marten 0.7.1.103, Npqsql 3.0.3 and PostgreSQL 9.5.0

[2016-03-09 12:53] bVanHertum opened #190 "Modal queries no longer work"
Since the latest master (commit afd9b50), modal Linq queries fail. Here's a (very simple) unit test demonstrating the issue:

        public void TestModalOrQuery()
        {
            var target1 = new Target { String = "Bert", Date = new DateTime(2016, 03, 10) };
            var target2 = new Target { String = null, Date = new DateTime(2016, 03, 10) };
            var targetList = new List<Tar

[2016-03-09 13:01] jokokko opened #191 "Persisting generic classes"
Current implementation of DocumentStorageBuilder is not happy with generic classes, afaics.

[2016-03-09 13:06] jeremydmiller commented on #189
@juhahak Okay. We started with 9.5, then fell back to 9.4 for plv8 support and I stopped running the 9.5 tests locally. I'll try to get this sorted out right now.

[2016-03-09 13:08] jeremydmiller commented on #190
@bVanHertum Got it, and I think I know what the issue is. Probably related to https://github.com/JasperFx/marten/issues/133. I'll be trying to address this this morning

[2016-03-09 13:12] bVanHertum commented on #190
@jeremydmiller  Thanks :)

And, just to note, I was first using commit 56dda5b, in which this query worked perfectly. So I suspect it's related to a bug introduced with the refactoring of the ExpressionParser.

[2016-03-09 13:33] jeremydmiller commented on #190
@bVanHertum It was a one line code fix. Something I'd forgotten to do in the refactoring -- and didn't have any test coverage on prior to this.

[2016-03-09 13:37] jeremydmiller commented on #191
Addressed by https://github.com/JasperFx/marten/pull/192

[2016-03-09 13:37] #191 closed

[2016-03-09 13:43] bVanHertum commented on #190
Figures it was something small like that. Awesome that you found it so quickly!

[2016-03-09 13:43] #133 closed

[2016-03-09 13:43] #184 closed

[2016-03-09 13:43] #190 closed

[2016-03-09 14:14] #189 closed

[2016-03-09 19:42] jeremydmiller opened #195 "Expose the request count off of IDocumentSession"
It's there, but not surfaced through the interface. Easy change.

[2016-03-09 21:39] tim-cools opened #196 "Support Document load/store interception method"
It would be nice to have an interception method that is called whenever a document is loaded. And maybe also a method that is called when a document is added to the session (Store).

Pseudo:
void DocumentLoaded(object id, object document);
void DocumentAddedForStorage(object id, object document);

[2016-03-10 19:50] robconery opened #199 "Create SQL Command For BulkInsert"
Hi guys - I was having a peak through the code and came across this:
https://github.com/JasperFx/marten/blob/master/src/Marten/DocumentStore.cs#L136

It looks like you're batching commands in a transaction - which is a fine way to do it - but I thought I would share with you some intense performance gains we saw with Massive/Moebius (Elixir). It seems a little hacky - but the perf gain is worth it

[2016-03-10 20:00] jeremydmiller commented on #199
@robconery The `IDocumentSession.SaveChanges()` does a batched command where everything goes up in one ADO command. The method you were referring to uses Postgres's COPY mechanism under the covers: http://www.npgsql.org/doc/copy.html.

Did you guys try that? How did that compare?

[2016-03-10 21:03] #199 closed, assigned to nobody

[2016-03-10 21:06] jeremydmiller commented on #199
@robconery Thanks for the suggestion Rob and the drive by;)

We haven't gotten around to full text search yet, but it'll look like what I remember from your blog posts.

[2016-03-10 21:27] nieve commented on #157
I'm looking into this. I think I've got an idea.

[2016-03-10 21:31] ekulakov commented on #51
IMO it's nice to have. But I vote for true projection (in DB) or no projection at all.

[2016-03-11 11:54] jeremydmiller commented on #157
Go @nieve!

[2016-03-11 13:58] jeremydmiller opened #201 "New ToCommand() signature on IMartenQueryable"
I think this would be nice to have, a new extension method off of IQueryable that let's you preview what the underlying NpgsqlCommand would be. I kinda want this before we go too crazy into the Select() projections for obvious reasons.

In usage, I think it'd be:

[code]

With the new `FetchType` would just represent the categories of fetching you can do (ToList(), Count(), Any(), etc.):

[code]

[2016-03-11 14:15] phillip-haydon commented on #201
That's actually pretty cool, and would be handy, last night I wrote a query and was thinking it would be nice to capture what its executing instead of having to go poke around in the `pg_stat_activity` table.

[2016-03-11 14:56] #201 closed

[2016-03-11 23:02] phinett commented on #157
Brilliant thank you for this, will come in very handy!

What is the performance like for queries like this if you had say 500,000 rows with the data being inside the json document?

[2016-03-11 23:21] nieve commented on #157
Great question- I got too bogged down by implementation details that I completely forgot about the bigger picture. I think tomorrow I'm gonna play about with benchmarking, just for fun.

Btw, I think long count may have not been implemented as synchronous.

[2016-03-11 23:27] jeremydmiller commented on #157
@nieve On your Sum(field), can you make sure that it's going through the IField.SqlLocator? Do that, and you could probably get a good perf boost by summing a "searchable" field.

[2016-03-11 23:27] phinett commented on #157
I was thinking that if the performance isn't spectacular would it be worthwhile having the option to add the data into separate columns in the table, much like the search fields are at the moment which should work with large amounts of data.

[2016-03-11 23:28] phinett commented on #157
Ah...there you go that's pretty much what i was getting at :-)

[2016-03-11 23:34] nieve commented on #157
Cool, will look into it tomorrow.

[2016-03-11 23:41] jeremydmiller commented on #157
@phinett Some day down the line we could also do "flattener" projections that write a doc into a flat, read-only table.

[2016-03-12 19:58] nieve commented on #157
So that's what BenchmarkDotNet has to say:

[code]
            Method |      Median |     StdDev |
------------------ |------------ |----------- |
 JsonbAttributeSum | 981.6329 ms | 26.0396 ms |
     SearchableSum | 548.5337 ms |  9.8045 ms |

[2016-03-12 20:08] phinett commented on #157
Nice improvement for the searchable field, what was the data source, like how many rows of data?

[2016-03-12 20:17] nieve commented on #157
1 million rows.

Code wise, btw, I didn't have to do anything, it's all being taken care of in `IDocumentMapping.JsonLocator`.

[2016-03-12 21:54] nieve opened #203 "Add support for QueryAsync("select sum")"
This fails:
[code]
See also #157

[2016-03-12 21:54] nieve commented on #203
Looking into it.

[2016-03-13 16:33] nieve opened #205 "Add support for max queries"
This fails:
[code]

Looking into it :)

[2016-03-13 16:34] nieve commented on #205
I'll be also happy to pick up Min and Average afterwards :)

[2016-03-13 17:23] ekulakov commented on #205
You can copy IQueryable extensions from [EF Extensions](https://github.com/aspnet/EntityFramework/blob/dev/src/Microsoft.EntityFrameworkCore/EntityFrameworkQueryableExtensions.cs)

[2016-03-13 20:41] #157 closed

[2016-03-13 21:08] jeremydmiller opened #206 "Use foreign key relationships to order the document types in unit of work commits"
Related to https://github.com/JasperFx/marten/pull/188

Make UnitOfWork do a dependency graph sorting of the document types. Going to adapt the old dependency sorting from FubuCore into an updated Baseline, then bring that through to Marten.

[2016-03-13 21:17] #150 closed

[2016-03-14 12:09] jeremydmiller commented on #196
Addressed by https://github.com/JasperFx/marten/pull/200

[2016-03-14 12:09] #196 closed

[2016-03-14 12:11] jeremydmiller commented on #51
@ekulakov It will happen in the database. I'm not too far away from having this done. I've got some of the obvious use cases working locally now.

[2016-03-14 15:58] #51 closed

[2016-03-15 13:19] jeremydmiller commented on #205
Addressed with https://github.com/JasperFx/marten/pull/212

[2016-03-15 13:19] #205 closed

[2016-03-15 14:09] nieve opened #217 "Add support for synchronous LongCount"
This fails

[code]

I'll get it done now.

[2016-03-15 14:30] jeremydmiller opened #219 "IQueryable extensions to retrieve the raw JSON"
In many cases in web apps, you wouldn't want to bother deserializing the Json just to immediately serialize it back out to Json in the HTTP response. What if you could just skip that and get the raw Json? Even if there's a Select() in there.

- [ ] FirstJson() : string
- [ ] FirstOrDefaultJson() : string
- [ ] SingleJson() : string
- [ ] SingleOrDefaultJson() : string
- [ ] ToListJson() : string /

[2016-03-15 14:43] phillip-haydon commented on #219
I love the idea of `ToListJson()` but my request is that at bare minimum if the result is empty, that the list returns `[]` to simulate an empty array, because `.ToList()` always creates atleast an empty list. It shouldn't be empty or null.

[2016-03-15 14:56] jeremydmiller commented on #219
@phillip-haydon I definitely agree.

[2016-03-15 15:07] nieve commented on #219
I wouldn't mind giving this a go- unless you've already got this.

[2016-03-15 15:10] jeremydmiller commented on #219
Go @nieve! My next Marten trick is the Includes() feature.

[2016-03-15 15:14] nieve commented on #219
So, following from Gitter- should I focus on FirstOrDefault and ToList and then we'll see about the Single/OrDefault/First?

[2016-03-15 15:29] jeremydmiller commented on #219
I think that's fair. It should be rinse and repeat after those first tow. But a lot of rinse & repeat:(

[2016-03-15 16:51] #217 closed

[2016-03-16 11:27] #195 closed

[2016-03-16 11:30] #206 closed

[2016-03-16 11:38] jeremydmiller commented on #203
Closed by https://github.com/JasperFx/marten/pull/204

[2016-03-16 11:38] #203 closed

[2016-03-16 20:01] nieve commented on #219
I've got these left:
SingleJson()
SingleJsonAsync()
SingleOrDefaultJson()
SingleOrDefaultJsonAsync()
WriteJsonResults(Stream)
WriteJsonResultsAsync(Stream)

[2016-03-18 03:52] jeffdoolittle commented on #104
more info:

https://ravendb.net/docs/article-page/3.0/csharp/server/scaling-out/sharding/how-to-setup-sharding
https://ayende.com/blog/170881/ravendb-sharding-enabling-shards-for-existing-database
http://stackoverflow.com/questions/6013911/ravendb-planning-for-scalability

[2016-03-19 03:27] superlogical commented on #39
Here's another approach that uses Trigram's and the pg_trgm extension http://www.postgresql.org/docs/current/static/pgtrgm.html

Gitlab are using it to speed up like matches
https://about.gitlab.com/2016/03/18/fast-search-using-postgresql-trigram-indexes/

[2016-03-21 13:05] jeremydmiller commented on #219
Gonna call this one closed via https://github.com/JasperFx/marten/pull/229

[2016-03-21 13:05] #219 closed

[2016-03-21 20:32] nieve commented on #152
I can give that a go, if no one is looking into it (at least for non include queries). Should we add the optional parameters as well?

[2016-03-21 21:07] jeremydmiller commented on #152
I don't think the code would be much different for the Includes. Just make sure we centralize the code for creating a DocumentQuery inside of the MartenQueryable, and you'd get the NpgsqlCommand object.

I'm drawing a blank, what do you mean about optional parameters?

[2016-03-22 15:41] jeremydmiller opened #231 "The SqlLocator for the Id properties should be using the raw id field"
Betting this isn't what it does today. Fix.

[2016-03-23 15:02] mariotoffia opened #233 "Inheritance Problems"
I'm in learning stage so I'd setup a test case where:
* IResource - Interface for a resource
 * Id : Guid
* Resource - Base type implementing the IResource interface
* ZoneResource - Base type for zone resources
  * Zone : int
  * Kiln
* Kiln - Derives from Resource
* CFan - Derives from ZoneResource

I've started out doing a interface for the ZoneResource since both ZoneResource and Resource are

[2016-03-23 15:19] jeremydmiller commented on #233
@mariotoffia I'm thinking it's a bug -- unless you were using a different DocumentStore object in the second class. It should have created the table for the parent type and used that throughout. All the tests for that behavior are passing in CI, so if it is broken, my theory is that it's either losing the configuration somehow or fetching the configuration incorrectly somewhere downstream.

[2016-03-24 08:23] mariotoffia commented on #233
Hi,
I've have written more proper unittests (I can send you the project if you want) to isolate problems. The only thing I've found is that either the base type is queryable or the most concrete. The derived classes in between do not work.

Is this possible to fix? Do you want my test suite?

Cheers,
 Mario

[2016-03-24 10:48] jeremydmiller commented on #233
@mariotoffia It'll get fixed a lot faster with your test suite;) Yes, please, and I'm sure we can fix it.

[2016-03-24 12:40] mariotoffia commented on #233
Hi,
I've created a temp repo and uploaded the [Mario.Tests.zip](https://github.com/mariotoffia/temprepo/blob/master/Mario.Tests.zip) file of the ms-test project...

It is using a set of nugget packages that you need to restore. I've done a simple nugget package to fire up docker containers and tear them down for each test (or for a whole testclass) that I'm using in the test. If you wish to test d

[2016-03-24 17:58] mariotoffia commented on #178
Isn't it better to make getting a DocumentSession as "cheap" as possible and make them non thread safe and let the "user" code handle interthreading issiues? Most frameworks that I've been working with have had this assumption since kernel locks are cheap and it is easier to optimize the user code instead of generic support which might be a bit "blunt".

Makes sense?

Cheers,
 Mario

[2016-03-25 00:21] phinett opened #237 ".Searchable and .ForeignKey in registry causes duplicate indexing entry which fails"
[code]

This looks like it's failing due to creating the same index on AccountId twice.

[2016-03-25 10:51] jeremydmiller opened #238 "The containment operators in Linq query generation aren't using the table alias"
See this conversation from Gitter:

[code]

Easy fix, but add tests for it too.

[2016-03-25 10:55] jeremydmiller commented on #233
@mariotoffia Thanks Mario. Gimme a couple days to get to it, but I will sometime early next week.

[2016-03-25 14:15] nieve commented on #238
Am on it.

[2016-03-25 19:30] phillip-haydon commented on #146
@jeremydmiller just tested out the `Include` stuff.

I get a SQL Exception:

So I printed the Command (AWESOME FEATURE)

[code]

So the two columns returned, are both called `data` and `id`, the includes will need to be aliased.

`member_id.data as member_id_data, member_id.id as member_id_id`

[2016-03-25 19:32] jeremydmiller commented on #146
@phillip-haydon Got it, same thing that @phinett hit. @nieve is looking at this one. We just need to get the table alias into the containment operator construction.

This is our offender:

[code]

[2016-03-25 19:32] phillip-haydon commented on #146
OH, I didn't even spot that one. Ok cool.

[2016-03-25 21:34] nieve commented on #146
PR #239 fixes this.

[2016-03-28 10:34] #231 closed

[2016-03-28 10:42] jeremydmiller commented on #238
@nieve fixed this w/ https://github.com/JasperFx/marten/pull/239.

[2016-03-28 10:42] #238 closed

[2016-03-28 10:50] jeremydmiller commented on #237
Fixed by https://github.com/JasperFx/marten/pull/240

[2016-03-28 10:50] #237 closed

[2016-03-28 13:05] #146 closed

[2016-03-28 13:06] jeremydmiller opened #241 "Add Include() support to the Load() and LoadMany() operations?"
Leftover work from https://github.com/JasperFx/marten/issues/146

[2016-03-28 17:42] phillip-haydon opened #243 "Create indexes/foreign keys if they don't already exist"
Adding foreign keys to fields already marked as searchable doesn't create the foreign key constraint.

[2016-03-28 19:43] tim-cools opened #244 "Add support for Comb Guid's"
It would be nice to support CombGuid to improve PK indexing

See more info here:
- http://www.informit.com/articles/article.aspx?p=25862
- https://github.com/richardtallent/RT.Comb

[2016-03-29 11:42] #152 closed

[2016-03-29 12:47] jeremydmiller opened #246 "Reduce test execution time"
I'm sure anybody who has developed against Marten has noticed that the build times are getting uncomfortably long due to the sheer number of full integration tests we execute. Add to that, the ilmerge process is weirdly slow, at least on my box. I would honestly say right now that I think this is the biggest single issue slowing down the pace of Marten development.

As soon as v0.9 pops out, I'd r

[2016-03-29 13:33] jeremydmiller opened #247 "Move all the IQueryable extension methods into the root namespace"
I think it makes Marten just a tad easier to use if all the user facing extension methods are in the root namespace.

[2016-03-29 13:52] CoreyKaylor commented on #246
I vote going the schema / concurrent tests route.

[2016-03-29 17:35] DarriusWrightGD opened #248 "Easy to use fake inmemory for testing"

[2016-03-29 22:52] phinett opened #250 "Enable to specify custom IdStategy sub-class"
Would be great to have the option to override the default IdStategy genrator with my own sub-class, this would let me implement a RavenDb style generator to make my migration much easier.

Either at the document type level, or maybe a global level if possible for all documents?

[2016-03-30 09:40] tim-cools commented on #250
@jeremydmiller I will look into this. I need it anyway for https://github.com/JasperFx/marten/issues/244

[2016-03-30 11:33] nieve commented on #247
I'll clean that later on today.

[2016-03-30 11:34] nieve commented on #233
@jeremydmiller unless someone beats you to it ;)

[2016-03-30 12:21] jeremydmiller commented on #250
@tim-cools Thanks for taking this.

[2016-03-30 12:24] jeremydmiller commented on #247
@nieve You might wanna put that off for now. I know there's a biggish PR coming from @CoreyKaylor relatively soon that might cause some ugly merge conflicts with that.

[2016-03-30 14:15] nieve commented on #247
@jeremydmiller thanks for the heads up. Will wait with it then.

[2016-03-30 16:31] ncwilliams opened #251 "Allow LINQ Where - where property of object is not used"
I am attempting to use Marten with a specification pattern that my applications currently use. The specification interface uses the following interface:

    public interface ISpecification<T>
    {
        bool IsSatisfiedBy(T entity);

        ISpecification<T> And(ISpecification<T> other);
        ISpecification<T> And(Expression<Func<T, bool>> expression);

        ISpecification<T> AndNot(ISp

[2016-03-30 16:55] jeremydmiller commented on #251
"It would be great if Marten could support expressions which just return a Boolean" -- yeah, it's really not that simple. Marten's Linq support never actually executes those methods, and you can't get away with doing anything that general. You have to be able to parse and convert any method encountered in the Expression into a Sql statement.

Here's a blog post on extending the Linq support to cus

[2016-03-30 18:20] jeremydmiller opened #252 "Tooling to help migrate data from RavenDb to Marten"
We're gonna want it at work before too long, and most of our early adopters are moving over from Raven anyway.

[2016-03-30 18:36] nieve commented on #248
If you're talking about something similar to RavenDB's famous embedded DB, unfortunately that's probably going to have to wait- more info here: https://www.youtube.com/watch?v=2pl_44IREng#t=19m50s

[2016-03-30 19:25] jeremydmiller opened #253 "Document Structural Change Migrations"
'cause you know it's gonna be necessary sooner or later.

Use JS?

[2016-03-30 20:19] nieve commented on #233
Ok, the first issue I discovered is with two levels down inheritance, ie A -> B -> C any instances of C saved by marten will not be actually created & persisted in the DB. Hopefully will get this sorted tomorrow/this weekend.

[2016-03-30 21:29] jeffdoolittle commented on #253
I'd upvote using JS to avoid having to maintain the old and new versions of binary assemblies when migrating. blech.

[2016-03-30 21:35] jeremydmiller commented on #233
C still has to be explicitly mapped as "save as A", it doesn't infer anything

[2016-03-31 12:27] bojanv91 opened #254 "IUnitOfWork.AllChangedFor does not return tracked objects by BaseType"
I hit issue working with `DocumentSessionListener` and `BeforeSaveChanges` method.

Example entity:
[code]

Usage:
[code]

The listener which should set current datetime to `CreatedOn` property.
[code]

My expectation is that the above scenario would work - AllChangedFor<> should return all objects that derive from the given type.

I spot the problem at this line: https://github.com/JasperFx/marte

[2016-03-31 13:33] jeremydmiller opened #255 "Hilo table is getting erroneously re-generated"
As reported on Gitter the other night. Put it into AutoCreate == All, blows away the hilo table and re-generates. Not sure when this would have creeped in, or why it's happening.

[2016-03-31 19:34] nieve commented on #233
Ok,
First of all, sorry @jeremydmiller - it turns out that wasn't the issue, that was me being sloppy. The good news is that A->B->C actually works OOTB.

@mariotoffia I finally understood the issue you've raised; it's something we should probably discuss before implementing.
The issue is if you have A->B->C and you save an instance of C and you Query<B>() you won't get the C you just saved as lon

[2016-04-01 09:08] nieve commented on #233
_Personally_, I'm not 100% sure about adding such a feature. It does make complex inheritance relationships a possibility, which could be a code smell- don't know to what extent marten should be opinionated though.

[2016-04-01 18:08] jeremydmiller opened #256 "Support database timestamps on changes"
Make an opt in configuration that adds an automatic timestamp field to the document tables?

It's dirt simple to do this in .Net code with the `IDocumentSessionListener`, but some folks are not gonna trust server clock synchronizations and want the database to do that.

[2016-04-01 18:09] jeremydmiller commented on #254
I've got the fix coming in 0.8.5 within an hour

[2016-04-01 18:28] jeremydmiller commented on #255
Got it. We're getting messed up with schema name canonization after introducing the configurable schemas

[2016-04-01 18:36] #254 closed

[2016-04-01 18:36] #255 closed

[2016-04-01 18:42] maggiepint commented on #256
I'll take a stab at this.

[2016-04-01 20:23] #74 closed

[2016-04-02 13:16] schotime commented on #251
@ncwilliams Have you tried using the PredicateBuilder listed here.
http://www.c-sharpcorner.com/UploadFile/c42694/dynamic-query-in-linq-using-predicate-builder/

It will allow you to start of with a true and then chain where statements to give you a statement that can be passed into Where(). It supports IQueryable.

[2016-04-02 20:30] phillip-haydon opened #257 "DeleteWhere fails with multiple critera"
[code]

Both of these use `int` and work individually

`session.DeleteWhere<Comment>(x => x.Id == id && x.MemberId == CurrentMember.Id);`

When combined together for multiple criteria, it fails.

 at Marten.Linq.ExpressionExtensions.Value(Expression expression)
 at Marten.Linq.MartenExpressionParser.buildSimpleWhereClause(IDocumentMapping mapping, BinaryExpression binary)
 at Marten.Linq.MartenExp

[2016-04-03 08:50] tim-cools commented on #255
@jeremydmiller Damn, missed that one. Nice catch...

[2016-04-03 09:51] nieve commented on #257
Yo, I'll be happy to look into it.

[2016-04-03 13:13] maggiepint commented on #104
I'd be interested to know where you guys want to go with this.

As a casual observer, I'll note that I would use a shard strategy similar to RavenDBs. This was something I  really liked about RavenDB, - the shard implementation is quite clean. I don't see the need for blind sharding though. IMO If you're going to shard, you might as well define where your data is going.

It's worth nothing that I

[2016-04-03 15:03] mariotoffia commented on #233
In our case it's all about porting from (my, custom, anno -2003) document (xml) store to marten. And make use of these chains since to allow for more generic algorithms to be executed on base types and only add specialized for the specifics (if needed). It's a drying kiln process driver application along with PLC:s on the field. This configuration if both used for persistence and augmented into th

[2016-04-03 18:29] jeremydmiller commented on #257
@nieve Go for it. I'm surprised that that's any kind of issue.

[2016-04-03 18:31] jeremydmiller commented on #233
@nieve @mariotoffia I'm not wild about this, but it doesn't sound too crazy hard either. We'd need to have yet another type of "type forwarding" for the intermediate base classes. The only thing I'd question is whether we made this be an explicitly configured thing like the type hierarchy is today anyway, or try to infer it.

[2016-04-03 18:39] jeremydmiller commented on #255
@tim-cools I wanna at least think about putting in some kind of value object for "schema, name" pairs to keep this from creeping in again.

[2016-04-03 18:41] jeremydmiller commented on #104
I honestly haven't done more on this than browse the links @jeffdoolittle put up above. My thought for us at work was to just use something like [Citrus](https://www.citusdata.com/solutions/infrastructure/scaling-out-postgresql).

[2016-04-03 18:58] tim-cools commented on #255
@jeremydmiller I thought the same this morning. Extracting this in some kind of DatabaseObjectReference object that exposes the Name and QualifiedName...
I might look into this if I find some free time this week

[2016-04-03 19:16] tim-cools opened #260 "Skip/take/projection query returns all records"
The query in the following PR https://github.com/JasperFx/marten/compare/master...tim-cools:Skip-take-projection-query-does-return-all-records?expand=1 should return 10 records instead of 100.

[code]

[2016-04-03 20:12] nieve commented on #257
@jeremydmiller ha, You should have a peak at gitter. It's an odd one.

[2016-04-03 20:16] nieve commented on #233
@jeremydmiller @mariotoffia I can take a look at it after we're done with the deleteWhere issue. Personally, I think it should be configurable. Users have to feel some pain to see that what they're doing might be too complicated. my 2p anyway.

[2016-04-04 11:40] KopIlya opened #261 "Double Skip or Take query throw exception"
[code]
Both of this requests throw exception: At least one object must implement IComparable.

[2016-04-04 12:03] jeremydmiller commented on #261
My first question is "why would you *want* to do that?"

[2016-04-04 12:05] #244 closed

[2016-04-04 12:05] #250 closed

[2016-04-04 12:11] KopIlya commented on #261
I get linq query from Client. Query can include Skip or Take method.
I don't know included in query Take or Skip methods.
I add to query limit 1000 object by Take(1000). If Client add Take method in his query, in this case i have request with double Take methods.

[2016-04-04 12:17] jeremydmiller commented on #260
@tim-cools I'm looking at this now.

[2016-04-04 12:24] jeremydmiller commented on #260
@tim-cools Going to call this one a Relinq issue so far. It loses the ResultOperators collection when it bounces to the Select(). Surely a workaround somewhere.

[2016-04-04 12:37] jeremydmiller commented on #260
Got it. It'll be in a new nuget later this morning. Would have been a systematic thing with any other result operator.

[2016-04-04 12:38] #260 closed

[2016-04-04 12:44] jeremydmiller commented on #261
Okay. I found the problem and fixed it. The fix will be in v0.8.6 later today w/ some other fixes.

[2016-04-04 12:47] jeremydmiller commented on #257
@nieve I'm gonna deal with this one this morning, then push a new nuget. I'll do what we discussed on Gitter about using a MartenQueryable underneath the covers

[2016-04-04 12:50] #261 closed

[2016-04-04 12:59] nieve commented on #257
:+1:

[2016-04-04 13:10] #257 closed

[2016-04-04 13:27] jeremydmiller commented on #251
@ncwilliams Hey, with @schotime 's workaround up there, I'm going to close this one as a "won't fix" thing just to clean off the issue list.

[2016-04-04 13:27] #251 closed

[2016-04-04 13:45] jeremydmiller commented on #31
@tim-cools I'm finally poking at this one a little bit today. I looked at pgq a couple years ago, but didn't get very far with it. I didn't feel like there was much information on it.

For pg-events, I used a rolling buffer table as the de facto queue: http://kejser.org/implementing-message-queues-in-relational-databases/.

[2016-04-04 14:11] jeremydmiller commented on #18
Think this would be a lot easier in Postgresql 9.5: http://dba.stackexchange.com/questions/119089/postgres-function-to-merge-two-json-objects-with-overlapping-keys-into-one-objec

[2016-04-04 16:04] jeremydmiller commented on #31
Alright everyone, I'm thinking that I'm going to finally put just a little bit of time into this this week. See https://github.com/JasperFx/marten/pull/262 for more of a discussion.

I'm focusing on the event store right now, but there's no reason why we can't do something with normal documents

[2016-04-04 18:45] jeffdoolittle commented on #104
Well goodness, Citus looks pretty awesome.

[2016-04-05 07:55] tim-cools commented on #104
Wow, indeed!

:+1: for not making this a Marten responsibility

[2016-04-05 12:33] jeremydmiller commented on #25
Closed by https://github.com/JasperFx/marten/pull/263

[2016-04-05 12:33] #25 closed

[2016-04-05 12:35] jeremydmiller opened #264 "Add Compiled Query support to the Batch Query"
Seems like a logical pairing.

[2016-04-05 17:33] phillip-haydon opened #265 "SingleOrDefault / FirstOrDefault fails for compiled queries"
Given the following query:

[code]

This currently throws an exception when no result is returned rather than returning null.

[code]

[2016-04-05 20:53] nieve commented on #233
Sorry for being a bit slow on this- have started work today, should have something working (though not explicitly configured for now) tomorrow.

[2016-04-07 20:50] nieve commented on #265
I can pick this up tomorrow, unless someone'll beat me to it.

[2016-04-07 20:55] jeremydmiller commented on #265
Actually, I wanna take this one tomorrow. Got a refactoring I wanna do as part of this, plus hitting compiled query within the batch query support

Sent from my iPhone

[2016-04-07 20:56] nieve commented on #265
cool, np.

[2016-04-08 19:21] #233 closed

[2016-04-08 22:09] nieve opened #268 "Adding nested object containment"
The following code will fail today:
[code]
Should be feasible as this returns true in pg:
`SELECT '{"goo": 5, "foo": {"bar": "baz"}}'::jsonb @> '{"foo": {"bar": "baz"}}'::jsonb;`

[2016-04-08 22:17] nieve commented on #268
I'll be happy to do this, unless anyone thinks this isn't a good idea :)

[2016-04-10 19:18] jvdvleuten opened #270 "Remove IEvent and IAggregate interface to prevent tight coupling"
Remove IEvent and IAggregate interface to prevent tight coupling. Just like we don't have an IDocument interface for the DocumentStorage itself, we should not have an IEvent for Events.

Probably these things have to be done:

- Remove the IEvent and IAggregate interfaces
- Streams should be identified by their Id's (and could be of any class type?)
- Encapsulate the Event data in an new internal

[2016-04-10 19:44] mariotoffia commented on #233
Thank you guys for the much appreciated fix!! :)

Cheers,
 Mario

[2016-04-11 12:36] jeremydmiller opened #271 "Remove all references to the database schema from generated IDocumentStorage classes"
May require changes to the IDocumentStorage interface, but still.

We really need to be able to reuse the generated IDocumentStorage classes even when the schema changes. Mostly to speed up our test harnesses right now, but probably also for later when we start doing multi-tenancy kind of things

[2016-04-11 12:42] jeremydmiller opened #272 "Build a Sample App in the codebase"
Do it by stealing a sample app from EF somewhere and converting that? Or RavenDb.

I've never been good at this kind of thing, and I'd actually prefer this be done by folks that aren't necessarily deep into the Marten internals so we can use this exercise to flush out usability problems or things that are confusing.

[2016-04-11 12:47] jeremydmiller commented on #84
@nieve has a workaround for this kind of thing in the integrated fixtures to just force the Thread.Culture to "en-US." I'll probably do the same here.

Go ahead and say "ugly American"

[2016-04-11 13:01] jeremydmiller commented on #246
@nieve 's suggestion to reuse the generated `IDocumentStorage` types between tests made a big difference (about a 33% reduction in the total time on my box).

I did make `DocumentSessionFixture` lazy, such that it only creates a document store on demand. That helps a tiny bit when there are more traditional unit tests mixed into a fixture class that also does integration tests.

Parallelizing the

[2016-04-11 13:15] jeremydmiller commented on #270
@jvdvleuten This commit: https://github.com/JasperFx/marten/commit/4a740704da39f866ab2a1d1c7d9d8c37b7e3d778, should move the Id member validation out of your way so that `EventMapping` can cleanly inherit from `DocumentMapping`. There's probably some cleanup later on that hierarchy after the next big release.

[2016-04-11 13:57] jamesfarrer commented on #180
I had a quick look / google and there doesn't seem to be a clean way to do this with the built in COPY tool or a conflict trigger.

I don't know what you would think of this solution, but my idea would be that if overwrite existing is true :-

- Create a new (temporary) table and execute the COPY into it
- Insert any id's that don't exist into the primary table
- Update any id's that exist in the

[2016-04-11 17:03] jeremydmiller opened #273 "Mechanism to copy Marten data from one database to another"
For one of my internal teams, they want to be able to easily transfer data from a testing database to their local database for help troubleshooting issues.

[2016-04-11 17:50] nieve commented on #252
I'm particularly interested in this one- I'm hoping to be able to convince my new employer to migrate from mongodb to marten. Mongo is pervasively used in .net shops in my part of the world & postgresql is highly popular as well. This could be a huge win for the project.

Anyway- keep this in mind when you do the raven work if possible. I'd be happy to add mongodb support for this.

[2016-04-11 17:53] jeremydmiller commented on #252
We could keep the code for writing to Marten itself in a shared place I suppose. I'll have work time to do this for a project that's converting from RavenDb to Marten.

[2016-04-11 17:59] nieve commented on #252
That'll be awesome, yeah.

[2016-04-11 18:24] nieve commented on #273
Were thinking of [pg_dump](http://www.postgresql.org/docs/9.5/static/app-pgdump.html)?

[2016-04-11 19:24] ekulakov opened #274 "System.Exception: Cyclic dependency found"
[code]
generates
[code]

[2016-04-11 20:12] jeremydmiller commented on #273
@nieve I am now. That looks easy.

[2016-04-11 22:04] jvdvleuten commented on #270
I removed IAggregate in this commit: https://github.com/jvdvleuten/marten/commit/cdd8b12b15760a96dfdc266fcc94ba291ad8e611

Going onward with IEvent

[2016-04-11 23:48] jvdvleuten commented on #270
Started to remove IEvent in this commit: https://github.com/jvdvleuten/marten/commit/2420f7e60373e5910736cee38687f5caed857f9c

Saving an Event works, now moving on to change `fetchStream(reader)` to correctly reconstruct the Event object with correct Body and Body Type

[2016-04-12 07:13] jenspettersson commented on #180
As I said in the gitter chat, I'm not a PG expert by far, but if the solution @jamesfarrer suggest is doable in a clean and secure way, then why not. It does feel a bit "Rube Goldberg" however ;)

I'm not in a position to call any shots here, so we might need @jeremydmiller to comment as well.

[2016-04-12 08:06] nieve commented on #273
Actually, the fact this is so easy makes me wonder if this really should end up _in_ marten. That was one of the biggest wins of building on top of postgresql, no?

[2016-04-12 12:46] phinett opened #276 "Can't deserialize SubClass of abstract class"
Failing test that I added to:

[code]

Also you need to add the .AddSubClass to the initializer:

[code]

[2016-04-12 12:49] phinett commented on #276
Fails with:

Newtonsoft.Json.JsonSerializationExceptionCould not create an instance of type Marten.Testing.Schema.Hierarchies.persist_and_load_for_hierarchy_Tests+Activity. Type is an interface or abstract class and cannot be instantiated. Path 'Id', line 1, position 6.

[2016-04-12 13:16] jeremydmiller opened #277 "Centralize the functionality for creating and running schema changes"
Refactoring task. Things are a little too spread out. I think we want a single place where code is called to make schema changes so that it's easy to log and easy to apply schema name overrides consistently.

[2016-04-12 13:32] #276 closed

[2016-04-12 13:44] jeremydmiller commented on #274
Fixed by https://github.com/JasperFx/marten/pull/275

[2016-04-12 13:44] #274 closed

[2016-04-12 13:51] jeremydmiller commented on #272
The current thinking is to use https://github.com/jchannon/DinnerParty as the basis. Probably port it to ASP.net MVC (boo!) at some point for more reach into the community.

[2016-04-12 14:50] jeremydmiller opened #278 "Documentation Updates for v0.9"
The pace of Marten development has been absolutely nuts over the past month and I have gotten very far behind in keeping the docs up to date. The following is a task list of the topics that need to be updated in preparation for a v0.9 release.

If you're willing to help out, please just tag a note in this issue that you're taking it. I'm figuring that we'll update the docs in its current structure

[2016-04-12 14:55] nieve commented on #278
Might be a good idea to share the list between a few of us. I'll have a proper look later on today to let you know what I'll be happy to take.

[2016-04-12 15:05] jeremydmiller commented on #278
I've got some other stuff to write up, then I was going to announce this on the Gitter room. It's helping to have this in a task list instead of buried in my notebook;)

[2016-04-12 15:09] jeremydmiller opened #279 "Reorganize the Documentation Structure before 1.0"
From @phillip-haydon 's suggestion in Gitter, let's move to a documentation structure more like:

[code]

I'm voting that we do this **after** catching up on content for v0.9 in https://github.com/JasperFx/marten/issues/278

[2016-04-12 17:22] jeremydmiller opened #280 ""Grand Unified Theory" Refactoring on query mechanisms to reduce duplication"
After @CoreyKaylor 's compiled query work, the `Include()` feature, all the aggregate functions, and the batched query work I think it's time to reduce some of the duplication we have scattered around and maybe break up `DocumentQuery` because it's become a bit of a blob class.

If you look at how we handle the process of going from a database query all the way to the desired results, we have thes

[2016-04-12 18:25] nieve commented on #278
I'll be starting with these and see what else will I be able to take afterwards:
- Select() transforms
- Case insensitive searches by string - this one I'm thinking will go into ST specs embedded into the docs
- string.Equals Linq searches. See the above
- Generic enumerable searches besides Array's, just the fact that you can do Contains() searches with IEnumerable<T>, IList<T>, List<T>
- min/max

[2016-04-12 20:38] jamesfarrer commented on #278
I will take foreign keys

[2016-04-12 20:44] jeremydmiller commented on #278
In the past, I've relied on unit tests as much as possible for the example code. Mostly, I just hunt down the existing tests and use them OOTB. It's a lazy way to make the docs, but it's far, far better than nothing.

[2016-04-12 20:53] jamesfarrer commented on #278
Plus in theory the unit testing code works :)

[2016-04-12 23:47] phinett opened #282 "Change LoadMany() to prevent user confusion"
If i pass a list of strings to LoadMany<T>().ById() it fails with:
System.NotSupportedExceptionThis .NET type is not supported in Npgsql or your PostgreSQL: System.Collections.Generic.List`1[System.String][]

Converting the list to an array works fine, i'm presuming this is a bug.

Not tested Async, but assume it's the same.

[2016-04-13 11:03] jeremydmiller commented on #282
@phinett Check the signature of the `ById()` method. It's `ById<T>(params T ids)`, and that's why it can't handle the `List<string>` because it thinks that just means that that is the element type of T.

So this isn't a bug per se, but quite possibly an API usability issue. We can talk about an overhaul of `LoadMany()` syntax on the way to 1.0. I wanted to do something about it anyway. Maybe to ha

[2016-04-13 11:37] phinett opened #283 "Aggregate functions with no data returning null instead of 0"
I would expect the query in this test to return 0 rather than null?

[code]

[2016-04-13 11:40] phinett commented on #283
Sorry it's not actually returning null, but throwing an error about DBNull.

[2016-04-13 13:08] jeremydmiller opened #284 "Add LongCount() to the batch query support"
Easy money after the big "GUT" work in #280

[2016-04-13 13:15] jeremydmiller commented on #283
I think this one gets a lot easier to deal w/ systematically after #280.

[2016-04-13 13:28] jeremydmiller opened #285 "Add aggregate selectors to the batch query"
After #280

[2016-04-13 13:51] phinett commented on #282
Yes I see that now, probably would be better sticking to well defined choices from a usability point of view.

[2016-04-13 14:50] jeremydmiller commented on #284
Nevermind, it's already `long` only anyway.

[2016-04-13 14:50] #284 closed

[2016-04-13 18:02] jvdvleuten commented on #270
From Jeremy:

[2016-04-13 21:09] nieve commented on #278
What's left:
* Event Store basics, append event, fetch stream, etc. This is churning pretty hard right now, so maybe wait for it
* Noop Id strategy for document types that don't have a settable Id member
* Using custom Id strategies
* Comb Guid usage
* Request count off of IQuerySession. Part of diagnostics?
* Include()'s
* Configuring the schema name, overriding on doc by doc basis, for all, even

[2016-04-13 21:14] nieve commented on #278
I'll continue with:
Include()
configuring schema name
overriding doc name (if this is what you meant)

Any proof reading would be highly appreciated.

[2016-04-13 21:15] jeremydmiller commented on #278
@nieve @jamesfarrer Hey, if you don't mind, can you just go click on the checkbox's for the things that are done, or is it not letting you do that w/ permissions?

[2016-04-13 21:18] nieve commented on #278
Cool, I tried before I had the permissions and it didn't work.

[2016-04-14 07:05] pawelpabich opened #289 "Slow start up time"
I've been playing with Marten and PG 9.5 and  so far I really like what I see. Great job!

But there is one thing that bothers me every time I hit F5. On my reasonably fast laptop i7 + SSD it takes Marten between 5-6 seconds to store a single document. I profiled the code a bit and it looks like most of that time is spent in Roslyn. Is there anything that can be done to optimize this path?
Code: h

[2016-04-14 10:45] jeremydmiller commented on #289
@pawelpabich It's a known problem with the first usage of Roslyn. I'm still hoping that the Roslyn team gets the warmup time down. Otherwise, you can try this too: http://jasperfx.github.io/marten/documentation/precompiling/

[2016-04-14 13:04] pawelpabich commented on #289
Yeah, that would be great. 5-6 sec delay gets annoying quickly when you try to prototype something quickly.  Do you know whether Microsoft is actively working on this problem ? I couldn't find anything specific in Rosly repo on Github.

[2016-04-14 13:04] #289 closed

[2016-04-14 13:05] jeremydmiller commented on #270
Closed by https://github.com/JasperFx/marten/pull/287

[2016-04-14 13:05] #270 closed

[2016-04-14 13:08] jeremydmiller opened #290 "Fetch an Event by Id with metadata"
Something like:

[code]

Need to test:
- [x] Not knowing the event type upfront, sync
- [x] Not knowing the event type upfront, async
- [x] Not knowing the event type upfront, batch
- [x] Not knowing, miss
- [x] Knowing the event type upfront, sync
- [x] Knowing the event type upfront, async
- [x] Knowing, miss

[2016-04-14 13:09] jeremydmiller opened #291 "Fetch stream should return Event wrapper objects"
So you get the version, the id, and potentially header information

[2016-04-14 13:14] jeremydmiller commented on #289
@pawelpabich I don't know. I've bugged them about it, but that was 6 mos ago. We're paying a bit of a cost for going to the bleeding edge -- but it's just so much easier to code than building Expression trees.

[2016-04-14 14:39] nieve commented on #282
It's not the first nor the last api to have this issue. Personally I'm a fan of methods taking in params- maybe it's just a case where the exception message should be a lot more explicit?

[2016-04-14 14:46] jeremydmiller opened #292 "Add Xml API documentation to IDocumentSchema and AdvancedOptions"

[2016-04-14 14:47] jeremydmiller opened #293 "Add some documentation for the IDocumentStore.Advanced functionality"

[2016-04-14 15:24] jefjef opened #294 "Timeout while getting a connection from pool when using isoneof in asp.net API"
When calling a query with marten that uses **IsOneOf** in a web api call the connection never gets closed, and when the 21's call (with a pool size of 20)  happens an error gets thrown: Timeout while getting a connection from pool.

![devenv_2016-04-14_17-22-22](https://cloud.githubusercontent.com/assets/254635/14533467/7dadc448-0265-11e6-9a86-5798862647a2.png)

When i look in at the server status

[2016-04-14 15:27] jeremydmiller commented on #294
@jefjef Are you disposing the sessions after your done with them? When we went to the "sticky connection" thing, you now have to dispose the `IQuerySession` or `IDocumentSession`.

[2016-04-14 19:34] jeremydmiller commented on #280
Did a lot of it today, still much more to go.

[2016-04-15 05:30] pawelpabich opened #296 "Possibly excessive locking in the upsert function"
I continue my journey with Marten and the most recent part of it is a simulation of 1000 concurrent users inserting 1 document each. The first run on an empty database works OK but then all subsequent runs end up sooner or later with TimeoutException and  "Timeout while getting a connection from pool". This problem goes away when I remove`LOCK TABLE {TableName} IN SHARE ROW EXCLUSIVE MODE;` from t

[2016-04-15 06:33] jefjef commented on #294
we use sessions in a using statement, that should be enough right?

[2016-04-15 10:55] jeremydmiller commented on #296
Are you on Postgres 9.5 by chance? If you are, can you switch the UpsertStyle = "Standard" to take advantage of the built in upsert support and see how that's different.

@jeffdoolittle  What do you think about this one?

[2016-04-15 10:59] jeremydmiller commented on #294
@jefjef From glancing at your code, yes. I'll take a look at this this afternoon and see if I can reproduce what you're seeing. I don't really have any explanation yet.

[2016-04-15 12:30] pawelpabich commented on #296
@jeremydmiller yes I'm. I changed the option to Standard and I'm not getting timeouts. Thanks!

[2016-04-15 12:34] pawelpabich commented on #253
I agree that **not** using C# code is the way to go. In my tiny PoC I simply used the Command class and raw SQL. Would that work ? https://github.com/pawelpabich/random-marten-hacks/blob/35e8643547df1d16a69bda70834e092884e81f36/MartenPlayground/MigrateToDocumentV2.cs.

[2016-04-15 12:35] jeremydmiller commented on #296
@pawelpabich I'm gonna keep this one open to make sure we do a little more research on 9.4 mode;)

[2016-04-15 12:37] #285 closed

[2016-04-15 12:41] jeremydmiller commented on #294
@jefjef Hey, if you're using Postgresql 9.5, can you try again w/ `UpsertStyle = UpsertStyle.Standard` to opt into the more efficient upsert mechanism? Another user is telling me today that he saw connection timeouts in stress testing that go away when you opt into the 9.5 style.

[2016-04-15 12:46] nieve commented on #294
@jeremydmiller His issue is due to queries rather than upserts.

[2016-04-15 12:48] jefjef commented on #294
Yes, its only when i use a query that uses IsOneOf, session.Load and session.Store work fine

[2016-04-15 12:57] jeremydmiller commented on #294
Yeah, but I didn't know if it was because connections were getting soaked up in the SaveChanges() with requests running in parallel

[2016-04-15 13:27] nieve commented on #294
I can reproduce by running @jefjef code locally.

[2016-04-15 13:34] jeremydmiller commented on #294
Does it really go away if you replace IsOneOf() with maybe a (prop == 1 || prop == 2) kind of query? Just trying to see if it's really isolated to that one Linq handler

[2016-04-15 13:36] nieve commented on #294
Nope, it has nothing to do with IsOneOf.

[2016-04-15 13:36] nieve commented on #294
trying to get a test for it

[2016-04-15 13:40] nieve commented on #294
The following test fail (but passes when there's only one task running):
[code]

[2016-04-15 13:45] jeremydmiller commented on #294
Are you hitting the exact same session every time?

[2016-04-15 13:53] nieve commented on #294
Nice one!
I got a proper failing test:
[code]

And it passes with 19 tasks!

[2016-04-15 13:55] jeremydmiller commented on #294
20 is the default # of connections for Npgsql. Wanna jack that up to 50 and see if it breaks?

You aren't disposing the session, is that purposeful?

[2016-04-15 13:56] nieve commented on #294
Disposing them in the finally clause. will give 50 a go.

[2016-04-15 14:11] nieve commented on #294
Yup, 50 works like a charm and fails, as expected, when I up it to 50 sessions :smile:

[2016-04-15 14:20] jeremydmiller commented on #294
Any difference w/ the Dispose()?

[2016-04-15 14:21] jeremydmiller commented on #294
We *could* be more aggressive in shutting down the connection. Say if we were to immediately shut down the open connection right after SaveChanges() is called, then lazily open another connection if you need it later.

[2016-04-15 14:30] nieve commented on #294
Ok, so this is passing (as you suggested)
[code]

Is this something we will have to roll inside marten or rather set as a best practice? Inside marten I suppose isn't really an option.

[2016-04-15 14:39] nieve commented on #294
You mean disposing of IManagedConnection inside the session straight after executing any CRUD command/query, right?

[2016-04-15 14:46] jeremydmiller commented on #294
Yes, or at least having `IManagedConnection` reset itself so it's not hanging on to the connection any longer.

[2016-04-15 14:47] jeremydmiller commented on #294
I think it's a best practice, period. The docs to call that out.

[2016-04-15 14:57] jefjef commented on #294
I don't really understand this, we use a using statement with our sessions, so shouldn't the connection be released and added back to the pool when the using statement ends?

[2016-04-15 16:19] jeremydmiller commented on #294
@jefjef And that makes two of us. The connection *is* disposed when the `IQuerySession` or `IDocumentSession` is disposed, but we're not explicitly closing it. I didn't think that mattered, but I've been wrong before.

[2016-04-15 16:20] jeremydmiller opened #298 "Aggressively close and reset the ManagedConnection after IDocumentSession.SaveChanges() or SaveChangesAsync() is called"
More aggressive and quicker release of the connection. Minor performance hit if you're going to use a document session *after* you do a `SaveChanges()`

[2016-04-15 16:22] jeremydmiller opened #299 "Make UpsertStyle = Standard the new default"
In reference to #296

[2016-04-15 20:05] nieve commented on #294
Ok, I think I missed the whole thing. This is the real failing test:
[code]
since @jefjef was not calling ToList() after the Where() the sessions were all called roughly on the same time rather than query being executed and then session disposed.
This fixes it:
[code]

[2016-04-15 20:06] nieve commented on #298
Don't think this is a real issue. Feel free to close this.

[2016-04-15 20:13] jeremydmiller opened #300 "Throw ObjectDisposedException on IManagedConnection if accessing one that's disposed"
Little tipoff that users are doing something wrong. See #294

[2016-04-15 20:26] jefjef commented on #294
Nice, that fixed it :smile:

[2016-04-15 22:39] jeremydmiller commented on #294
I'm going to go ahead and close this one. Thanks @nieve for running through this one.

[2016-04-15 22:39] #294 closed

[2016-04-15 22:39] #298 closed

[2016-04-15 22:44] jefjef commented on #294
Yes, thanks guys :smiley:

[2016-04-16 14:44] jeremydmiller opened #301 "Support Select(x => x.Json()) select projections for fetching raw JSON"
Already done, but adding this for easier bookkeeping;)

[2016-04-16 14:45] jeremydmiller opened #302 "Be able to fetch raw JSON for Select() transformations"
Follow on to #301

[2016-04-16 15:04] phillip-haydon opened #303 "Changes to mapping don't update the functions"
When adding a new searchable field, the database is updated with the new fields or foreign keys correctly, but the function is not replaced with the new version.

[2016-04-16 15:38] #301 closed

[2016-04-17 09:38] nieve commented on #300
This is already supported by Npgsql. The following test passes:
[code]

The message is: "Cannot access a disposed object. Object name: 'NpgsqlConnection'." This means we don't even need a test for it.

[2016-04-17 10:37] phillip-haydon opened #306 "Searchable to move pgType to configuration and add Drop"
Right now in order to specify the definition options we need to specify the pgType:

`.Searchable(x => x.MemberId, null, definition => { definition.IsConcurrent = true; })`

Which means passing in null just to get to the definition config.

Change this to be:

[code]

Secondly add the ability to specify that the index should be dropped before being created:

[code]

[2016-04-17 10:38] tim-cools commented on #278
I added some info about document id's and added a bit to the db schema name.

[2016-04-17 11:17] nieve commented on #278
I'm gonna look into the compiled queries, unless anyone else is keen on doing it..?

[2016-04-17 12:02] jeremydmiller commented on #278
@nieve Hold off just a little bit on compiled queries until I'm done w/ #280 maybe. That looks like it could be in later today or tomorrow.

[2016-04-17 12:06] jeremydmiller commented on #300
Closing this on then. Thanks @nieve

[2016-04-17 12:06] #300 closed

[2016-04-17 19:18] #280 closed

[2016-04-17 21:06] jeremydmiller commented on #291
Closed by https://github.com/JasperFx/marten/pull/304

[2016-04-17 21:06] #291 closed

[2016-04-18 00:49] #265 closed

[2016-04-18 11:03] #264 closed

[2016-04-18 12:11] #282 closed

[2016-04-18 12:30] jeremydmiller opened #307 "Add diagnostic ability to fetch the command and explain plan for a compiled query"

[2016-04-18 12:58] nieve commented on #283
Am on it.

[2016-04-18 12:59] jeremydmiller commented on #283
@nieve I'm gonna get cocky and say that this is going to be fixed w/ #280 and we just need a test to prove it, but I've been wrong before:)

[2016-04-18 13:06] nieve commented on #283
Too cocky.

[2016-04-18 13:13] jeremydmiller commented on #283
Ugh. Look at `AggregateQueryHandler` now.

[2016-04-18 13:15] jeremydmiller commented on #293
Most of it is things that you would rarely use. Just document the option to precompile all the document storage upfront

[2016-04-18 13:17] #292 closed

[2016-04-18 13:17] #307 closed

[2016-04-18 14:11] jeremydmiller commented on #278
I'm going to take the compiled queries now

[2016-04-18 14:52] jeremydmiller opened #309 "Add Include() support to compiled queries"
Just what it says, make sure you can include related documents as part of a compiled query. My initial thought is to make an additional interface that you would use to express includes like:

[code]

I think that we would calculate the includes upfront to build out the SQL query, then on each execution, we would execute the Include again, build out the `IIncludeJoin` objects that point to the curr

[2016-04-18 19:39] jeremydmiller commented on #283
This was addressed by https://github.com/JasperFx/marten/pull/310

[2016-04-18 19:40] #293 closed

[2016-04-18 19:47] nieve commented on #283
We haven't addressed the case where we do Average, Min or Max on an empty table. In EF they raise an InvalidOperationException. We currently throw an InvalidCastException : column is null. Are you happy with it?

[2016-04-18 19:47] jeremydmiller commented on #84
@tim-cools How bad would it be if I solved this by forcing ST to do all conversions with a given culture? Something like st.exe open [folder] --culture en-US ?

[2016-04-18 19:48] jeremydmiller commented on #283
Shoot, I misunderstood. I can take that one tomorrow morning.

[2016-04-18 19:53] nieve commented on #283
I can sort it- what should we do with it though? I think InvalidCastException is good enough.

[2016-04-18 21:06] jeremydmiller commented on #283
I say we make it do exactly what EF does.

[2016-04-19 06:52] tim-cools commented on #84
@jeremydmiller sounds good to me!
Initially I was thinking about an application setting, but this makes more sense in the case of ST...

[2016-04-19 07:24] mdissel commented on #35
Using Etag is complexer, but when implemented as in RavenDb (global incrementing Etags) could help in other area's of your application like (http) caching, syncing, etc.

[2016-04-19 12:35] #283 closed

[2016-04-19 13:16] nieve opened #312 "Support for Json() in compiled query"
This fails:
[code]

[2016-04-19 13:16] nieve commented on #312
looking into it.

[2016-04-19 13:36] jeremydmiller commented on #312
Check `SelectorParser` and have it look for `Json()` too.

[2016-04-19 14:30] jeremydmiller opened #313 "Remove custom QueryableExtensions for Json fetching"
Go to using the AsJson() extension instead. Most of the work here is going to be in updating the doc samples, I think.

[2016-04-19 18:55] nieve commented on #312
Arrrrgghhh Remotion doesn't support `Json()`, it accepts only linq methods. Awesome.

[2016-04-21 15:14] jeremydmiller opened #315 "Fetch a live aggregation from a stream via .Net aggregator"

[2016-04-21 15:50] jeremydmiller opened #316 "Fetch event stream should return EventStream w/ all of its events"

[2016-04-21 15:51] jeremydmiller opened #317 "FetchStreamState() should return EventStream, but with no events"
Maybe have a virtual proxy for the events?

[2016-04-21 16:15] Nevett opened #318 "Support overriding Command Timeouts for a DocumentSession"
For when you have some query/report that is expected to take a long time, and you don't want to raise the default timeout for the entire connection

Something like:

[code]
for example.

[2016-04-21 16:21] jeremydmiller opened #319 "Have a synchronous version of BatchQuery"
I know, lots of you are saying "boo!", but there's a few spots where it would be useful internally. I'm thinking that it would just be `IBatchQuery.ExecuteSynchronously()` and everything else would be the same. You'd still get Task's, but you'd be able to use .Result after calling that method.

[2016-04-21 21:47] jeremydmiller commented on #315
Need to do it async too.

[2016-04-21 23:33] jeremydmiller opened #320 "Projections Phase #1: Live and Inline .Net Projections"
Not sure if this is going to make it to v0.9, but maybe.

## Live aggregation of a single stream
- [x] Synchronously
- [x] Synchronously at a given version
- [x] Synchronously at a given timestamp
- [x] Asynchronously
- [x] Asynchronously at a given version
- [x] Asynchronously at a given timestamp
- [x] Inside of BatchQuery
- [x] Inside of BatchQuery at a given version
- [x] Inside of BatchQuery

[2016-04-21 23:34] jeremydmiller commented on #315
Subsumed by https://github.com/JasperFx/marten/issues/320

[2016-04-21 23:34] #315 closed

[2016-04-21 23:34] jeremydmiller commented on #317
Duplicate with #316

[2016-04-21 23:35] #317 closed

[2016-04-21 23:38] jeremydmiller opened #321 "Projections Phase #2: Live and Inline Javascript Projections"
Not sure if this is going to make it to v0.9, but maybe.

## Live aggregation of a single stream
- [ ] Synchronously
- [ ] Synchronously at a given version
- [ ] Synchronously at a given timestamp
- [ ] Asynchronously
- [ ] Asynchronously at a given version
- [ ] Asynchronously at a given timestamp
- [ ] Inside of BatchQuery
- [ ] Inside of BatchQuery at a given version
- [ ] Inside of BatchQuery

[2016-04-21 23:38] jeremydmiller commented on #83
Replaced by #321

[2016-04-21 23:38] #83 closed

[2016-04-21 23:38] jeremydmiller commented on #80
Subsumed by #321

[2016-04-21 23:38] #80 closed

[2016-04-21 23:39] jeremydmiller commented on #78
Subsumed by #321

[2016-04-21 23:39] #78 closed

[2016-04-21 23:39] jeremydmiller commented on #79
Subsumed by #321

[2016-04-21 23:39] #79 closed

[2016-04-22 12:48] jeremydmiller commented on #313
This was closed by #314

[2016-04-22 12:48] #313 closed

[2016-04-22 13:49] jeremydmiller commented on #31
This is being subsumed by #320 and #321 for now.

[2016-04-22 13:49] #31 closed

[2016-04-22 14:50] jeremydmiller opened #322 "Asynchronous version of fetching stream events"

[2016-04-22 15:08] jeremydmiller commented on #316
I'm going to say no. You can get all the information you need w/ the last version & the timestamps on `IEvent`

[2016-04-22 15:08] #316 closed

[2016-04-22 18:00] #322 closed

[2016-04-24 00:52] kbrekke commented on #303
Neither is a new index created, when the table already exists, and a new searchable field is mapped.

[2016-04-25 13:50] #320 closed

[2016-04-25 14:57] jeremydmiller commented on #290
Closed by https://github.com/JasperFx/marten/commit/ff4e3536896601fe52aae8d35b547e2fbfa5a5c7

[2016-04-25 14:57] #290 closed

[2016-04-25 15:02] jeremydmiller commented on #241
This *is* possible by using Query<T> and then querying off of the Id field, just not through the Load/LoadMany. I'm thinking that we delete this issue. What say you?

[2016-04-25 16:38] #241 closed

[2016-04-25 16:39] jeremydmiller opened #324 "Need a convenience method for finding committed events in the AfterCommit hook"
Just to make things more discoverable

[2016-04-25 17:22] phillip-haydon opened #325 "Compiled queries don't honor new values"
Note: I'm on holiday in so dont have the project setup on my laptop to write tests or anything.

------

Ok so I just worked out, given the following query:

[code]

Then executed like so:

`var login = session.Query(new LoginByIdentifierQuery {Identifier = identifier});`

Even tho a new value is passed into the query, the executed query is always the first compiled query.

i.e if I pass in:

6a75

[2016-04-25 18:50] #312 closed

[2016-04-25 23:19] jvdvleuten opened #327 "Reusing the Event Store always resets the Event Store"
There is a mismatch in the table names used in the mt_stream.sql and the TableName in EventGraph.

Reusing the EventStore with `_.AutoCreateSchemaObjects = AutoCreate.None;` should pass.

[2016-04-26 08:57] jvdvleuten commented on #327
@jeremydmiller I am not sure if the test is good enough. It looked scary the everything was getting deleted when it wasn't supposed to. Maybe have a better test to check if the `TableExist` function is actually using the right `TableName`?

[2016-04-26 12:51] jeremydmiller commented on #327
@jvdvleuten That's about what I would have done to test that. I'll take a closer look in awhile, but yep, I'll test the TableExists()

[2016-04-26 13:07] jeremydmiller opened #329 "Add last timestamp changed to StreamState"

[2016-04-26 13:18] jeremydmiller opened #330 "Add FetchStream and FetchStreamState to batch query mechanism"
Easy money, but also update code samples in the docs too.

[2016-04-26 18:25] jarroda commented on #324
Are committed events always on the `Updated` collection of the committed `ChangeSet` (and never `Inserted`)?

![Example](http://i.imgur.com/tz5AGeb.png)
Here I have committed a single new event to the event stream.  The stream was new as well.

[2016-04-26 19:41] nieve commented on #325
This passes on most recent master:
[code]

[2016-04-26 19:49] tim-cools commented on #325
Maybe he meant:

            var query = new UserById { Id = _user1.Id };
            var user = theSession.Query(query);
            user.ShouldNotBeNull();

            query.Id = _user5.Id;
            var otherUser = theSession.Query(query);
            user.ShouldNotBeSameAs(otherUser);
            user.ShouldNotBeTheSameAs(otherUser);
            user.ShouldNotBe(otherUser);

I haven't teste

[2016-04-26 19:54] nieve commented on #325
That passes too:
[code]

[2016-04-26 19:58] tim-cools commented on #325
Nice, then I don't have a clue...

[2016-04-26 20:04] nieve commented on #325
Same here. Thanks for trying though.

[2016-04-26 20:35] jarroda commented on #324
Thoughts on PR above? Is `IDocumentSession` the best place for this?

[2016-04-26 21:24] jeremydmiller commented on #327
This was addressed by #328

[2016-04-26 21:24] #327 closed

[2016-04-27 02:08] phillip-haydon commented on #325
I think it's to do with the Guid. I have a couple of queries which use int and there are no problems with them.

[2016-04-27 12:35] #330 closed

[2016-04-27 12:50] #329 closed

[2016-04-27 13:05] #319 closed

[2016-04-27 18:49] #302 closed

[2016-04-27 19:24] nieve commented on #325
Yeah, I did use Guids in this test...

[2016-04-27 19:29] jeremydmiller commented on #156
There is @schotime 's [MartenFS](https://github.com/schotime/MartenFS) project that we could use either as is, or just reverse engineer. From talking to Adam, I don't think it would be too bad to make MartenFS an addon to Marten if we don't want the big object functionality directly in Marten.

My personal preference would be to just make it an OOTB feature so we don't have to spend a lot of energ

[2016-04-28 10:26] jvdvleuten opened #333 "DeleteAllEventData() with different schema name uses wrong schema name"
Should use `_schema.Events.DatabaseSchemaName`.

[2016-04-28 10:33] jvdvleuten opened #335 "Query against event type with different schema name fails"
Created failing test. Do not know how to fix this properly at this moment.

Failing test: 00aa417

[2016-04-28 10:35] jvdvleuten opened #336 "IDocumentCleaner.CompletelyRemoveAll() removes other schemas as well"
If I use 2 Marten projects within the same database, `CompletelyRemoveAll()` will delete all other tables across all schemas as wel.

I don't think this is desirable... Thoughts?

[2016-04-28 11:23] jeremydmiller commented on #333
Addressed by https://github.com/JasperFx/marten/pull/334

[2016-04-28 11:23] #333 closed

[2016-04-28 11:24] jeremydmiller commented on #335
Fixed by https://github.com/JasperFx/marten/commit/d44fdf723c9fa5cf5ae07e48b9e4129e9868d69a

[2016-04-28 11:24] #335 closed

[2016-04-28 11:34] jeremydmiller commented on #324
Addressed by https://github.com/JasperFx/marten/pull/332

[2016-04-28 11:34] #324 closed

[2016-04-28 11:49] jeremydmiller commented on #336
Needs to be fixed post haste, I'm on it now.

[2016-04-28 12:49] phillip-haydon opened #337 "Boolean searchable field procudes different where clauses"
Boolean searchable field produces different where clauses depending on how you construct the lambda:

`var one = session.Query<Photo>().Where(x => x.IsPrivate == false).ToCommand();`

`var two = session.Query<Photo>().Where(x => !x.IsPrivate).ToCommand();`

[2016-04-28 14:23] #336 closed

[2016-04-28 15:16] jeremydmiller opened #338 "Soft Deletes"
If a document type is so marked, treat deletions of that document as a "soft delete."  Maybe have:

[code]

That would force Marten to add an additional column to the storage table for "deleted" and make that false by default. We would then need to intercept deletion requests and do it instead by marking the "deleted" column to true.

The DocumentMapping default query filtering would then need to

[2016-04-28 15:24] CodingGorilla commented on #338
The `.IncludeDelete()` implies that this will return documents that have and _have not_ been soft deleted, right?  So then would there also be  a: `session.Query().OnlyDeleted()`?

[2016-04-28 21:24] #2 closed

[2016-04-29 00:45] jeremydmiller commented on #61
This is so insignificant that I'm closing it.

[2016-04-29 00:45] #61 closed

[2016-04-29 00:47] jeremydmiller commented on #178
I'm agreeing with @mariotoffia and shutting this down. One way to clean up the GH issue backlog;-)

[2016-04-29 00:47] #178 closed

[2016-04-29 01:43] maggiepint opened #339 "Serialization fails on async cache hits for a DirtyTrackedSession identity map"
The following test will fail with an exception

[code]

The exception is as follows:

Test 'Marten.Testing.UnitOfWork_PendingChanges_Functionality_Tests.pending_with_dirty_checks_async' failed: System.AggregateException : One or more errors occurred.
---- System.InvalidCastException : Unable to cast object of type 'Marten.Services.TrackedEntity' to type 'Marten.Testing.Documents.User'.

This appea

[2016-04-29 02:10] maggiepint commented on #339
In case you want to know, the following code works:

[code]

[2016-04-29 07:19] tim-cools commented on #339
@maggiepint thank for the detailed report! will be fixed with the attached PR.

[2016-04-29 11:46] #339 closed

[2016-04-29 12:28] jeremydmiller commented on #7
I'm closing this down at least for now. Newtonsoft doesn't support timespan's out of the box anyway and nobody is asking for the bit or byte types

[2016-04-29 12:28] #7 closed

[2016-04-29 12:30] jeremydmiller commented on #247
I'm getting this now. Doing some housecleaning this morning.

[2016-04-29 12:32] #247 closed

[2016-04-29 13:27] phillip-haydon opened #341 "Chaning upsert type doesn't regen the functions"
If you change between the upsert functions from Legacy to Standard or vice versa, the functions are not checked and re-generated.

[2016-04-29 16:39] nieve commented on #309
Going to give this a go, unless someone else is on  it.

[2016-04-29 16:45] jeremydmiller commented on #309
It'd be very helpful if somebody besides me were familiar with the Include() internals. So, go @nieve !

[2016-04-29 18:25] tim-cools opened #343 "Export of DDL files generate the eventstore objects twice"
I noticed that the Event objects ddl file is exported twice. Once as *mt_streams.sql* and once as *.sql*. I believe once is enough.

I also noticed that there are no tests for the generation of the full ddl file.

[2016-04-29 21:08] headdetect commented on #338
Would it be beneficial to have the deleted column be a DateTime so you can see when it was deleted?
For example, `deleted_at` would be null if not deleted yet, or it would have the time it was deleted at if deleted.

[2016-04-30 12:34] jeremydmiller commented on #338
@headdetect Hadn't thought about that, but yeah, we'll do that.

[2016-04-30 13:33] kiliman commented on #35
You can also use PostreSQL's txid support. txid_current() [1] returns a 64-bit integer that increments with each transaction (so guaranteed not to roll over).

Note: I think you'll want to bring in this value into the identity map, so it can be exposed to the client. Also, it will make a quick optimization. If a user tries to store a document without a matching txid/etag, then you can throw an exc

[2016-05-02 17:41] #243 closed

[2016-05-02 17:41] #303 closed

[2016-05-02 17:41] #341 closed

[2016-05-02 18:25] jeremydmiller commented on #273
Sounds like pg_dump is the way to go here. I'm closing this out.

[2016-05-02 18:25] #273 closed

[2016-05-02 18:27] jeremydmiller commented on #248
This was originally just to have a pre-built stub for our `IDocumentSession`. Honestly, after thinking about this, I'm shutting it down as "will not fix." The things that are easy to stub/mock in Marten are easily done w/ any mocking tool and the things that aren't really appropriate to mock have to be integration tests anyway.

[2016-05-03 15:41] jarroda opened #344 "Build projections from existing data"
When creating a new projection from an existing event stream, it would be nice for marten to automatically build the projections documents for existing events.

[2016-05-06 13:50] jeremydmiller opened #347 "Optimize the event capture by changing mt_append_events to accept arrays"
Gonna make it do fewer reads and writes this way. Should optimize the projections work that's coming up too. The work is already done, but I want this issue just for the release notes

[2016-05-07 00:14] superlogical opened #348 "The default isolation level is set to IsolationLevel.ReadUncommitted on IDocumentSession. Should we make that ReadCommited?"

[2016-05-09 06:46] meixger opened #350 "BulkInsert hangs on specific data and never returns"
I have found specific data in my bulk insert witch reproducibly hangs on DataStore.BulkInsert()

This bug seems to bubble up from https://github.com/npgsql/npgsql/issues/816 which was resolved in  `npgsql >= 3.0.4`

My workaround is to simply `Update-Package Npgsql -Version 3.0.4`

[2016-05-09 14:18] jeremydmiller commented on #309
Fixed by https://github.com/JasperFx/marten/pull/349

[2016-05-09 14:18] #309 closed

[2016-05-09 14:20] jeremydmiller commented on #350
@meixger Thanks for the heads up. I'm updating things right now.

[2016-05-09 14:39] #350 closed

[2016-05-09 14:42] jeremydmiller commented on #299
This was already done, but the Xml API comments weren't updated

[2016-05-09 14:42] jeremydmiller commented on #299
Closed by https://github.com/JasperFx/marten/commit/f66afa57bd8d930ccdec8a998eea11b98d39486b

[2016-05-09 14:42] #299 closed

[2016-05-09 14:51] #347 closed

[2016-05-09 14:54] jeremydmiller commented on #343
@tim-cools I'm looking at this now.

[2016-05-09 15:08] #343 closed

[2016-05-09 15:17] jeremydmiller commented on #337
I'm looking into this one finally.

[2016-05-09 15:26] jeremydmiller commented on #337
@phillip-haydon I think you might have been back on an older build when you reported this. I found some unnecessary casting, but somebody beat me to the real fix. Got tests on this regardless.

[2016-05-09 16:49] #348 closed

[2016-05-09 19:13] #278 closed

[2016-05-09 19:34] nieve commented on #268
I believe this is not as important a feature as I thought it would be.
This can be achieved with something like:
`var user = theSession.Query<User>().Where(x => x.Address.Number == number && x.Address.Street == street && x.Address.City == city).Single();`
Don't think this will be frequently needed.
@mdissel - what do you think? Would you still like to see this feature in?

[2016-05-09 19:51] jeremydmiller commented on #268
@nieve I finally read this closely enough, I say to shut this down. We'd never be able to "know" how to do the equality checks here against non-simple types.

[2016-05-09 19:53] #268 closed

[2016-05-10 10:57] jeremydmiller commented on #180
Throwing this link in here: http://stackoverflow.com/questions/30500560/import-and-overwrite-duplicate-rows.

@jenspettersson @jamesfarrer Do we want to throw away the duplicates, or overwrite? I suppose that it could be done with a mode like "Fast" / "IgnoreDuplicates" / "Overwrite"

[2016-05-10 11:02] jenspettersson commented on #180
It might be my severe "man cold" that's making me numb, but what's the difference between "throwing away" and "Overwrite" a duplicate?

Do you mean: First delete the duplicate and then insert a new instead of just overwriting it? I don't see a need for that, but then again, I think I'm missing something...

[2016-05-10 11:35] jeremydmiller commented on #180
Ignore duplicate values altogether vs. last one in wins

[2016-05-10 11:52] jenspettersson commented on #180
Ah you mean if there's a duplicate within the new batch that are to be bulk inserted. Yeah that also need to be handled. In all my cases I have logic that handles duplicates within current batch before doing a bulk insert so I've never thought about this.

[2016-05-10 11:53] jamesfarrer commented on #180
Yup I think the 3 config options make sense. For overwrite I think an update would be preferable. Deleting could cause potential FK exceptions specified on that document / table.

So for the 3 options..

Fast (Default) = standard copy as used today

IgnoreDuplicates would be

create temporary table import_issues as select * from issues limit 0; (I've cribbed this from that SO post but assume as we

[2016-05-10 12:21] jeremydmiller opened #352 "Add fetching an event stream capability to the batch query"
Easy money. Add `FetchStream()` to `IBatchedEvents`

[2016-05-10 12:47] jeremydmiller opened #353 "Support Stats() within compiled queries"
Hopefully this is going to be rinse and repeat after @nieve 's work on Include() + compiled queries

[2016-05-10 13:13] phillip-haydon commented on #337
![image](https://cloud.githubusercontent.com/assets/895629/15147607/15b076ee-16f4-11e6-860b-fb923bebcff8.png)

[2016-05-10 13:16] phillip-haydon commented on #337
[code]

[code]

[2016-05-10 13:17] phillip-haydon commented on #337
Updated to 0.9.2.0

This is still happening in a new app using the nuget, but passes correctly when done from the master branch.

I believe the build process may not be updating nuget or something.

[2016-05-10 13:41] jeremydmiller commented on #246
And for the obvious step, I think I'm going to be able to switch most of the tests to using the JilSerializer

[2016-05-10 13:46] jeremydmiller opened #354 "JilSerializer Enum Problems"
Jil handles enumerations differently. Gotta think about this one. I like their support better than JSON.Net's.

- [ ] query_with_modulo_Tests.use_modulo fails because of enum support. That could be Marten's enum handling

- [ ] query_with_enums_Tests.use_enum_values. Same as above

[2016-05-10 14:01] jeremydmiller opened #355 "CI build needs to run a matrix of tests"
Boo! Let's just blow the CI time to an extreme.

Run everything w/ Json.Net, then run everything with Jil. Run in 9.4 mode, then run in 9.5 mode.

[2016-05-10 16:17] nieve commented on #353
Will be happy to take this, unless someone else has his eyes on it..?

[2016-05-11 14:54] CodingGorilla commented on #272
I'm working on this issue, while trying to keep up with the on-going development; @jeremydmiller is your vision that this sample project be included in the main solution (Marten.sln), and builds along with everything else?

[2016-05-12 14:24] jeremydmiller commented on #272
@CodingGorilla At least at first, I think we should keep it in the same repo for exactly the reason you said. I've been beaten up for over a decade for not having enough samples in my OSS projects and it'd be nice to not have that issue so much with Marten;) Thanks for doing this.

[2016-05-12 14:59] CoreyKaylor opened #356 "Investigate using "SELECT FOR UPDATE" for modes that do change tracking"
This will help lock the row up front for updates if we already know updates are planned via change tracking. This may or may not be that big of a deal though.

[2016-05-12 18:49] CodingGorilla opened #357 "NotSupportedException thrown with complex query"
The following query throws `NotSupportedExeption` (CollectionAnyContainmentWhereFragment.cs line 102):

[code]

The query _does run_ however if you split the `Any()` call into two different clauses such as:

[code]

It seems as if the `CollectionAnyContainmentWhereFragment.gatherSearch()` doesn't support anything other than `ExpressionType.AndAlso` or `ExpressionType.Equal`.  This seems like a rea

[2016-05-12 20:17] nieve opened #358 "Support compiled query with Include() for lists and dictionaries"
This currently fails:
[code]

[2016-05-12 20:17] nieve commented on #358
Looking into it :)

[2016-05-12 21:47] jeremydmiller commented on #337
@phillip-haydon Is there anywhere in your code where you're setting PropertySearching to PropertySearching.ContainmentOperator by chance?

[2016-05-12 21:51] jeremydmiller commented on #337
Got it!

[code]

That defaults the property searching to ContainmentOperator, and that particular bit of Linq building would get short circuited before you get anywhere near checking for whether or not it's a searchable field:

[code]

[2016-05-12 21:51] jeremydmiller commented on #337
I can fix this quick in the morning now that I know what it is.

[2016-05-13 01:12] phillip-haydon commented on #337
Phew, I'm not insane!

[2016-05-13 07:32] tim-cools opened #359 "Usage of CombGuid"
I did some tests insert/read tests on large tables with the different ID generation algorithms. And I believe the SequentialGuid (former ComGuid) can be used to improve performance of inserts in big tables:

![image](https://cloud.githubusercontent.com/assets/2794618/15240647/626f6d84-18eb-11e6-8fe5-02234700158f.png)

The test does inserts in batches 100000 from a single client, each ID type after

[2016-05-13 13:38] jeremydmiller commented on #359
@tim-cools Everything here sounds good to me. Just as a heads up, I'm doing a lot of work on the id generation today and I'm probably moving things around into its own "Identity" namespace. If there's any nasty merge conflict problem that I cause you here, I'll deal with that.

[2016-05-13 18:52] jeremydmiller opened #360 "Add Metadata Columns"
Add a column for last_modified, etag, and just make the type field mandatory. Doing that cuts out a *lot* of complexity.

As part of this work, test bulk loading documents in hierarchical storage.

Related to #35 and #256

Also do something to make it easy to get at the metadata for a document. After only some admittedly shallow analysis, I think I vote for doing this on IDocumentSession and havin

[2016-05-13 19:21] jeremydmiller opened #361 "Event stream versions need to be available in AfterCommit hooks"

[2016-05-14 08:27] jeffdoolittle opened #362 "Notify/Listen for Documents and Events"
For document insert/update/delete as well as for event source append events, use the postgresql notify/listen feature to allow for notifications. This would allow some interesting scenarios such as listening for event notifications and then publishing to a bus. This could then be expanded to fulfill more reactive style scenarios for pub/sub notifications when documents are created/modified/deleted

[2016-05-15 01:01] superlogical opened #363 "HiLo generation not working"
I've tried specifying that the HiLo generation should start at 1000, but it starts at 1 so I'm not sure what I am doing wrong. I've even specified it in every place I can e.g:

[code]

[2016-05-15 03:28] phillip-haydon commented on #363
MaxLo is max number of IDs that will be generated by the document store without round-tripping to the database.

Given:

 * Lo = 1000 (specified in code)
 * Hi = 0 (value stored in the database)

Then:

 * 0 * 1000 = 0
 * 0 / 0 * 1000 + 1000 = 1000

This will generate Ids from 1 to 1000 before asking the database for the next Hi.

-----

This avoids an application with multiple instances of a stor

[2016-05-15 04:02] superlogical commented on #363
Oh haha, looks like I totally misunderstood how HiLo works!

Thanks for explaining it, will do some more reading.

[2016-05-15 04:02] #363 closed

[2016-05-16 13:42] jeremydmiller commented on #246
Still have work outstanding on the JilSerializer, but the shift to compiling Expression's made a huge difference, so I'm declaring victory.

[2016-05-16 13:43] jeremydmiller commented on #296
We went to the 9.5 style of native upsert functions being the default, and I *think* that's going to solve this problem just fine. I'm closing this.

[2016-05-16 13:43] #296 closed

[2016-05-16 13:52] #94 closed

[2016-05-16 13:52] #246 closed

[2016-05-16 15:48] tim-cools opened #365 "Compiled query with constant fails"
When I try to use a compiled query with a constant it fails with an Index_was_outside_the_bounds_of_the_array error

[code]

PR with test is coming...

[2016-05-16 19:50] #365 closed

[2016-05-16 19:56] jeremydmiller commented on #358
Closed by https://github.com/JasperFx/marten/pull/364

[2016-05-16 19:56] #358 closed

[2016-05-16 20:05] jeremydmiller commented on #360
For the metadata tables, do we want this on every single table? It makes the coding a lot easier if we do, but it will come at *some* kind of performance cost.

- [ ] last_modified -- timestamp of the last write, easy money
- [ ] dotnet_type -- assembly qualified name of the .Net type? There is also the `mt_doc_type` column we use for hierarchical storage, but that relies on a type alias name rath

[2016-05-16 20:10] jeremydmiller commented on #271
This is de facto unnecessary now that the generated IDocumentStorage classes no longer exist.

[2016-05-16 20:10] #271 closed

[2016-05-16 20:10] CoreyKaylor commented on #360
I think all of these are probably necessary to some degree. Even if you're opting into optimistic concurrency to enforce update where clause constraints, it would be useful for them to exist when you haven't opted in.

[2016-05-16 22:18] jeremydmiller commented on #357
@CodingGorilla I honestly think the answer here is going to be to doc it. This would be a fair amount of work for something that I don't think would be that common and has a workaround.

[2016-05-17 12:29] jeremydmiller opened #367 "New tests on DateTime? and DateTimeOffset?"
Not sure how well they work after forcing Marten to use the containment operator for searching on dates

[2016-05-17 12:46] mariotoffia opened #368 "System.InvalidOperationException when used with Odata v4 $select"
Hi,
I have no clue why it throws this exception. I have a super simple demo that fires up a docker container containing postgres and run marten as IQueryable<...> as OData Result.

It works perfectly for filtering etc. but when I try to project i.e. $select it fails with (below exception). Do you know off hand why it is doing that?

The selection was: http://localhost:53233/odata/PlayerInContests?

[2016-05-17 13:14] jeremydmiller commented on #368
@mariotoffia Do you know what's going on in the Select() clause? I think it's just hitting something we didn't anticipate. Is it selecting a constant value in the Select() somehow?

[2016-05-17 15:34] mariotoffia commented on #368
@jeremydmiller I'd guess so. It is based on projection i.e. a sql select where you can obtain one or more properties from an object (or as with entity framework a column) value. I'd guess this is off-topic for marten (but it is a shame, it is a perfect match for odata v4 otherwise :))

Cheers,
 Mario

[2016-05-17 15:38] #60 closed

[2016-05-17 15:38] #337 closed

[2016-05-17 15:38] #354 closed

[2016-05-17 15:54] jeremydmiller commented on #367
We already had coverage. Everything seems to be fine. Nevermind.

[2016-05-17 15:54] #367 closed

[2016-05-17 15:55] jeremydmiller commented on #368
@mariotoffia It's probably something we could fix, but I need to know what oData is trying to do in the Select() transform.

[2016-05-18 00:20] jeremydmiller commented on #139
Done!

[code]

[2016-05-18 00:21] #139 closed

[2016-05-18 01:00] jeremydmiller commented on #256
@maggiepint Hey, I knocked this one out tonight just to start clearing more issues. There's definitely going to be more stuff like this in the future if you're interested.

[2016-05-18 01:00] #256 closed

[2016-05-18 01:54] maggiepint commented on #256
My bad. I've been thinking of that issue and ending up with one thing or
another being more important for, well, quite a while as you can see :-)

On Tue, May 17, 2016 at 8:00 PM, Jeremy D. Miller <notifications@github.com>
wrote:

[2016-05-18 09:55] tim-cools opened #369 "Support for automatically append events from aggregates"
When event sourcing is implemented, the appended events are often stored in a collection in a base Aggregate class.  This is explained in this blog post: https://lostechies.com/jimmybogard/2014/05/13/a-better-domain-events-pattern/

Example: https://github.com/yreynhout/AggregateSource/blob/master/src/Core/AggregateSource.Content.ExplicitRouting/AggregateRootEntity.cs

This enables that the events

[2016-05-18 12:20] tim-cools commented on #362
This would be great for updating user interfaces real-time based on read models! And it also can be used to be used implement a catch-up subscription..

I tend to lean to an opt-in approach for this to avoid overhead, but I'm not really aware of the cost of using pg_notify. It might be not worth it.

Possible config:

[code]

For the client side I was thinking of something like this:

[code]

But

[2016-05-18 12:51] jeremydmiller commented on #369
I'm familiar with this pattern, and even used it on a project years ago using Raven. I'm not sure I'd say that this is a 1.0 requirement though.

We can handle fetching the aggregate inside of `DocumentSession` before it does the commit, and have that vary according to the aggregate type. We might wanna consider using the forthcoming partial updates in #18 to append events to the aggregate at capt

[2016-05-18 12:54] jeremydmiller opened #370 "DocumentMapping is a blob"
Look at peeling out responsibilities into other places.

[2016-05-18 13:48] CodingGorilla commented on #357
Understood and agreed.  At least there's a record of the potential problem and fix in case others run into it.

[2016-05-18 13:48] #357 closed

[2016-05-18 15:03] jeremydmiller commented on #360
The versioning is naive right now, jsut a new Guid on every insert

[2016-05-18 15:08] #360 closed

[2016-05-18 15:15] jeremydmiller commented on #272
Closed by https://github.com/JasperFx/marten/pull/371. Thanks @CodingGorilla !

[2016-05-18 15:15] #272 closed

[2016-05-18 16:45] jeffdoolittle commented on #362
My consideration of pg_notify is related to trying to avoid publishing phantom messages/events or experiencing dropped notifications. If you put the notifications into Marten itself, you're going to have the possibility of either one or the other of these two nefarious scenarios:

1) you publish before you persist, and the persist fails, leading to a phantom notification
2) you persist before you

[2016-05-18 18:30] jeremydmiller commented on #362
@jeffdoolittle @tim-cools My thought with the event store is to only really use pg_notify as a ["Claim Check"](http://www.enterpriseintegrationpatterns.com/patterns/messaging/StoreInLibrary.html) that some kind of data is available, but really depend on the rolling buffer table as a de facto queueing mechanism.

In this case, the rolling buffer table is the real thing, and pg_notify would just be

[2016-05-18 21:04] jeffdoolittle commented on #362
so basically, subscribe and tell me if if something has changed, but in case I miss anything, I can still ask for anything after a specific version/sequence number?

[2016-05-18 21:14] jeremydmiller commented on #362
You'd subscribe through a queueing mechanism maybe, but yeah.

What kinds of things are you wanting to do? This is specifically to subscribe for notifications outside of the original TX, right?

[2016-05-19 06:51] tim-cools commented on #362
I was thinking to push updates of my view models by listening to marten and then publishing them through web-sockets to the web client . If you could subscribe to this you don't need an external bus to send these messages. This can be useful in case you have multiple web-servers, with only one server you can send these updates from the software itself

I had only visualization in mind. And not int

[2016-05-19 15:02] #370 closed

[2016-05-19 19:27] jeremydmiller opened #372 "Introduce IDocumentSchema.QueryableDocumentFor<T>()"
Or something similar so you can get straight to IQueryableDocument instead of bouncing from DocumentMapping to IQueryableDocument over and over again.

Purely refactoring.

[2016-05-19 21:42] jeffdoolittle commented on #362
I'm thinking about client updates in near-real-time like firebase and meteor

[2016-05-20 01:10] jeremydmiller commented on #180
I'm doing this one right now, might be ready tomorrow. Basically doing what @jamesfarrer suggested.

[2016-05-20 15:13] jvdvleuten commented on #362
Should this really be implemented in Marten? You can already opt in to it like this right?

[code]

The IEventBus can be anything you want right?

The only thing missing right now, is that the `IEvent` version does not get properly updated after the insert and a global version/sequence number is missing.

In your services you could query of the Event store yourself, based on version numbers and ca

[2016-05-20 15:25] jvdvleuten commented on #369
@tim-cools shouldn't it be better to use a CommandHandler and (and maybe even decorate it) to handle this sort of stuff?

[code]

The User is implemented like this:

[code]

The `IDomainRepository` (or call it a `AggregateRootRepository` if you want) will handle saving of the events raised by the Aggregate.

[code]

You can decorate the `CommandHandler` to handle transactions, and after a transact

[2016-05-20 15:44] #180 closed

[2016-05-20 16:06] jeremydmiller commented on #35
My thought right now is to start this by using the sequential guid's that @tim-cools built into Marten. We already have the version column, just nothing that does the concurrency check. That should satisfy when @kiliman is talking about for finding newer things.

For the concurrency exception, I want to batch up all possible errors into one exception, so no throwing exceptions in the upsert functi

[2016-05-20 16:10] jvdvleuten commented on #35
For the Event store, it would look something like this?

`void Append(Guid stream, int exptectedCurrentVersion, params object[] events);`

Right now, I am using `StartStream` to both start *and* append an aggregate with events... Maybe cheating somewhat there ;)

[2016-05-20 16:19] jeremydmiller commented on #35
"Right now, I am using StartStream to both start and append an aggregate with events..." -- we've talked a little bit about eliminating the distinction. It's a minor performance optimization for new streams because you'd know where the version was and know that aggregates built in line can be fetched by just new'ing up one.

For the event store, we could do that. Might not be that bad to pull off.

[2016-05-20 16:22] tim-cools commented on #369
That is similar to what I do now. I use a base class for my command handlers (https://github.com/tim-cools/RealTimeWeb.NET/blob/0c0713a3db8f792bee5546a724f63d9e1dbe5005/src/Soloco.RealTimeWeb.Common/Messages/CommandHandler.cs#L20) and my command handlers update the data (https://github.com/tim-cools/RealTimeWeb.NET/blob/master/src/Soloco.RealTimeWeb.Membership/RefreshTokens/Handlers/CreateRefreshT

[2016-05-20 16:22] #369 closed

[2016-05-20 19:03] jeremydmiller opened #375 "Periodic failure in LoadDocumentAsync()"
See this, only seems to happen when running the tests from the CLI, but happens often enough to be a pain:

[code]

[2016-05-20 19:24] jeremydmiller opened #376 "Creating a db patch for the new metadata columns does not work today"
After https://github.com/JasperFx/marten/issues/360, the patching isn't quite right.

This code in TableDiff needs to change:

[code]

[2016-05-20 21:11] bojanv91 commented on #369
This is how I do it for dispatching the domain events which are stored in-memory of my entities with Marten:

[code]

[2016-05-21 12:13] jeremydmiller opened #378 "DeleteWhere with hierarchical storage"
Looking at the code for this while researching something else, I think that the DeleteWhere() against a type that is a subclass needs to apply the default filter of the document mapping.

Going to say this is probably a subtle bug that nobody has hit or noticed yet.

[2016-05-21 14:07] jeremydmiller commented on #376
Closed by https://github.com/JasperFx/marten/commit/203756207ae9ab9b2ae033ff2f2a1665cf97662a

[2016-05-21 14:07] #376 closed

[2016-05-21 16:39] baronfel opened #379 "Consider publishing symbols to aid debugging"
When you package with paket pack, you can add the ['symbols' parameter](https://fsprojects.github.io/Paket/paket-pack.html#Symbol-Packages) to enable step-into debugging for users of Marten.  When this is added, paket pack will make a Marten.XXXX.nupkg and a Marten.XXXX.Symbols.nupkg, which should both be published to nuget/myget/etc.  Then, users with a symbol feed configured can easily step into

[2016-05-22 10:55] nieve commented on #378
Will have a look into it later on today.

[2016-05-22 13:09] nieve commented on #353
Created a new PR from a different branch. All tests should be successful.

[2016-05-22 13:13] #353 closed

[2016-05-22 13:14] jvdvleuten opened #381 "Introduce a global sequence number in the event store"
We currently only support a version number per aggregate, but for catch-up subscriptions, it might be easier to have a (non-duplicate) global sequence number.

I do not want to use a a timestamp as that can be a duplicate.

We could use the `bigserial` type (64-bit) or `serial` (32-bit), but this can cause a 'hole' in the sequence numbers, being described here:

What are some other thoughts about

[2016-05-22 20:05] jeremydmiller commented on #338
Tasking for this -- but this is only a preliminary guess jotted down just to give @nieve a head start if he still wants to do it;)

- [ ] `DocumentMapping.DeletionStyle = Remove/SoftDelete`
- [ ] `StoreOptions.Schema.For<T>().SoftDeletes()
- [ ] `[SoftDelete]` attribute as an alternative
- [ ] If soft deleted, DocumentMapping needs to add a "deleted" field
- [ ] DocumentMapping.FilterDocuments() w

[2016-05-22 20:20] nieve commented on #338
Great stuff, will get cracking :smile:
One thing though- the "deleted" field, shouldn't it be deleted_at (nullable DateTime, null by default) as mentioned above?

[2016-05-22 21:29] jeremydmiller commented on #338
@nieve I was thinking two fields, but yeah, deleted_at as a nullable field is probably easier. Another thing I've kicked around on paper is creating a new concept of an `IDeleter<T>` that only governs creating the SQL for doing both the delete by Id and delete by where clause. I'm seeing 4 permutations of it:

1. Normal removals
1. Soft deletes
1. Subclass normal removals
1. Hierarchical soft dele

[2016-05-22 21:56] jeremydmiller commented on #18
To make this quite a bit more concrete because it's on our "necessary for 1.0" roadmap. I did some research on the Postgresql JSON operators today, and I don't think that the new concatenation operator in 9.5 is going to be adequate for anything from very, very simple operations. `jsonb_set` **might** be useful for updating just one property/field at a time.

My thought is to say that partial docu

[2016-05-23 02:53] phillip-haydon commented on #18
I might be one of few people who actually don't like the patching API in RavenDB. I find the C# API so complicated I always end up going into the web console to try patch documents which still results in trial and error.

The hard coded API is what I want, however it's missing a couple of other use cases that I believe are important.

[code]

These are strings because they probably should no longe

[2016-05-23 10:48] jenspettersson opened #382 "BulkInsert with overwrite existing only stores last batch"
I'm testing #180 and found that the bulk insert with mode `BulkInsertMode.OverwriteExisting` only stores the last batch (if number of docus are greater than the batch size).

[code]

It's the line: `conn.CreateCommand().Sql("truncate table " + _tempTableName).ExecuteNonQuery();` in https://github.com/JasperFx/marten/blob/master/src/Marten/Schema/BulkLoading/BulkLoader.cs#L69 that gets called for e

[2016-05-23 15:28] #361 closed

[2016-05-23 20:30] awedekind opened #383 "Add Attribute to label a natural key for marten to use"
This would be so we can override the Id/id naming convention

[2016-05-24 14:23] #35 closed

[2016-05-24 15:04] #382 closed

[2016-05-24 15:17] #383 closed

[2016-05-24 15:22] jeremydmiller commented on #183
Doing this now as a precursor to the patching API

[2016-05-24 23:14] jeremydmiller commented on #356
From a Gitter conversation today:

Another option for 4.) above is to add overloads of Load/LoadMany for LoadForUpdate(), and add a new Linq extension for IQuerySession.Query<T>().ForUpdates().Where(expression)that issues the SELECT with FOR UPDATE.
Finest grained locking possible, maybe not the most user discoverable stuff.

Feedback from 2nd Quadrant is leading us to being more fine-grained abou

[2016-05-24 23:15] jeremydmiller opened #384 "*Supplement* duplicated fields with computed index's on the raw json"
From the Gitter room today,

Eliminate the duplicated field storage, but replace that with computed index’s that match the JSON locator. The Searchable() syntax would be exactly the same, but what it does under the hood would be different. Obviously needs some testing, but if this is workable, it makes a lot of internal complexity in Marten go away completely

-- makes the internals simpler and re

[2016-05-25 04:01] jeremydmiller commented on #362
The feedback from 2nd Quadrant was that notify/listen is really only useful to prompt other processes to "wake up." There's absolutely no guaranteed delivery and it doesn't guarantee the order.

For the event store, the current theory is that we'll use sequential Guid's for the event Id, then just use that to "know" where to start catching up in the async daemon. If that works out, it becomes pret