[2016-05-25 04:47] jeffdoolittle commented on #362
sounds very reasonable to me. basically, notify/listen may be nice-to-have but certainly not required nor particularly reliable for anything except "hey, you may want to check for more stuff."

[2016-05-25 07:06] tim-cools commented on #362
Good to know! Sounds valuable feedback!

[2016-05-25 07:27] tim-cools commented on #356
I think this is good stuff! The finer lock looks better than using serializable.
But this should be documented indeed!

[2016-05-25 12:18] jeremydmiller opened #385 "Remove all traces of the rolling buffer table"
2nd Quadrant is recommending that we just rely on sequential guid's and reading the event table directly in the async daemon. @CoreyKaylor, @bobpace, & I did quite a bit of whiteboard work on the async daemon yesterday, and the design concept we were coming up with wouldn't have worked well with the rolling buffer queueing anyway.

[2016-05-25 12:29] jeremydmiller commented on #384
So we can't really remove the duplicated field feature because of the foreign key support (and other folks wanted them for adhoc querying anyway) , but it would still be valuable for us to use computed index's as much as possible instead of duplicated fields. My new plan is to:

1. Have a new method `StoreOptions.Schema.For<T>().Duplicate(x => x.Prop)` that does what `Searchable` does today
1. Hav

[2016-05-25 12:39] tim-cools commented on #385
One concern is that if you appends event from different app servers you should could end up with event in the wrong order due to small timing differences of the app servers. It might be better to generate the sequental guid in the db server in this case.

[2016-05-25 13:08] phillip-haydon opened #386 "Upgrading Marten to version with mt_version column doesn't default the field value"
Upgrading from v0.9.3 to v0.9.5 add's in the new `mt_version` column, but existing data in the table isn't back-populated causing invalid cast exception on null field:

[code]

[2016-05-25 13:10] jeremydmiller commented on #385
Yeah, we talked about that one. For just the moment, we're taking the attitude that you just need to sync up your application servers. If necessary though, we could use this on the server just like you're suggesting: https://www.postgresql.org/docs/9.5/static/uuid-ossp.html.

[2016-05-25 13:25] jeremydmiller opened #387 "Test that EventStream's are present on ChangeSet after UnitOfWork operation"

[2016-05-25 13:36] jenspettersson opened #388 "BulkInsert disk usage and timeouts"
Testing #180 and now I get problems with alot of disk space being consumed while bulk inserting and after a while a timeout occurs.

I'm trying to bulk insert 33 750 documents with an average document size of 2 kb (raw json). This would result in around 67.5 mb of raw data.

First attempt, I had around 6 gb free disk space on my dev machine and this got thrown after 50 seconds:

[code]

After free

[2016-05-25 15:12] jeremydmiller opened #389 "Dump a "Patch" DDL statement"
One way or another, be able to look at an existing schema and the current Marten configuration, and dump a DDL file detailing exactly the changes necessary to bring it up to compliance w/ the Marten configuration.

[2016-05-25 15:15] jeremydmiller opened #390 "Support Select(projection name) variant"
Be able to use JS projections inside of a `Query<T>` Linq statement something like:

`Select("projection name")` to get the raw JSON as the result

or maybe

`Select<TView>("projection name")` that would transform it and deserialize it to whatever `TView` is

[2016-05-25 15:31] jeremydmiller commented on #387
There was existing test coverage, so I'm closing this one.

[2016-05-25 15:31] #387 closed

[2016-05-25 15:35] jeremydmiller opened #391 "mt_streams.sql needs to be idempotent"

[2016-05-25 15:36] jeremydmiller opened #392 "mt_streams.sql needs to be idempotent"

[2016-05-25 15:44] jeremydmiller commented on #392
Duplicate w/ #391

[2016-05-25 15:44] #392 closed

[2016-05-25 21:06] tim-cools opened #393 "Issue with identity map"
PR coming ...

[2016-05-25 21:22] #393 closed

[2016-05-25 21:29] jeremydmiller opened #395 "New hook to set up initial data sets on StoreOptions/DocumentStore"
Might be only useful in Marten itself or test automation, but add a new interface like:

[code]

And hang these things off of StoreOptions. When the DocumentStore is first created, run through all of the registered `IInitialData` objects

[2016-05-26 01:04] jeremydmiller opened #396 "Project documents to a flat table for reporting"
We've talked about this since we first started Marten, but never recorded the user story for it. Came up today in a discussion at work.

I think it might be how we pull off "map/reduce" w/ groupings in Marten.

[2016-05-26 01:16] jeremydmiller opened #397 "Use the more efficient return mechanism for the generated upsert"
See example:

[code]

[2016-05-26 01:16] jeremydmiller opened #398 "Remove support for Postgresql 9.4"
Everybody has spoken, and we can drop support for Postgresql 9.4. Makes our internals simpler, fewer things to test.

[2016-05-26 04:17] jeffdoolittle commented on #398
so if you need someone to look at this, I can take it on since the 9.4 support is my fault anyway. :)

[2016-05-26 11:08] jeremydmiller commented on #381
@jvdvleuten So I don't think we really care about gaps as long as the ordering is maintained. **If** the sequential Guid strategy for event Id's really pans out, I'm not sure you're really going to need the sequence field.

[2016-05-26 11:38] #385 closed

[2016-05-26 11:38] #395 closed

[2016-05-26 12:13] jeremydmiller commented on #398
@jeffdoolittle Thanks for the offer, but it's just going to take a few minutes. I've got it this morning.

[2016-05-26 12:38] jeremydmiller opened #399 "Remove the existing support for JS transformations"
I'm convinced that the current strategy stolen from [pg_events](https://github.com/jeremydmiller/pg-events), what little there is of it, just won't work. I'd like to just wipe it all out so we don't have to run those tests anymore.

I think we go to a different concept where we allow you to write plain JS, then we'll wrap it in a plv8 function wrapper when it's loaded.

[2016-05-26 12:47] jeremydmiller opened #400 "Upgrade Npgsql to 3.1"

[2016-05-26 13:12] #398 closed

[2016-05-26 13:12] #399 closed

[2016-05-26 13:12] #400 closed

[2016-05-26 13:25] jeremydmiller commented on #397
Nevermind, didn't actually work. I'm dropping this one.

[2016-05-26 13:25] #397 closed

[2016-05-26 13:58] jeremydmiller commented on #400
Just relaxed the Nuget constraint. Npgsql 3.1.2 failed repeatedly on the Marten CI server, so I retreated back to Npgsql 3.0.4 in dev.

[2016-05-26 14:28] #389 closed

[2016-05-26 14:34] #386 closed

[2016-05-26 16:36] jeremydmiller opened #401 "Master script in the DDL by type dump that orders dependent documents"

[2016-05-26 16:39] jeremydmiller opened #402 "Async Projection Daemon"
More content coming soon....

[2016-05-30 12:07] jeremydmiller commented on #355
Going to call this one unnecessary. I feel like we've got enough coverage of both the Json.Net and Jil options, and we dropped the 9.4 support.

[2016-05-30 12:07] #355 closed

[2016-05-30 12:07] jeremydmiller commented on #277
Use the new `ISchemaObjects` interface. Get Hilo and the transform functions and the event store using this interface.

[2016-05-31 13:40] #277 closed

[2016-05-31 13:40] #401 closed

[2016-05-31 13:53] jeremydmiller commented on #391
Solving this by making the EventGraph implementation of ISchemaObjects work all the way through.

[2016-05-31 13:53] #391 closed

[2016-05-31 13:54] jeremydmiller commented on #183
Use the new `TransformFunction` class. So `StoreOptions.Transforms`

[2016-05-31 14:11] #183 closed

[2016-05-31 14:13] jeremydmiller commented on #253
@pawelpabich Sorry I missed your comment. What you did could definitely be part of the Patch API #18, but I want the "you can do anything" option with the JS transform as a backup. So simple patterns in the Patch API, but this as the catch all for other, weird things.

[2016-05-31 15:00] #253 closed

[2016-05-31 19:41] #390 closed

[2016-05-31 21:14] jeremydmiller commented on #384
Fixed by https://github.com/JasperFx/marten/commit/d76396ac62e3ef27c0709a7463b448dd5a096b9d

[2016-05-31 21:14] #384 closed

[2016-06-01 11:32] #388 closed

[2016-06-01 11:37] tim-cools opened #404 "Inline projection of many events"
For my demo last week I created an IProjection that allow to project multiple event types. This can be used to create synchronous view models.

You can use it like this:

https://github.com/tim-cools/soloco-talks/blob/master/20160516-PolyglotPersistence/Soloco.Talks.PolyglotPersistence/F_InlineTransformationWithDomainEvents/Projection.cs#L12

And the base projector looks like this:

https://github

[2016-06-02 02:21] #18 closed

[2016-06-02 16:51] jeremydmiller opened #405 "CoreCLR Support"
@CoreyKaylor 's already on this one, just sticking this in here for project tracking

[2016-06-02 19:57] nieve commented on #378
I presume you don't mean the following test, since it already exists and passes:
[code]

This one though fails, but it doesn't corresponds to what you've written:
[code]

[2016-06-02 20:19] jeremydmiller commented on #378
@nieve Okay, I raised this issue because I thought that I hadn't tested that and found some things in the internals that made me think it might not work. If those existing tests pass, I'm closing this one.

[2016-06-02 20:19] #378 closed

[2016-06-02 20:21] nieve commented on #378
The second test fails, but with a "Marten does not (yet) support this Linq query type".

[2016-06-04 13:35] mdissel opened #410 "security / permission model"
If we compare the features between ravendb and marten, a security/permission model is missing in Marten.
Maybe add support for this very powerfull postgresql extension to Marten (maybe as a separate module if users can't install a new extension into postgresql)

https://github.com/arkhipov/acl

This extensions support the Windows NTFS permissions model (including inheritance and custom permissions

[2016-06-07 10:34] zagyar opened #412 "More E2E tests"
Hello,
I was trying to use new Marten 0.9.5+ and found unexpected behaviour, pelase help me to move this forward and identify if this is a bug or expected behaviour.

Here are the code: https://github.com/zagyar/marten/commit/d16e30b4ac4d3c70b99f3659ddbdc62229f318e4

I added three failing tests, below are the main points:

1) live_aggregate_equals_inlined_aggregate_without_hidden_contracts
Below o

[2016-06-07 13:59] mdissel opened #413 "case-insensitive queries by default"
Coming from a sql server world, I like to set a global case insensitive option that is used when no string comparision is supplied in the query statement. Opinions/ideas?

ps. I'm not sure if the current ILIKE operator is the best choice for best performance, some hits on google suggests that ILIKE is not using an index and it's better to use LOWER(aAa) = aaa.. but i'm not at all a postgresql guru

[2016-06-08 16:15] mdissel commented on #413
Trigrams seems to have a better performance with ILIKE / LIKE queries.
https://about.gitlab.com/2016/03/18/fast-search-using-postgresql-trigram-indexes/

[2016-06-09 04:42] phillip-haydon commented on #413
I think it would be either `citext` or `lower(...)` to do this check. I guess it's a case of figuring out the best way to configure it and create the queries without hindering perf of query generation.

[2016-06-09 04:54] jeremydmiller commented on #375
Fixed by https://github.com/JasperFx/marten/pull/409

[2016-06-09 04:54] #375 closed

[2016-06-09 07:11] mdissel commented on #413
citext is an extension. I think we can't assume it's always available.  I tried to find a way to the documentschema from https://github.com/JasperFx/marten/blob/920bccbb44a5ffd47198fb50c276a2d6d9c76650/src/Marten/Linq/Parsing/StringComparisonParser.cs#L66 so you could check if for a global case-insensitive query... Any tips?

[2016-06-09 07:21] phillip-haydon commented on #413
`citext` ships with 9.1 on I believe, and since we only support 9.5 onward, it's just a case of calling `create extension citext`

It does massively complicate queries tho. I believe you could do it now without any changes to Marten by using `Duplicate(...)`

`.Duplicate(x => x.Name, "citext")`

That would copy the Name to its own field of type `citext` and then all queries would be `where name =

[2016-06-09 07:51] mdissel commented on #413
ok, but that's still no global solution. Every text query should be case-insensitive (to help out developers who are switching from sqlserver to postgresql ;) )

[2016-06-12 11:37] phillip-haydon commented on #413
@mdissel it's going to be really hard to achieve. There's no global case-insensitive setting. `citext` basically calls `lower(...)` behind the scenes and is only slightly more performant than just calling `lower(..)` yourself. I'm worried a change to support CI will be hindered by both PostgreSQL and by the Query generation.

:(

[2016-06-12 12:17] jeremydmiller commented on #412
@zagyar I've been out of town, but I'm back now and I'll look through your tests tomorrow morning.

[2016-06-12 17:22] mdissel commented on #413
I'm wondering if I'm the only one with CI 'issue', none of our  textual queries should be CI.

[2016-06-12 17:32] phillip-haydon commented on #413
When I started using Marten I spent ages trying to figure out how to solve CI issue.

But really I only had 1 problem which was looking up values in the database based on routes.

[code]

So I used the overload to ignore.

Since then I honestly haven't needed to worry about CI.

I did just add the ability to specify indexes as lower:

[code]

To ensure things like email are not duplicated by casin

[2016-06-12 17:48] mdissel commented on #413
But isn't ComputedIndex.Casings.Lower a solution to the issue? Whenever an index is defined as lower, the query engine can automatically lowercase the text value in the sql parameter..

[2016-06-13 08:27] diegofrata opened #415 "Invalid JSON query being generated when using LINQ"
When trying to execute the following command:

[code]

The following SQL is being generated:

[code]

The parameter ExtId in this case is a string with a single quote, which is causing the problem.

[2016-06-13 08:28] bVanHertum opened #416 "Index not working on a DateTime column"
Creating an index does not work on a DateTime column. The following unit test throws an exception:

        public void date_test()
        {
            StoreOptions(_ => _.Schema.For<Target>().Index(x => x.Date));
            var data = Target.GenerateRandomData(100).ToArray();
            theStore.BulkInsert(data.ToArray());
        }

In the output, you will find the following SQL and NpgSqlEx

[2016-06-13 11:31] jeremydmiller commented on #412
@zagyar,

So what I see so far is:

* Doing the live aggregation, it isn't assigning the Id of the stream to the aggregate. That's an oversight on my part, and easily correctible.

* In the `query_before_saving` test, it's failing because of this line of code:

[code]

If you change that to:

[code]

You're back to the issue with the empty Guid id's on the live aggregation.

Aggregate documents ar

[2016-06-13 12:02] jeremydmiller commented on #412
@zagyar For the NRE problem in `open_persisted_stream_in_new_store_with_same_settings`, you now get this exception:

[code]

One way or another, Marten needs to "know" what the event type names are before loading them like that. It's a usability problem we haven't sorted out yet.

[2016-06-13 12:02] jeremydmiller opened #417 "Need to set the Aggregate Id on live aggregations by stream"

[2016-06-13 12:11] #415 closed

[2016-06-13 12:11] #417 closed

[2016-06-13 12:12] jeremydmiller commented on #412
See https://github.com/JasperFx/marten/commit/78ad0470fd914a28b1a073126aabc6c8a96244d7 for more details. If you don't mind, I'd like to close this one, but replace it with a new issue about the EventTypeName usability.

[2016-06-13 12:52] jeremydmiller opened #418 "Rollback DDL scripts from the "PatchDDL""
As a request from one of our teams, we need to be able to generate a rollback script that matches any "PatchDDL" script.

Need to cover:

- [x] Hilo table
- [x] Event Store objects (pretty close to a binary)
- [x] Whole Document Storage, just drop the table and let it cascade
- [x] Document table columns that were added
- [x] Indexes that were added
- [x] Indexes that were changed
- [ ] Indexes th

[2016-06-13 19:31] #418 closed

[2016-06-13 19:33] jeremydmiller opened #419 "Revisit Event Type Registration"
Today, Marten needs to know about event types before you can query against existing Event store data. Tripped up a user and likely will more. Do we possibly add a dot net type column to the event data? Do more deriving of event types from either the db, or aggregates, or projections?

It's a usability issue that probably needs to be sorted out before 1.0

[2016-06-13 19:34] jeremydmiller commented on #412
See https://github.com/JasperFx/marten/issues/419 for the usability improvement ideas that tripped you up here.

[2016-06-13 19:34] #412 closed

[2016-06-14 07:18] zagyar commented on #412
Great solution and feedback, thank you!

[2016-06-14 12:51] zagyar commented on #419
I think this is not critical as it can be done via configuration/manual type registration.
But it may be not clear and lead to unexpected behaviour if not documented properly (currently it's documented as test case).
May be before adding the column (or related table) it would be good to decide on supported ways to persist configuration between assemblies, if there will be options other then wiring

[2016-06-14 13:24] #381 closed

[2016-06-14 15:01] jeremydmiller opened #420 "New mechanism for adding arbitrary database operations to the unit of work batch in DocumentSession"
You **can** happily execute database commands against the sticky connection on `IDocumentSession`, but it'd be nice to be able to add those commands into the batched update command.

[2016-06-15 13:23] jeremydmiller opened #422 "Add the document Id as a property to ConcurrencyException"
Big usability improvement if we'll do that.

[2016-06-15 14:11] jeremydmiller opened #423 "Marten should be able to verify the database schema against the configuration upfront"
Something like: `IDocumentSchema.VerifySchemaCompliance()` and throw exceptions if there are any detected differences.

Probably going to be as easy as generate the whole patch, and see if there's any content in it, then use that patch as part of the exception message.

[2016-06-15 15:22] jeremydmiller opened #424 "Hard code the IDocumentSession methods for the valid Id types"
Load() etc, overloads should be for `int`, `long`, `Guid`, or `string`. Ditch the overloads we originally copied from Raven.

[2016-06-15 17:20] scottoffen opened #425 "DatabaseSchemaGenerator.WriteSql needs trailing line breaks"
When using `WriteDDL()` and `WritePatch()`, the generated DDL is missing any trailing line breaks after schema generation.

**Current Behavior**

[code]

*Note the lack of line breaks between `$$` and `--` on the second to last line.*

**Proposed Behavior**

[code]

[2016-06-15 17:41] jeremydmiller opened #427 "Move the FindJson**** methods to a new hive object off of IQuerySession."
Just to clean up the API and reduce the code noise in `QuerySession`

[2016-06-15 17:57] jeremydmiller commented on #425
Closed by https://github.com/JasperFx/marten/pull/426

[2016-06-15 17:57] #425 closed

[2016-06-15 21:57] #338 closed

[2016-06-15 21:57] #420 closed

[2016-06-15 21:57] #424 closed

[2016-06-15 21:57] jeremydmiller commented on #427
Fixed by https://github.com/JasperFx/marten/commit/703491d76be762b16f0e48b38e75c0dd1612501e

[2016-06-15 21:57] #427 closed

[2016-06-16 11:55] jeremydmiller opened #428 "Marten should be able to apply all outstanding database patches upfront"
[code]

[2016-06-16 12:05] #422 closed

[2016-06-16 12:05] #423 closed

[2016-06-16 12:05] #428 closed

[2016-06-16 12:06] jeremydmiller commented on #252
I'm shutting this one down. It's worth a blog post or some documentation, but I'm unilaterally saying this isn't necessary right now.

[2016-06-16 12:06] #252 closed

[2016-06-16 12:21] jeremydmiller commented on #419
I'm wrapping this one up today with just a little bit more validation and a rename on the API to try to disambiguate the usage. Some of the work probably happens later in the async daemon story.

[2016-06-16 12:23] #419 closed

[2016-06-16 12:24] jeremydmiller commented on #372
Just don't care enough to do it right now. Closing.

[2016-06-16 12:24] #372 closed

[2016-06-16 13:55] jeremydmiller opened #429 "Update Documentation for 1.0"
- [x] Redo docs on identity management, new custom identifiers, private Id's, `[Identity]`
- [x] Using Jil
- [x] Using your own Newtonsoft version
- [x] Metadata columns, how to retrieve the metadata for a document, how to retrieve the version for a document
- [x] Schema management, WritePatch(), new Assert() method, build everything upfront, rollback scripts
- [x] Rip out discussion of Roslyn and

[2016-06-16 19:18] jeremydmiller commented on #416
Guys, for 1.0, we're going to beat this w/ a defensive check telling you you're going to have to use a duplicated field for DateTime's. We can revisit this after 1.0.

[2016-06-16 19:32] #416 closed

[2016-06-16 21:43] jeremydmiller commented on #362
Hey everyone, just for the sake of pruning the GH list, I'm going to close this one for now. You *could* do this on your own in a document listener and I probably will add this to the event store as part of the async daemon.

[2016-06-16 21:43] #362 closed

[2016-06-16 21:45] jeremydmiller commented on #404
@tim-cools I'm all for it, or at least get it in with some test coverage and then just see what shakes out in the async projection support.

The async daemon is going to force some additions to the IProjection interface for dependencies between projections and your approach should make that pretty easy.

[2016-06-16 21:47] jeremydmiller commented on #379
Hey, we're looking at doing this in the near future. Thanks for the tip.

[2016-06-16 21:48] jeremydmiller commented on #410
@mdissel It looks cool, but would we really need to do anything in Marten to enable that? Do you have any vision for how you'd want to use that with Marten?

[2016-06-16 21:51] scottoffen opened #431 "mt_doc_type column added on initial table creation, but not on patch"
Setting up a brand new document in a document store like this:

[code]

Creates a `CREATE TABLE` statement when using `WriteDDL()` that looks like this:

[code]

Setting up a brand new document in a document store **with a subclass** like this:

[code]

Creates a `CREATE TABLE` statement when using `WriteDDL()` that looks like this:

[code]

Given that the last column - `mt_doc_type` - that allows

[2016-06-16 22:02] jeremydmiller commented on #431
@scottoffen I'll turn this around tomorrow morning. It'll be quick.

[2016-06-16 22:32] scottoffen commented on #431
:+1: Or, just add the column every time, subclasses or no...just a thought.

[2016-06-17 06:27] mdissel commented on #410
Just like in RavenDb ;).. But for a start we could add some extensions methods like SoftDeletes is implemented... It's basically the same, if the entity can be secured (configurable via the schema) add an extra query to filter the entities based on acl.
And a lot of other parts of course like users/roles, usercontext, impersonation, etc.

[2016-06-17 06:42] bVanHertum commented on #416
@jeremydmiller Given the nature of the fix, it might be prudent to mention I had the same exception when attempting to use a DateTimeOffset instead of a DateTime.

[2016-06-17 13:30] jeremydmiller commented on #410
"Just like in RavenDb ;)" -- that's never the best answer in regards to Marten

[2016-06-17 14:34] mdissel commented on #410
I remember from one of your blog post the words 'marten is a drop-in replacement for RavenDb', but much better of course ;) Part of RavenDb is also a user/role/permission model.

I need something like this in my application, so I raised this issue. Not many reactions to my surprise. I will start working on this when we need it in our application..

ps. Keep up the good work. Highly appreciated!

[2016-06-17 14:55] jeremydmiller commented on #410
We did say that at first, but we ditched that one fast because we kept finding more scenarios where we either didn't like the Raven API or just had different ideas about how something would work. I just think it's dangerous to say "do it exactly like Raven" is all.

The custom Linq filters are easy if you just depend on IMethodCallParser plugins. If you want something like `IQueryable<T>().MyCusto

[2016-06-17 15:15] #279 closed

[2016-06-17 15:33] mholland opened #432 "Queries with DateTime comparison ignore timezone offset"
Example gist: https://gist.github.com/mholland/7f9037ba39ad69d49f7840d2db6d05ff

If UTC `DateTime` values are stored in a document, when querying based upon the `DateTime` property with a UTC `DateTime`, the query ignores the offset. Sample query from Postgres logs:

[code]

In this example `2016-06-17 16:06:31.580404` is used in a >= comparison instead of `2016-06-17 15:06:31.580404`. Changing th

[2016-06-17 19:48] jeremydmiller opened #433 "Patch API and JS transforms need to update the mt_last_modified column"
Doh!

[2016-06-17 21:50] mattzink opened #434 "Patching API should allow adding and removing properties"
Common schema migration operations done in bulk would be nice to handle in the patching API:

- Add new property with a common specified value (ie session.Patch<Foo>.Add("newprop", 4242))
- Delete an existing property (session.Patch<Foo>.Delete("oldprop"))

[2016-06-18 08:50] phillip-haydon commented on #39
WIP - API Design:

User implements
[code]

Marten implementation

[code]

Schema configuration
[code]

Example query
[code]

Example usage of result

[code]

[2016-06-18 10:38] mdissel commented on #39
Nice! Can you still query on other non-fulltext fields in the Photo class (in your sample)?

[2016-06-18 10:49] phillip-haydon commented on #39
Hmmm good point, I didn't consider that.

The problem I'm trying to solve is:

You can assign weighting against different terms as part of the `tsvector` index, but you can't specify a property in the `tsvector`

Meaning you cannot say:

So by creating a searchable doc we can have multiple tsvector columns for different search queries. The tsvectors can be rather small so this shouldn't be an issu

[2016-06-18 11:08] mdissel commented on #39
Another option I'm missing is the stemming part. Where can we configure the stemming option that should be used (and the 'simple' stemming to disable stemming)

A nice to have is the ts_headline option ;)

[2016-06-19 10:18] valeriob opened #435 "Support for multi tenancy at documentStore level"
One of the main advantages of using a "schemales db server" is that it makes multi tenant applications  easier. To achieve that i think there should be an OpenSession ovarload that takes a database name as parameter.

[2016-06-19 16:57] dougkwilson commented on #435
How do you envision that being implemented? Are you thinking the DocumentStore would manage multiple connection pools?

At the session level you might be able to have a "BucketId" which would be added to every document/event.  NEventStore does this and uses the "default" bucket if one is not specified.

[2016-06-19 17:30] valeriob commented on #435
I started a project similar to marten a few years ago, just it's not a framework, just an alternative implementation of ravendb IDocumentStore and IDocumentSession for the project i'm working on. It behaves the same way, so documentStore can access the whole sql db instance, and document session is opened on a particular database.
The connection string points to the main database, and than on ever

[2016-06-20 11:23] #359 closed

[2016-06-20 11:45] #433 closed

[2016-06-20 12:05] #431 closed

[2016-06-20 12:20] #352 closed

[2016-06-20 12:38] jeremydmiller commented on #325
@phillip-haydon I wanna close this one if nobody's been able to repro it.

[2016-06-20 12:38] #325 closed

[2016-06-20 13:25] jeremydmiller commented on #135
@phillip-haydon Man, I'm sorry, but I'm declaring this one a little too much work prior to 1.0. Maybe in the next round. For now, I think we just need to say do this kind of index by hand.

[2016-06-20 13:26] phillip-haydon commented on #135
No worries. I want to fix the date issue before I even look into this one.

[2016-06-20 16:39] scottoffen opened #436 "Inconsistent casing between Subclass and SubClass in method names"
Casing should be consistent between between methods `AddSubclass()` and `AddSubClass()`

[2016-06-21 02:06] JohnCampionJr commented on #435
I think an important question is multi-tenancy via database-per-tenant or shared database.

Personally, my usage needs shared database, giving the ability to scale as needed, so I'd like to see the ability to apply a filter to all queries so ensuring tenant isolation can be done at the IDocumentSession level, kind of like the dynamic filtering in EF.

[2016-06-21 06:48] mdissel opened #438 "HiLoSequence Increment is not used"
What is the purpose of the Increment option in https://github.com/JasperFx/marten/blob/15056c05f53a3e917ef4060403ebe1b528f11e71/src/Marten/Schema/Identity/Sequences/HiLoSequence.cs#L26
At the moment it's not used.

[2016-06-21 10:09] tim-cools commented on #404
@jeremydmiller cool! I've been outside the country for some time, but I will look into this by the end of the week...

[2016-06-21 13:07] jeremydmiller commented on #436
This was closed by #437

[2016-06-21 13:07] #436 closed

[2016-06-21 19:46] jeremydmiller commented on #438
@mdissel I'd be lying if I told you I remember. It was theoretically for folks who wanted the id version to go up by more than 1. I'm inclined to just delete it.

[2016-06-21 19:49] jenspettersson opened #439 "Transformer can not be found with AutoCreateSchemaObjects: None"
Loading a transformer and generating a Patch-script that you run in your db creates the `mt_transform_add_status` just fine.

However, when you later use your DocumentStore with:

[code]

Note, the error message seems to be missing something after the transformer name as well ("could not be found" maybe?)

From @jeremydmiller in the gitter chat:

[2016-06-21 20:43] mdissel commented on #438
Agreed, just delete the increment property

[2016-06-21 20:51] jeremydmiller commented on #438
I take pull requests.

[2016-06-22 14:20] #439 closed

[2016-06-22 14:21] jeremydmiller commented on #432
@mholland I'm looking at it now, thanks for the repro steps

[2016-06-22 14:42] jeremydmiller commented on #432
I'm working on this one this morning. So far what I know is:

* Querying against the DateTime field fails, both searching within the JSON and as a duplicated field
* Querying against a DateTimeOffset field succeeds both within the JSON and the duplicated field **if you search via another `DateTimeOffset` value**. I'm not sure that querying by a DateTime against the DateTimeOffset works w/ the impl

[2016-06-23 09:11] mdissel commented on #156
As long as it's stored within the same transaction of the SaveChanges(..) we don't have to support it within a batched command, at least for a start.

[2016-06-23 12:40] #432 closed

[2016-06-23 12:48] jeremydmiller opened #441 "Optionally allow users to specify the schema owner for DDL generation"
Request from work, will need to evaluate this and add to:

- [ ] CREATE TABLE
- [ ] CREATE SCHEMA (?)
- [ ] CREATE FUNCTION (?)
- [ ] The Sequence in the event store?

[2016-06-23 12:57] jeremydmiller commented on #438
Closed by #440

[2016-06-23 12:57] #438 closed

[2016-06-23 15:32] bradyclifford commented on #441
Need the ability to specify the owner.  When setting up the store options, would be nice to specify the following:

[code]

When the AutoCreate, WriteDDL or WritePatch generates the necessary SQL scripts, add the owner when it is specified in the StoreOptions:

[code]

[2016-06-23 16:49] jeremydmiller commented on #441
Ugh, the tables & schemas will be easy, but the functions are going to be a PITA. I'm on it.

[2016-06-23 17:00] jeremydmiller commented on #441
@bradyclifford Is it really necessary to set separate owners for databases, schema, tables, and functions? Or can we just do the "all objects owner"?

[2016-06-23 20:49] #441 closed

[2016-06-24 21:49] jeremydmiller commented on #405
Closed by https://github.com/JasperFx/marten/commit/c7e297eabe2e5383634ad9593cc4a0912944b1fc

[2016-06-24 21:49] #405 closed

[2016-06-25 14:58] bradyclifford commented on #441
That's fine Jeremy

[2016-06-26 13:10] phillip-haydon commented on #356
Can we also include `skip locked` as an option.

[code]

http://highscalability.com/blog/2015/10/13/more-concurrency-improved-locking-in-postgresql.html

[2016-06-27 08:40] phillip-haydon opened #443 "Events table is created even tho I don't use events"
This changed in v0.9.###

Not sure which, but now when setting up a new app it creates the event table even tho there are no events.

Expected behavior is mt_events is created when events are used.

[2016-06-28 16:10] phillip-haydon opened #445 "Upsert Function shouldn't lose data that the caller wasn't aware of"
Currently when saving a doc, the save is absolute:

[code]

Which generates:

[code]

More or less.

This means if the existing doc is:

[code]

And you have 2 applications running against this document and you reploy a new version of 1 of those apps which:

* You decide to replace Full Name with First / Last name.
* Patch any existing documents.

If you save from the new deployment the save doc w

[2016-06-29 06:18] phillip-haydon commented on #445
So this only works for top level properties and breaks in nested properties.

We can have a flag to turn this on in future versions of PostgreSQL when it becomes avaliable, but for not I'm closing this as it's not possible. :(

[2016-06-29 06:18] #445 closed

[2016-06-30 03:52] bradyclifford opened #446 "DocumentStore throw misleading exception when Database doesn't exist"
When a database doesn't exist and you spin up a DocumentStore, we get back a **System.Exception**. _Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host._  It is probably coming directly from Npgsql.

It takes a few double takes to realize that the database doesn't exist or there aren't permissions to access the Database, Schema or Table

[2016-06-30 13:55] jenspettersson commented on #446
Hm, trying to reproduce but I get the following exception when trying to access an existing server, but to a database that doesn't exist:

`"3D000: database \"NONEXISTING\" does not exist"`

This is when running a test on the latest source code and @CoreyKaylor updated Npgsql very recently (60d2292793cb93d6). Might have changed there?

[2016-06-30 14:53] CoreyKaylor commented on #446
Yeah regardless, that sounds like a great improvement for Npgsql ;) if it's not already handled in the latest nuget.

[2016-06-30 15:09] bradyclifford commented on #446
@jenspettersson thats a better message then I am getting.  Might be related to how I am spinning up the DocumentStore with StructureMap.  I will dig into a little more and see if I can provide a better argument.  As it stands now, @CoreyKaylor is right...

[2016-06-30 15:11] CoreyKaylor commented on #446
@bradyclifford considering you're not using the latest of everything I believe, I would start there.

[2016-06-30 18:31] JohannesRudolph commented on #429
Fantastic project. I'm a long time user of RavenDB and thus can relate to some of the pain points. This time around though I'm primarily interested in Marten because I need ACID and a few relational bits as well (document + relational model).

I think there's an async sample missing here: http://jasperfx.github.io/marten/documentation/documents/basics/loading/

Keep up the good work!

[2016-06-30 21:42] #446 closed

[2016-07-03 05:26] superlogical opened #448 "Document projections on an array field (SelectMany)"
I have a product type that has an array of tags. I'd like to run a query that get's the distinct set of tags in the database.

[code]
The `TypeMappings` class has a `GetPgType` function that takes a type, in my case `typeof(string[])` which is not in the `PgTypes` dictionary.

Not sure if this is a hard/easy one for someone like me to pickup :)

[2016-07-03 05:41] superlogical commented on #448
I found out how to do it using a postgres json query if anyone is interested.

[code]

[2016-07-04 14:44] bVanHertum opened #449 "IsOneOf extension method does not work on an Enum column"
When I try to use IsOneOf on one of our Enum columns, I get the familiar NpgSql Error:

Enums must be registered with Npgsql via Connection.RegisterEnumType or RegisterEnumTypeGlobally

it may or may not be related to the fact that this particular Enum column is indexed.

[2016-07-11 15:20] jeremydmiller opened #451 "Optimize AggregateFinder by allowing it to fetch all aggregates at one time?"
It's not *that* big of an improvement, but it still might help. Either do it by just passing in the IDocumentSession & all event streams, or pass in a batch query.

[2016-07-11 15:45] jeremydmiller opened #452 "Configurable Exception Handling in Async Daemon"
Which exceptions would cause the daemon to shut down?
When would you immediately retry?
When would you pause, then retry?

In the Fetcher, and in ProjectionTrack

[2016-07-11 17:12] #449 closed

[2016-07-11 17:23] jeremydmiller commented on #443
@phillip-haydon How are you generating tables that you get this? I tried a couple different things and I can't reproduce the issue in master. I'm just about to close this, but there's a commit coming now that has repro tests that all pass.

[2016-07-11 17:25] #443 closed

[2016-07-11 18:57] #429 closed

[2016-07-15 21:44] khalidabuhakmeh opened #456 "Marten Logo Candidate #2"
The raven feather is tongue and cheek, and I started with not having it in the image. This candidate also has the ability to be turned into a circular sticker for those inclined to have it on their laptop.

---
[Download marten.pdf](https://github.com/JasperFx/marten/files/366887/marten.pdf)
---
![marten_feather](https://cloud.githubusercontent.com/assets/228256/16889316/74e18872-4ab3-11e6-8fa4-5a

[2016-07-16 13:03] kamranayub opened #457 "Provide a way to see query duration through session logger and QueryStatistics"
It seems reasonable to assume in dev/test/production folks will want to profile their setup to find any performance bottlenecks and to do so they might use a tool like Glimpse or logging to the debug console.

I looked around Marten's codebase and npgsql's but did not see anything suitable as an extension point to add this kind of logging for query execution duration. npgsql has a [logging provide

[2016-07-16 14:57] kamranayub opened #458 "Fix Baseline dependency Nuget package"
Marten 0.9.12.563

Installing this package version will fail for users when using .NET 4.6.

[code]

Appears to only work if I force-install Baseline first, then install Marten after--I think the prerelease Baseline package is missing framework targets in the nuspec.

Couple other issues I had when installing on a 4.6 project:

- Missing System.Data.Common dependency
- Missing System.Reflection.Ty

[2016-07-16 15:30] jeremydmiller commented on #448
@superlogical Wouldn't we eventually need to support Where()'s chained after the SelectMany()? Any thoughts on how to pull that one off?

[2016-07-18 18:41] khalidabuhakmeh commented on #452
Why not just make all exceptions handling strategies configurable. By default all strategy is to shutdown the daemon.

[code]

Additionally, you may want individuals to give a retry strategy of their own.

[code]

Some thoughts.

[2016-07-18 18:44] jeremydmiller commented on #452
That's pretty well what I'm doing right now;)

[2016-07-18 19:23] khalidabuhakmeh commented on #452
Mind meld!

![](http://media3.giphy.com/media/xT5LMxw4Z2lmqhnXkA/giphy.gif)

[2016-07-18 21:47] baronfel opened #459 "Improve query generation when querying against Dictionary"
When a Linq query is comparing against `Dictionary<K,V>.Contains(KeyValuePair<K,V>)` or `dictionary[key] == value`, we should be able to optimize the comparison by generating the dictionary for the comparison and then converting that the json.

Example:

`Session.Query<Doc>().Where(d => d.Guys.Contains(new KeyValuePair<string,string>("foo", "bar")))`
should result in a comparison json of `{ "Guys"

[2016-07-19 00:47] kamranayub opened #460 "Add support for including child collection objects"
For post-1.0, add support for allowing `Include` on child collection objects:

[code]

[2016-07-19 13:14] hougasian opened #462 "Marten logo candidate #3"
<img width="495" alt="screen shot 2016-07-19 at 9 14 25 am" src="https://cloud.githubusercontent.com/assets/6231956/16951044/42c750de-4d91-11e6-87cf-ddde579e7c69.png">
Clean, iconic, easy for stickers/shirts.
[marten2.pdf](https://github.com/JasperFx/marten/files/371495/marten2.pdf)

[2016-07-19 14:07] #451 closed

[2016-07-19 14:07] #452 closed

[2016-07-19 15:42] baronfel commented on #459
So I'm working on this and I think there's a small problem in the WhereFragment code with regards to the operator I want to use. Specifically, I want to use the `?` operator to check if a top-level text element exists in a jsonb object, but the escaping in the WhereFragment is obliterating my first `?` symbol.

Specifically I want to write the sql query `{fieldLocator} ? ?`, where fieldLocator is

[2016-07-20 18:00] CoreyKaylor opened #464 "Date Indexes"
For 1.0.0 we need to settle on what exactly the story will be for DateTime and DateTimeOffset w/regard to indexes. Both are so common for querying against we'll probably need to ensure they are consistent if possible and where there are caveats we should make sure the documentation reflects them.

[2016-07-20 23:18] CoreyKaylor commented on #458
The latest version targets Baseline 1.1.0 and should fix this issue. Feel free to re-open if that's not the case. Some of this is actually split across several projects though. System.Data.Common would actually be a dependency of Npgsql, TypeExtensions is a dependency of Baseline, etc. If they still aren't coming down, it's likely a problem with the nuget client and not our versions because I can

[2016-07-20 23:18] #458 closed

[2016-07-20 23:20] CoreyKaylor commented on #459
Going to close this now. Feel free to open a new issue if you think the other issues you ran into that were "hairy" need to be discussed further.

[2016-07-20 23:20] #459 closed

[2016-07-20 23:32] CoreyKaylor commented on #435
@JohnCampionJr I think if you want to restrict it you would be better off to use row level security in PG.

@valeriob How do you envision dealing with the multi-tenancy aspect within the document store, schema diffs, etc if you are isolating via database per tenant?

[2016-07-20 23:38] CoreyKaylor commented on #410
Any security layer would have to just be sugar to translate to PG security itself otherwise there isn't much of a point to do it at all.

How would you secure the documents with PG itself? It's much easier to work backwards from that as a first step.

[2016-07-20 23:41] CoreyKaylor commented on #379
@jeremydmiller I know the symbols package is included with the artifacts now. Have you been publishing them with the latest nugets so we can close this?

[2016-07-20 23:43] CoreyKaylor commented on #368
Haven't heard any updates on this. Going to close for now unless more details are forthcoming.

[2016-07-20 23:43] #368 closed

[2016-07-20 23:44] CoreyKaylor commented on #344
@jeremydmiller I'm pretty sure this is possible now on the latest right?

[2016-07-21 00:03] CoreyKaylor commented on #113
Just for context, this still doesn't work in 1.0.0-alpha.

[2016-07-21 00:07] CoreyKaylor commented on #76
I don't like the idea of replacing an event. Changing history is a bad thing in ES.

[2016-07-21 00:08] CoreyKaylor commented on #75
Also don't like deleting an event, same as changing an event. Easy enough to ignore or provide a compensating action with new event.

[2016-07-21 07:10] valeriob commented on #435
@CoreyKaylor i'd leave it out of the library, you con use the same code running on different schema if they are backward compatible or just spin multiple instances of the application and upgrading the tenants incrementally.
This goes hand in hand with a very powerfull feature of ravendb that is non destructive updates of the json document, where they system does not deletes what it does not knows.

[2016-07-27 12:08] Tazer opened #465 "Problem using AggregateStream"
I wrote about a problem I had in the gitter chat.

The problem is that I can't get AggregateStream to run my Apply methods.
And AggregateStreamAsync gives just back a empty result. AggregateStream at least sets the Id of the Projection/Stream.

Here is my code:
https://gist.github.com/Tazer/5c69e5170f57a109ec171a97ce56e237

And I'm running 1.0.0-alpha-625 on asp.net core

[2016-08-02 08:44] nmt1994 commented on #465
Did you try to iterate your listofEvents , then Append each event into the event stream ?

[2016-08-02 09:18] Tazer commented on #465
@nmt1994 nope haven't tried that , I will give it a shot! Was just assuming that I could do like I did :)

[2016-08-02 11:33] jeremydmiller commented on #465
@Tazer Hey, I'm sorry I haven't gotten to this yet. I think maybe I could finally get to it today or tomorrow.

[2016-08-02 11:51] Tazer commented on #465
@nmt1994  that worked! :)

@jeremydmiller  no worries, @nmt1994  suggestion worked. But there is still a problem when using `AggregateStreamAsync` that the Id property isn't filled, it gets filled in `AggregateStream`

so I'm doing like this now:

[code]

Cause seems if I'm passing `List<object>` directly marten things that it's just ONE event and it's type is `List<object>`

[2016-08-02 12:35] jeremydmiller commented on #465
@Tazer Meh, it's a usability issue. It's because the signature is `params object[] events`. That's burned us before in other areas.

What we *could* do is recognize `List<object>` and explode that out behind the scenes.

I'll fix the Id, that won't be hard.

[2016-08-02 12:48] Tazer opened #466 "Possiblity to get back all events after X with a specific streamid"
I'm building a "sync" service. So I will sometimes get all event that have happend `after` X

This work fine with `var events = await session.Events.FetchAllAsync(after: request.LastSyncDate);` the problem is that this would give me back all events independent on streamID. I could do an WHERE , but would be bad for performance when there is a lot of events with many different streams.

What I woul

[2016-08-03 04:48] awedekind opened #467 "Allow CanonicizeSql to change tabs to spaces"
A PostgreSQL function using tabs as white space will currently never match the expected canonicizedSql created by Marten.

The CanonicizeSql() function should be updated to support having tabs as whitespace.

[2016-08-03 17:06] jeremydmiller commented on #467
Closed by @awedekind 's PR.

[2016-08-03 17:06] #467 closed

[2016-08-03 19:17] #466 closed

[2016-08-03 19:20] Tazer opened #469 "Linq support for IEvent"
Possibility to query after events with linq.

For example something like this:

`session.Query<IEvent>().Where(x => x.Stream == ? && x.Version > #)`

So we are not only locked down to the IEventStore methods.

[2016-08-04 19:49] jeremydmiller commented on #464
This is specific to DateTimeOffset. Indexes on DateTime do work today.

[2016-08-04 20:13] jeremydmiller commented on #379
@CoreyKaylor Nuget can't seem to differentiate between the two packages:

[code]

Should I be just loading the symbols nupkg file?

[2016-08-04 20:13] jeremydmiller commented on #75
I'm taking this out in favor of Corey's idea to use compensating actions

[2016-08-04 20:13] #75 closed

[2016-08-04 20:18] #464 closed

[2016-08-04 20:18] #465 closed

[2016-08-04 20:27] jeremydmiller commented on #73
I'm unilaterally throwing this out as a "never gonna be done" kind of thing.

[2016-08-04 20:27] #73 closed

[2016-08-04 20:28] jeremydmiller commented on #72
We're canceling the JS projection idea unless someone really objects and wants to write it themselves;)

[2016-08-04 20:28] #72 closed

[2016-08-04 20:28] jeremydmiller commented on #82
Not going to do JS projections now.

[2016-08-04 20:28] #82 closed

[2016-08-04 20:29] jeremydmiller commented on #81
Not going to do JS projections now.

[2016-08-04 20:29] #81 closed

[2016-08-04 20:29] jeremydmiller commented on #76
Gonna agree w/ Corey. Just use compensating events instead.

[2016-08-04 20:29] #76 closed

[2016-08-04 20:38] jeremydmiller commented on #321
I think everything we care about has already been done. I'm bailing out on the JS projections

[2016-08-04 20:38] #321 closed

[2016-08-04 20:43] jeremydmiller commented on #344
The async daemon *can* do this, so I'm going to declare victory and close this.

[2016-08-04 20:43] #344 closed

[2016-08-04 21:31] Serguzest commented on #402
Did you forget to add "Event Store" tag or are we going to have this for regular documents? :)

[2016-08-04 21:40] jeremydmiller commented on #402
There, added. Other folks have asked about using this with regular documents, but I don't particularly have any ideas on that score. Got any suggestions or requests?

[2016-08-05 22:17] scottoffen commented on #379
http://docs.nuget.org/create/creating-and-publishing-a-symbol-package

[2016-08-05 22:21] scottoffen opened #470 "Flag to replace DROP TABLE with IF NOT EXISTS check when creating DDLs"
Currently, when creating a DDL (e.g. using `WriteDDL()`) adds statements to drop tables before recreating the tables. If the DDL scripts were to be used to upgrade and existing database, data would be lost. It would be prefered if there was a flag to disable this behavior and replace CREATE statements with CREATE IF NOT EXISTS statements.

[2016-08-05 23:19] bradyclifford opened #471 "Define a different Function Owner"
We need the ability to specify a unique owner for all Marten upsert functions.  Currently, there is only an overarching OwnerName property that we can set in the StoreOptions.  We need the following:

[code]

_Stay tuned for additional details on the reasons why we need this feature._

[2016-08-05 23:19] bradyclifford opened #472 "Function definition: SECURITY DEFINER"
We need `SECURITY DEFINER` added to the Marten functions.  Maybe this could be an optional toggle within the StoreOptions.

This will allow us to provide EXECUTE privileges to our service accounts running our application while not compromising security.

[code]

# TLDR:

The short of it is that our database team feels it’s necessary to prevent the directly inserting into corresponding table (the e

[2016-08-05 23:45] bradyclifford commented on #470
I could see the argument against this that one should use the WritePatch() method instead to upgrade existing database.  The problem is the WritePatch method also includes DROP on its tables.  Replacing the DROP and adding a IF NOT EXISTS, THEN CREATE would help ease the concern from our database team; for both the WritePatch() and WriteDDL() methods.

This of course is a want, not a need at this

[2016-08-06 16:19] #471 closed

[2016-08-06 16:19] bradyclifford commented on #471
We were able to find a workaround...

[2016-08-06 16:55] jeremydmiller commented on #471
@bradyclifford How did this change? You can set a different owner for each document type if you want to.

[2016-08-06 16:57] jeremydmiller commented on #470
@scottoffen @bradyclifford The WriteDDL was meant for documentation purposes. `WritePatch()` was built specifically for making change scripts. I'm not opposed to doing this, but I don't see it as necessary to be honest.

[2016-08-06 19:04] bradyclifford commented on #471
Our database team decided they didn't need to specify a unique owner for all functions. Setting an owner for each document type would of helped, but they (our database team) had originally wanted to set a global owner for all functions. They decided instead to use the 'VOLATILE SECURITY DEFINER' option that is part of a function to execute specific privileges.

[2016-08-06 19:07] bradyclifford commented on #470
I would agree that the WriteDDL doesn't need this feature. However, we are being asked by our database team to remove the DROP and add a IF NOT EXISTS for DDL scripts generated by the `WritePatch()` method.  We will be using our `Dev` database as a source of truth that the WritePatch() will point to to create the delta.

[2016-08-06 20:21] bradyclifford opened #473 "WritePatchByType"
We need the ability to output DDL scripts by type, similiar to that of the `WriteDDLByType()` method.

Due to our database team's strict requirements, each DocumentType table will need to have its own DDL script that will include `GRANT` privileges all the way down to the column level.  Separating each DocumentType into its own DDL patch script will help in automating the creation of these delta s

[2016-08-06 21:10] bradyclifford opened #474 "WritePatchByType - inject into writer stream"
Building on #473,

Our database team is requiring that we add `GRANT` privileges all the way down to the column level for the document type DDL scripts that are generated by the `WritePatch()` and future `WritePatchByType()` methods.

Instead of having our developers open up each generated document type WritePatch generates and adding these privileges manually, we would like to intercept the writi

[2016-08-06 21:34] bradyclifford opened #475 "Wrap DDL scripts generated by WritePatch() with a transaction"
Our database team requires that the DDL scripts generated by the WritePatch method wrap the creation of table and functions within a transaction.

Example:
[code]

[2016-08-07 14:58] CoreyKaylor commented on #379
@jeremydmiller When you have the symbols package in the same folder as the primary package it will also push the symbol package when `nugget push ...` Is used

[2016-08-07 22:58] jeremydmiller commented on #470
@bradyclifford The only time WritePatch() would do a `DROP TABLE` is if the document table is all new, but regardless, it's not a huge deal. I'd prefer not to have this in WriteDDL at all.

[2016-08-08 01:09] jeremydmiller commented on #473
@bradyclifford That's already possible, though arguably complicated and ugly. Here's how you'd do that today, assuming that you had your own tooling around it.

For the short term, how about an extension method on `IDocumentSession` for `WritePatch(Type documentType)` that just encapsulates the mess below.

For the longer term (the week of the 15th), I'd like to go ahead and make a 2nd Marten pack

[2016-08-08 19:47] #470 closed

[2016-08-08 19:47] #472 closed

[2016-08-08 19:47] #473 closed

[2016-08-08 19:47] #474 closed

[2016-08-08 19:47] #475 closed

[2016-08-10 13:49] ericgreenmix opened #479 "Don't run DateTime's through the `mt_immutable_timestamp` function as part of a `Select()`"

[2016-08-11 14:26] ngonzalezromero opened #480 "Pagination Problem"
Hi.
I have 11 registers in database

With this code

[code]

if i send  pageIndex =1 and  pageSize =10, Marten return 10 registers.
But when pageIndex =2 and  pageSize =10, Marten return 9 register, but this is no correct, because should be return only 1( the page 2 of 11 element only contains 1 element)

cc: @jeremydmiller

[2016-08-11 14:32] jeremydmiller commented on #480
I think you need something like:

[code]

The Skip() uses the total number of items to skip. It doesn't have any logic around paging per se.

[2016-08-11 14:55] ngonzalezromero commented on #480
Thank you @jeremydmiller
Nice project !!!
Regards

[2016-08-11 16:43] jeremydmiller commented on #480
@ngonzalezromero If you're bored and need a little OSS side thing, it wouldn't hurt to have a better paging model in Marten where you could do something more like:

[code]

but just have it delegate to Skip() & Take() internally.

[2016-08-11 16:49] ngonzalezromero commented on #480
Uf.. It would be nice !!

if you want.. I could do it ..
Just please give me some instruction where I must add the code and then I will send the PR..

I would love to contribute to this project

[2016-08-12 09:00] mdissel commented on #396
Can we make Marten so smart that it will create the necessary JS code to transform the fields on the server?

[2016-08-12 11:00] mdissel commented on #480
And optionally return a PagedResult with recordcount, numberofpages, etc.

`PagedResult  result = session.Query<Document>().PagedResult(page, pagesize);`

[2016-08-12 11:18] jeremydmiller commented on #396
I don't think you'd need any JS code. It's really not that much different mechanically from the existing duplicated field functionality.

[2016-08-12 11:21] jeremydmiller commented on #480
@ngonzalezromero Honestly, I was just thinking an extension method off of IQueryable<T> that delegated to Skip() and Take() behind the scenes. There's already an existing `QueryableExtensions` class for that. That wouldn't work OOTB for compiled queries, but one of us could add the Linq customizations to match later if you don't wanna have to get into Relinq mechanics.

@mdissel What would your Pa

[2016-08-12 11:32] mdissel commented on #480
Something like

[code]

[2016-08-12 11:34] ngonzalezromero commented on #480
I can do it!!

[2016-08-12 11:49] mdissel commented on #396
Is this the functionality you have in your mind? (i have ;) )

Order.CompanyID is foreign key to Company. Mapping is based on propercase "ClassPropertyName"

[code]

[2016-08-12 11:51] jeremydmiller commented on #396
@mdissel No, that's a different thing altogether. This is about projecting documents or event streams to a flat table for reporting purposes.

[2016-08-12 11:58] mdissel commented on #396
Ok, but the CompanyOrderDTO is also a 'flat table'.

Is something like i mean planned? the SELECT statement that marten should generate is something like

`SELECT c.data ->> 'name' as CompanyName, o.data ->> 'DateOrdered' as OrderDateOrdered  from mt_doc_company c inner join mt_doc_order o on c.id = o.companyid`

[2016-08-12 12:51] tim-cools opened #482 "Tests failing on master"
[code]

[2016-08-12 12:53] tim-cools commented on #482
I try to looking into them later when I can free some time.

[2016-08-13 15:45] jeremydmiller commented on #482
@tim-cools You might try pulling the latest with this one: https://github.com/JasperFx/marten/pull/483.

DateTime/DateTimeOffset's have now surpassed Enum's as the biggest headache in Marten

[2016-08-14 13:55] JesperTreetop opened #484 "IList<T>.Contains LINQ query does not work"
The following doesn't work:

[code]

`objByTag` is `null`. As long as `Tags`' type is either `List<string>` or `string[]`, it works, but not when `Tags` is `IList<string>`. [According to your documentation, this should be supported](http://jasperfx.github.io/marten/documentation/documents/querying/linq/#sec14).

This is as of Marten 1.0.0-alpha-644 on .NET Core 1.0 on OS X 10.11.5.

(PS: Could you

[2016-08-16 00:13] jeremydmiller commented on #479
@ericgreenmix Can you give me a failing test for this? I'm trying it tonight, and so far I can't make it fail when doing a select transform on DAteTime's.

[2016-08-16 00:23] ericgreenmix commented on #479
I can get you a failing test tomorrow. The issue is that since `mt_immutable_timestamp` returns `timestamp with time zone`, all DateTime's are made local time when doing a `Select()`, even if they were persisted as UTC.

[2016-08-16 00:24] jeremydmiller commented on #479
*That's* what I needed. On it.

[2016-08-16 01:08] jeremydmiller commented on #484
@JesperTreetop I'll deal w/ IReadOnlyList<T> shortly, but for right now, I'm not able to reproduce your problems with `IList<string>`. This test passes for me:

[code]

The existing tests on IList<T> are also passing.

[2016-08-16 01:20] jeremydmiller commented on #484
@JesperTreetop `IReadOnlyList`'s aren't going to happen without some customizations to Newtonsoft. I'm sorry, but that's a no-go for now.

[2016-08-16 01:51] jeremydmiller commented on #402
Just needs docs.

[2016-08-16 02:03] #479 closed

[2016-08-16 02:03] #484 closed

[2016-08-16 02:24] jeremydmiller opened #486 "Add Timestamp to IEvent"
Need to bring it all the way through EventSelector

[2016-08-16 03:10] jeremydmiller opened #487 "Remove IEventStore.FetchAll() in favor of the new Linq support"
@khalidabuhakmeh How mad would you be at me if I did this one? We've got Linq support agaisnt IEvent now that's a more generalized approach.

[2016-08-16 06:57] tim-cools commented on #482
@jeremydmiller thx, that did the trick for those tests! The first time I ran it I had another test failing:

[code]

The second time I ran it the the test didn't fail though.

[2016-08-16 06:57] #482 closed

[2016-08-16 11:25] jeremydmiller commented on #318
Fixed by GH-318

[2016-08-16 11:25] #318 closed

[2016-08-16 11:27] jeremydmiller commented on #482
@tim-cools That one's been failing periodically for awhile. I just need to go into that test and have it do some sorting before it compares data to make it consistent

[2016-08-16 11:45] khalidabuhakmeh commented on #487
Furious!!!! Nah, just kidding. Go for it! It was a good learning exercise if nothing else :)

[2016-08-16 14:20] JesperTreetop commented on #484
Very strange, I will re-check and if I still get the same result I'll clone the repository and see if the test passes for me. Mine was a property and not a field but that probably does not make any difference.

Since [`IReadOnlyList<T>` support has been in Json.NET since 5.0](http://james.newtonking.com/archive/2013/04/07/json-net-5-0-release-1-net-4-5-biginteger-read-only-collections), what's mis

[2016-08-16 20:01] khalidabuhakmeh commented on #480
Since Marten implements `IQueryable` you should be able to use the `PagedList` nuget package.

[2016-08-16 20:05] khalidabuhakmeh commented on #104
I would agree that leaning on the tooling and ecosystem Postgres provides should be the first option to solving any problem with management.

[2016-08-19 13:27] phinett opened #490 "Bug with document heirarchy and include"
Gives a weird exception about converting a varchar to guid.

public class Bug_Query_by_abstract_type_in_hierarchy_with_include : DocumentSessionFixture<IdentityMap>
    {

        public Bug_Query_by_abstract_type_in_hierarchy_with_include()
        {
            StoreOptions(_ =>
            {
                _.Schema.For<Activity>()
                    .AddSubClass<StatusActivity>();

[2016-08-19 18:19] dougkwilson opened #491 "Install-Package Marten -Pre fails in Visual Studio due to missing dependency."
* Visual Studio 2015 Community Update 3
* Fresh console application with no other packages.
* Execute `Install-Package Marten -Pre` from package manager console.

[code]

It might just be my machines (Desktop + Laptop).  If so, please let me know how to fix.

[2016-08-19 20:33] bradyclifford opened #492 "Session SET ROLE"
We need any DDL script generated by Marten to be wrapped with the [SQL SET ROLES](https://www.postgresql.org/docs/current/static/sql-set-role.html) command.  This would include any `TABLE`, `FUNCTION` for a document, or public Marten function like the `mt_hilo.sql` and the `patch_doc.sql`.

When the database and / or the schema  are created, `DEFAULT PRIVILEGES` can be added.  Those default privil

[2016-08-22 12:51] jeremydmiller opened #493 "Integrate support for Sqitch into the command line support"
More definition soon....

[2016-08-22 12:51] jeremydmiller commented on #23
Here's my proposal. For right now, I'm proposing that we have a separate **library** to hold the command line support. In usage, you'd build your own console app so you could build out the `StoreOptions` any which way you want, then delegate to the Marten CLI support. That quickly sidesteps the issues of needing to use separate AppDomain's and "finding" the right StoreOptions if we distributed our

[2016-08-22 17:18] bradyclifford opened #494 "Add GRANTS to tables and functions"
We need ability to add `GRANTS` to tables and functions.

# Requirements
- Grant to multiple roles and users
- Grant at column level
- Grant at table / function level (not sure if you can grant at a function level without defining the columns explicilty)
- Grant without having to specify each column
- Grant only to specific columns
  - Use an enum instead of string to specify columns
- Global gran

[2016-08-22 17:20] bradyclifford commented on #494
Currently there is already a `DdlRules.GrantToRoles` collection.  I would suggest that be renamed to just Grants because there are future possibilities of granting to a `USER`, not just a `ROLE`.

[2016-08-22 22:44] dotnetchris opened #495 "UseOptimisticConcurrency for ensuring uniqueness"
In a document system, a common method for ensuring uniqueness is to store a document whose key is the unique value. This eliminates the need for locking with a transaction spanning multiple objects.

When a document that is decorated with `[UseOptimisticConcurrency]` is persisted by session.Store, if the document already exists, it should throw a ConcurrencyException.

Failing test:

[code]

[2016-08-22 22:49] dotnetchris opened #496 "Working with AggregateException sucks"
AggregateException is one of the worst classes in the BCL. It is monumentally painful to deal with meaningfully.

Please consider an alternative to using this regularly.

At the minimum please consider making ConcurrencyException be a regular exception even if you just
make it something like

[code]

I pretty much never care about the details of a concurrency exception. Either i have an explicit r

[2016-08-22 23:11] jeremydmiller commented on #496
@dotnetchris This one falls under the "I take pull requests" category.

[2016-08-23 16:02] jeremydmiller commented on #494
@bradyclifford,

A few points and what I'm thinking this morning:

* I did the rename of `GrantToRoles` to just `Grants` like you suggested. Made sense.
* Except for deletions, I'm voting against having any differences in grants between document types. I really don't see that coming up and it's too much work.
* I've added the insert & update grants. I don't see it making any sense to do it column

[2016-08-23 16:06] #492 closed

[2016-08-23 16:06] #494 closed

[2016-08-23 16:07] jeremydmiller commented on #493
See https://jeremydmiller.com/2016/08/22/proposed-marten-tooling-for-database-management/. I think I'm going to shut this one down.

[2016-08-23 16:07] #493 closed

[2016-08-23 19:15] jeremydmiller commented on #496
Actually, now that I think about it, I kept it to AggregateException on purpose because there could be other ex's down the line than concurrency exception.

[2016-08-23 19:16] #496 closed

[2016-08-23 19:37] #495 closed

[2016-08-23 19:38] jeremydmiller commented on #490
@phinett I'm finally looking at this now.

[2016-08-23 19:55] #490 closed

[2016-08-23 20:01] jeremydmiller commented on #491
@dougkwilson Hey, did this happen when you were trying to install to a csproj file project? Guessing yes. Right now it's looking like our Nuget problems are limited to that combination.

It might be addressed through updating nuget on your box and definitely by switching to project.json.

Regardless, we're gonna get this fixed for the next nuget this week.

[2016-08-23 20:10] jenspettersson commented on #491
To document some of our discussion from the gitter chat:

I got the exact same issue when trying to install the alpha package on a 4.6.2 csproj. Worked fine on .net core.

A couple of us also had issues when trying to install the latest 0.9 version on a csproj with having to add `System.Data.Common` and `System.Reflection.TypeExtensions` manually. Also worked fine on .net core.

[2016-08-23 20:19] jeremydmiller commented on #462
@hougasian I'm trying to get folks to vote on this and the other options in the Gitter room. I like both of them - but I'm useless at this kind of thing so I'm deferring to everyone else.

[2016-08-23 20:22] kiliman commented on #462
I don't get the odd nose treatment or the check "highlights". I do like the font though.

[2016-08-23 21:55] hougasian commented on #462
eyebrows, eyes, and someone suggested it be more threatening... thus the nose. Open to alteration.

[2016-08-23 22:32] drusellers commented on #462
Yeah, it took me a bit to see the eyes vs eyebrows.

[2016-08-23 22:56] dougkwilson commented on #491
Yes, csproj. My nuget is up-to-date.

[2016-08-24 00:31] #486 closed

[2016-08-24 12:33] khalidabuhakmeh opened #498 "Marten Logo Candidate #4"
Updated version of #456

![marten_futura](https://cloud.githubusercontent.com/assets/228256/17930827/2c577a8e-69d6-11e6-84a9-00ff3f74c77e.png)

Fixed visual issues from rushing

[2016-08-24 14:10] #469 closed

[2016-08-24 14:10] #487 closed

[2016-08-24 14:25] jeremydmiller commented on #457
I completely buy the idea of using Glimpse to understand Marten behavior and we're already doing that kind of thing with FubuMVC diagnostics in our shop. But for performance, I think I'd rather opt for something like New Relic or some other kind of performance monitoring tooling instead of trying to build something into Marten itself.

[2016-08-24 14:39] jeremydmiller commented on #480
@khalidabuhakmeh From what I'm seeing looking through the PagedList codebase, I don't think that's going to work the way you'd think. That would force you to do the paging on the client, wouldn't it?

Either way, I see this as just some syntactic sugar over what's already there. It's going to be more work to make this happen w/ compiled queries, but otherwise shouldn't be very hard.

[2016-08-24 15:16] khalidabuhakmeh commented on #498
![marten_futura_orange](https://cloud.githubusercontent.com/assets/228256/17936241/26388b46-69ec-11e6-9bcb-9ca8d2b6e541.png)

[2016-08-24 15:19] khalidabuhakmeh commented on #498
![marten_blue_futura](https://cloud.githubusercontent.com/assets/228256/17936389/a4d4963e-69ec-11e6-875a-16ff7119d985.png)

[2016-08-24 15:21] khalidabuhakmeh commented on #498
![marten_futura_black](https://cloud.githubusercontent.com/assets/228256/17936446/d7ba8388-69ec-11e6-8583-5c554e0c5cc1.png)

[2016-08-24 15:49] khalidabuhakmeh commented on #498
![marten_black](https://cloud.githubusercontent.com/assets/228256/17937659/db340418-69f0-11e6-9421-8f091e3fc21b.png)

[2016-08-24 15:50] jeremydmiller opened #499 "Verify that the Event Store objects don't show up in the write patch"
Reported by @bradyclifford to me last week. I haven't tried it yet, and adding this for my own tracking.

[2016-08-24 16:16] kamranayub commented on #457
Makes sense, I was only thinking of query logging in scope for this to
allow plugin integration. I'm on Azure so I need all the help I can get.

On Wed, Aug 24, 2016, 09:25 Jeremy D. Miller <notifications@github.com>
wrote:

[2016-08-24 16:36] khalidabuhakmeh commented on #480
@jeremydmiller we use it successfully with both Entity Framework and even RavenDB. The only down side is it does two queries. 1 to get the total count then to use that to do the paging.

[2016-08-24 16:46] jeremydmiller commented on #435
My thoughts on this this morning:

* I think we keep this out of Marten itself, but change a couple things to make it easier to do yourself
* For the case of switching on a different database per client, I'd personally handle that outside of Marten with something that can just fetch the correct `IDocumentStore` for the current tenant, then work from there. I'd do it w/ IoC tricks myself, but it do

[2016-08-24 18:11] Tazer commented on #469
Awesome :)

[2016-08-24 20:19] jeremydmiller commented on #499
@bradyclifford I can't reproduce this one in master.

[2016-08-24 20:24] #499 closed

[2016-08-24 20:27] jeremydmiller commented on #23
This is done, just needs to be doc'd. I'm closing it for now.

[2016-08-24 20:27] #23 closed

[2016-08-24 20:27] jeremydmiller commented on #402
This has been done for awhile, just missing docs. I'm going to go ahead and close it.

[2016-08-24 20:27] #402 closed

[2016-08-24 20:40] #113 closed

[2016-08-25 00:30] ericgreenmix opened #500 "Async Daemon Project Rebuild Throws an OperationCancelledException Exception"
The unit test for rebuilding (https://github.com/JasperFx/marten/blob/7d255ec5a01a7dd7f583d0fdac6c7e4baf71ff99/src/Marten.Testing/AsyncDaemon/async_daemon_end_to_end.cs#L59) gives a false positive, masking this exception. I believe this because the multiple processes are causing issues with how xunit registers errors? (Not totally sure).

If you put a break point here, https://github.com/JasperFx/

[2016-08-25 15:51] jeremydmiller commented on #498
Sounds like the consensus is to use the chocolate themed version of this one.

[2016-08-25 15:52] jeremydmiller commented on #462
I think the semi-consensus is to go with this one: https://github.com/JasperFx/marten/issues/498.

Thank you again for doing this.

[2016-08-25 15:52] #462 closed

[2016-08-25 15:53] jeremydmiller commented on #456
I think we're going with this one: https://github.com/JasperFx/marten/issues/498

[2016-08-25 15:53] #456 closed

[2016-08-25 15:58] jeremydmiller commented on #491
@dougkwilson Hey Doug, what's your version of the Nuget tooling? I could repro this this morning w/ the 667 build nuget.

My nuget tools version is "Package Manager Console Host Version 3.5.0.1484"

[2016-08-25 16:13] dougkwilson commented on #491
Package Manager Console Host Version 3.4.4.1321

Where do you get 3.5?  I tried a `nuget update -self` but no joy.

[2016-08-25 18:50] jeremydmiller commented on #491
@dougkwilson https://dist.nuget.org/index.html.

I'm guessing that nuget update -self didn't work because that version of nuget is prerelease. Lovely. I'm going to try to explicitly add the System.Data.Common and System.Reflection.TypeExtensions dependencies to the project.json files and see if that helps

[2016-08-25 18:59] jeremydmiller commented on #491
@jenspettersson @dougkwilson Could I get one of you to try again against Marten 1.0.0-alpha-668? Just allow some time from this comment for that to get indexed on Nuget.org.

[2016-08-25 19:06] jenspettersson commented on #491
[code]

And last error message:

[code]

[2016-08-25 19:08] jeremydmiller commented on #500
@ericgreenmix I'm not able to reproduce this one locally. How were you running the tests that spawned this one?

"I am not entirely sure if something is causing the ProjectionTrack to get GC'ed when it shouldn't be" -- I'm thinking it's that. My only theory is that the mechanics for "waiting until the rebuild is complete" aren't working correctly.

[2016-08-25 19:10] jeremydmiller commented on #104
I'm shutting this one down. At least until someone can prove that Citrus or pg_shard isn't enough.

[2016-08-25 19:15] jeremydmiller commented on #306
You can call:

[code]

I don't think that the DropAndCreate would be necessary with the patching capability. Marten would already generate a DROP INDEX statement if the index has changed.

[2016-08-25 19:15] #306 closed

[2016-08-25 19:21] jeremydmiller commented on #434
This one should be easy enough that I'm throwing it up as "up for grabs"

[2016-08-25 19:26] jeremydmiller commented on #491
Darn it, I missed System.Linq.Expressions.

[2016-08-25 19:29] jeremydmiller commented on #491
@jenspettersson Could you try 669 in a bit? I added System.Linq.Expressions too

[2016-08-25 19:37] jeremydmiller commented on #379
Finally done today.

[2016-08-25 19:37] #379 closed

[2016-08-25 19:39] jeremydmiller commented on #410
I'm going to close this one. I don't see us doing this beyond the GRANT support we've added for DdlRules. This can be handled outside of Marten as it is.

[2016-08-25 19:39] #410 closed

[2016-08-25 19:43] jenspettersson commented on #491
Still same error with 669, but it's really weird... This is from the log:

[code]

Then it fails again and rolls back and removes packages:

[code]

With error:
[code]

[2016-08-25 19:50] jenspettersson commented on #491
I can install the `System.Linq.Expressions.4.1.0` nuget package by itself, but even if it's already added to the project, the installation of the marten package fails with the same error.

Never seen this before...

[2016-08-25 19:51] jeremydmiller commented on #491
I'm out of ideas. I'll try to talk to the Nuget team and see if they can help.

[2016-08-25 21:08] pruiz commented on #104
Hi @jeremydmiller  well, to be honest, citus does have some limitations (including cros-shard ACID), etc. which are in fact an issue.

Also, sharding by using an specific product (like citus) which does provide distributed-postgres, does provide some advantages, but it has limited performance scalability compared to sharding  by means of completelly-isolated postgres instances.

I think we still n

[2016-08-25 21:24] ericgreenmix commented on #500
Okay, so when I setup the Test project on my system, I commented out the code in the `AyncDaemonFeature.cs` constructor that loads the test data from the `.json` files. Instead I just added the project manually (I did this so I didn't have to deal with the pathing issues I was having because I am running on Parallels)
[code]

I decided to resolve the pathing issues to the `.json` files, and runnin

[2016-08-25 21:28] jeremydmiller commented on #500
Can you do a pull request w/ a failing test that shows this?

[2016-08-25 21:39] jeremydmiller commented on #104
@pruiz K. I'm reopening this then. Might just end up being closely related to the multi-tenancy issue.

[2016-08-25 22:04] ericgreenmix commented on #500
So unfortunately I am not having much luck getting xunit to register the error, either because it is running in another process or because the Daemon has already been GC'ed. Still trying to figure this one out...

However, I did figure out that the error occurs when there are only a single to a few events that get rebuilt. If you use only this JSON to load the projects
[code]
It will reproducibly

[2016-08-26 03:23] ericgreenmix commented on #500
So I have a failing test that I just submitted a PR for now. The test shows the projection isn't being rebuilt and errors in the comparison of the `ActiveProject`, with the root cause of this being the `OperationCanceledException`.

I did a lot of digging around on this tonight and it is the `using` statement wrapping the `BuildProjectionDaemon` that is causing the dispose, because something in th

[2016-08-26 17:01] phixed commented on #494
@jeremydmiller, just putting in my two cents here. If we don't get all the way to fully automating grants by providing the ability to specify column-level permissions, then I think it somewhat defeats the purpose. Ideally, @bradyclifford and I think it would be best to either do 100% of generating the grants, because anything in between is going to require it to be modified by hand; even if a litt

[2016-08-29 00:30] jeremydmiller commented on #494
@phixed I take pull requests.

[2016-08-29 00:31] jeremydmiller commented on #494
And no, we're not going to set any of these grants up as defaults. It's pure friction to any other users than us. I'm not infecting Marten with Kevin's nonsensical OCD tendencies

[2016-08-29 02:29] phixed commented on #494
@jeremydmiller, I'll let @bradyclifford decide if that's worth the dev effort, since that is something that will only affect them. Regarding my suggestion for reversing the default on DELETE, I wasn't at all suggesting that because of a recommendation from Kevin, or even in the context of OE's usage of Marten; I was merely suggesting that (IMHO) defaulting delete grants to true will probably requi

[2016-08-29 09:32] bojanv91 commented on #491
Yes, I cannot update too to latest due same error. Latest version that I could update is ``Marten 0.9.12.563``.

[2016-08-31 11:42] haamaanaa opened #502 "DB schema initialization fails with "DDL Execution for 'public.mt_transform_patch_doc Diff' Failed!""
Hi!

Am trying to initialize empty schema using marten DocumentStore object

`
var store = DocumentStore.For( _ => {

                    _.AutoCreateSchemaObjects = AutoCreate.All;

                    _.Connection(conn);

                    _.DatabaseSchemaName = Marten.StoreOptions.DefaultDatabaseSchemaName;

                    _.Schema.For<InventoryItem>();

                });

store.Schema

[2016-08-31 11:49] jeremydmiller commented on #502
Have you enabled PLV8 on your Postgresql database? That’s my first guess.

[2016-08-31 11:50] haamaanaa commented on #502
propably not as i dont know what that is :)

[2016-08-31 11:53] jeremydmiller commented on #502
@haamaanaa Okay, sorry about that. PLV8 is starting to come built into a lot of the common postgresql hosting so we've kinda forgotten about that in the docs.

Here's a link on what it is and enabling it if it's there: https://github.com/plv8/plv8
Assuming you're on Postgres 9.5, here's the download for the binaries if you need that: http://www.postgresonline.com/journal/archives/360-PLV8-binaries

[2016-08-31 11:55] haamaanaa commented on #502
Yup, those helped!

Awesome super-fast support :+1:

[2016-08-31 11:57] #502 closed

[2016-08-31 13:58] khalidabuhakmeh commented on #498
![marten_sticker](https://cloud.githubusercontent.com/assets/228256/18131617/869aa7b0-6f61-11e6-86ad-aa61a36da77e.png)
![marten_text](https://cloud.githubusercontent.com/assets/228256/18131618/86a56d30-6f61-11e6-9d45-f313fe7d7bcf.png)

[2016-08-31 15:28] #500 closed

[2016-08-31 16:47] kedarvaidya opened #503 "Searching within Child Collections fails when used in Compiled Queries"
### Following code fails with KeyNotFoundException
[code]

### Console Output
[code]

[2016-08-31 18:49] jeffdoolittle opened #504 "Skip/Take with Select can cause Where clause to be excluded from generated SQL"
If you `Skip/Take` before calling `Select` then Marten ignores any `Where` clause you may have included in your Linq query. If you put `Skip/Take` after the call to `Select` then the `Where` clause is applied appropriately.

I can understand why you need to put `Skip/Take` after a `Where` or `OrderBy` but it seems like this is a bug that you have to place the `Skip/Take` after the `Select` for it

[2016-08-31 18:58] jeffdoolittle commented on #504
So I can see a few ways to address this:

1) Do nothing, but update the documentation somewhere to make it clear how this is meant to work with an explanation of why it works this way

2) Throw an exception if someone tries to `Skip/Take` before a `Select`

3) Alter the SQL generation process to handle `Skip/Take` both before and after a `Select`

The first option seems unhelpful and violates the

[2016-08-31 19:26] jeffdoolittle opened #505 "HiLoSequence Problem"
We're seeing the following error message when there are concurrent requests to our web api that uses Marten (built using NancyFx):

`40001: could not serialize access due to concurrent update`

The `IsolationLevel` for the `HiLoSequence` is set to `Serializable` which seems to make sense, but I'm concerned with with less than 10 concurrent operations, we're seeing this error.

https://github.com/J

[2016-08-31 19:29] jeremydmiller commented on #504
We'll do 3. I'll take a look at it later today or tomorrow morning. Shouldn't be that bad to fix.

[2016-08-31 19:35] jeffdoolittle commented on #505
Perhaps time to introduce the ability to use postgres sequences for documents. Now that it's being used for the events, there's precedent for using sequences. Just sayin'.

[2016-08-31 19:45] jeremydmiller commented on #505
@jeffdoolittle That is a little nuts. Have you tried to move up the HiloSettings to fetch more at a time? I'd leave the isolation level alone and honestly opt for a retry.

As for the postgresql sequence, there's a reason why I didn't opt for that one off the bat; It'd require more code to be able to fetch id values on demand as part of IDocumentSession.Store()

[2016-08-31 19:51] jeffdoolittle commented on #505
Yeah, I saw this issue regarding sequences: https://github.com/JasperFx/marten/issues/66

My thought on that was "No Bulk Insert for You!" on documents that use sequences, rather than saying "don't use Marten if you want sequences." But whatev, I'm not opposed to HiLo just shocked that I'm having this issue with so few concurrent operations.

[2016-08-31 19:56] jeffdoolittle opened #506 "`Include` with JoinType.LeftOuter issues"
The only test for this functionality returns a single Item:

https://github.com/JasperFx/marten/blob/master/src/Marten.Testing/Services/Includes/end_to_end_query_with_include_Tests.cs#L153

I'm having issues getting Include with `JoinType.LeftOuter` to work with an `Include` the returns a `List` or `Dictionary` of results. The primary document is not returned.

[2016-08-31 19:58] jeffdoolittle commented on #505
If I'm already experiencing this issue with the Marten default HiLo settings, then I'm thinking others are going to have problems with the HiLoSequence as well.

[2016-08-31 20:09] jeremydmiller commented on #503
Got it. I'll take a look at it tomorrow morning.

[2016-08-31 20:46] jeffdoolittle commented on #66
Request to reconsider opening this back up. Not sure sequences are a requirement for us or anyone else, but if they were enabled, Marten could just disallow bulk loads to such documents. Just a thought.

[2016-08-31 21:02] jeffdoolittle commented on #506
@jeremydmiller we did some investigation using a logging interceptor and the generated SQL still says `INNER JOIN` when you try to `Include` with the JoinType.LeftOuter for a List or Dictionary. Hopefully that helps make this a quick fix.

[2016-08-31 22:38] jeffdoolittle commented on #506
I've got a failing test that confirms the issue. First test passes, second test fails.

https://github.com/jeffdoolittle/Marten/commit/3c5caa93cae5ec27f9271ad4fe256d5e3c491676

[2016-08-31 23:00] jeffdoolittle commented on #506
fixed: https://github.com/JasperFx/marten/pull/507

[2016-08-31 23:54] #506 closed

[2016-09-01 03:43] jeffdoolittle commented on #504
here's a passing test for when the skip/take is after the `Select` and a failing one for when it comes after:

https://github.com/jeffdoolittle/Marten/commit/3ebb448dd64afdcff3049dced1e10f25006f2ffb

[2016-09-01 12:45] jeremydmiller commented on #505
@jeffdoolittle I can't reproduce this problem this morning. I'm absolutely hammering it using the hilo identity, but the worst I've been able to do is to cause timeout exceptions. For right now, I'm adding a single retry loop to the HiloSequence fetching. Can you check out your db and see if there's some kind of zombie connections or tx's on that hilo table maybe?

[2016-09-01 13:47] jeremydmiller commented on #503
@kedarvaidya Ouch. This one's going to take some effort. I'm gonna try to do it now, but I'm timeboxed so it might be tomorrow instead.

[2016-09-01 13:48] jeffdoolittle commented on #505
We'll take a deeper look later this morning (Our team is in California).

The issue occurred due to a misunderstanding of requirements. One of our devs was implementing a feature that needs to create multiple documents of the same type based on user settings (currently set to 9 at a time). He was making nine Api calls when it should have been a single api call with 9 created on the server side. Bu

[2016-09-01 15:21] #504 closed

[2016-09-01 17:11] jeffdoolittle commented on #491
Having a similar issue but with a different assembly `System.Threading.Tasks`:

[code]

[2016-09-01 17:12] jeffdoolittle commented on #491
Having a similar issue but with a different assembly `System.Threading.Tasks`:

[code]

[2016-09-01 17:14] dougkwilson commented on #491
I appreciate the effort you guys are putting into this.  I know there are plenty of other more interesting problems to solve that make dealing with an infrastructure issue like this even more frustrating.  Thanks for working on this!

[2016-09-01 17:18] jeffdoolittle commented on #491
Why is the issue now closed? Want to test the latest bits but can't because of this issue.

[2016-09-01 17:23] jeremydmiller commented on #491
I still haven't addressed this one yet, and it's hurting other folks, so I'm not off the hook;)

I'm going to give up and go back to using nuget.exe for the nugets. Just going to take a decent window of time to get in there to change the build script

[2016-09-01 17:25] jeffdoolittle commented on #491
Thanks Jeremy, much appreciated

[2016-09-01 18:18] dougkwilson commented on #491
My bad... I didn't mean to close it. I must of hit the wrong button.

[2016-09-01 18:21] jeffdoolittle commented on #491
ha! no worries.

[2016-09-02 02:44] CoreyKaylor commented on #491
1.0.0-alpha-710 resolves the nuget issues. Feel free to re-open if that's not true for anyone here.

[2016-09-02 02:44] #491 closed

[2016-09-02 05:18] bradyclifford opened #509 "all.sql schemaObject Order Changes"
We are committing the all.sql to our repo to assist with our Database team in approving DDL scripts.  For testing purposes, they like to be able to run the all.sql that is generated by Marten's `WriteDDLByType` method.

Everytime this method is invoked and the `all.sql` file is created, it doesn't keep the order of the `\i schemaObject.sql`.

In `DocumentSchema.cs`, method `writeDatabaseSchemaGene

[2016-09-02 05:18] bradyclifford commented on #509
Low priority

[2016-09-02 05:21] bradyclifford opened #510 "WriteDDLByType requires live connection to PostgreSQL to execute"
Is it possible to invoke the `WriteDDLByType()` method without having to provide a connection string to the DocumentStore and a live connection to a PostgreSQL instance?

I haven't checked it with the last build, but have noticed that currently, this is its behavior.

[2016-09-06 10:50] jenspettersson commented on #503
We have the same error, but when using a regular query and checking child objects for null:

[code]

But a quick fix in the `TypeMappings.cs` to default to `'jsonb'` instead of letting it throw on a KeyNotFound because the type didn't exist worked fine for us. Not sure what implications that might have for something else. The tests still passes however...

[code]

Not tested with compiled queries

[2016-09-06 10:55] jeremydmiller commented on #503
@jenspettersson I found the default type mapping problem you did and got past KeyNotFoundException, but the compiled query issue here is something else. This one's going to take some effort to address unfortunately.

[2016-09-06 16:42] #503 closed

[2016-09-06 17:01] jeffdoolittle opened #512 "Allow for limiting the number of results returned when querying an event stream"
When synchronizing append-only event streams between different systems, it's helpful to have control over the number of events returned when querying.

Add a `limit` parameter to the `IEventStore.FetchStream` and `IEventStore.FetchStreamAsync` methods.

[2016-09-06 18:03] #404 closed

[2016-09-06 18:59] jeffdoolittle commented on #512
I think we're good to just query for `IEvent`s with `Skip/Take`

[2016-09-06 18:59] #512 closed

[2016-09-06 19:33] jeremydmiller opened #514 "Index by Json function for weird searches"
As an end around whatever weird things you want to do in queries that Marten's Linq support just can't handle (weird stuff in child collections, etc.), what if we purposely exploited PLV8 functions inside of calculated indexes, and then allowed you to use these functions in querying?

Something like:

[code]

We've already proven that functions marked as IMMUTABLE in Postgresql can be used as part

[2016-09-06 20:01] jeremydmiller commented on #509
@bradyclifford I did *some* sorting to at least make it reproducible. However, the document scripts have to be done w/ a topological sort because of the foreign keys between document types. Same thing w/ sticking the functions first.

[2016-09-06 20:05] jeremydmiller commented on #509
Fixed by https://github.com/JasperFx/marten/commit/749503f69feb03cc0377a027316b5cd4c0f1b96b

[2016-09-06 20:05] #509 closed

[2016-09-06 20:09] jeremydmiller commented on #510
@bradyclifford According to this test, you can do that, but you may need to throw the switch on AutoCreate.None:

[code]

[2016-09-06 21:37] jeremydmiller opened #515 "Async Daemon should be able to handle and coordinate dependencies between projections"

[2016-09-07 12:29] jeremydmiller opened #516 "Add projection rebuilding and async daemon running to the CLI support"
cc/ @jeffdoolittle @ericgreenmix

Adding this for tracking purposes. I'm going to leave it up to Jeff and Eric to define what this looks like based on what they need.

[2016-09-08 12:53] jeremydmiller commented on #510
I'm closing this one for now.

[2016-09-08 12:53] #510 closed

[2016-09-08 13:35] jeremydmiller opened #517 "DDL Templates"
To end the issues once and for all about how the DDL generated by Marten should be (think GRANT's mostly), enable users to supply template files that wrap or add content to the DDL files generated by Marten. This would mostly replace the existing DdlRules.

We'll need to watch the oddball things like the Hilo sequence objects, the system transforms, and event store objects.

The general idea is to

[2016-09-09 13:57] robinvanderknaap opened #518 "Prevent Marten to handle questionmarks in operators as parameters"
The following statement in a custom query: data->'Hashtags' ?& ARRAY['something'], will break because the question mark in the operator is being replaced with a parameter value.

A number of jsonb operators containing a questionmark exist: https://www.postgresql.org/docs/9.5/static/functions-json.html

Several solutions here:

- Create a list of known operators, which will not be touched by Marten

[2016-09-13 17:30] #517 closed

[2016-09-14 12:08] robinvanderknaap commented on #518
I personally like the named parameter approach, which is also used by Dapper ORM. Queries could look like this:

`session.QueryAsync<Dog>("where Age = @Age and Id = @Id", new { Age = 23, Id = 34 });`

[2016-09-14 12:11] robinvanderknaap commented on #518
I don't mind doing a pull request for this, but I would like to know if named parameters is the preferred  way.

[2016-09-14 12:55] jeremydmiller commented on #518
I've gone back and forth several times. I'm good with the named parameter approach. If you saw the Gitter room this morning, I'm saying that this would probably roll into a 1.1 release.

[2016-09-14 14:39] jeremydmiller opened #520 "Add "beginning identifier" to Hilo support for migrations from other systems"
Getting us a little bit at work. We need to have some facility in Marten for the Hilo to say "Hilo sequencing needs to start at this number"

[2016-09-14 17:06] jeremydmiller opened #521 "Add a sample of an aggregated projection across streams to the docs"
I just couldn't come up with an example quickly today.

[2016-09-14 17:59] #498 closed

[2016-09-14 22:41] mhov opened #522 "1.0.0 nuget issue "Unable to resolve dependency 'Baseline'."
Installing 1.0.0 from nuget on a fresh .net 4.6 solution, and i see this error.

`
Unable to resolve dependency 'Baseline'. Source(s) used: 'nuget.org', 'Microsoft Visual Studio Offline
`

I know there are other similar issues that were closed recently but this seems to be new/current.

[2016-09-14 22:43] jeremydmiller commented on #522
And it's there clear as day: https://www.nuget.org/packages/Baseline/. Are you sure that's not a connectivity issue?

[2016-09-14 23:05] mhov commented on #522
Oddly enough, I can install Baseline 1.1.0 directly from nuget, after which the Marten 1.0.0 package _will_ install.   I'm trying this across the a few different solutions and I get the same behavior though.  I'm on nuget 3.5.0.1484.

[2016-09-19 23:34] jeffdoolittle opened #523 "`ITransform` not receiving event version when called"
When my implementation of the `ITransform` method `TView Transform(EventStream stream, Event<TEvent> input)` is called, the `Version` property of the `Event<TEvent> input` parameter is always zero.

[2016-09-20 00:22] jeremydmiller commented on #523
Is this an inline projection? The version wouldn't be assigned until the unit of work is saved to the DB.

[2016-09-20 01:31] jeffdoolittle commented on #523
That makes sense, I think I was unclear on what "inline" meant. Is there a way to get an event version number that can be included in a projection/transformation? I'm guessing maybe this will only work in the async daemon?

[2016-09-20 02:04] jeremydmiller commented on #523
It will work in the async daemon. If need be, you can initiate a raw SQL request to get the current version for that stream and number the events from there.

What are you doing that you'd want the version number anyway?

[2016-09-20 04:02] jeffdoolittle commented on #523
Building up a generic projection of events that have a shared base type to reduce direct queries against the primary event stream and the `mt_events` table. Meant to be used as part of synchronizing the event stream with other systems.

[2016-09-20 12:45] jeremydmiller opened #524 "Do no schema verification checks if AutoCreate == None"
You do still have the explicit IDocumentSchema.AssertDatabaseMatchesConfiguration(), but otherwise, if AutoCreate == None, don't check the schema at all.

Causing us issues at work. We suspect it's from getting too cute with database GRANT's and ROLE's, but we don't know that for sure.

[2016-09-20 13:29] #524 closed

[2016-09-20 16:09] jeffdoolittle commented on #524
Any benefit from adding a fifth option between "None" and "CreateOnly" perhaps called "CheckOnly"? Maybe YAGNI but possibly makes the auto create api clearer and more explicit. Just a thought.

[2016-09-20 16:13] jeffdoolittle commented on #523
Our concern (possibly premature) is contention around the `mt_events` table if we have to query it directly to synchronize the event stream across multiple systems.

[2016-09-20 16:18] jeremydmiller commented on #524
Um, yeah, maybe. You do have the Assert() to find any differences. Mind adding that as an enhancement issue?

[2016-09-20 16:20] jeffdoolittle commented on #524
will do

[2016-09-20 16:22] jeffdoolittle opened #525 "Environment check support"
GH-524 removed a call to `IDocumentSchema.AssertDatabaseMatchesConfiguration()` when the `AutoCreate` option is set to `None` (which of course makes logical sense).

While it is possible for someone to manually call `IDocumentSchema.AssertDatabaseMatchesConfiguration()` consider adding an additional `AutoCreate` option called `CheckSchemaOnly` that does exactly and only what it says - make the cal

[2016-09-20 17:10] jeffdoolittle commented on #523
I'm going to close this. We'll go ahead and resolve this by directly querying the event stream and move to using the async daemon in the future if contention ever materializes as a real-world issue.

[2016-09-20 17:10] #523 closed

[2016-09-20 19:22] lsusatyo-gcmlp opened #526 "Issues with Visual Studio 2015"
HI,

I'm using Visual Studio 2015, .net framework 4.6.2, marten version 1.0.1. Running the following code:

    public class User
    {
        [Identity]
        public int Id { get; set; }
        public string FirstName { get; set; }
        public string LastName { get; set; }
    }
            var store = DocumentStore.For(_ =>
            {
                _.Connection("Host=somehost;Port=54

[2016-09-20 19:27] jeremydmiller commented on #526
Can you stick the exception in a text block? Like so?

[code]

[2016-09-20 20:02] lsusatyo-gcmlp commented on #526
Exception Message:

<pre><code>

DDL Execution for 'Storage Table and Upsert Function for PostgreSQL_JSONB.User' Failed!\n\nDROP TABLE IF EXISTS public.mt_doc_users CASCADE;
CREATE TABLE public.mt_doc_users (
    id                  integer CONSTRAINT pk_mt_doc_users PRIMARY KEY,
    data                jsonb NOT NULL,
    mt_last_modified    timestamp with time zone DEFAULT transaction_timestamp(

[2016-09-20 21:05] jeremydmiller commented on #526
Yup, Marten requires Postgresql 9.5+. We rely on the "upsert" additions in 9.5.

[2016-09-21 18:12] jeremydmiller commented on #526
I'm going to go ahead and close this. I think all it is is needing to move up to 9.5.

[2016-09-21 18:12] #526 closed

[2016-09-22 13:21] jeremydmiller opened #528 "Support javascript transformations across related documents"

[2016-09-22 14:33] lsusatyo-gcmlp commented on #526
Hi Jeremy,

Thank you for resolving this issue. I can use the framework 1.0.1 now with the latest postgresql.

[2016-09-22 14:35] lsusatyo-gcmlp opened #529 "Issues with Visual Studio 2013"
There's an issue with upgrading the package 1.0.1 in VS 2013 (using .net 4.6.2 framework). The error message occured during Install-Package.

PM> Install-Package marten
Attempting to resolve dependency 'Newtonsoft.Json (≥ 9.0.1)'.
Attempting to resolve dependency 'Remotion.Linq (≥ 2.1.1)'.
Attempting to resolve dependency 'Npgsql (≥ 3.1.6)'.
Attempting to resolve dependency 'Baseline (≥ 1.1.0)'.
A

[2016-09-23 22:55] khalidabuhakmeh opened #530 "[Documentation] PostgreSQL Options"
In @jeremydmiller latest blog post ["Why you should give Marten a look before adopting an ORM like EF"](https://jeremydmiller.com/2016/09/23/why-you-should-give-marten-a-look-before-adopting-an-orm/#comment-10563), one of the arguments for why you wouldn't choose Marten is:

I believe a good section for the documentation, would be getting started with PostgreSQL.
- Where To Download PostgreSQL
- S

[2016-09-25 23:53] jeffdoolittle commented on #248
Time to re-open? https://www.nuget.org/packages/PostgreSql.Binaries.Lite/

`Marten.Embedded` for the win!

[2016-09-26 00:44] jeremydmiller commented on #248
@jeffdoolittle I've been mulling this one over all weekend. I'm thinking that we go for it.

[2016-09-26 03:45] jeffdoolittle commented on #248
I think this would be a huge win for the growing Marten community.

[2016-09-27 20:34] jeremydmiller commented on #529
Any update on this one? You're the only one reporting this so far.

[2016-09-29 14:15] jimgolfgti opened #534 "IndexDefinition does not enforce 'mt_' prefix"
When overriding the name of an index if the index name does not start with 'mt_' then SchemaDiff will assume the index does not exist causing DocumentSchemaObjects to attempt to rebuild the "missing" index.

[2016-09-29 14:29] jimgolfgti opened #535 "IndexName is not validated to be < 64 bytes"
The default value for NAMEDATALEN is 64, although this can be overridden in the source code (Postgres) and recompiled.
See https://www.postgresql.org/docs/current/static/sql-syntax-lexical.html#SQL-SYNTAX-IDENTIFIERS

Generated, or specified, Index Names longer than this will be truncated to NAMEDATALEN - 1 when created and a notice emitted but it is unlikely to be seen by users.

Because the actu

[2016-09-29 15:27] jimgolfgti commented on #535
I would create a pull request for this but I'm not sure what the behaviour should be;
One option is that Marten assumes default is 64, can be overridden via StoreOptions, and truncates object names when diffing

Another option is that Marten truncates generated name to < 64, configurable via StoreOptions, and throws on configured names >= 64.

Any others?

[2016-09-29 15:55] jeremydmiller commented on #534
How do you think we should beat this? Could have Marten automatically prepend the "mt_" prefix, or throw a validation error if it's not there.

[2016-09-29 16:28] jimgolfgti commented on #534
I've raised #536 which auto-appends the required prefix.

Throwing for this seemed a bit strong, this is probably a little used feature anyway.

I only became aware of it as we got bitten by the issue raised in #535 as the index name we used kept causing the "No document storage exists for type..." exception during schema validation. It wasn't immediately clear what the issue was which I suppose t

[2016-09-29 16:39] jeremydmiller commented on #248
I'm opening a new issue for the "embedded option"

[2016-09-29 16:39] #248 closed

[2016-09-29 16:40] jeremydmiller opened #538 "Marten.Embedded"
Continuing from https://github.com/JasperFx/marten/issues/248.

Let's see if we can build a new nuget that can effectively spin up Postgresql for you and use that as a special "embedded" database equivalent.

[2016-09-29 17:35] phillip-haydon commented on #413
I'm currently working on a solution for this. Adding it to 1.1 milestone so I can hopefully squeeze this in.

[2016-09-30 11:18] lngr commented on #522
Same here.

[2016-09-30 11:45] jeremydmiller commented on #522
What version of .Net is your project? And how are you adding the Nuget?

[2016-09-30 11:46] #534 closed

[2016-09-30 11:55] lngr commented on #522
Nuget v 3.4.4.1321 (PM console included in VS 2015 14.0.25123.00.

This project had an installed Marten version of 0.9.9.551.

When updating the following error occured (sorry for the German Text, but the exception translates to the above English error message).

[code]

I then manually installed Baseline 1.1.0 through the visual PM console and afterwards I could update to Marten 1.0.2, must as de

[2016-09-30 12:14] jeremydmiller opened #539 "Hang a convenience method off of IDocumentStore.StoreObjects(params object[] objects)"
Syntactical sugar over:

[code]

[2016-09-30 15:16] jeremydmiller commented on #539
This got voted down:)

[2016-09-30 15:17] #539 closed

[2016-10-03 19:44] jeremydmiller commented on #448
Okay, time to task this bad boy up.

- [ ] Handle arrays of simple types
- [ ] Handle lists of simple types
- [ ] Handle arrays of complex types
- [ ] Handle lists of complex types
- [ ] Chain a Where() clause behind SelectMany()

[2016-10-03 19:44] jeremydmiller commented on #505
@jeffdoolittle Is there any update on this one?

[2016-10-03 20:35] jeffdoolittle commented on #505
afaik we're good for now

[2016-10-03 20:56] jenspettersson opened #540 "Non-default BulkInsertMode doesn't store last modified meta data column"
`documentStore.BulkInsert(users.ToArray(), BulkInsertMode.IgnoreDuplicates);` or `documentStore.BulkInsert(users.ToArray(), BulkInsertMode.OverwriteExisting);` does not store the meta data column `mt_last_modified`

[2016-10-03 20:58] jeremydmiller commented on #505
@jeffdoolittle I just read more closely over your message up above. I think I see the problem: "angular"

I'm closing this one then;)

[2016-10-03 20:58] #505 closed

[2016-10-03 22:49] jeffdoolittle commented on #505
ha, probably unrelated, but touché :)

[2016-10-04 10:52] jimgolfgti opened #541 "Cannot use Patch API when AutoCreate.None"
The Patch API throws when `StoreOptions.AutoCreateSchemaObjects = AutoCreate.All`

The following example reproduces the issue.
[code]

[2016-10-04 20:03] jeremydmiller opened #543 "Don't spawn a connection or tx for a session on SaveChanges() if it's completely empty"

[2016-10-04 20:06] #543 closed

[2016-10-04 21:43] jeremydmiller opened #544 "Lazy transaction mechanics"
We're having some wonky problems with Marten at work because we're starting transactions every time a session connects for the first time, even though you may not need a tx at all. Npgsql takes care of the hanging transaction by doing a ROLLBACK; for you. Somehow, someway, that's not releasing connections for us.

So, new strategy is that IDocumentSession will not start a transaction *until* you c

[2016-10-04 21:50] jeremydmiller opened #545 "Marten.Dapper"
I think that fixing https://github.com/JasperFx/marten/issues/544 might be likely to mess up Dapper usage. Let's go ahead and add some extension methods to IDocumentSession to make Dapper easier to integrate w/ IDocumentSession.

[2016-10-04 21:51] #544 closed

[2016-10-05 11:58] #541 closed

[2016-10-05 11:59] #529 closed

[2016-10-05 11:59] jeremydmiller commented on #529
No activity, so I'm closing this.

[2016-10-05 12:43] #540 closed

[2016-10-05 12:46] jeremydmiller opened #547 "Use Async versions of commit and rollback in SaveChangesAsync"
Just a missed detail

[2016-10-05 13:02] jeremydmiller commented on #547
Yeah, forget that. Blows up crazily in Npgsql trying to do that.

[2016-10-05 13:02] #547 closed

[2016-10-05 13:48] #520 closed

[2016-10-05 16:26] phillip-haydon commented on #545
I took a look at this, and I believe the only change that needs to happen is to this line:

https://github.com/JasperFx/marten/blob/master/src/Marten/QuerySession.cs#L315

This should change to:

[code]

This should make it function the same again but still defer the transaction until it's required.

[2016-10-06 13:24] lngr opened #548 "LINQ boolean And error"
The following query returns documents:

`           var query = theSession.Query<Target>().Where(item => item.Flag && false);
`

Please see the attached pull request with a testcase that fails on my machine (tested on a Mac with dotnet 1.0.0-preview2-003131 after we encountered the problem in our actual Windows app).

[2016-10-07 23:48] matthewtamm opened #550 "PostgreSQL precision quirk surfacing on Duplicate Field"
Having an issue whereby Marten is upset that my table definitions vary but they kinda don't.  As I am wanting to use in an ES capacity, I added a simple duplicate field to an inline projection:

[code]
And that works as expected, I get a duplicated name field on in my **mt_doc_questparty** table:

[code]

When the `AutoCreateSchemaObjects` option is `AutoCreate.All` - this all works as expected, b

[2016-10-08 00:51] matthewtamm commented on #550
Just to add, turns out these is a `TableDiff` too, `Expected` has the precision, and the `Existing` does not.  I _believe_ this could be addressed by changing the first SELECT in **SchemaObjects.sql** to include the precision, similar to how it is done for the indexes, something like:

[code]

The above, and changing the duplicate field definition to remove the space before the precision, eliminat

[2016-10-08 03:22] matthewtamm commented on #550
As for the function diff, it leads me to the ctor in `UpsertFunction`  where the duplicated fields are added to the Arguments collection:

[code]
If this were to remove any precision specified in the duplicated field ..

[code]

These feels a bit cheap, lazy even, but it does get the job done?

[2016-10-09 14:21] jmezach opened #551 "Integrate with ASP.NET Core Json Patch support"
Are there any plans to integrate Marten's patching support with [ASP.NET Core's JSON patch support](https://github.com/aspnet/JsonPatch)?

I've tried integrating them myself, but the API provided doesn't really mix well with Marten's patch API. Specifically the idea is that you apply the JsonPatchDocument to an existing instance, but that would require loading the document which is not what Marten

[2016-10-09 16:13] jeremydmiller commented on #551
Can't say that I had thought about that, but what our patching API does internally is pretty close to json patch. If you really want to do this, it'd be far, far simpler to push the json patch directly to Postgres where it can use JS to modify the document w/o having to do any loading. You're problem though is that that completely blows any kind of server side validation.

[2016-10-10 12:46] hougasian opened #552 "gh-pages?"
@jeremydmiller want any help on the `gh-pages` branch? I have some time now :D

[2016-10-10 13:50] jeremydmiller commented on #552
@hougasian If you're up for it, I'm never going to say no to that offer. All the docs are in the /documentation folder in the main repo. I only publish the exported html to gh-pages, but the authoring is all in markdown files.

I think we need more content and examples on the Event Sourcing, especially projections, than anything else, but anything you wanna add will help. We do need to start build

[2016-10-10 13:56] jeremydmiller commented on #552
@hougasian Absolutely. The actual website is in the main Marten repo with all the content in /documentation as markdown files.  If you're on Windows, there's a command called `run-docs.cmd` that should spin up a browsable website and pop open a browser window to it. You do get auto-refresh w/ the runner.

The main page is just a static html file (w/ some Markdown-esque extensions) called "splash.h

[2016-10-10 16:19] hougasian commented on #552
@jeremydmiller Any reason to not go the Jekyll path for the actual website? I'd like to leverage the jekyll/sass combo. The documentation can then stand solely on Storyteller. Thoughts?

[2016-10-10 17:01] jeremydmiller commented on #552
@hougasian I don't really know enough to have an opinion tbh. As long as I can still author the content w/ Storyteller, I'm good with anything. It's perfectly feasible to change ST itself if that would help.

[2016-10-11 19:59] pblachut opened #553 "Foreign key index support"
I`ve just tried to use foreign key support as it was described [here](http://jasperfx.github.io/marten/documentation/documents/customizing/foreign_keys/).

I`ve noticed two issues:
- ForeignKey attribute on document definition does not create index in postgres, where fluent definition does as it should.

[Used attribute definition](https://github.com/pblachut/MartenWebApp/blob/master/src/MartenWeb

[2016-10-11 20:35] jeremydmiller commented on #522
Guys, I have no idea what's happening here. If this persists, I'll try to raise an issue w/ Nuget itself to see if they have any insight. For right now though, I'd like to close this.

[2016-10-11 20:35] #522 closed

[2016-10-12 02:42] jeremydmiller commented on #545
Doesn't that completely defeat the purpose of making the transaction lazy? A read through Dapper would cause it to start a TX, which would give you the magic ROLLBACK; behavior after the connection is returned to the pool.

[2016-10-12 03:52] phillip-haydon commented on #545
So what is the problem we are trying to solve?

Transactions are now deferred until the first use of the connection.

1. If you use Marten to select something it will start a transaction, and if you don't save changes it will roll back.
2. If you use Marten to only insert data then the transaction is started / committed when you call save changes.
3. If you use Marten to select / update, it will s

[2016-10-12 10:52] jeremydmiller commented on #545
What we found in production is that it caused problems to start transactions but not commit or roll them back. Npgsql mostly takes care of that for you when it returns the connection to the pool, but our guys found cases where an exception of some sort would make the connection with the hanging TX be unusable.

So I'm trying to avoid tx's getting started when all you're doing is reading.

Are you

[2016-10-12 12:40] jeremydmiller commented on #535
@jimgolfgti This kind of thing hasn't been the fun part of working with Marten. I think we do about what you said up above. Make the MaxConfiguredLength be configurable w/ 64 as the default. I think I'd prefer to have Marten throw an exception offhand.

Think we'd have to deal with this on:

- [ ] Index's
- [ ] Tables
- [ ] Procedures

[2016-10-12 12:45] jeremydmiller commented on #535
@jimgolfgti Ugh, I'm sorry, but I'm going to have to push this to 1.2 because it'll be a new public member on StoreOptions. I'll try to get that going soon too.

[2016-10-12 12:46] jeremydmiller commented on #553
@pblachut I'm looking at this now.

[2016-10-12 12:50] jimgolfgti commented on #535
@jeremydmiller We're working around issues as they come up, infrequently.

Hopefully I'll find some time to help out with it.

[2016-10-12 12:55] jeremydmiller commented on #535
Please do report anything that gets in your way though.

[2016-10-12 13:03] jeremydmiller commented on #535
And awesome, I just accidentally made this happen trying to fix another bug. Ugh.

[2016-10-12 13:13] jeremydmiller commented on #553
@pblachut I've got the `[ForeignKey]` behavior fixed. From my experimentation this morning, it's behaving the way I'd expect. You can insert data with NULL fk id's, but using a nonexistent FK id threw an exception from Postgresql the way you'd expect it to.

We have a test for this behavior from when the feature was built that's been passing every since.

[2016-10-12 13:21] lngr opened #554 "LINQ Queries with .Any() or .Count() throw or return wrong results"
The following code on an `List<Guid>` returns the wrong number of results if the list is empty:

`theSession.Query<Target>().Where(x => x.GuidList.Any()).ToList();
`

The following code throws an exception "Sequence contains no elements".

`theSession.Query<Target>().Where(item => item.NumberArray.Length == 3)`
`theSession.Query<Target>().Where(item => item.GuidList.Count() == 1)`

The attached pu

[2016-10-12 13:28] jeremydmiller commented on #553
There was a 2nd problem with using FK's against a nullable field or property. That's fixed as well.

[2016-10-12 13:57] jeremydmiller commented on #548
@lngr What is it that you're trying to do to query there? What's the point of the `&& false`?

[2016-10-12 14:02] jeremydmiller commented on #554
This one's probably going to be easy to fix by just sticking an AND [locator] IS NOT NULL in the where clause.
[code]

These two?

[code]

You can work around that by just having a calculated field for the child count and query against that. I bet it'd be more efficient to do it that way than trying to do the JSON operators to get in there anyway. I'd honestly vote against trying to "fix" that in

[2016-10-12 14:19] lngr commented on #554
OK, then we'll use the workaround here.

[2016-10-12 14:35] lngr commented on #548
@jeremydmiller This was actually the simplest test case that I came up with after some testing why our queries returned wrong results.

Our real queries look somewhat like that:

`.Where(x => x.IsActive && x.Candidates.Intersect(all).Any())`

where `Candidates` is a `List<Guid>` and `all` is a `List<Guid>` of precomputed  candidates.  (Essentially, we want to fetch all documents where either of th

[2016-10-12 14:45] jeremydmiller commented on #550
@matthewtamm Oh man, I hate Postgresql's metadata tables. I'm not proud of this **at all**, but for now I'm doing the equivalent to what you were saying about ignoring the precision/length/et al in the schema comparisons. Going to play the "perfect is the enemy of the good card";)

This test passes for me in my branch now:

[code]

[2016-10-12 14:48] #550 closed

[2016-10-12 14:48] #553 closed

[2016-10-12 14:57] jeremydmiller commented on #548
Marten doesn't support `Intersect()` in the Linq provider. Pretty well every possible way you can use Linq has to be explicitly coded in Marten with some way to translate the Linq to postgres flavored SQL, and that one hasn't come up before. The combination of Intersect(), then Any() would be rough. Might be easier after I push through the `SelectMany()` support.

Honestly, because the Linq work i

[2016-10-12 15:51] lngr commented on #548
Oh, ok, it did not throw an exception, so I assumed it was supported (`Where(x => all.Intersects(x.Candidates).Any())` did throw).

I currently do not see a suitable (=simple) way emulate the rather simple `Intersects`-expression with precomputed fields (or precomputed index documents), in particular we also would like to filter (and limit - for pagination) the results at database level.  Maybe it

[2016-10-12 15:54] jeremydmiller commented on #548
Yeah, and it doesn't because deep in the internals we don't really look all the way down through child collection expressions like your query there, so there's no real place it would be catching anything like that.

[2016-10-12 17:39] pblachut commented on #553
Yes, it was indeed. Constraint for not nullable id worked correctly. Thanks.

[2016-10-12 23:43] khalidabuhakmeh commented on #552
I've told @hougasian, but you no longer need a `gh-pages` branch to serve the github pages site. You can go into the repos settings and pick a branch and a folder. I suggest moving it into the `master` branch, so you can keep it in sync with the projects code.

[2016-10-17 12:44] #434 closed

[2016-10-17 12:51] jeremydmiller commented on #548
@lngr Is this still an open issue? We can revisit being able to throw an exception on the unsupported Linq operator.

[2016-10-17 13:00] lngr commented on #548
@jeremydmiller Speaking of the Boolean combination of a `bool` property and a boolean constant, yes I think it should better throw an exception if its unsupported as it yields wrong results otherwise.

[2016-10-17 13:01] #548 closed

[2016-10-17 14:16] #535 closed

[2016-10-17 14:56] ericgreenmix opened #560 "Inline Projections - IProjection ApplyAsync stream events missing data"
In the ApplyAsync method of the `IProjection` interface, the `EventStream[]` Events all have the `Sequence`, `Version` and `Timestamp` not populated and set to the `default()` for their data types.

`Data`, `Id` and `StreamId` are all populated correctly.

[2016-10-17 14:59] jeremydmiller commented on #560
This has come up before. It'd be a significant performance hit to have that data during inline projections. It *is* available during async projections.

Today it's built to generate the projected documents **before** making the batched update to the server. If you wanted that in the projections, you'd have to calculate that afterward and make a second db request.

[2016-10-17 15:18] ericgreenmix commented on #560
Ah, that makes sense.

[2016-10-17 15:25] barryhagan opened #561 "negation operator in a boolean query causes expression to be ignored"
When attempting to use a "!" operator inside a boolean expression, Marten currently ignores the negated expression completely, and returns the results as if the expression was not present.  This should either be handled correctly, or a NotSupportedException should be thrown.

This currently throws NotSupportedException:
`session.Query<T>().Where(t => !t.Names.Contains("c"));`

This does not throw,

[2016-10-17 18:30] ericgreenmix opened #562 "Add LINQ support for Any() with no predicate"
Ex.
[code]

[2016-10-18 10:54] jeremydmiller commented on #554
The `Any()` looks like it'll be fixed by #564. I'll try to address the `Count()` usage this week.

[2016-10-18 13:04] jeremydmiller commented on #562
Closed by https://github.com/JasperFx/marten/pull/564

[2016-10-18 13:04] #562 closed

[2016-10-18 13:09] jeremydmiller opened #565 "Multi-document Select() operations"
See @mdissel 's comments on https://github.com/JasperFx/marten/issues/396.

What if we had some mechanism to do a Linq `Select()` using data from related documents?

[2016-10-18 13:14] jeremydmiller opened #566 "Unsupported Linq queries against child collections should throw ex's"
This has come up a couple times this week. If a user tries to use a Linq query against a child collection that Marten does not support, you get wrong results instead of a `NotSupportedException`.

I think we can beat this by using a new expression visitor just for walking down the child collection usage in Linq queries.

cc/ @lngr

[2016-10-18 15:10] jeremydmiller opened #567 "Revamp the Linq testing"
Think we could radically clean up the testing project and even the documentation if we could move most of the Linq testing to Storyteller tables and then embed the specs into the docs.

[2016-10-20 14:02] jeremydmiller commented on #566
By no means is the "fix" expected to be perfect, but here's at least a down payment on this one.

[2016-10-20 14:34] jeremydmiller commented on #554
Got it this morning.

[2016-10-20 14:39] #554 closed

[2016-10-20 14:39] #566 closed

[2016-10-20 15:09] lngr commented on #554
@jeremydmiller nice, thanks!

[2016-10-20 19:03] #561 closed

[2016-10-20 19:09] jeremydmiller commented on #518
@robinvanderknaap Would you still be interested in trying this one? If not, I'll take it early next week.

[2016-10-20 19:12] jeremydmiller opened #569 "GroupBy support in Linq queries"
No real plans about how far to go with this yet or timing.

[2016-10-20 19:22] robinvanderknaap commented on #518
I'll give it a try this weekend. I'll let you know if I succeeded. If not, I'll be happy if you take it on.

[2016-10-21 11:02] mdissel opened #570 "Linq. Query for empty collections"
Support queries that can search for empty collections like:
[code]

where IsEmpty is an extension method), maybe with an overload to ignore not defined properties

[2016-10-21 13:14] jeremydmiller opened #571 "Defensive check in Store() for IEnumerable<T>"
If someone tries to call `Store()` with a list or enumerable and it blows up w/ the Id failure, warn about the params array in the exception message

[2016-10-21 13:43] jeremydmiller opened #572 "SelectMany().Distinct().Count() in Linq"
Going to make this one a _low_ priority for right now, but later on be able to do queries like:

[code]

`Count()` by itself works, `Distinct()` by itself works, but not both.

[2016-10-21 15:17] jeremydmiller opened #573 "SelectMany() with a chained Where() clause"
To be able to do `SelectMany().Where()`, we'll need to get smarter in the Linq parsing and handling of `WhereClause`'s.

- [ ] QueryModelExtensions.BuildWhereFragment() needs to be smarter about finding the `WhereClause`'s that apply to the main body.
- [ ] SelectManyQuery needs to be able to figure out which `WhereClause`'s belong to it
- [ ] Need a new type of `DocumentMapping` and collection on

[2016-10-21 15:18] jeremydmiller opened #574 "SelectMany() with OrderBy()"
Looking to do `SelectMany().OrderBy()` in the Linq support. Probably dependent upon #573

[2016-10-21 15:19] jeremydmiller opened #575 "SelectMany().Select() in the Linq support"
Dependent upon #573 first

[2016-10-21 15:26] #448 closed

[2016-10-21 15:28] jeremydmiller opened #576 "SelectMany().Take/Skip()"
More permutations

[2016-10-21 15:29] jeremydmiller commented on #448
Note, I'm cutting separate issues for combining SelectMany() with Where(), OrderBy(), Select(), and Take/Skip().

See #572, #573, #574, #575, and #576

[2016-10-21 16:05] #570 closed

[2016-10-22 14:08] tim-cools opened #577 "AsyncDaemon: Rebuild after projections not working"
In my application I try to add Rebuild projections feature in the admin page. When I try to rebuild with the daemon that I also use to project my projections, the projections are not rebuild. The data is removed from the database, but the projections are not rebuild. I believe it is because as _lastEncountered in the Fetcher is not reset but stays at the event number of the previous projections.

[2016-10-23 01:59] barryhagan opened #579 "CombGuid implementation not correct for Postgres"
Currently the CombGuid generator does not produce uuids that will be sequential or ordered correctly in Postgres.

Postgres stores all uuids as big endian, in fact, it simply converts the string representation into a byte array without considering whether the system is big/little endian.

Given that the string representation of a Guid is always assumed to be big endian, Marten should be setting th

[2016-10-24 23:16] jeremydmiller opened #582 "Take/Skip operators need to be parameters and work in compiled queries"
cc // @jimgolfgti

I'm making the first part of this fix right now. The compiled query thing, dunno. I'd be shocked if that worked on the first pass.

[2016-10-25 04:10] jeremydmiller opened #583 "N-deep SelectMany() chaining"
Because you just know that someone is going to try to do it.

[2016-10-25 04:11] jeremydmiller opened #584 "Use streams instead of JSON strings internally wherever possible"
The one criticism Ayende made about Marten that I thought was valid.

[2016-10-25 04:11] jeremydmiller opened #585 "Ability to stream json data directly to another stream"
For the case where all you want to do is get some results from the server as JSON and send it down to an HTTP response. Skip the JSON string altogether and just copy bytes from one stream to another.

[2016-10-25 09:39] robinvanderknaap commented on #518
To enable named parameters without breaking the current positional parameter, I check if the first parameter is an anonymous object. Maybe not the best approach, because a normal object should also be allowed.

[2016-10-25 09:41] robinvanderknaap commented on #518
Another solution would be to create a separate Query method on the session, e.g. QueryWithNamedParameters.

[2016-10-25 12:28] jeremydmiller opened #587 "QueryStatistics needs to be isolated for compiled queries"
Yikes, we're tracking QueryStatistics as a public member of QueryHandlerFactory, and that'll cause problems sooner or later.

[2016-10-25 13:00] ericgreenmix opened #588 "Docs - Add example of merging event streams by sequence in a custom projection rebuild"
I.E.

[code]

[2016-10-26 02:36] jeremydmiller opened #589 "SelectMany().Include() chaining"
You know someone's going to want it.

[2016-10-26 02:46] jason-roberts opened #590 "Foreign Key Index/Constraint Not Created on Updated Table"
This may have already been fixed in #553 but just wanted to mention here in case it's a bug.

Steps to repro:
1. Create db
2. Create class A with properties but no foreign key (FK) property yet
3. Store doc instance in db
4. Add second class B
5. Modify A: add property (FK) to reference doc A Id (to be used as FK)
6. Either use [ForeignKey] attribute in A or configure with DocumentStore.For ... Sc

[2016-10-26 03:59] jeremydmiller opened #591 "SelectMany() with Stats()"
Ugh, this one's gonna be ugly.

[2016-10-26 04:39] #573 closed

[2016-10-26 13:42] #574 closed

[2016-10-26 13:42] #576 closed

[2016-10-26 13:43] jeremydmiller commented on #579
This was addressed by #580

[2016-10-26 13:43] #579 closed

[2016-10-26 13:47] jeremydmiller commented on #518
Addressed by #586

[2016-10-26 13:47] #518 closed

[2016-10-26 13:56] jeremydmiller opened #592 "Skip().Take() ordering in compiled queries"
Inside a compiled query, assert that the Skip() appears before the Take(). Otherwise it can't work. Only an issue in compiled queries.

Related to #582

// cc @jimgolfgti

[2016-10-26 15:50] jeremydmiller commented on #590
Any chance I could get you to do a PR with a failing test for this?

[2016-10-26 17:29] bradyclifford opened #593 "mt_transform_patch_doc created in public schema"
The `mt_transform_patch_doc` function is created in the public schema.  It should instead be created under the schema set in `StoreOptions.DatabsaeSchameName`.

[2016-10-26 17:34] bradyclifford opened #594 "DDL Templating for patch_doc and immutable_timestamp functions"
It would also be nice if these 2 functions would be able to apply similar formating as is done with the document DDL scripts.
- The `SECURITY DEFINER` setting similar to what is done with the document upsert functions using `StoreOptions.DdlRules.UpsertRights = SecurityRights.Definer`.
- The `StoreOptions.DdlRules.Role = "ROLE1";`.  We need the 2 functions to be wrapped by a `SET ROLES = "ROLE1"`.

[2016-10-27 13:13] jeremydmiller opened #595 "SaveChangesAsync should be async all the way down"
Easier after the changes to `ManagedConnection` in 1.1. When `SaveChangesAsync()` is called, *every* call going down should be async too.

See https://github.com/npgsql/npgsql/issues/1232

[2016-10-27 15:18] jeremydmiller commented on #595
@bradyclifford This is going to be in 1.1.2

[2016-10-27 16:04] jeremydmiller commented on #577
@tim-cools The easy workaround is to just build a new daemon object each time you do that. I'm trying to make a fix for this now, but I'm running into trouble w/ postgres itself.

[2016-10-28 05:27] jason-roberts commented on #590
I started trying to write test for this but needed to modify definition of class after 1st insert so was unsure how to do this and then configure in Marten. I've thrown together this to demo: https://github.com/jason-roberts/MartenFKDemo run first console app first, then second console app. Assumes host = localhost; database = MartenSpike; username = postgres" - you'll need to edit password/cn str

[2016-10-28 19:08] jeremydmiller opened #596 "AsyncDaemon needs an explicit "start over on this projection" feature"
See #577. `Rebuild()`/`RebuildAll()` was meant for doing an explicit rebuild of a projection at one time. I saw it as useful for development and production migrations.

Now, if you want to tell a running AsyncDaemon to rebuild the projection against all the existing data, but continue to process new events, I think we need a separate mechanism.

cc // @tim-cools

[2016-10-28 19:23] #577 closed

[2016-10-28 19:29] jeremydmiller commented on #595
Closed by https://github.com/JasperFx/marten/commit/ae315735cdb773566c2989c08036397f6f187ab1

[2016-10-28 19:29] #595 closed

[2016-10-28 20:18] #582 closed

[2016-10-28 20:18] #592 closed

[2016-10-31 08:19] tim-cools commented on #596
@jeremydmiller good to know the rebuild was only designed to run once from the Daemon. Thinking about this again, i'm not sure if I really need the continue process. If we extract the rebuild mechanism out of the daemon and into a Projection(Re)builder class can be sufficient. It might prevent people from making the error I made...

[2016-10-31 12:33] jeremydmiller commented on #591
Wasn't that bad after all -- pending no regression failures from normal usage;)

[2016-10-31 12:46] #591 closed

[2016-10-31 14:30] #589 closed

[2016-10-31 15:26] jeremydmiller opened #597 "SelectMany().AsJson()"
Sigh. Looks like it'll be different mechanics than w/o SelectMany().

[2016-10-31 16:54] jeremydmiller opened #598 "Aggressively close the open connection immediately after executing SaveChanges/SaveChangesAsync"
We opted into the idea of a "sticky" connection strategy for each DocumentSession and that's just not working out well in production.

[2016-10-31 21:40] mdissel opened #599 "Optimistic Concurrency strategy raise exception or try to merge documents"
Currently when a save conflict is detected an exception is raised (if optimistic concurrency is enabled). Maybe we could minimize a conflict situation by adding an option to the merge the conflicted documents into one document and only raise an exception when a conflict is found during merging.
I think this option should have a documentstore default and can be overriden at document level or sessio

[2016-10-31 22:29] jeremydmiller commented on #599
I'd vote to make that a completely semantically different operation.

Sounds like a great pull request;)

[2016-11-01 13:01] #575 closed

[2016-11-01 13:01] #597 closed

[2016-11-01 13:02] jeremydmiller opened #601 "SelectMany().Transform() chaining"
*May* be nothing but writing an acceptance test to prove that it works

[2016-11-01 13:03] jeremydmiller opened #602 "SelectMany() within a compiled query"
May be nothing more than a test to ensure that it works

[2016-11-01 13:03] jeremydmiller commented on #598
This is done.

[2016-11-01 13:03] #598 closed

[2016-11-01 14:39] jeremydmiller opened #603 "Show the damn SQL statement anytime a db command fails"
Maybe a MartenSqlException that wraps and adds the command?

[2016-11-01 14:57] #601 closed

[2016-11-01 15:01] jeremydmiller opened #604 "Be able to use public Field's as parameters in compiled queries"
Not a super high priority, but still

[2016-11-01 15:12] jeremydmiller opened #605 "Compiled queries create an extra db parameter for "x => x.Flag" queries"
If you have a compiled query that uses something like:

[code]

it "finds" an extra parameter for the x.Flag where clause and blows up.

[2016-11-01 15:14] #602 closed

[2016-11-01 15:20] jeremydmiller commented on #605
The compiled query isn't smart enough to handle constant values is our problem, and we use that in a few places in the Linq support.

[2016-11-01 20:16] #605 closed

[2016-11-01 22:44] jimgolfgti opened #606 "Compiled Queries using LIKE operator do not pass correctly formatted parameter value"
When using string functions that generate the LIKE operator, `StartsWith`, `EndsWith`, `Contains`, the submitted parameter value does not end up with the required `%` wildcards.
The following test case illustrates the failure.

[code]

[2016-11-02 12:24] jeremydmiller commented on #584
This one is going to be a no go for right now. Npgsql doesn't support reading JSONB types as a string. And I don't see any kind of GetStreamAsync() either. I think this is going to have to wait for later and maybe an Npgsql update.

[2016-11-02 13:06] jeremydmiller opened #608 "QueryStatistics plus batched queries"
Thinking it won't work right now. Need to test:

- [x] Linq query with Statistics sync
- [x] Linq query with Statistics async
- [ ] Compiled query with Statistics sync
- [x] Compiled query with Statistics async

[2016-11-02 15:52] #587 closed

[2016-11-02 15:52] #608 closed

[2016-11-02 16:38] #603 closed

[2016-11-02 16:38] jeremydmiller commented on #516
This can be done at any time since it's in a separate nuget. I'm pulling off the milestone.

[2016-11-02 17:31] #571 closed

[2016-11-02 18:00] jeremydmiller commented on #590
I know what's (not) happening now. The cute little "generate a patch" code doesn't consider constraints whatsoever. I'll add that in a bit and get the fix rolled into 1.2 later this week.

Thanks for doing that. I've got a failing UT for it now:

[code]

[2016-11-02 19:26] #590 closed

[2016-11-02 19:35] jeremydmiller commented on #596
@tim-cools Can you get by w/o this over the next couple weeks? *A* workaround is to have the daemon shut down that projection, do the rebuild, then tell it to start again.

I'm running out of steam hard to squeeze out 1.2 and looking for ways to cut scope;)

[2016-11-02 19:45] mdissel commented on #584
But according to this https://github.com/npgsql/npgsql/issues/885 and http://stackoverflow.com/questions/36112839/npgsql-support-for-getting-jsonb-field-as-stream this seems to supported.

[2016-11-02 19:51] jeremydmiller commented on #584
Huh. Didn't work when I tried to spike that our today, but I was doing GetStream(). Let me try reader.GetTextReader(0) tomorrow instead.

[2016-11-02 19:59] jeremydmiller commented on #584
Okay, that works. Not sure if it's as advantageous, but I'll still try that.

[2016-11-02 20:21] #606 closed

[2016-11-02 20:40] jeremydmiller commented on #584
Looks like an exercise in tedium to deal with **reading** JSON data as a text reader wrapped around the stream. As for **writing**, I don't see anything that would work except for possibly writing a char[] to the parameter. Not sure why or how that would be helpful.

[2016-11-03 12:26] jeremydmiller commented on #584
This isn't going well. There's a few places in the synchronous methods where it was easy to use a TextReader instead of a string to avoid the allocation hit, but I don't see anyway to do this with async fetching without mixing in blocking code.

Also, it's going to take a redesign of the identity map interface and interactions that's going to take a while. I'm pushing the easy fixes now, and going

[2016-11-03 12:32] tim-cools commented on #596
@jeremydmiller sure! the workaround should works for me. no problem at all...

[2016-11-03 12:49] jeremydmiller opened #609 "Update Docs for 1.2"
Running list of topics that need to be updated for the 1.2 release

- [x] Distinct() in Linq queries
- [x] Indexes must be named w/ the "mt_" prefix
- [x] Name length rules
- [x] Ability to reset the Hilo floor in sequences
- [x] Can use Event<T> in the built in Aggregator
- [x] Warning that Event<T> metadata isn't available in inline projections
- [x] LINQ support for Any() with no predicate
- [x

[2016-11-03 12:51] jeremydmiller opened #610 "Use StringBuilder internally when building up Sql strings"
Should've done this from the get go

[2016-11-03 13:24] jimgolfgti opened #611 "Patch API does not modify duplicated columns"
Patching operations on duplicated fields do not modify the duplicated column value.

Some operations such as `Set`, `Duplicate`, `Increment`, `Decrement` should be able to be extended to make the necessary updates.

Some `Delete` operations should be able to support also.

The enumerable operations `Insert`, `Append` and `Remove` should be immune from change depending on whether Duplication is for

[2016-11-03 17:32] jeffdoolittle commented on #584
It would be great if we had some metrics to tell us what we'd actually gain performance-wise. Otherwise it's hard to tell if this is a necessary or reasonably beneficial optimization.

[2016-11-03 18:28] jeremydmiller commented on #584
@jeffdoolittle Going to easily agree with that one. I was too lazy to try it this morning, but I'd like to use this and the StringBuilder issue as an excuse to get into [Benchmark.Net](https://github.com/PerfDotNet/BenchmarkDotNet)

[2016-11-04 10:54] jimgolfgti commented on #611
Example failing test case for `Set` operation
[code]

[2016-11-07 14:16] jeremydmiller commented on #480
Hey all, I'm going to let this one slide to 1.3 for now.

[2016-11-07 14:48] jeremydmiller commented on #521
I *will* get to this some day, but I just don't have the energy to try this this morning, so I'm going to take off the milestone.

[2016-11-07 14:50] jeremydmiller commented on #609
I'm declaring victory.

[2016-11-07 14:50] #609 closed

[2016-11-07 14:50] jeremydmiller opened #612 "New documentation topic for how Marten does connection handling"

[2016-11-08 12:51] jeremydmiller opened #613 "Throw an AccessDisposedException when using a disposed session"
We think this might be getting us at work. We have an edge case where a session is used within a background thread *after* it's been disposed in such a way that the connection is never actually closed and returned to the pool because the application thinks that it's already closed the session

[2016-11-08 13:41] jeremydmiller opened #614 "Optional "auto-close" connection mode"
Have an opt-in mode where Marten closes every connection it opens as soon as it can without waiting for session.Dispose().

Not really sure we're gonna do this one.

[2016-11-08 13:43] #613 closed

[2016-11-08 18:30] dotnetchris commented on #136
What scenarios would not be covered by CreateAndUpdate that only All would sufficient?

Would that mostly be constrained to activities such as rename type, rename existing property?

[2016-11-08 18:37] phillip-haydon commented on #136
@dotnetchris All will drop and re-create... Create and Update will not re-create so no data loss.

[2016-11-08 18:53] dotnetchris opened #615 "session.StoreObjects and versions"
Currently there's not any straight forward method for storing multiple objects while supplying version information.

I ended up having to write code ala

[code]
So i could use it similar to

[code]

This works.

But i think the true underlying issue is that `session.Store` does not invoke GetType() and instead infers it off the T argument. This breaks down when you have the scenario that ends up b

[2016-11-08 19:04] jeremydmiller commented on #615
What kind of signature would you want? Not sure how you'd do that w/o it being awkward

[2016-11-08 19:47] dotnetchris commented on #615
Probably just `Store(Type type, object obj, Guid version)`

This leaves it up to the user to implement a StoreObjects method that is aware of version in terms of their own business domain. (In my domain i'm using IVersionedDocument : IDocument, i agree it would be weird to attempt to force this into anything)

The one other alternative I see would be

`StoreObjects(params Tuple<object, Guid>[] doc

[2016-11-08 19:48] jeremydmiller commented on #615
Going to veto the 2nd option as just too ugly

The 1st sounds like a good pull request for 1.3;)

[2016-11-08 19:58] dotnetchris commented on #615
I concur with your conclusion on option 2.

So in the database i see there is a persisted "mt_dotnet_type" string column.  I also see there's a relationship between the type name and the table name.

How do these two mix together when you have polymorphism? Suppose you have the textbook Cat : Animal, Dog : Animal.

With `Store(Type type, object document, Guid version)` I could easily write

[code]

[2016-11-08 20:37] jeremydmiller commented on #615
Marten already supports that w/ just a little bit of human intervention: http://jasperfx.github.io/marten/documentation/documents/advanced/hierarchies/

[2016-11-08 20:39] tim-cools opened #616 "Not possible to use Serializable transactions"
It is currently not possible to prevent write collision with a serializable transaction.

Previous code should throw an exception, but doesn't because the transactions is only started when SaveChanges is called...

Solution suggested by @jeremydmiller on chat: when Serializable the transaction should be opened when session is opened

[2016-11-09 12:22] jeremydmiller opened #617 "Close any open connection if any command fails"
Paranoid connection cleanup. session.Dispose() should clean things up by itself, but let's not count on users to do things right every time.

[2016-11-09 14:32] mdissel commented on #617
So this means that after an exception you're session can't be used anymore? Properly disposing is in my opinion something an user should do..

[2016-11-09 14:36] mdissel commented on #614
See #617 .. I really think a session should just be a wrapper around a IDbConnection and behave the same.. It's responsibility of the developer to properly close /dispose the connection, open will be handled by the session (only open the connection if a command is executed in the database)

[2016-11-09 14:36] jeremydmiller commented on #617
If you're counting on users knowing what they're doing, sure. We can make this configurable later, but I'm rushing this one into a private build for our shop today.

[2016-11-09 14:38] jeremydmiller commented on #614
@mdissel I'm doing this in reaction to problems at work in production where things aren't getting cleaned up the way they should be. So yes, if all our developers were perfect and I was omniscient, this wouldn't have been necessary, but since we're not, here we go.

[2016-11-09 14:39] jeremydmiller commented on #617
We'll make this an opt-in behavior before 1.3 is released. It's going into a private 1.2.2 build this morning though.

[2016-11-09 14:41] mdissel commented on #617
It's exactly the same as when they're using the IDbConnection. If they don't properly dispose it you have the same result.

[2016-11-09 14:43] jeremydmiller commented on #617
@mdissel FFS, I'm very well aware of the design issues and I'm reacting to real production issues, not having a discussion about theory here.

[2016-11-09 15:04] shanomacadaemia opened #618 "Switching schemas ad-hoc via Advanced.Options.DatabaseSchemaName"
Hello,

We are trying to switch schemas using the property above so that we can save documents for different clients under different schemas, much as RavenDB would allow you to specify a database name when opening a documentsession; however, this seems to only work about half of the time. I'm imagining that this is not the best solution as we are setting the schema at the DocumentStore level rathe

[2016-11-09 15:38] jeremydmiller commented on #618
@shanomacadaemia Sorry, but we haven't addressed multi-tenancy at all yet: https://github.com/JasperFx/marten/issues/435

For now, having a separate IDocumentStore per tenant is all we've got. That's not going to be super-efficient for application "warmup", but should be fine at runtime. Can you drop into that issue above and drop any ideas you might have for how it would work from a usability per

[2016-11-09 15:41] shanomacadaemia commented on #618
Thanks for the swift reply, will do

[2016-11-09 15:41] #618 closed

[2016-11-09 16:22] mdissel commented on #617
Yes, but this is breaking change, not catched by a full code coverage unit test.. for example:

[code]

will fail with this update.

[2016-11-09 16:33] jeremydmiller commented on #617
See what I said about "opt in" behavior above.

[2016-11-10 13:25] mdissel commented on #545
Yes, good idea ;)

I agree with @phillip-haydon  .. SaveChanges chould check if there's already an active transaction, if not start and commit. If the transaction is already active, the commit should be done manually.
This way you can mix regular SQL queries with Marten queries..
We could even use the SAVEPOINT <name> ROLLBACK TO <name> inside the SaveChanges(), throw an exception and let the call

[2016-11-10 13:43] shanomacadaemia opened #619 "DateTime comparison in linq expression produces npgsql error"
We are using the following code to filter rules with datetime values:

`rules =
                        await
                            session.Query<Rule>()
                                .Where(
                                    rule =>
                                        rule.ModelType == modelType &&
                                        rule.RuleType == ruleType &&

[2016-11-10 14:27] jeremydmiller commented on #619
@shanomacadaemia What's your AutoCreateSchemaObjects setting? Are you letting Marten do things automatically, or trying to control schema creation yourself? The missing function there is something that Marten should have built out for you.

[2016-11-10 14:33] shanomacadaemia commented on #619
That was exactly the issue, I discovered it a few moments ago. It was due to us switching the schema after creation again (errant code that should have been removed). Apologies.

[2016-11-10 14:33] #619 closed

[2016-11-10 14:38] jeremydmiller commented on #545
@mdissel -->

"SaveChanges chould check if there's already an active transaction, if not start and commit" -- basically what it already does.

I really don't want anything to do with nested transactions in Marten. `SaveChanges()` should be assumed to mean "finish all outstanding changes in one logical transaction". I missed a detail in the API to allow you to easily combine your own SQL commits wi

[2016-11-10 15:05] mdissel commented on #545
Ahh.. I missed the code in transactionstate.BeginTransaction(..).
One easy implementation could be to return true when a new transaction is started and only commit if a new transaction is started so we minimize the number of transactions and connection opening/closing.

[2016-11-10 15:30] jeremydmiller commented on #594
@bradyclifford The grants or set roles are never going to be part of the schema validation. Both of these functions strictly work on arguments passed to them (non volatile), so I don't think that the security rights are going to matter at all.

All DDL getting dumped out is always surrounded by the SET ROLE thing as I recall. That's actually done at the export file level, not at the individual obj

[2016-11-10 17:10] bradyclifford commented on #594
We just need to be able to run the Marten.Assert.  Currently, if either function has SECURITY DEFINER in its definition, the schema assertion fails.

[2016-11-10 23:07] dotnetchris commented on #136
What types of changes to c# classes result in schema changes that need drop to occur?

[2016-11-14 03:00] samirski opened #620 "Exception is thrown when first saving data with AutoCreateSchemaObjects = 'All' and then with AutoCreateSchemaObjects = 'CreateOrUpdate'"
I'm pretty much new to Marten and might be missing something here, but after spending several hours trying to figure out what is going on, decided to ask for help. The issue is that whenever I try to save some data to a database with AutoCreateSchemaObjects = 'All' using some classes, and then using the same classes but this time AutoCreateSchemaObjects = 'CreateOrUpdate' I'm getting an exception:

[2016-11-14 03:36] jason-roberts opened #621 "Bulk Insert Exception when Document type configured with Optimistic Concurrency"
System.ArgumentNullException was unhandled by user code
  HResult=-2147467261
  Message=Value cannot be null.
Parameter name: expressions
  ParamName=expressions
  Source=System.Core
  StackTrace:
       at System.Linq.Expressions.Expression.RequiresCanRead(Expression expression, String paramName)
       at System.Linq.Expressions.Expression.RequiresCanRead(IEnumerable`1 items, String paramName)

[2016-11-14 14:38] jeremydmiller commented on #620
Can you try this? Use the `store.Schema.AssertDatabaseMatchesConfiguration();` method after you open the store as `AutoCreate.CreateOrUpdate` and paste in what Marten thinks is different? If it fails that comparison, the exception thrown should list the required delta DDL.

What version of Marten are you on by the way? This does sound like a bug we (thought we) fixed for 1.2 with comparing schema

[2016-11-14 14:39] jeremydmiller commented on #621
@jason-roberts I'll take a look at this later today, thank you for the repro steps.

[2016-11-14 15:20] samirski commented on #620
I should have mentioned that I already tried `store.Schema.AssertDatabaseMatchesConfiguration();` but could not figure why Marten thinks the schema is different. Also I'm using the later version of Marten 1.2. Here is the message after the assert:

`Configuration to Schema Validation Failed! These changes detected:

-- public.mt_transform_patch_doc Diff

CREATE OR REPLACE FUNCTION public.mt_transf

[2016-11-14 15:26] samirski commented on #620
Hmm, I just check the database and I can't find `public.mt_transform_patch_doc` function the my database. Somehow I think this one is not created while Marten in `AutoCreate.All` mode.

[2016-11-14 15:27] jeremydmiller commented on #620
So it's just the patch function and that's it? That's not the same problem though. The patch wouldn't be there until you actually use that, so that does make some sense. Doesn't address whatever problem you're having with that doc type though.

Can you try instead to export the patch DDL for only the doc type that's giving you fits?

See this http://jasperfx.github.io/marten/documentation/schema/m

[2016-11-14 15:31] samirski commented on #620
Sure, I'll do that later today.

[2016-11-14 16:02] samirski commented on #620
Ok, was able to do that earlier than expected. Right now I see two files generated one with drop files and the other with the changes to the schema.

--drop
`DO LANGUAGE plpgsql $tran$
BEGIN

-- public.mt_transform_patch_doc Diff
DROP FUNCTION IF EXISTS public.mt_transform_patch_doc(JSONB, JSONB) cascade;

END;
$tran$;
`
--create/update
`DO LANGUAGE plpgsql $tran$
BEGIN

DO $$
BEGIN
    IF NOT EXI

[2016-11-16 03:49] samirski commented on #620
Ok, after doing some debugging I've found the issue. One of my classes that I'm persisting to the database has a type `bool` property. This however is being returned back from the database as type `boolean`. Same type but being compared incorrectly: `bool != boolean`.

`protected bool Equals(TableColumn other)
        {
            return string.Equals(Name, other.Name) &&
                   strin

[2016-11-16 11:54] jeremydmiller commented on #620
@samirski You had set the type of a duplicated field manually to "bool"? That does make sense.

It's going to be a one line code fix + a test if you'd be up for a PR for that: https://github.com/JasperFx/marten/blob/master/src/Marten/Util/TypeMappings.cs#L48-L50

Or just change your code to this:

[code]

[2016-11-16 13:13] samirski commented on #620
@jeremydmiller Thanks, last night while in bed I came to the the same conclusion :).  The issue indeed not because of the property type but the type I was setting on the `DuplicateField`. The reason why I was setting it manually is because I'm coming from SqlServer where `boolean `data type does not exists as you know. And thus to make sure everything works as expected put the type explicitly and

[2016-11-16 13:13] #620 closed

[2016-11-16 14:34] jeremydmiller commented on #620
Nevermind that, I'm into the code this morning for something else and I'll address it real quick.

[2016-11-16 15:11] jeremydmiller commented on #621
@jason-roberts I've got a local test that reproduces it.

[2016-11-16 15:23] jefnazario opened #622 "Override table prefix in DocumentStore configuration"
Hi,
I need to control all the table name, including prefix. There is a way (or an open issue to add that feature) to override the prefix on tables, just as it exists in `DocumentAlias`?

/CC @sandcastle @jeremydmiller

Thanks.

[2016-11-16 15:28] #593 closed

[2016-11-16 15:28] #621 closed

[2016-11-16 15:29] jeremydmiller commented on #621
Got it. The fix will be in v1.2.3 later today. This was clearly a permutation that we missed in testing.

[2016-11-16 15:32] jeremydmiller commented on #622
@jefnazario This has come up before, but I thought then and now that that's a bridge awfully far away. There's a lot of logic that already keys on the "mt_" prefix and it would take a lot of changes all the way throughout the code to make that configurable.

Sorry, but I don't see this happening any time soon. Why do you need to do that by the way?

[2016-11-16 15:34] jeremydmiller commented on #617
@mdissel Actually, your example would work as is. The first connection would be slammed shut, but you'd be able to still use the session w/ a new transaction. Not sure it's really all that useful at that point though.

`Store()` by itself wouldn't make any database calls w/ the exception of needing to fetch a new Hilo data set.

[2016-11-16 15:35] jeremydmiller commented on #617
Going to call this one closed for now. We'll open a separate issue later if this causes any harm.

[2016-11-16 15:35] #617 closed

[2016-11-18 09:56] mdissel opened #623 "support for queryable interfaces (query over different documents)"
If you can't use hierarchies / subclassed documents, we could introduce an interface to query for different kind of documents. Sample:
[code]
the query should query all persistent documents that implement IHasAddressID, for example using a union sql query or a multiple resultset datareader.

[2016-11-18 11:47] jeremydmiller commented on #623
@mdissel Have you tried this out and it didn't work? Using an interface should already be supported through the hierarchical persistence option. Pretty sure that's something that @nieve specifically tested against.

[2016-11-18 15:27] mdissel commented on #623
no, does not work..

see https://github.com/mdissel/marten/blob/QueryInterfaces/src/Marten.Testing/query_by_interface_Tests.cs

[code]

[2016-11-18 15:30] jeremydmiller commented on #623
@mdissel Can you please go read the documentation I linked to up above? It's not magic, you have to tell Marten about the types you want persisted under the interface.

[2016-11-18 15:45] mdissel commented on #623
I register the interface as hierarchy, but be aware it is NOT a hierarchy.. Two different class, in two different tables, only sharing one ore more columns.
Changed the test, no exception, but not the correct result.
(change pushed to github)

[2016-11-18 15:48] jeremydmiller commented on #623
You're really wanting something completely different here, right? You're looking for Marten to magically look over known document types that implement that interface and apply the query against each?

[2016-11-18 15:49] mdissel commented on #623
Yes!..
For example:
Check if the address can be removed and see if it's anywhere referenced

[2016-11-18 15:53] jeremydmiller commented on #623
And you know exactly what my reply is going to be:

_Sounds like a great pull request_

I'd make that be a semantically different operation. Something like:

[code]

It'll make the implementation easier and you really need to let the user know that there's something unusual happening performance wise here.

[2016-11-18 15:55] mdissel commented on #623
Of course, but first agree if it's usefull and than how and than coding..

[2016-11-18 15:57] jeremydmiller commented on #623
I do see the value. There's something conceptually similar in the StructureMap diagnostics.

[2016-11-20 00:04] ericgreenmix opened #624 "Async Daemon Projection Rebuild breaks when seq_id of event is over 101 greater than last event seq_id"
So this is a strange issue. I have been able to consistently reproduce it. If I have multiple events of the same type in the `mt_events` table, and the `seq_id` of one of those events is 101 greater than the `seq_id` of a previous event of that same type. The streams of that type, starting with the one that was 101 greater than the previous, will left out of the call to `ApplyAsync` (from the `IPr

[2016-11-22 13:15] tim-cools commented on #616
@jeremydmiller

Is this solution ok for you? I might have some time to fix this in the coming days...

[2016-11-22 13:44] jeremydmiller commented on #616
That's the best suggestion I'd have anyway. I'll gladly take it. I think I'd try to roll your fix and whatever it takes for #624 into a 1.2.4 nuget

[2016-11-25 09:55] cocowalla opened #628 "Unable to Represent Hierarchies with Foreign Keys"
I seem to be unable to represent graphs with referential integrity.

Let's say I want to represent a hierarchy of `Category` objects, such that each one points to its parent:

[code]
And my `MartenRegistry` contains:

[code]

When I call `ApplyAllConfiguredChangesToDatabase()`, and exception is thrown with `Cyclic dependency found`.

The workaround is to change the `Category` so that the parent is

[2016-11-25 16:19] cocowalla opened #629 "Patch Append - possible to treat list as a set?"
The [docs](http://jasperfx.github.io/marten/documentation/documents/advanced/patch_api/) explain how you can patch a document to append an element to a child array.

Is there some way to treat the child array as a set, such that the element will only be added if it's not already there? The aim is to prevent duplicates being added to the array.

[2016-11-28 21:51] jeremydmiller commented on #616
Fixed by https://github.com/JasperFx/marten/pull/626

[2016-11-28 21:51] #616 closed

[2016-11-28 23:07] barryhagan opened #631 "Unable to use Query<T1>().Include<T2>() when both T1 and T2 use soft deletes"
If both types used in a Marten LINQ .Include() query are configured to use soft deletes, running an .Include() query will result in this exception:

[PostgresException (0x80004005): 42702: column reference "mt_deleted" is ambiguous]

It looks like the where clause to handle soft deletes is not scoped properly as `d.mt_deleted`.  Instead, you get `where (mt_deleted = False)` in the generated comman

[2016-11-29 01:05] jeremydmiller commented on #631
Got it. Do you want to take this one on, or let me get it sometime this week?

[2016-11-29 03:45] barryhagan commented on #631
I'm not completely familiar with that code yet, so I'm not sure if it is as simple as adding the "d." prefix.  Please take a look at the commit in my fork and I can do a PR if that is all it is.

[2016-11-29 21:40] ericgreenmix opened #632 "AsyncDaemon Projection Rebuild - Using Query on new document before SaveChanges is called returns null"
`session.Load<MyDoc>(123)` works. `session.Query<MyDoc>(_ => _.Id == 123).FirstOrDefault()` returns null. Adding failing test..

[2016-11-29 21:45] ericgreenmix commented on #632
Test was added to my currently open PR #625

[2016-11-30 13:44] jeremydmiller opened #633 "No automatic stream collation inside of the async daemon"
This might need to be for a later 2.0 if it's a breaking change, but make the Event collation into related Streams in the Async Daemon be an on-demand kind of thing. The current approach just adds complexity when you're not doing an aggregation by stream.

cc // @jarroda @jeffdoolittle @ericgreenmix

[2016-11-30 15:06] jeremydmiller commented on #632
@ericgreenmix,

See my comments in the code below. I think you're getting tripped up on how Marten uses the identity map. When you run a Linq query, Marten **first** queries the database, then as it iterates over the reader it tries to resolve known documents through the identity map where they already exist. In your case here, Marten hasn't persisted that document yet, so the Linq query returns n

[2016-11-30 15:10] jeremydmiller commented on #629
@cocowalla Not today, but that wouldn't be a big task to add that. I'd make that an all new patching operation to make the behavior more apparent, and to not break existing code.

The patching is actually done w/ Javascript running against the JSON data, so it's pretty easy to modify.

[2016-11-30 15:14] jeremydmiller commented on #628
@cocowalla Yeah, we never considered this case. I don't think it's going to be a big deal to make it be able to recognize the relationship to itself, but in your case, I might opt for a pure relational model for that hierarchy.

Or you could add the constraint yourself with raw SQL instead of using Marten's FK.

[2016-11-30 15:15] #624 closed

[2016-11-30 15:17] jeremydmiller commented on #560
I think this is more of a documentation failure here. I'm closing this one.

[2016-11-30 15:17] #560 closed

[2016-11-30 15:18] jeremydmiller commented on #552
Nothing happening here and this was just a question. I'm closing this.

[2016-11-30 15:18] #552 closed

[2016-11-30 15:49] ericgreenmix commented on #632
Ah, that makes sense. Thank you for explaining that. It was confusion on my part on how the Identity Map is being applied.

[2016-11-30 15:56] ericgreenmix commented on #624
@jeremydmiller did you mean to close #632 instead of #624 with 88cd64b ?

[2016-11-30 15:59] jeremydmiller commented on #624
@ericgreenmix No, I was pushing that branch up to deal w/ #624. I had been trying to work through a couple different daemon issues at one time. I'm going to let you close #632 if you're okay with the explanation. Or add the "docs" tag and make it a "go make the documentation better" issue

[2016-11-30 16:00] #632 closed

[2016-11-30 21:12] jeremydmiller commented on #631
Gotcha. I'm looking at this one now.

[2016-11-30 21:37] jeremydmiller commented on #631
So it wasn't *that* bad to fix this, but it brings up another point I hadn't thought about at all. If you do an Include() against a related, soft-deleted document, Marten isn't today filtering out *those* deleted documents.

Not sure if I think that behavior should be that way or just return the document if it exists period.

Any thoughts about that one?

[2016-11-30 21:38] jeremydmiller commented on #631
This will be in 1.2.5 later today or maybe tomorrow

[2016-11-30 21:48] #631 closed

[2016-11-30 22:08] jeremydmiller commented on #631
Correction, it'll be in 1.2.4

[2016-11-30 22:08] jeremydmiller commented on #624
This will be in 1.2.4

[2016-11-30 22:09] jeremydmiller commented on #628
The fix for this is gonna be in 1.2.4 on nuget shortly.

[2016-11-30 22:09] jeremydmiller commented on #628
Fixed by https://github.com/JasperFx/marten/commit/cf117af509ede6b524be8924f2daa3554b6d8169

[2016-11-30 22:09] #628 closed

[2016-11-30 22:59] barryhagan commented on #631
I guess my expectation would be that soft deleted includes would be filtered the same way as the primary docs in the query.  i.e. the IsDeleted or MaybeDeleted clauses would flow through to the includes.

I like the way that soft deleted docs are invisible unless you supply IsDeleted or MaybeDeleted, so it would be odd to get back soft deleted includes.

[2016-11-30 23:01] jeremydmiller commented on #631
Would you mind then opening a separate issue for that? That unfortunately is a more involved fix.

[2016-11-30 23:11] barryhagan commented on #631
will do.

[2016-12-01 00:52] barryhagan opened #634 "The Include() query method should filter soft deleted related documents"
Currently when including related documents in a query using the .Include() LINQ method, soft deleted documents are not filtered the same way as primary documents.  Instead, you get all matching related documents regardless of their soft delete status.

I believe the most straightforward approach to fix this would be to obey the soft delete filtering applied to the primary doc query (.IsDeleted(),

[2016-12-02 13:01] cocowalla commented on #628
This seems to fix the error that was occurring when building the schema, but I still get a "`Cyclic dependency found`" error when actually querying data. Stack trace:

[code]

[2016-12-02 16:39] jenspettersson opened #635 "DeleteWhere<T> and Store(T[]) in same session"
When doing a `DeleteWhere<T>` and then a `Store(T[])` in the same session (_maybe you want to remove something prior to inserting something else in the same transaction and can't just replace by id as they might be random_), the Delete command is executed last in the first batch of commands.

I've tracked it down to https://github.com/JasperFx/marten/blob/master/src/Marten/Services/UnitOfWork.cs#L

[2016-12-02 16:43] jenspettersson commented on #635
Note! The example above was when moving https://github.com/JasperFx/marten/blob/master/src/Marten/Services/UnitOfWork.cs#L191 prior to doing the inserts.

If I don't move it the result from the scenario above will be 500, so the remaining 10 gets deleted.

[2016-12-06 03:01] ChangePlaces opened #637 "how can this be used in .NET 4.5?"
Is this compatible with Mono?

[2016-12-06 05:21] jeremydmiller commented on #637
Marten only supports .Net 4.6 or Netstandard. I'd think you'd be better off going to CoreCLR than trying Mono, but it should work w/ 4.6.

[2016-12-06 07:54] ChangePlaces commented on #637
Unfortunately Quartz.net is nowhere near ready for core

[2016-12-14 22:50] TheAngryByrd commented on #637
@ChangePlaces What version of mono are you using? [As of Mono 4.4 they can compile against TargetFrameworkVersion 4.6.1](http://www.mono-project.com/docs/about-mono/releases/4.4.0/).  I've used Marten on Mono 4.6.3 and seems to work fine.

[2016-12-15 15:53] Scooletz opened #640 "Buffer pooling for marten"
Below you can find a description of providing buffer pooling for Marten.

---

Currently, `EventStreamAppender` uses `JsonBodies` func to append bodies as an array of strings ([here](https://github.com/JasperFx/marten/blob/2f18d09fa2034cbc647f48a74bbf3bbb8ea51116/src/Marten/Events/EventStreamAppender.cs#L37)).
According to `Npgsql` driver, it's possible to pass a `char[]` instead of string and use

[2016-12-15 19:49] jeremydmiller commented on #640
@Scooletz It's a little bit related to https://github.com/JasperFx/marten/issues/610. I know that we're doing more allocations than is strictly necessary internally in Marten. I chickened out of trying to do this for 1.2, but I'd like to see this happen.

Hey, in a busy system, this might be well worth the effort. I got stopped last time on the identity map abstractions, but that's a problem that

[2016-12-15 22:14] Scooletz commented on #640
A little bit. My proposal would be to cache `TextWriter` or `char[]` to allow pass it dipper via params.

Don't 🐔 , I'll sketch something by the end of weekend ;-)

[2016-12-16 05:58] ewcindia opened #641 "Using Marten with existing tables and schema for CRUD operations"
We are trying to integrate Marten in one of our existing project, where we have migrated from Azure DocumentDB to Postgres Document Database. We are trying integration but facing issues as our tables that are already created with a combination of relational and document structures. We have already seen the Pluralsight training "Getting Started with .NET Document Databases Using Marten". However, w

[2016-12-16 15:17] jeremydmiller commented on #641
@ewcindia Sorry, but that's just not going to work. Marten cannot be used against tables that don't conform to Marten's schema. You're going to have to migrate your data.

And one way or another, you're going to need either an `Id` or `id` Field/Property or use the `[Identity]` attribute so that Marten knows what the primary key should be.

See this for the identity stuff on Marten: http://jasperf

[2016-12-17 21:27] cocowalla opened #643 "Bug in Linq query parsing"
If the Linq query contains something *not* related to the delegate that evaluates to true (that is, not a property of the class being queried), the rest of the query is not used. To make a bit more sense, take this (contrived for simplicity) lambda as an example:

`session.Query<Car>().Where(x => x.LicensePlate == "MART3N" && true);`

This gets parsed to the following query:

`select d.data, d.id,

[2016-12-17 22:30] jeremydmiller commented on #643
Something like this has come up before. My question then and now is "why would you do that?"

At most, I think we'd have Marten throw an exception if it can detect that.

[2016-12-18 16:41] ewcindia commented on #641
Thanks Jeremy. Will try to restructure the project to fit it in Marten.

Warm Regards,

Gourav Ladha

From: Jeremy D. Miller [mailto:notifications@github.com]
Sent: Friday, December 16, 2016 8:48 PM
To: JasperFx/marten <marten@noreply.github.com>
Cc: ewcindia <gourav.ladha@ewcindia.co.in>; Mention <mention@noreply.github.com>
Subject: Re: [JasperFx/marten] Using Marten with existing tables and sch

[2016-12-18 18:18] cocowalla commented on #643
Sorry, I simplified the example to make it super clear what the problem was - but looking again, I've perhaps over done it :)

The issue really is for conditions that are evaluated at runtime.

As a more concrete example, while creating or editing `Widget`s, I want to check if the specified name already exists (when adding) - unless it's the same `Widget` being edited (when editing). I'd use a Lin

[2016-12-18 22:18] jeremydmiller commented on #643
@cocowalla Again, I think the only "fix" would be to have Marten to throw an exception if it detects a literal "true." I can't imagine that any Linq query provider would truly support that scenario.

[2016-12-18 22:31] cocowalla commented on #643
When you say 'literal true', do you mean an expression that evaluates to true at runtime, or simply 'true' as in my first example?

I'm pretty sure this works with Entity Framework, and I believe I've used it with NHibernate in the past too.

[2016-12-18 22:41] jeremydmiller commented on #643
I'm saying that the Linq expression is nothing but a boolean value when it's handed in by Relinq -- same as EF and I have no idea about NH.

Dude, that's a crazy amount of work to parse each and every possible combination of true/false and something else within the Linq parsing. You'd have to first look for that possibility first, then abort the normal Linq visitor stuff.

I guess what I'm saying

[2016-12-18 22:42] #643 closed

[2016-12-18 23:10] jeremydmiller commented on #641
@ewcindia Can I close this one?

[2016-12-18 23:11] #637 closed

[2016-12-19 09:47] ewcindia commented on #641
Sure.

Warm Regards,

Gourav Ladha

From: Jeremy D. Miller [mailto:notifications@github.com]
Sent: Monday, December 19, 2016 4:41 AM
To: JasperFx/marten <marten@noreply.github.com>
Cc: ewcindia <gourav.ladha@ewcindia.co.in>; Mention <mention@noreply.github.com>
Subject: Re: [JasperFx/marten] Using Marten with existing tables and schema for CRUD operations (#641)

@ewcindia <https://github.com/ewci

[2016-12-28 22:45] cocowalla opened #646 "SelectMany only supports arrays - not generic lists"
Before I attempt to tackle adding support for `SelectMany` to work with generic lists, is there a reason why only arrays are currently supported?

[2016-12-29 04:37] jeremydmiller commented on #646
Check the json structure of your document in the db. Bet it's an issue w/ serialization and not the Linq support per se

Sent from my iPhone

[2016-12-29 14:31] cocowalla commented on #646
On mobile now, but the issue is that the code checks for the element type using a method that only works for arrays - not generic lists. It looked straightforward to add support for generic lists by simply checking for such lists and getting the generic type parameter as the element type. Because it looked simple, I thought I should ask if there was a reason first.

[2017-01-02 15:09] jeremydmiller commented on #646
@cocowalla Gotcha. I used the built in `GetElementType()` on TypeInfo? There might be an appropriate extension method in Baseline already for that. If not, there's definitely a working version of that in the StructureMap code I could dig up.

[2017-01-02 15:09] jeremydmiller commented on #641
No new activity, so I'm closing.

[2017-01-02 15:09] #641 closed

[2017-01-02 20:13] cocowalla commented on #646
Yes, it looks like `TypeExtensions.DeriveElementType` from Baseline can be used as a drop-in replacement for the existing call to `GetElementType`

[2017-01-04 13:15] jeremydmiller opened #647 "PagedQueryList usage within compiled queries"
After #639 is completed, make sure that functionality can be used within a compiled query. Most likely, it'll require additions to the Linq support like we did w/ `AsJson()` et al.

[2017-01-04 14:52] ltobiasgcm commented on #252
Was there a blog post or documentation made for how to migrate data between Raven and Postgres?

[2017-01-04 14:55] ltobiasgcm commented on #252
Was there a blog post or documentation on moving data between Ravendb and Postgres?

[2017-01-04 15:34] bradyclifford commented on #252
We just migrated a big project from RavenDb to Marten.  I will see if I can find some time to get a blog up on it.

[2017-01-04 23:03] jeremydmiller opened #648 "Defensive programming check on IQuerySession.Load() on using the right id type"
Have `IQuerySession.Load<T>(id)` throw a message if the id cannot be converted to the known id type of that document.

[2017-01-05 20:20] ericgreenmix opened #649 "When Session.StoreChanges is called on a document multiple times with OptimisticConcurrency enabled, a ConcurrencyException is thrown"
Ex.

[code]

[2017-01-05 20:58] ericgreenmix commented on #649
From my testing, the document appear to be duplicated in the PendingChanges in the `_updates` field, when I put a watch on it. However calling `UpdateFor<Document>().Count()` is only giving me a single document. I think the PendingChanges is contributing to the ConcurrencyException, but I could be wrong.

[2017-01-06 14:45] #635 closed

[2017-01-06 15:01] #649 closed

[2017-01-06 15:02] jeremydmiller commented on #646
@cocowalla Are you addressing this? I'm in the codebase this morning and I can make the change if you want, but I never turn down bug fix pull requests;)

[2017-01-06 15:06] jeremydmiller commented on #611
@jimgolfgti I'm finally looking at this this morning. I've got a plan I think.

[2017-01-06 15:28] cocowalla commented on #646
I'm happy to do this - is a single test OK, just copying one of the existing tests but using an `IList` instead of an array??

[2017-01-06 16:18] jeremydmiller commented on #646
Sounds good to me, and that's all I would have done anyway;)

[2017-01-06 16:33] cocowalla commented on #646
Great, I'll try to submit a PR tonight then

[2017-01-06 17:57] barryhagan opened #651 "Update and Delete in the same session for docs with optimistic concurrency throws"
If I attempt to delete one document and update another in the same session, and the updated doc uses optimistic concurrency, a currency exception is always thrown attempting to save the changes.

Down in the Postprocess callback, the reader.Read() is false, presumably due to the delete command (or update command in case of SoftDeleted).

See the currently failing test added here:
https://github.co

[2017-01-06 18:57] jeremydmiller commented on #651
Good timing, 'cause I'm working on a bugfix release right now. I'll look at it in a bit.

[2017-01-06 19:05] #611 closed

[2017-01-06 19:40] jeremydmiller commented on #651
@barryhagan Ugh, I think this is more systematic than this. I think it's doing an upsert on an optimistic concurrency enabled document and any other kind of operation going first in the batch that doesn't return a record set. The fix might not be that bad, but it's a bigger problem:(

[2017-01-06 20:10] #651 closed

[2017-01-06 20:37] #634 closed

[2017-01-06 21:01] cocowalla commented on #646
PR sent!

[2017-01-06 22:09] jeremydmiller commented on #646
Fixed by #652. Thanks!

[2017-01-06 22:09] #646 closed

[2017-01-10 20:06] jaydanielian commented on #104
@jeremydmiller , this library is outstanding. As far as the sharding discussion goes, I would point you to another fabulous library called Sequel, this one is in the Ruby community maintained by Jeremy Evans http://sequel.jeremyevans.net/rdoc/files/doc/sharding_rdoc.html

His library allows for multiple server nodes to be specified in the connection pool, those server nodes can be tagged as read-o

[2017-01-11 17:33] ericgreenmix opened #654 "Calling Store then Delete on a document before SaveChanges does not Delete"
The commands are getting executed backwards, with Delete and then Upsert. This is a regression in 1.2.5, I believe tied to ff222c0c4a5ef5823a862a977eb7d9cc90890d51

Failing test coming...

[2017-01-11 18:07] jeremydmiller commented on #654
@ericgreenmix I'm not sure I'm buying that this is a bug. It's a pretty odd usage to me.

[2017-01-11 18:15] ericgreenmix commented on #654
This happens quite a bit in our application when doing projection rebuilds.

[2017-01-11 18:18] ericgreenmix commented on #654
It is odd usage in just a normal case, like the simplified unit test. However when you get into projection rebuilds it, that is a key feature we need.

[2017-01-11 19:25] jeremydmiller commented on #654
Why is that? Why would you be both deleting and upserting the same document in the same unit of work?

[2017-01-11 19:34] ericgreenmix commented on #654
When doing a projection rebuild using the Async Daemon, the Daemon handles calling SaveChanges. So if it has a stream of events coming in that update a document and then delete it later in the event stream, that causes the issue.

[2017-01-11 19:35] jarroda commented on #654
When rebuilding a projection, the entire stream of events for a given aggregate is ran through in the same unit of work.  Any document that is ever deleted will have an upsert and deletion in the same UoW in that case.

[2017-01-11 19:39] jeremydmiller commented on #654
Pfft, okay. I'm going to address this by making Marten perform the operations in a unit of work in the same order that they were registered w/ the session. Automatic dirty checking actions will be a little flaky with that, but we'll cross that bridge later if it's ever a problem.

[2017-01-23 15:57] Scooletz commented on #640
The pooling has been added.

[2017-01-23 15:57] #640 closed

[2017-01-27 14:41] phinett opened #665 "SelectMany on a nested property fails"
First method:
[code]

Stack:
System.InvalidOperationException: Sequence contains no elements
   at System.Linq.Enumerable.Last[TSource](IEnumerable`1 source)
   at Marten.Schema.Field..ctor(MemberInfo[] members)
   at Marten.Schema.JsonLocatorField..ctor(String dataLocator, EnumStorage enumStyle, MemberInfo[] members)
   at Marten.Schema.FieldCollection.<>c__DisplayClass7_0.<FieldFor>b__1(String _

[2017-01-29 23:04] jeremydmiller commented on #538
Checkout https://www.nuget.org/packages/PostgreSql.Binaries.Lite/

[2017-01-30 20:00] #648 closed

[2017-01-30 20:24] jeremydmiller commented on #610
Use an object pool for the StringBuilder's too

[2017-01-30 22:13] #654 closed

[2017-01-30 22:23] jeremydmiller commented on #665
@phinett,

"Works on my box" -- I'm going to close this one for now unless you can give me that failing test showing your scenario. Read to the bottom about chaining SelectMany().Select() instead of trying
to do SelectMany(x => x.Select())

This test passes for me:

[code]

and so did this when I added the Stats() operator:

[code]

At this point, I need you to either change your syntax or submit

[2017-01-30 22:23] #665 closed

[2017-01-30 22:24] jeremydmiller commented on #614
I'm dropping this one. It's de facto fixed at work.

[2017-01-30 22:24] #614 closed

[2017-01-31 12:51] jeremydmiller opened #666 "Performance Improvement Ideas for 2.0"
- [x] IWhereFragment should use StringBuilder's
- [x] ISelector should use StringBuilder's
- [x] Try to use [FastExpressionCompiler](https://github.com/dadhi/FastExpressionCompiler)
- [x] Upgrade Newtonsoft
- [ ] Use the new Newtonsoft async deserialization

[2017-01-31 12:55] jeremydmiller commented on #530
I think we're in good shape on this one now after all of @phillip-haydon 's docs

[2017-01-31 12:55] #530 closed

[2017-01-31 12:55] jeremydmiller commented on #480
I'm going to call this one closed by #639

[2017-01-31 12:55] #480 closed

[2017-02-01 16:20] jeremydmiller commented on #435
Alright, so let's assume that this *does* go into Marten itself. Here's my thoughts this morning:

* Can we get away with saying that multi-tenancy is going to be done via separate databases only,
   or do we also need to support an option to do it by schema? The mechanics are actually very
   different and the database per tenant is easier in this case.

* Do we support the creation of databases

[2017-02-01 16:37] migajek commented on #435
I'd go the database-per-tenant way, it's more clean approach and in fact doesn't introduce "multitenancy" concept at all, only the extension points to make it possible.

I think the most important yet completely sufficient API surface change would be adding a ``string databaseName`` argument to the ``DocumentStore.OpenSession`` method

[2017-02-01 22:53] phinett commented on #435
I can only speak for myself, but I've always used database per tenant on past projects so this is fine with me. I prefer the clean separation of data.

Auto creating the database would fit in with same concept as auto creating tables etc, so yes.

[2017-02-02 08:40] danielwertheim commented on #522
Same issue for me.

[2017-02-02 08:49] danielwertheim commented on #522
Installing to a .Net Core lib works. Can it be something with Baseline explicitly supporting 4.5.1 and .Net Standard 1.3, so when installing Marten in 4.6+, it tries to resolve using 4.6 Marten dep and then don't use .Net Standard 1.3 for Baseline and 4.5.1 is to low. Can't try installing in 4.5+ since Marten doesn't state support for it. But easy test would be to just explicitly state 4.6 in Base

[2017-02-02 17:03] jeremydmiller commented on #610
This is done in the 2.0 branch.

[2017-02-02 17:03] #610 closed

[2017-02-03 14:15] jeremydmiller commented on #545
Nope, double checked the connection mechanics in QuerySession today and this is completely unnecessary. We just need some documentation on it.

[2017-02-06 13:29] cchongchong opened #668 "Is that possible to load document by using Interface and ID?"
Hi There,

We're using RavenDB before and trying to switch to PostgreSQL with Marten. But seems Marten Session Load only supports specify the type first to map to the specific table name.

Since ID can contain collection name (the type name), is that possible to load the document only by ID?

An alternative solution is to allow the developer to pass both the type and ID to Load method.

Which one

[2017-02-06 13:35] jeremydmiller commented on #668
I've never been wild about the old Raven "collection/{id}" pattern. Why wouldn't you know the document type collection you're looking for in the first place?

Having an overload that does it by `Load(Type, id)` isn't that big of a deal.

[2017-02-06 13:42] cchongchong commented on #668
@jeremydmiller Thank you for your quick response!
Yes, the new method `Load(Type, id)` is what we're using right now, but it would be better if Marten can support this by default. Because our implementation is using reflection to call the generic Load method which is not good, but this can be done in Marten much easier.

[2017-02-06 13:44] jeremydmiller commented on #668
@cchongchong Sounds like a good pull request;)

[2017-02-06 13:58] cchongchong commented on #668
@jeremydmiller Thank you!
BTW, would you mind let us know which ID conversion you suggest? We're still using "collection/{id}" because this can let us know the collection name in the first time which is useful.

[2017-02-06 14:07] jeremydmiller commented on #668
That depends on your usage. Most of us use the sequential Guid, other users are using the Hilo sequence

[2017-02-06 22:09] barryhagan opened #669 "Optimistic ConcurrencyException thrown if doc is stored and then updated in dirty tracked session"
When using optimistic concurrency combined with dirty tracked sessions, you cannot make any changes to document after it is initially stored, but before .SaveChanges() is called.

Sometimes it would be nice to be able to get the auto generated Id of the object which is set on Store, and then make subsequent changes to the doc prior to saving changes.

Failing test (using code in optimistic_concurr

[2017-02-06 22:13] jeremydmiller commented on #669
@barryhagan The Id is assigned upon the call to Store(). You'd have the identity from the document you just passed in.

[2017-02-06 23:08] barryhagan commented on #669
Right, but I cannot make any other subsequent changes to the doc unless I call SaveChanges() first.

The real use case for me was to call Store() to get the Id, then save a file in a storage location where I need the doc Id (it's part of the storage path), then update the list of files on the document with the new file info.  Trying to update the document after it is stored in the same session is

[2017-02-08 07:33] mdissel opened #670 "combination of json and relational db"
I like the idea of storing json documents and simplify the development. But what about the reporting part of an application? In our sitation the database is also used for read-only direct query access for reporting purposes, mostly done by people with a relational background.

I'm thinking of flattening the json documents to a relational view using sql views. Anyone tested the performance overhead

[2017-02-08 13:09] wastaz opened #671 "BaseLine 1.2 and Marten 1.2.5 causes typeloadexception when using AsyncProjections"
When attempting to execute this piece of code

`var daemon = docStore.BuildProjectionDaemon();`

This blows up with a `System.TypeLoadException` with the current message.

`Could not load type 'Baseline.TimeSpanExtensions' from assembly 'Baseline, Version=1.2.0.0, Culture=neutral, PublicKeyToken=null'.`

I'm using Marten 1.2.5, Baseline 1.2 and Im running on .net 4.6.2. Downgrading Baseline to 1.1

[2017-02-08 20:09] jeremydmiller commented on #671
I'm bumping Marten to Baseline 1.2 now. The 1.3 nuget later today will have that change.

[2017-02-08 20:34] #669 closed

[2017-02-08 20:34] #671 closed

[2017-02-08 23:52] jamesfarrer commented on #670
How 'live' does the data need to be for reporting purposes? Perhaps using a materialized view and refreshed every few minutes would be better?

You can then also add indexes on your materialized view and have everything performant

[2017-02-09 15:05] wastaz opened #673 "Multiple calls to eventstore append with different expected version causes exception"
Lets say that I want to use the eventstore and the optimistic concurrency with `expected_version`.

I would expect to do be able to do something like this:

[code]

However this seems to blow up in my face because the `expected_version` does not match. I noticed that when you call Append with `expected_version` it adds an `AssertEventStreamMaxEventId` storage operation. And when you call Append a

[2017-02-09 15:14] wastaz commented on #673
Looking at the code it seems like I should be able to do something like

[code]

It feels a bit weird though, and it also feels like I might be writing fragile code relying on implementation details?

[2017-02-10 12:09] ax4413 opened #674 "Images dont work in the documentation"
All of your images seem to be using the wrong relative path, because none of the images in the docs work.

[2017-02-10 13:12] jeremydmiller commented on #674
"works on my box" -- there's only the one image on the home page and I verified that it's all there. Are you talking about some kind of missing code sample?

[2017-02-10 18:55] ax4413 commented on #674
Thanks for the documentation it's looking great. I was in a hury earlier so I didn't really validate or report accurately in the bug. I can see that indeed most of the images are present, there are however missing images on the Postgres for sql server users section, but I hadn't realised that it was still under construction. An example of a missing image can be found on the types page http://jaspe

[2017-02-15 12:34] wastaz opened #677 "AggregationLookupStrategy.UsePrivateApply causes typename not to be written in mt_streams"
When using the private apply strategy with the following configuration

[code]

Then the type name of the aggregate type is not written in `mt_streams`. This causes any call to `FetchStreamState` or `FetchStreamStateAsync` to explode with an `InvalidCastException` since it doesnt check for nulls properly in that column.

I have created a PR with the fix for this bug: https://github.com/JasperFx/ma

[2017-02-15 23:01] ericgreenmix opened #678 "Appending Events that are consumed by an Inline Projection that uses a Patch method fails"
Fails during `SaveChanges`. This is a regression from 1.2.4.

Exception:
[code]

[2017-02-16 23:20] yetanotherchris opened #680 "Issue upgrading from 1.25 to 1.30"
Thanks for the great library, it's nice to finally have an API as easy to use as the MongoDB one but with less overhead (atleast with Docker).

 I've recently upgraded to 1.30 in a .NET Core 1.1 class library and now have the follwing issue in an integration test:

        System.ArgumentOutOfRangeException : Index and count must refer to a location within the string.
        Parameter name: desti

[2017-02-17 12:31] wastaz opened #681 "Event tables are not created before an eventstream is saved."
If you attempt to read from the eventstore part of marten

[code]

Then you get an exception saying that `mt_events` does not exist (which it doesnt if its a new database). If you store an event in it, then the tables are created. But this means that in order to guarantee that these tables exists we must always store a random event at program startup?

[2017-02-17 15:22] jeremydmiller commented on #680
@Scooletz Do you have any thoughts on this one?

@yetanotherchris Does it happen consistently, or periodically?

[2017-02-17 16:04] Scooletz commented on #680
A temporary fix: disable buffers on the store level.
I'll take a look at it today/tomorrow.

[2017-02-17 19:48] Scooletz commented on #680
This is the assertion that fails in `string.CopyTo`. Will update soon on progress.

[code]

[2017-02-17 20:24] Scooletz commented on #680
Ping @jeremydmiller I issued the PR that fixes this behavior. Requires a fix release.

Still, we should consider how do we want to handle docs that are 1MB long. Is a single buffer good enough? Or maybe I need to think about another `npgsql` PR that could use some kind of chaining for string params? Do you want to raise a separate issue @jeremydmiller ?

[2017-02-19 08:08] eSPiYa opened #683 "ASP.NET MVC/Core Identity Provider"
Is there or will there be an ASP.NET MVC/Core Identity Provider? I found another project but it looks like it is inactive for around 6 months now and it is still in alpha.

[2017-02-19 09:06] mysticmind commented on #683
@eSPiYa You could look at any Ravendb implementation and do a similar implementation using Marten. Have a look at https://github.com/tugberkugurlu/AspNet.Identity.RavenDB or https://github.com/terrasynq/RavenDB.AspNetCore.Identity. In summary, you will need to define your entities and implement IUserStore.

[2017-02-19 11:21] eSPiYa commented on #683
@mysticmind Will definitely do that. I have experience implementing a custom Identity before but I wasn't able to cover everything because I don't need those things before. It might happen again if case I'm going to build one for Marten. I don't have experience in spear-heading open source projects, mostly small contribution on things.

Currently using the "Microsoft.AspNet.Identity.Marten" librar

[2017-02-19 11:35] eSPiYa commented on #683
@mysticmind Will definitely do that. I have experience implementing a custom Identity before but I wasn't able to cover everything because I don't need those things before. It might happen again if case I'm going to build one for Marten. I don't have experience in spear-heading open source projects, mostly small contribution on things.

Currently using the "Microsoft.AspNet.Identity.Marten" librar

[2017-02-19 11:37] eSPiYa commented on #683
Sorry, clicked the wrong button. LOL

Anyway, I'm also considering forking this project: https://github.com/kedarvaidya/AspNetCore.Identity.Marten

[2017-02-19 17:00] mysticmind commented on #683
@eSPiYa Iam happy to help you. If you are forking https://github.com/kedarvaidya/AspNetCore.Identity.Marten, you don't need to setup a new namespace etc, keep the ones "as is" in the source project. You can change the code to work with latest Marten and sent a Pull Request to kedarvaidya.

You can give it a shot to make changes by forking the indicated project. If you can wait for 2-3days, I can p

[2017-02-20 02:48] eSPiYa commented on #683
@mysticmind Thanks! Not really rushing this because I'm still in the middle of learning Marten. Just want some kind of project to test it out, and making some useful library/tools is like hitting two birds with one stone.

Already forked the project and his codes are really decent. I have lots learned from reading it, though there is no instruction on how to make the sample project work so it took

[2017-02-20 11:44] #668 closed

[2017-02-20 18:46] jeremydmiller commented on #673
@wastaz I'm looking into this one right now. Think it'll have to be in a 1.4 nuget later this week.

[2017-02-20 19:14] #678 closed

[2017-02-20 19:16] jeremydmiller commented on #680
Addressed by https://github.com/JasperFx/marten/pull/682.

@Scooletz I can't say that I understand the implications of that one offhand. I say we should wait and see if there are any issues in the wild first.

[2017-02-20 19:16] #680 closed

[2017-02-20 19:17] jeremydmiller commented on #677
Fixed by #676

[2017-02-20 19:17] #677 closed

[2017-02-20 19:17] jeremydmiller commented on #674
Yeah, I'm not gonna worry about this one for now.

[2017-02-20 19:17] #674 closed

[2017-02-20 19:30] #673 closed

[2017-02-20 19:35] jeremydmiller commented on #681
@wastaz,

Dunno, this passes for me in master:

[code]

Do you have something else going on? What's your DocumentStore setup look like? Is it set to AutoCreate?

[2017-02-20 20:12] Scooletz opened #684 "Buffer pooling for large objects"
Currently, when a big object is serialized, `CharArrayTextWriter` responsible for `char[]` pooling will be extended to the length needed to serialize an object. When a big buffer is needed from time to time this resizing might be not optimal, allocating to much memory which later will be used to serialize small objects.

There are various ways that can be used to address this:
- issue a PR against

[2017-02-20 21:06] jeremydmiller commented on #684
Closed by #680

[2017-02-20 21:06] #684 closed

[2017-02-20 21:06] jeremydmiller commented on #681
I'm closing this just out of housekeeping.

[2017-02-20 21:06] #681 closed

[2017-02-21 10:34] wastaz opened #685 "StartStream in EventStore does not verify that stream does not exist"
If I use

[code]

Then I would expect this to throw some sort of optimistic concurrency exception if a stream already exists with the provided stream id. After all, I am calling a method called `StartStream`, not `Append`. But currently this seems to work similar to `Append`.

[2017-02-21 11:54] wastaz opened #686 "Suggestion: Supporting events as interfaces?"
This is mainly meant as a probing discussion item to see what you would think of adding a feature like this.

Currently if you have an event like this

[code]

then the aggregate still needs to refer to the concrete type in order for `AggregateAsync` to apply it properly

[code]

Im currently using Jil as a serializer, and from what I can see Jil has no problems with serializing and deserializing

[2017-02-21 15:06] jeremydmiller commented on #685
For 2.0, I can see this one being fine.

[2017-02-21 22:55] vinicola opened #687 "FetchStreamState does not ensure basic event stream storage existance"
Calling **session.Events.FetchStreamState(...)** on an empty database (before doing any other calls, such as Append and/or StartStream) will make marten/npgsql throw an exception as it tries to execute a query against the non existing table **mt_streams**.

I would expect the call to return null if the stream does not exist.